Repository commaai/openpilot, pull requests merged in 2020-07, with the labels that each got.

#1801 Support for 2019 Subaru Ascent
  README.md
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#1643 paint.cc: Simplify drawing line
  selfdrive/ui/paint.cc
Labels: needs testing, refactor

#1880 Fix hard deceleration after user accelerates above set cruise speed
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/planner.py
Labels: enhancement

#1888 Speedup URLFile
  tools/lib/filereader.py
  tools/lib/url_file.py
  tools/lib/url_file_parallel.py
  tools/replay/unlogger.py
Labels: enhancement

#1824 Update Ionic Hybrid fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#1865 Nissan: Tweaking steeringPressed/LKAS_MAX_TORQUE
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/nissan/values.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#1879 Add 2020 Insight FW
  README.md
  selfdrive/car/honda/values.py
Labels: fingerprint

#1867 Honda block lane change on blindspot alert
  release/files_common
  selfdrive/car/__init__.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/interfaces.py
Labels: car enhancement

#1855 boardd: release claimed interface before closing usb
  selfdrive/boardd/boardd.cc
Labels: bug

#1871 Fix buffer overflow in boardd
  selfdrive/boardd/boardd.cc
Labels: bug

#1856 boardd: Add new functions usb_read, usb_write
  selfdrive/boardd/boardd.cc
Labels: refactor

#1903 Test Car Models 2.0
  .github/workflows/test.yaml
  selfdrive/car/gm/radar_interface.py
  selfdrive/car/honda/radar_interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/radar_interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/radar_interface.py
  selfdrive/test/test_models.py
Labels: CI, new test

#1838 Add Lexus RX300 2019 FW
  selfdrive/car/toyota/values.py
Labels: car port, needs testing

#1919 Panda abstraction layer in boardd
  release/files_common
  selfdrive/boardd/SConscript
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
  selfdrive/boardd/tests/test_boardd_loopback.py
Labels: refactor
