Repository commaai/openpilot, pull requests merged in 2020-12, with the labels that each got.

#2630 Move thermald hardware calls into HW abstraction layer
  common/hardware.py
  common/hardware_android.py
  common/hardware_base.py
  common/hardware_tici.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/tests/test_power_monitoring.py
  selfdrive/thermald/thermald.py
Labels: refactor

#2470 simplify common_camera_process_front
  selfdrive/camerad/cameras/camera_common.cc
Labels: refactor

#2729 Fingerprint: 2021 Toyota Highlander / Highlander Hybrid (TSS 2.5)
  README.md
  selfdrive/car/toyota/values.py
Labels: fingerprint, needs testing

#2709 GM: Fix to allow brakes to release on resume press
  selfdrive/car/gm/gmcan.py
Labels: car bug fix

#19501 Rav4 and Rav4 Hybrid FW
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19523 2020 RDX fw [56a8b30d8b604750]
  selfdrive/car/honda/values.py
Labels: fingerprint, needs testing

#19530 HW abstraction layer
  common/basedir.py
  common/gpio.py
  common/realtime.py
  common/transformations/camera.py
  launch_chffrplus.sh
  release/files_common
  selfdrive/athena/athenad.py
  selfdrive/camerad/test/test_camerad.py
  selfdrive/car/car_helpers.py
  selfdrive/controls/controlsd.py
  selfdrive/crash.py
  selfdrive/hardware/__init__.py
  selfdrive/hardware/base.py
  selfdrive/hardware/eon/__init__.py
  selfdrive/hardware/eon/apk.py
  selfdrive/hardware/eon/hardware.py
  selfdrive/hardware/pc/__init__.py
  selfdrive/hardware/pc/hardware.py
  selfdrive/hardware/tici/__init__.py
  selfdrive/hardware/tici/hardware.py
  selfdrive/hardware/tici/pins.py
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/loggerd/uploader.py
  selfdrive/manager.py
  selfdrive/pandad.py
  selfdrive/registration.py
  selfdrive/test/helpers.py
  selfdrive/test/process_replay/camera_replay.py
  selfdrive/test/test_sounds.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/thermald.py
  selfdrive/updated.py
  tools/lib/auth_config.py
Labels: refactor

#19500 Separate Hyundai Ioniq Hybrid and EV 2020 Premium SE #1969
  README.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#2721 Car Port: 2021 Toyota Camry (TSS 2.5)
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_car_models.py
Labels: car port, needs testing

#19577 2021 Highlander ESP fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19611 2019 Civic Hatch fw
  selfdrive/car/honda/values.py
Labels: fingerprint
