Repository commaai/openpilot, pull requests merged in 2020-03, with the labels that each got.

#1067 Offroad power monitoring
  release/files_common
  selfdrive/manager.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#1097 Adds 2016 CR-V Executive (Euro version of Touring trim)
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#1274 Honda Accord 2018 1.5t FP
  selfdrive/car/honda/values.py
Labels: fingerprint

#1260 update rav4h_tss2 tune
  selfdrive/car/toyota/interface.py
Labels: tuning

#1292 Smooth out Sienna tuning
  selfdrive/car/toyota/interface.py
Labels: tuning
