Repository commaai/openpilot, pull requests merged in 2020-06, with the labels that each got.

#1764 Add firmware for 2020 RAV4 Hybrid TSS2
  selfdrive/car/toyota/values.py
Labels: fingerprint

#1769 test each model fingerprints with FW fingerprinting
  Dockerfile.openpilot
  Pipfile
  Pipfile.lock
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: new test

#1768 Subaru Forester 2019
  README.md
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#1712 Block lane change start on blindspot detection
  selfdrive/car/toyota/carstate.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/controls/lib/pathplanner.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, needs testing
