Repository commaai/openpilot, pull requests merged in 2020-10, with the labels that each got.

#2241 run loggerd tests in CI
  Jenkinsfile
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/test/helpers.py
Labels: CI

#2145 Fix MacOS CI
  .github/workflows/test.yaml
  common/common_pyx_setup.py
  common/kalman/simple_kalman_setup.py
  common/transformations/setup.py
  selfdrive/boardd/boardd_setup.py
Labels: CI

#2245 CI: Add valgrind
  .github/workflows/test.yaml
  Dockerfile.openpilot_base
  selfdrive/test/.gitignore
  selfdrive/test/test_valgrind_replay.py
Labels: CI

#2258 Present alert if fan isn't spinning
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
Labels: enhancement

#2305 Fix dcamera inaccurate fps on OP3T and LP3
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/sensor_i2c.h
Labels: bugfix

#2306 2018 Lexus RX 350 fingerprint
  selfdrive/car/toyota/values.py
Labels: fingerprint

#2313 fix building dmonitoringmodeld on pc
  SConstruct
Labels: bugfix

#2308 white/grey/black pandas still have power ctrl
  selfdrive/boardd/boardd.cc
Labels: bugfix

#2311 Add Nissan Leaf 2020
  README.md
  selfdrive/car/nissan/values.py
Labels: fingerprint

#2269 add caching to CI tests
  .github/workflows/test.yaml
  selfdrive/test/test_valgrind_replay.py
Labels: CI

#2300 Params refactor, simplified
  common/SConscript
  common/params.py
  common/params_pxd.pxd
  common/params_pyx.pyx
  common/params_pyx_setup.py
  common/tests/test_params.py
  release/files_common
  selfdrive/boardd/boardd.cc
  selfdrive/camerad/main.cc
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/manager.py
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/test/helpers.py
  selfdrive/ui/android/ui.cc
  selfdrive/ui/qt/settings.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: refactor

#2318 clear irrelevant alerts on state transition
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/alertmanager.py
  selfdrive/controls/lib/events.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#2342 HKG fixups
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/interfaces.py
  selfdrive/car/subaru/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#2070 Build openpilot with webcam support in CI
  .github/workflows/test.yaml
  SConstruct
  selfdrive/camerad/SConscript
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/main.cc
  tools/webcam/Dockerfile
  tools/webcam/README.md
Labels: CI

#2310 Clean up and test camerad refactor
  release/files_common
  selfdrive/camerad/SConscript
  selfdrive/camerad/bufs.h
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_frame_stream.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/cameras/camera_webcam.h
  selfdrive/camerad/main.cc
  selfdrive/common/visionbuf.h
  selfdrive/common/visionbuf_cl.c
  selfdrive/common/visionbuf_ion.c
  selfdrive/common/visionimg.cc
  selfdrive/common/visionimg.h
  selfdrive/modeld/modeld.cc
  selfdrive/test/test_cpu_usage.py
Labels: refactor

#2356 fix params permissions for offroad
  selfdrive/common/params.cc
  selfdrive/common/params.h
Labels: bugfix

#2357 Fingerprint for 2021 RAV4H XLE
  selfdrive/car/toyota/values.py
Labels: fingerprint

#2281 The correct (factory) way of displaying barriers on toyotas
  selfdrive/car/toyota/toyotacan.py
Labels: car enhancement

#1557 Add support for 2020 Acura RDX
  README.md
  release/files_common
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#2267 tap to wake with accelerometer
  selfdrive/sensord/sensors_qcom.cc
  selfdrive/ui/android/ui.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: enhancement

#2365 fix build warning
  selfdrive/common/util.c
Labels: code cleanup

#2348 np.matrix is no longer recommended and may be removed in the future
  selfdrive/controls/lib/latcontrol_indi.py
Labels: code cleanup

#2351 UI: get video aspect ratio from camera intrinsics
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.hpp
Labels: bugfix

#2366 prevent snapshot while onroad
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/thermald/thermald.py
Labels: bugfix

#2163 Car Port: Prius 2021 TSS2
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#2437 Add 2018 China Honda Inspire Fingerprint
  README.md
  selfdrive/car/honda/values.py
Labels: fingerprint

#2407 Hyundai Veloster fingerprint
  selfdrive/car/hyundai/values.py
Labels: awaiting route

#2405 Hyundai Genesis tuning
  selfdrive/car/hyundai/interface.py
Labels: tuning

#2419 all cameras use same AE api
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: refactor

#2444 Kona EV 2020 fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#2451 Qt offroad
  release/files_common
  selfdrive/ui/SConscript
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.hpp
  selfdrive/ui/qt/window.cc
Labels: bugfix

#2454 Car bug fix: 2020 Kia Niro EV orange lanes icon and LKAS error on cluster display
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
Labels: car bug fix
