Repository commaai/openpilot, pull requests merged in 2020-08, with the labels that each got.

#1955 Add Hyundai Veloster 2019
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#1984 Setup PC testing in Jenkins
  Jenkinsfile
Labels: CI

#1987 Scripts for containerized CARLA
  tools/sim/launch_openpilot.sh
  tools/sim/start_carla_docker.sh
Labels: PC, simulation

#1978 camerad: release opencl objects
  selfdrive/camerad/main.cc
Labels: bugfix

#1974 Updater tests
  selfdrive/test/test_updated.py
  selfdrive/updated.py
Labels: CI, new test

#1805 Subaru pre-global: add support for Subaru Legacy 2015-18
  release/files_common
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/subarucan.py
  selfdrive/car/subaru/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#2000 Car Port: Hyundai Genesis G70 2018
  README.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#1993 Add preglobal Subaru Forester and Outback
  release/files_common
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#1966 camerad: protect concurrent access to shared variables and avoid race conditions
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/main.cc
  selfdrive/camerad/test/camera/test.c
Labels: bugfix

#1892 NEOS background updater
  Jenkinsfile
  installer/updater/test_updater.py
  installer/updater/updater
  installer/updater/updater.cc
  launch_chffrplus.sh
  launch_env.sh
  selfdrive/controls/lib/alerts_offroad.json
  selfdrive/test/test_updated.py
  selfdrive/updated.py
Labels: enhancement

#1977 Pigeon abstraction layer
  release/files_common
  selfdrive/boardd/SConscript
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
  selfdrive/boardd/pigeon.cc
  selfdrive/boardd/pigeon.h
  selfdrive/common/SConscript
  selfdrive/common/gpio.cc
  selfdrive/common/gpio.h
  selfdrive/debug/dump.py
Labels: refactor

#1948 add function cl_get_device_id
  selfdrive/camerad/main.cc
  selfdrive/camerad/test/yuv_bench/yuv_bench.cc
  selfdrive/camerad/transforms/rgb_to_yuv_test.cc
  selfdrive/common/clutil.c
  selfdrive/common/clutil.h
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/thneed/debug/main.cc
  selfdrive/modeld/visiontest.c
Labels: refactor

#2066 split dockerfile into base image and CI image
  .dockerignore
  .github/workflows/test.yaml
  Dockerfile.openpilot_base
  Dockerfile.openpilotci
  Jenkinsfile
Labels: CI

#1953 Fix OMX error on loggerd rotation when using multiple cameras
  selfdrive/common/visionipc.h
  selfdrive/loggerd/encoder.c
  selfdrive/loggerd/loggerd.cc
Labels: bugfix
