Repository commaai/openpilot, pull requests merged in 2020-11, with the labels that each got.

#2448 set y too
  selfdrive/controls/lib/pathplanner.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#2423 generalize camera assumptions
  common/transformations/camera.py
  common/transformations/model.py
  selfdrive/modeld/modeld.cc
  tools/replay/lib/ui_helpers.py
  tools/replay/ui.py
Labels: refactor

#2491 Genesis G70 fingerprint and tuning
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Labels: tuning

#2485 Scons builder for cython extensions
  Dockerfile.openpilotci
  SConstruct
  common/SConscript
  common/clock.pyx
  common/common_pyx_setup.py
  common/kalman/SConscript
  common/kalman/simple_kalman_impl.pyx
  common/kalman/simple_kalman_setup.py
  common/kalman/tests/test_simple_kalman.py
  common/params_pyx.pyx
  common/params_pyx_setup.py
  common/realtime.py
  common/transformations/SConscript
  common/transformations/setup.py
  common/transformations/transformations.pyx
  release/files_common
  selfdrive/boardd/SConscript
  selfdrive/boardd/boardd_setup.py
  site_scons/site_tools/cython.py
  tools/webcam/Dockerfile
Labels: refactor

#2515 Add fingerprint for european/nordic Hyundai Kona EV 2019
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#1985 Reduce Kp/Ki by 30% to eliminate steer oscillation on 2017+ CRV
  selfdrive/car/honda/interface.py
Labels: tuning

#2570 CAR.RAV4_TSS2 added engine & EPS f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint

#2463 update simulator to ubuntu 20.04
  .github/workflows/sim_tests.yaml
  tools/sim/Dockerfile.sim
  tools/sim/README.md
  tools/sim/lib/replay.sh
Labels: simulation

#2602 Add Genesis G80 to special panda safety mode
  selfdrive/car/hyundai/interface.py
Labels: awaiting route, car bug fix

#2490 2019 Hyundai Santa Fe fixes
  selfdrive/car/hyundai/hyundaican.py
Labels: car bug fix
