Repository commaai/openpilot, pull requests merged in 2020-02, with the labels that each got.

#1063 fix not resetting on interaction
  selfdrive/controls/dmonitoringd.py
Labels: bug

#1065 2020 Toyota Highlander (TSS2)
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#1077 Add support for Lexus NX 300h 2018
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#1103 abstract kf and gear parser as static methods
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/interfaces.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/carstate.py
Labels: refactor

#983 WIP: Honda Steering Improvements
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/interface.py
  selfdrive/debug/internal/measure_steering_accuracy.py
  selfdrive/debug/internal/measure_torque_time_to_max.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#1166 Add 2019 Honda Insight
  README.md
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_car_models.py
Labels: car port
