Repository commaai/openpilot, pull requests merged in 2020-09, with the labels that each got.

#2118 paramsd process replay test
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: CI, new test

#2115 UI vision refactor
  common/params.py
  selfdrive/controls/controlsd.py
  selfdrive/manager.py
  selfdrive/test/test_cpu_usage.py
  selfdrive/ui/android_ui.cc
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.hpp
  selfdrive/ui/sidebar.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: refactor

#2122 remove vp everywhere
  selfdrive/locationd/calibrationd.py
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#2099 UI: support multiple frame sizes
  tools/replay/lib/ui_helpers.py
  tools/replay/sensorium.py
  tools/replay/ui.py
Labels: refactor

#2097 Split Mazda cars to : CX5, CX9, and Mazda3
  selfdrive/car/mazda/carstate.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mazda/mazdacan.py
  selfdrive/car/mazda/values.py
  selfdrive/test/test_car_models.py
Labels: awaiting route, car port

#2148 Turn display on in spinner
  selfdrive/common/spinner.c
  selfdrive/ui/spinner/spinner
Labels: bugfix

#2011 dockerize carla + openpilot
  .dockerignore
  .github/workflows/sim_tests.yaml
  selfdrive/controls/controlsd.py
  selfdrive/manager.py
  selfdrive/modeld/modeld
  tools/sim/Dockerfile.sim
  tools/sim/README.md
  tools/sim/bridge.py
  tools/sim/build_container.sh
  tools/sim/install_carla.sh
  tools/sim/launch_openpilot.sh
  tools/sim/lib/can.py
  tools/sim/lib/helpers.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/start_carla.sh
  tools/sim/start_carla_docker.sh
  tools/sim/start_openpilot_docker.sh
  tools/sim/tmux_script.sh
  tools/ubuntu_setup.sh
Labels: PC, simulation

#2119 Reduce paramsd and calibrationd CPU usage
  release/files_common
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/locationd/calibration_helpers.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/paramsd.py
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_cpu_usage.py
Labels: refactor

#2131 UI: simplify layout calculation
  selfdrive/ui/android/ui.cc
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.hpp
  selfdrive/ui/sidebar.cc
  selfdrive/ui/ui.hpp
Labels: refactor

#2151 Auto reset bad calibration
  selfdrive/locationd/calibrationd.py
Labels: enhancement

#2046 Improved updater robustness
  selfdrive/updated.py
Labels: refactor

#2065 camerad: close file descriptors
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/common/utilpp.h
Labels: refactor

#2246 Add Flags to Control Simulator
  tools/sim/README.md
  tools/sim/bridge.py
  tools/sim/start_openpilot_docker.sh
  tools/sim/tmux_script.sh
Labels: simulation
