Repository commaai/openpilot, pull requests merged in 2021-04, with the labels that each got.

#20327 refactor set driver camera exposure target
  selfdrive/camerad/cameras/camera_common.cc
Labels: refactor

#20184 camera_qcom: added new function cam_ioctl
  selfdrive/camerad/cameras/camera_qcom.cc
Labels: refactor

#20261 camera_qcom: rename cur_frame_legth to frame_length, init it in camera_init
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
Labels: refactor

#20275 camerad: sensors_init: init sensors in an array loop
  selfdrive/camerad/cameras/camera_qcom.cc
Labels: refactor

#20189 Added function power_set_wait, fix munmap invalid pointer error.
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: refactor

#20532 script to set time from panda RTC
  selfdrive/boardd/set_time.py
Labels: enhancement

#20580 HIGHLANDER_TSS2 new engine f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20588 Fingerprinting 2021 Honda CRV Hybrid
  selfdrive/car/honda/values.py
Labels: fingerprint

#20583 TSS2 RAV4 firmware versions
  selfdrive/car/toyota/values.py
Labels: awaiting info, fingerprint

#20592 2021 Rav4 FW
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20455 Qt: show current calibration values
  selfdrive/locationd/calibrationd.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.hpp
Labels: enhancement

#20605 CarFW: Skoda Superb B8 2015 DSG 4x4
  README.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#20607 Add Ecu.eps for 2018 Golf R DSG
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#20614 2020 Camry Hybrid fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20618 Qt: Faster spinner, reduce cpu usage from ~17% to ~7%
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/spinner.hpp
Labels: refactor

#19628 hyundai: update steer warning
  selfdrive/car/hyundai/carstate.py
Labels: car enhancement

#20656 2019 RDX Tech fingerprint
  README.md
  selfdrive/car/honda/values.py
Labels: awaiting info, fingerprint

#20560 Kia Seltos 2021 INDI Tuning + Increased Steer Limit
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Labels: tuning

#20644 tici power saving
  selfdrive/hardware/base.py
  selfdrive/hardware/eon/hardware.py
  selfdrive/hardware/pc/hardware.py
  selfdrive/hardware/tici/hardware.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#20654 Use std::size for element counts
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/common/util.h
Labels: refactor

#20625 ui update_sockets refactor
  selfdrive/ui/SConscript
  selfdrive/ui/ui.cc
Labels: refactor

#20310 camerad: refactor RGBToYUVState into class
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/transforms/rgb_to_yuv.cc
  selfdrive/camerad/transforms/rgb_to_yuv.h
Labels: refactor

#20655 util.cc: reduce two read_file functions into one
  selfdrive/common/framebuffer.cc
  selfdrive/common/gpio.cc
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/common/watchdog.cc
  selfdrive/modeld/runners/snpemodel.cc
  selfdrive/modeld/runners/snpemodel.h
  selfdrive/proclogd/SConscript
Labels: refactor

#20000 Zookeeper support
  .pylintrc
  Jenkinsfile
  Pipfile
  Pipfile.lock
  tools/zookeeper/__init__.py
  tools/zookeeper/check_consumption.py
  tools/zookeeper/disable.py
  tools/zookeeper/enable_and_wait.py
  tools/zookeeper/ignition.py
  tools/zookeeper/power_monitor.py
  tools/zookeeper/requirements.txt
  tools/zookeeper/test_zookeeper.py
Labels: CI

#20651 camerad: SubMaster never updated
  selfdrive/camerad/cameras/camera_common.cc
Labels: bugfix

#20677 Fix typo in ephemeris parsing
  selfdrive/locationd/ublox_msg.cc
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#20664 Cleanup ubloxd message parsing
  SConstruct
  phonelibs/SConscript
  phonelibs/kaitai/custom_decoder.h
  phonelibs/kaitai/exceptions.h
  phonelibs/kaitai/kaitaistream.cpp
  phonelibs/kaitai/kaitaistream.h
  phonelibs/kaitai/kaitaistruct.h
  release/files_common
  selfdrive/locationd/SConscript
  selfdrive/locationd/generated/gps.cpp
  selfdrive/locationd/generated/gps.h
  selfdrive/locationd/generated/ubx.cpp
  selfdrive/locationd/generated/ubx.h
  selfdrive/locationd/gps.ksy
  selfdrive/locationd/ublox_msg.cc
  selfdrive/locationd/ublox_msg.h
  selfdrive/locationd/ubloxd.cc
  selfdrive/locationd/ubx.ksy
Labels: refactor

#20678 update time from RTC on manager init
  launch_chffrplus.sh
  release/files_common
  selfdrive/boardd/set_time.py
  selfdrive/manager/manager.py
Labels: enhancement

#20706 Not all Ioniq EV 2020 have BSM
  selfdrive/car/hyundai/values.py
Labels: car bug fix

#20702 Add batch of FW versions from 0.8.3
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/toyota/values.py
Labels: car enhancement

#20615 Toyota: use FW query for DSU detection
  selfdrive/car/__init__.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/controls/tests/test_startup.py
Labels: refactor

#20690 Switch to new sentry_sdk
  selfdrive/athena/athenad.py
  selfdrive/athena/manage_athenad.py
  selfdrive/crash.py
  selfdrive/manager/manager.py
  selfdrive/tombstoned.py
Labels: refactor

#20715 unittests for locationd uncommon events
  selfdrive/locationd/test/test_locationd.py
Labels: new test

#20541 ui closing dialogs on timeout
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.hpp
Labels: enhancement

#20602 qt replay
  SConstruct
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.hpp
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/request_repeater.hpp
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/setup.cc
  selfdrive/ui/replay/FileReader.cpp
  selfdrive/ui/replay/FileReader.hpp
  selfdrive/ui/replay/Unlogger.cpp
  selfdrive/ui/replay/Unlogger.hpp
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.hpp
  tools/clib/FrameReader.hpp
  tools/nui/.gitignore
  tools/nui/SConscript
  tools/nui/get_files_comma_api.py
  tools/nui/main.cpp
  tools/nui/nui
  tools/nui/test/.gitignore
  tools/nui/test/TestFrameReader.cpp
  tools/nui/test/TestFrameReader.hpp
  tools/nui/test/test.pro
Labels: enhancement

#1995 Check panda safety against CarState
  selfdrive/test/test_models.py
  selfdrive/test/test_onroad.py
Labels: CI, new test

#20676 VW lane lines visual indicator changes
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/volkswagencan.py
Labels: car enhancement

#20757 c2 dim displays: remap in shader to avoid screen deadzone
  selfdrive/ui/paint.cc
Labels: enhancement

#20748 Honda Bosch: fix reading ACC_CONTROL
  selfdrive/car/honda/carstate.py
Labels: car bug fix

#20769 LEXUS NX 300 2020 Car Port
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_routes.py
Labels: car port

#20762 Civic Bosch Values
  selfdrive/car/honda/values.py
Labels: awaiting info, fingerprint

#20744 Skoda Kodiaq fingerprint
  selfdrive/car/volkswagen/values.py
Labels: awaiting info, fingerprint

#20764 UI: refactor GLWindow
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.hpp
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.hpp
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/request_repeater.hpp
  selfdrive/ui/qt/sound.hpp
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.hpp
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: refactor

#20765 Block ability to change lane change direction while in progress
  selfdrive/controls/lib/lateral_planner.py
Labels: bugfix

#20775 Qt Sidebar
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.hpp
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.hpp
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.hpp
  selfdrive/ui/sidebar.cc
  selfdrive/ui/sidebar.hpp
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: refactor
