Repository commaai/openpilot, pull requests merged in 2021-12, with the labels that each got.

#23092 ci: improve valgrind test robustness
  selfdrive/test/test_valgrind_replay.py
Labels: CI

#23003 Less sensitive torque saturated warning
  selfdrive/controls/controlsd.py
Labels: enhancement

#23090 Hotfix: fix controls mismatch on Honda Ridgeline
  panda/board/safety/safety_honda.h
Labels: car bug fix

#22937 Human inspired follow distance
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/tests/test_following_distance.py
  selfdrive/test/process_replay/ref_commit
Labels: tuning

#23106 2019 Lexus NX FW versions
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: fingerprint, awaiting info

#22977 panda: refactor can_recv
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
  selfdrive/boardd/tests/test_boardd_usbprotocol.cc
Labels: refactor

#23119 Honda Pilot fw
  selfdrive/car/honda/values.py
Labels: fingerprint

#23118 Long policy: strictly squared stopped equivalence function
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/tests/test_following_distance.py
  selfdrive/test/process_replay/ref_commit
Labels: tuning

#23116 Python: Replace more lists with generators
  scripts/code_stats.py
  scripts/count_cars.py
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/debug/cpu_usage_stat.py
  selfdrive/debug/internal/qlog_size.py
  selfdrive/logcatd/tests/test_logcatd_android.py
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/manager/build.py
  selfdrive/manager/manager.py
  selfdrive/modeld/SConscript
  selfdrive/monitoring/test_monitoring.py
  selfdrive/test/process_replay/compare_logs.py
  selfdrive/test/test_onroad.py
  selfdrive/ui/tests/test_soundd.py
  tools/joystick/joystickd.py
Labels: code cleanup

#23111 registration: remove key generation
  selfdrive/athena/registration.py
  selfdrive/athena/tests/test_registration.py
Labels: code cleanup

#23128 VW MQB: Audi Q3 Mk2
  RELEASES.md
  docs/CARS.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_routes.py
Labels: car port

#23117 jenkins: improve overall robustness
  Jenkinsfile
  selfdrive/test/setup_device_ci.sh
  selfdrive/test/test_onroad.py
Labels: CI

#23028 updated: move update alerts out of thermald
  selfdrive/thermald/thermald.py
  selfdrive/updated.py
Labels: refactor

#23130 thermald: only go offroad on falling edge of ignition
  selfdrive/thermald/thermald.py
Labels: bugfix

#23040 UI: move onroad hud to Qt
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.h
Labels: refactor

#23140 nav: open map on new route without valid OpenGL context
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix, nav

#23142 LogCameraInfo: remove unused variables
  selfdrive/loggerd/loggerd.h
Labels: code cleanup

#23051 PC: fix onnxruntime excessive CPU
  Pipfile
  Pipfile.lock
  selfdrive/modeld/runners/onnx_runner.py
Labels: PC

#23133 UI: move rest of NVG to Qt
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/soundd/sound.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: refactor

#22981 panda: refactor can_send
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Labels: refactor

#23149 long planner: no reset when starting
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#23143 Remove Raw Upload toggle
  selfdrive/common/params.cc
  selfdrive/loggerd/tests/loggerd_tests_common.py
  selfdrive/loggerd/tests/test_uploader.py
  selfdrive/loggerd/uploader.py
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#23159 Kia Niro EV fw
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23153 ublox: query almanac restore status, and clear after restoring
  selfdrive/boardd/pigeon.cc
  selfdrive/boardd/pigeon.h
  selfdrive/locationd/test/ubloxd.py
  selfdrive/locationd/ublox_msg.cc
Labels: enhancement

#23155 nav: athena destination with name and details
  selfdrive/athena/athenad.py
Labels: bugfix

#23167 0.8.11-release FW batch
  selfdrive/car/fw_versions.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#23156 locationd_thread: fix possible dangling reference to params
  selfdrive/locationd/locationd.cc
Labels: bugfix

#23014 dmonitoring/DriverView: get crop_rect & transform by video size
  selfdrive/common/modeldata.h
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: refactor

#23169 dmonitoring/DriverView: get crop_rect & transform by video size
  selfdrive/common/modeldata.h
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: refactor

#23186 alert text simplification
  selfdrive/controls/lib/events.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#23139 model output struct for metadata
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Labels: refactor

#23205 RawLogger: fix wrong pts
  selfdrive/loggerd/raw_logger.cc
Labels: bugfix

#23168 Use std::unique_ptr to manage memory
  selfdrive/boardd/boardd.cc
  selfdrive/locationd/ubloxd.cc
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/loggerd.h
Labels: refactor

#23193 commonmodel.h: move global model size into class ModelFrame
  selfdrive/modeld/models/commonmodel.h
  selfdrive/modeld/models/dmonitoring.cc
Labels: refactor

#23202 common_process_driver_camera: same parameters as process_thread_cb
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: refactor

#23049 replay: use std::unique_ptr to manage memory, reuse events buffer.
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
Labels: tools

#23200 LapConv: remove hardcoded full_stride_x
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/imgproc/utils.cc
  selfdrive/camerad/imgproc/utils.h
Labels: bugfix

#21764 Qt/SetingWindow: faster initialization and painting
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/scrollview.cc
Labels: enhancement

#23207 move class LayoutWidget,ClickableWidget to widgets/controls
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: refactor

#22980 UI: add timeout to close settings window while onroad
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement

#23215 C2: display ip address in network panel
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
Labels: enhancement

#23216 version.py: make function names more clear
  selfdrive/athena/manage_athenad.py
  selfdrive/car/car_helpers.py
  selfdrive/manager/build.py
  selfdrive/manager/manager.py
  selfdrive/tombstoned.py
  selfdrive/updated.py
  selfdrive/version.py
Labels: code cleanup

#22659 athena: persist upload queue to disk
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/helpers.py
  selfdrive/athena/tests/test_athenad.py
  selfdrive/common/params.cc
Labels: enhancement

#23113 comma two: remove lens sag compensation
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
Labels: bugfix, comma two

#23217 put logcat in bootlog
  selfdrive/logcatd/logcatd_android.cc
  selfdrive/loggerd/bootlog.cc
Labels: enhancement

#23184 DM: more adaptive pose policy
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#23213 Flip calibration direction text in settings
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#23211 Calibrationd: exclude current erratic block from logic
  selfdrive/locationd/calibrationd.py
Labels: enhancement

#23150 Toyota: Display Blue Barriers When Engaged, Matches OEM Design
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/toyotacan.py
Labels: needs testing, car enhancement

#23190 modeld: start publishing before calib seen
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Labels: enhancement

#23225 cloudlog: add daemon name to context for python daemons
  selfdrive/manager/manager.py
  selfdrive/manager/process.py
Labels: enhancement

#22789 ui: singleton uistate
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: refactor

#23183 selfdrive/version: remove one unnecessary write to .git/
  selfdrive/version.py
Labels: bugfix

#23103 qt/util: new function scaledPixmap
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: refactor

#23229 driving.h: remove obsolete poly_fit
  selfdrive/modeld/models/driving.h
Labels: code cleanup

#21011 Subaru: Add Impreza/Crosstrek 2020
  docs/CARS.md
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/test/test_routes.py
Labels: car port

#23208 framereader: use the same alignement as visionbuf
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
Labels: enhancement

#23241 Convert format strings strings to f-strings
  common/ffi_wrapper.py
  common/file_helpers.py
  common/profiler.py
  common/realtime.py
  common/tests/test_file_helpers.py
  common/timeout.py
  selfdrive/camerad/test/test_camerad.py
  selfdrive/car/car_helpers.py
  selfdrive/car/fingerprints.py
  selfdrive/car/fw_versions.py
  selfdrive/car/honda/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/radar_helpers.py
  selfdrive/controls/radard.py
  selfdrive/controls/tests/test_alerts.py
  selfdrive/debug/can_printer.py
  selfdrive/debug/check_freq.py
  selfdrive/debug/cpu_usage_stat.py
  selfdrive/debug/dump.py
  selfdrive/debug/get_fingerprint.py
  selfdrive/debug/internal/power_monitor.py
  selfdrive/debug/live_cpu_and_temp.py
  selfdrive/hardware/tici/power_monitor.py
  selfdrive/loggerd/deleter.py
  selfdrive/loggerd/tools/mark_unuploaded.py
  selfdrive/loggerd/uploader.py
  selfdrive/manager/process.py
  selfdrive/modeld/visiontest.py
  selfdrive/test/openpilotci.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/test_processes.py
  selfdrive/test/process_replay/update_refs.py
  selfdrive/test/test_fingerprints.py
  selfdrive/test/test_models.py
  selfdrive/test/update_ci_routes.py
  selfdrive/updated.py
  selfdrive/version.py
  tools/lib/framereader.py
  tools/lib/route.py
  tools/lib/url_file.py
  tools/replay/lib/ui_helpers.py
  tools/scripts/fetch_image_from_route.py
  tools/scripts/save_ubloxraw_stream.py
  tools/scripts/setup_ssh_keys.py
  tools/sim/lib/manual_ctrl.py
Labels: code cleanup

#23246 Abstract classes inherit from ABC
  selfdrive/car/interfaces.py
  selfdrive/hardware/base.py
Labels: code cleanup

#23245 modeldata: use a constexpr function to build the IDXS
  selfdrive/common/modeldata.h
Labels: refactor

#23235 modeld: update live calibration in main thread
  selfdrive/modeld/modeld.cc
Labels: needs testing, refactor

#23048 builds on M1 mac
  SConstruct
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/replay/framereader.cc
  third_party/acados/Darwin/lib/libacados.dylib
  third_party/acados/Darwin/lib/libblasfeo.dylib
  third_party/acados/Darwin/lib/libhpipm.dylib
  third_party/acados/Darwin/lib/libqpOASES_e.3.1.dylib
  third_party/acados/Darwin/lib/libqpOASES_e.dylib
  third_party/acados/Darwin/t_renderer
Labels: enhancement

#23308 ui: set the bg color of controllerUnresponsivePermanent to blue
  selfdrive/ui/qt/onroad.cc
Labels: bugfix

#23324 replay: add flag REPLAY_FLAG_FULL_SPEED to play at full speed
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
Labels: tools

#23312 replay/segment: pass member function pointer to QtConcurrent::run
  selfdrive/ui/replay/route.cc
Labels: refactor

#23296 LongitudinalMpc: minor clean up
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Labels: code cleanup

#23268 Add More Types for mypy
  common/realtime.py
  common/spinner.py
  selfdrive/controls/lib/events.py
  selfdrive/hardware/base.py
  selfdrive/locationd/calibrationd.py
  selfdrive/manager/build.py
  selfdrive/manager/helpers.py
  selfdrive/manager/manager.py
  selfdrive/manager/process.py
  selfdrive/pandad.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/thermald.py
  selfdrive/timezoned.py
  selfdrive/tombstoned.py
  selfdrive/updated.py
Labels: enhancement

#23259 improve docs.comma.ai seo
  Pipfile
  Pipfile.lock
  docs/_static/logo.png
  docs/_static/robots.txt
  docs/conf.py
Labels: docs

#23260 make docs.comma.ai look nicer
  docs/_static/favicon.ico
  docs/conf.py
Labels: docs
