Repository commaai/openpilot, pull requests merged in 2021-07, with the labels that each got.

#21445 Networking: Only refresh when visible
  selfdrive/ui/qt/offroad/wifiManager.cc
Labels: bugfix

#21432 Wait for adapter to setup WifiManager
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21456 Networking: Use common header
  selfdrive/ui/qt/offroad/networkmanager.h
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: code cleanup

#21453 Networking: refresh once in background
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21455 Networking: populate tethering password
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
Labels: enhancement

#21467 tici: Switch to 1D dead pixel correction
  selfdrive/camerad/cameras/sensor2_i2c.h
Labels: enhancement

#21452 Qt logging through cloudlog
  SConstruct
  selfdrive/ui/main.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: enhancement

#21461 Network: use active AP signal
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: code cleanup

#21469 FIX: Tesla spamming "LKAS fault"
  selfdrive/car/tesla/carstate.py
Labels: car bug fix

#21477 nav: improve logging
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_settings.cc
Labels: enhancement

#21457 Tethering: Edit password while enabled
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21429 Unify Rav4 tuning - lat is very unresponsive on non-FW version Rav4s
  selfdrive/car/toyota/interface.py
Labels: awaiting info, tuning

#21474 Pj improvement
  tools/plotjuggler/README.md
  tools/plotjuggler/juggle.py
Labels: tools

#21444 Car port: AP1 Tesla Model S
  selfdrive/car/tesla/interface.py
  selfdrive/car/tesla/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21504 terms & conditions
  selfdrive/assets/offroad/tc.html
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/text_view.qml
Labels: enhancement

#21481 HKG: 2019 Kia Niro PHEV
  README.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21458 New desire model
  models/supercombo.dlc
  models/supercombo.onnx
  selfdrive/common/modeldata.h
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/radar_helpers.py
  selfdrive/controls/radard.py
  selfdrive/modeld/models/driving.cc
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement

#21318 input.cc: close dialog when parent is hidden
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/widgets/ssh_keys.h
Labels: enhancement

#21511 Fix active AP
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: bugfix

#21521 nav: various cleanup
  selfdrive/common/util.h
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: refactor

#21535 Tesla: more fingerprint for AP1
  selfdrive/car/tesla/values.py
Labels: fingerprint

#21277 Qt: new class ElidedLabel
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: refactor

#21529 Mazda: Latest FP2 FW roundup
  selfdrive/car/mazda/values.py
Labels: fingerprint

#21545 Add Acadia Denali 2018 fingerprint
  selfdrive/car/gm/values.py
Labels: fingerprint

#21326 OffroadHome: separate the update and alert buttons.
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/offroad_alerts.h
Labels: enhancement

#21537 networking: clean up refreshing
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: code cleanup

#20864 Mazda CX-9 2021 no steer lockout and more torque
  selfdrive/car/mazda/interface.py
  selfdrive/car/mazda/values.py
  selfdrive/controls/controlsd.py
  selfdrive/test/test_routes.py
Labels: awaiting info, car port

#21510 Honda: keep braking after PCM disables cruise
  selfdrive/car/honda/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#21502 keyboard improvements
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/keyboard.cc
Labels: enhancement

#21561 nav: cleanup settings page
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#21562 cloudlog modem version
  selfdrive/hardware/base.py
  selfdrive/hardware/eon/hardware.py
  selfdrive/hardware/pc/hardware.py
  selfdrive/hardware/tici/hardware.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#21559 agnos 0.21
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Labels: enhancement

#21564 MMC5603NJ support
  selfdrive/sensord/SConscript
  selfdrive/sensord/sensors/i2c_sensor.cc
  selfdrive/sensord/sensors/i2c_sensor.h
  selfdrive/sensord/sensors/mmc5603nj_magn.cc
  selfdrive/sensord/sensors/mmc5603nj_magn.h
  selfdrive/sensord/sensors_qcom2.cc
Labels: enhancement

#21577 Add option to avoid thneed
  SConstruct
  selfdrive/modeld/SConscript
  selfdrive/modeld/models/driving.cc
Labels: enhancement

#21493 tici: improve AE
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/camerad/test/ae_gray_test.cc
  selfdrive/camerad/test/ae_gray_test.h
Labels: enhancement

#21538 ui: fix finish setup button
  selfdrive/ui/qt/home.cc
  selfdrive/ui/ui.cc
Labels: bugfix

#21596 Tici: amplifier config
  release/files_common
  release/files_tici
  selfdrive/hardware/base.py
  selfdrive/hardware/eon/hardware.py
  selfdrive/hardware/pc/hardware.py
  selfdrive/hardware/tici/amplifier.py
  selfdrive/hardware/tici/hardware.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#21597 Athena getNetworks method
  release/files_common
  selfdrive/athena/athenad.py
  selfdrive/hardware/base.py
  selfdrive/hardware/eon/hardware.py
  selfdrive/hardware/pc/hardware.py
  selfdrive/hardware/tici/hardware.py
  selfdrive/hardware/tici/iwlist.py
Labels: enhancement

#21575 networking: update on show
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21605 2021 Prius fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21608 agnos.py: retry swap
  selfdrive/hardware/tici/agnos.py
Labels: bugfix

#21610 tici: AE sane default values
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/sensor2_i2c.h
Labels: enhancement

#21614 networking: remove invalid connections
  selfdrive/ui/qt/offroad/wifiManager.cc
Labels: bugfix

#21505 setup improvements
  selfdrive/assets/img_circled_check.svg
  selfdrive/assets/img_continue_triangle.svg
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/setup.h
Labels: enhancement

#21604 Update wifi setup design
  selfdrive/assets/offroad/icon_checkmark.png
  selfdrive/assets/offroad/icon_checkmark.svg
  selfdrive/assets/offroad/icon_lock_closed.svg
  selfdrive/assets/offroad/icon_wifi_strength_full.svg
  selfdrive/assets/offroad/icon_wifi_strength_high.svg
  selfdrive/assets/offroad/icon_wifi_strength_low.svg
  selfdrive/assets/offroad/icon_wifi_strength_medium.svg
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/wifiManager.h
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/widgets/scrollview.cc
Labels: enhancement

#21622 Only 100 YUV buffers on C2
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
Labels: enhancement

#21623 athena: primeActivated endpoint
  selfdrive/athena/athenad.py
Labels: enhancement

#21627 remove keyboard deadzone
  selfdrive/ui/qt/widgets/keyboard.cc
Labels: enhancement

#21629 keyboard: separate signals
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/qt/widgets/keyboard.cc
  selfdrive/ui/qt/widgets/keyboard.h
Labels: code cleanup

#21619 soundd
  .gitignore
  Jenkinsfile
  selfdrive/manager/process_config.py
  selfdrive/test/test_onroad.py
  selfdrive/ui/SConscript
  selfdrive/ui/main.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/soundd
  selfdrive/ui/soundd.cc
  selfdrive/ui/tests/test_sounds.py
  selfdrive/ui/ui.h
Labels: refactor

#21606 UI: button released -> clicked
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/wifi.cc
  selfdrive/ui/qt/text.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/setup.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
Labels: enhancement

#21641 GM: Correctly handle EPS warning vs error states
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
Labels: car bug fix

#21649 Fix backlight filter dt and set ts to 10 sec
  selfdrive/ui/ui.cc
Labels: enhancement

#21648 AE: revert changes to min grey target
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: enhancement

#21650 Nav: only open map once on destination set
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: enhancement

#21651 fix dcam AE feedback loop with IR LEDs
  selfdrive/boardd/boardd.cc
Labels: bugfix

#21624 nav: show settings without token
  selfdrive/assets/navigation/screenshot.png
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#21652 Fix close button design
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#21661 Prius 2021 Engine fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21675 networking: fix stretching with only 1 network
  selfdrive/ui/qt/offroad/networking.cc
Labels: bugfix

#21678 networking: fix connected type for multiple APs
  selfdrive/ui/qt/offroad/wifiManager.cc
Labels: bugfix

#21670 athena: primeActivated response
  selfdrive/athena/athenad.py
Labels: enhancement

#21693 Fix RequestRepeater caching
  selfdrive/ui/qt/request_repeater.cc
Labels: bugfix

#21691 networking: refresh on connect
  selfdrive/ui/qt/offroad/networking.cc
Labels: enhancement

#21696 networking: cleanup style sheets
  selfdrive/ui/qt/offroad/networking.cc
Labels: code cleanup

#21668 move DriverStatus params to class
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/driver_monitor.py
  selfdrive/monitoring/test_monitoring.py
Labels: refactor

#21594 Qt: draw border in OnroadWindow
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.h
Labels: enhancement

#21644 DriveStats: using dynamic properties to style QLabel
  selfdrive/ui/qt/widgets/drive_stats.cc
Labels: refactor

#21671 VW MQB: Auto network location detection
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Labels: car enhancement

#21718 athena: detect no prime
  selfdrive/athena/athenad.py
  selfdrive/common/params.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
Labels: enhancement

#21702 my.comma.ai -> connect.comma.ai
  README.md
  selfdrive/assets/offroad/tc.html
  selfdrive/ui/qt/widgets/setup.cc
  tools/replay/README.md
Labels: docs

#21717 soundd checks
  selfdrive/ui/soundd.cc
Labels: enhancement

#21743 wifi: set dns priority
  selfdrive/ui/qt/offroad/wifiManager.cc
Labels: enhancement

#21746 nav: Send DELETE to clear next destination on server
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/maps/map_settings.cc
Labels: enhancement

#21690 networking: show correct strength for mesh networks
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: bugfix

#21767 ui: fix prime widget w/ no internet
  selfdrive/ui/qt/widgets/prime.cc
Labels: bugfix

#21745 athenad: retry failed and timed out uploads
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
Labels: enhancement

#21794 ui: wake for touch events
  selfdrive/ui/qt/window.cc
Labels: bugfix

#21785 networking: disable tethering toggle while connecting
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
Labels: bugfix

#21786 toggles: released -> clicked
  selfdrive/ui/qt/widgets/toggle.cc
Labels: bugfix

#21797 nav: Only recompute when onroad
  selfdrive/ui/qt/maps/map.cc
Labels: enhancement
