Repository commaai/openpilot, pull requests merged in 2021-11, with the labels that each got.

#22734 replay: fixed the alignment issue when replaying from C3 qcamera
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  tools/replay/lib/ui_helpers.py
Labels: tools

#22757 thneed: use util::read_file to read from the file
  selfdrive/modeld/thneed/serialize.cc
Labels: refactor

#22753 Kia (HKG): Add FW for 2021 Kia K5
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22744 params: code cleanup
  common/params_pyx.pyx
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/ui/qt/offroad/settings.cc
Labels: refactor

#22764 Hyundai: update FW in old format
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22654 replay: improve segment download and merge
  selfdrive/camerad/SConscript
  selfdrive/camerad/cameras/camera_replay.cc
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/tests/test_logger.cc
  selfdrive/ui/SConscript
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/filereader.h
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/logreader.cc
  selfdrive/ui/replay/logreader.h
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
  selfdrive/ui/replay/tests/test_replay.cc
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Labels: tools

#22766 tools/lib/auth.py: support github/apple login
  tools/lib/auth.py
Labels: tools

#22778 assert openpilotLongitudinalControl not enabled for Hyundai legacy safety mode
  selfdrive/car/hyundai/interface.py
Labels: car enhancement

#22773 replay: fix frame lag when replaying to the next segment
  selfdrive/ui/replay/framereader.cc
Labels: tools

#22777 replay: fix qcam download error
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/route.h
  selfdrive/ui/replay/tests/test_replay.cc
Labels: tools

#22755 alerts: show min enable speed in "speed too low" alert
  selfdrive/controls/lib/events.py
Labels: enhancement

#22767 Move navigation into separate daemon
  release/files_tici
  selfdrive/manager/process_config.py
  selfdrive/ui/SConscript
  selfdrive/ui/navd/.gitignore
  selfdrive/ui/navd/main.cc
  selfdrive/ui/navd/navd
  selfdrive/ui/navd/route_engine.cc
  selfdrive/ui/navd/route_engine.h
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: refactor

#22781 Add 2021 Honda Passport
  docs/CARS.md
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_routes.py
Labels: car port

#22793 docker: update pip/pipenv versions
  Dockerfile.openpilot
  Dockerfile.openpilot_base
  Pipfile.lock
  docs/docker/Dockerfile
Labels: CI

#22794 make soundd exit cleanly
  selfdrive/manager/test/test_manager.py
  selfdrive/ui/SConscript
  selfdrive/ui/soundd.cc
Labels: enhancement

#22754 ui: render markdown in release notes
  Pipfile
  Pipfile.lock
  common/markdown.py
  common/tests/test_markdown.py
  selfdrive/test/test_updated.py
  selfdrive/updated.py
Labels: enhancement

#22792 util: remove function to_hex
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/modeld/thneed/thneed.cc
  selfdrive/ui/replay/util.cc
Labels: refactor

#22760 theneed/serialize: use funtions from clutil
  selfdrive/common/clutil.cc
  selfdrive/common/clutil.h
  selfdrive/modeld/thneed/serialize.cc
Labels: refactor

#22678 Toyota Long Enhancement: Allow 5 km/h (5 mph) speed increments on Toyota
  selfdrive/car/toyota/toyotacan.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#22795 soundd: Set volume on receiving carState
  selfdrive/ui/soundd.cc
Labels: enhancement

#22813 util.h: add unit conversion constants.
  selfdrive/common/util.h
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/qt/widgets/drive_stats.cc
Labels: code cleanup

#22655 Fingerprinting v2 support for Nissan vehicles
  selfdrive/car/fw_versions.py
  selfdrive/car/nissan/values.py
Labels: car enhancement

#22810 Handle Toyota brake hold active
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#22806 Mazda: fix occasional steer fault at initial lkas enable
  selfdrive/car/mazda/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#22801 Add DM model readme
  models/README.md
Labels: docs

#22826 loggerd/RawLogger: fix memory leak in encode_frame
  selfdrive/loggerd/raw_logger.cc
Labels: bugfix

#22834 Tesla: Steer warning on EPS error
  selfdrive/car/tesla/carstate.py
Labels: car bug fix

#22816 Add Firmware Hyundai Sonata Hybrid
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22354 UI: do vipc recv in thread
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: enhancement

#22788 replay: new flags
  selfdrive/ui/replay/camera.cc
  selfdrive/ui/replay/camera.h
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
  selfdrive/ui/replay/tests/test_replay.cc
Labels: tools

#22796 soundd: misc cleanup + tests
  .gitignore
  release/files_common
  selfdrive/hardware/base.h
  selfdrive/manager/process_config.py
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/soundd.cc
  selfdrive/ui/soundd/.gitignore
  selfdrive/ui/soundd/main.cc
  selfdrive/ui/soundd/sound.cc
  selfdrive/ui/soundd/sound.h
  selfdrive/ui/soundd/soundd
  selfdrive/ui/tests/.gitignore
  selfdrive/ui/tests/test_runner.cc
  selfdrive/ui/tests/test_sound.cc
  selfdrive/ui/ui.h
Labels: refactor

#22774 locationd: Make live_kf robust to no GPS
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/models/live_kf.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#22808 Mazda: disable hud alerts until we find a way to silence audible alerts
  selfdrive/car/mazda/carcontroller.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#22851 modem.Command timeout is in seconds
  selfdrive/hardware/tici/hardware.py
Labels: bugfix

#22850 Cache prime status in param
  selfdrive/common/params.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/ui.cc
Labels: bugfix

#22835 RobustLogReader that can recover corrupted bz2 files
  selfdrive/debug/filter_log_message.py
  tools/lib/robust_logreader.py
  tools/plotjuggler/juggle.py
Labels: tools

#22819 Fix momentary false blind spot alerts when changing lanes
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#22846 controlsd: optimize alert management
  selfdrive/controls/lib/alertmanager.py
  selfdrive/controls/lib/events.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#22807 Mazda: fix occasional main cruise disable
  selfdrive/car/mazda/carcontroller.py
Labels: needs testing, car bug fix

#22864 profiling: replace pyflame with py-spy
  selfdrive/debug/profiling/py-spy/profile.sh
  selfdrive/debug/profiling/pyflame/build.txt
  selfdrive/debug/profiling/pyflame/fix-aarch64.patch
  selfdrive/debug/profiling/pyflame/flame.sh
  selfdrive/debug/profiling/pyflame/flamegraph.pl
  selfdrive/debug/profiling/pyflame/pyflame
Labels: tools

#22858 nav: check valid flag on PositionGeodetic measurement
  selfdrive/ui/navd/route_engine.cc
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix, nav

#22832 Longcontrol: do not clip vEgo to minSpeedCan
  selfdrive/controls/lib/longcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#22842 ui: auto scaling on resolution below 1920 x 1080
  selfdrive/ui/qt/qt_window.cc
Labels: enhancement

#22869 nav: resend route on ui restart
  selfdrive/ui/navd/route_engine.cc
  selfdrive/ui/navd/route_engine.h
Labels: bugfix, nav

#22871 Add missing HIGHLANDER_TSS2 engine f/w
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: fingerprint

#22876 allow update snoozing
  selfdrive/common/params.cc
  selfdrive/controls/lib/alerts_offroad.json
  selfdrive/thermald/thermald.py
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/offroad_alerts.h
Labels: enhancement

#22881 Fingerprint for Japanese 2017 Nissan X-Trail
  selfdrive/car/nissan/values.py
Labels: fingerprint

#22883 Batch of ECU FW from cars that fuzzy fingerprinted
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#22784 cython wrapper for acados
  SConstruct
  pyextra/acados_template/.gitignore
  pyextra/acados_template/acados_layout.json
  pyextra/acados_template/acados_model.py
  pyextra/acados_template/acados_ocp.py
  pyextra/acados_template/acados_ocp_solver.py
  pyextra/acados_template/acados_ocp_solver_pyx.pyx
  pyextra/acados_template/acados_sim.py
  pyextra/acados_template/acados_sim_layout.json
  pyextra/acados_template/acados_sim_solver.py
  pyextra/acados_template/acados_solver_common.pxd
  pyextra/acados_template/c_templates_tera/Makefile.in
  pyextra/acados_template/c_templates_tera/acados_mex_create.in.c
  pyextra/acados_template/c_templates_tera/acados_mex_free.in.c
  pyextra/acados_template/c_templates_tera/acados_mex_set.in.c
  pyextra/acados_template/c_templates_tera/acados_mex_solve.in.c
  pyextra/acados_template/c_templates_tera/acados_sim_solver.in.c
  pyextra/acados_template/c_templates_tera/acados_sim_solver.in.h
  pyextra/acados_template/c_templates_tera/acados_solver.in.c
  pyextra/acados_template/c_templates_tera/acados_solver.in.h
  pyextra/acados_template/c_templates_tera/acados_solver.in.pxd
  pyextra/acados_template/c_templates_tera/acados_solver_sfun.in.c
  pyextra/acados_template/c_templates_tera/main.in.c
  pyextra/acados_template/c_templates_tera/main_sim.in.c
  pyextra/acados_template/generate_c_code_constraint.py
  pyextra/acados_template/generate_c_code_discrete_dynamics.py
  pyextra/acados_template/generate_c_code_explicit_ode.py
  pyextra/acados_template/generate_c_code_external_cost.py
  pyextra/acados_template/generate_c_code_gnsf.py
  pyextra/acados_template/generate_c_code_implicit_ode.py
  pyextra/acados_template/generate_c_code_nls_cost.py
  pyextra/acados_template/utils.py
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  third_party/acados/aarch64/lib/libacados.so
  third_party/acados/aarch64/lib/libblasfeo.so
  third_party/acados/aarch64/lib/libhpipm.so
  third_party/acados/build.sh
  third_party/acados/include/acados/ocp_nlp/ocp_nlp_common.h
  third_party/acados/include/acados/sim/sim_collocation_utils.h
  third_party/acados/include/acados/sim/sim_common.h
  third_party/acados/include/acados/utils/math.h
  third_party/acados/include/acados/utils/timing.h
  third_party/acados/include/acados_c/ocp_nlp_interface.h
  third_party/acados/include/acados_c/sim_interface.h
  third_party/acados/include/blasfeo/include/blasfeo_block_size.h
  third_party/acados/include/blasfeo/include/blasfeo_d_blasfeo_api.h
  third_party/acados/include/blasfeo/include/blasfeo_d_blasfeo_ref_api.h
  third_party/acados/include/blasfeo/include/blasfeo_d_kernel.h
  third_party/acados/include/blasfeo/include/blasfeo_s_blasfeo_api.h
  third_party/acados/include/blasfeo/include/blasfeo_s_blasfeo_ref_api.h
  third_party/acados/include/blasfeo/include/blasfeo_s_kernel.h
  third_party/acados/larch64/lib/libacados.so
  third_party/acados/larch64/lib/libblasfeo.so
  third_party/acados/larch64/lib/libhpipm.so
  third_party/acados/x86_64/lib/libacados.so
  third_party/acados/x86_64/lib/libblasfeo.so
  third_party/acados/x86_64/lib/libhpipm.so
Labels: refactor

#22885 ci: use scons cache
  .github/workflows/selfdrive_tests.yaml
Labels: CI

#22882 Move shutdown/reboot handling to manager
  selfdrive/common/params.cc
  selfdrive/manager/manager.py
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#22884 ci: run test car models in matrix
  .github/workflows/selfdrive_tests.yaml
  selfdrive/test/test_models.py
Labels: CI

#22878 soundd: configure as persistent process
  selfdrive/debug/cycle_alerts.py
  selfdrive/manager/process_config.py
  selfdrive/ui/soundd/sound.cc
  selfdrive/ui/soundd/sound.h
  selfdrive/ui/tests/test_soundd.py
  selfdrive/ui/ui.h
Labels: bugfix

#22879 locationd : Acceleration Bias in locationd
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/models/constants.py
  selfdrive/locationd/models/live_kf.cc
  selfdrive/locationd/models/live_kf.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#22848 loggerd: trigger rotate on frame id instead of frame count
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/test_encoder.py
  selfdrive/loggerd/tests/test_loggerd.py
Labels: enhancement

#22902 [PlotJuggler] Tuning layout
  .github/PULL_REQUEST_TEMPLATE/tuning.md
  tools/plotjuggler/README.md
  tools/plotjuggler/juggle.py
  tools/plotjuggler/layouts/demo.xml
  tools/plotjuggler/layouts/tuning.xml
Labels: tools

#22914 boardd: fix segfault when SIGINT with no pandas
  selfdrive/boardd/boardd.cc
Labels: bugfix

#22915 Reset tici fan controller on ignition edge
  selfdrive/thermald/thermald.py
Labels: enhancement, comma three

#22908 plotjuggler: plotjuggler: tuning layout w/ cruise setpoint, use carControl.enable not carControl.active
  tools/plotjuggler/layouts/tuning.xml
Labels: tools

#22873 better onroad test output
  selfdrive/test/test_onroad.py
Labels: CI

#22921 UI: fix alert flicker when controlsState not updated
  selfdrive/ui/qt/onroad.cc
Labels: bugfix

#22929 nav: fix receiving navRoute while map is loading
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: bugfix, nav

#22925 alerts: make soft disables an orange alert
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
Labels: enhancement

#22942 pedal: only send command while actuators active
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
Labels: car bug fix

#22906 framereader: support hardware decoding
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
Labels: tools

#22843 ui: async uploading texture with PBO
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: enhancement

#22892 watchdog_kick: non-allocating
  selfdrive/common/watchdog.cc
  selfdrive/manager/process.py
  selfdrive/ui/ui.cc
Labels: enhancement

#22859 Cleanup toyota tuning
  release/files_common
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
Labels: refactor

#22085 camera_qcom2: cleanup camera_open
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: refactor

#21968 ui: replace nvg transfrom with QTransform
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: refactor

#22894 framereader: remove memory copy overhead for AVIO
  selfdrive/ui/replay/framereader.cc
Labels: tools

#22948 sidebar: dont update states when hidden
  selfdrive/ui/qt/sidebar.cc
Labels: enhancement

#22901 ui: draw all radard leads
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
Labels: enhancement

#22070 Take camera snapshot using VisionIPC
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/camerad/test/test_exposure.py
Labels: enhancement

#22949 cameraview: remove glflush
  selfdrive/test/test_onroad.py
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: enhancement

#22947 cleanup unused pip packages
  Pipfile
  Pipfile.lock
  selfdrive/test/openpilotci.py
  selfdrive/test/update_ci_routes.py
  tools/lib/framereader.py
  tools/zookeeper/__init__.py
Labels: code cleanup

#22953 VW MQB: Add FW for 2018 Volkswagen e-Golf
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#22956 panda.cc: struct for CAN header, counter complexity, cleanup for readability
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Labels: refactor

#22932 boardd: fix a panda may be connected by multiple panda instance
  selfdrive/boardd/boardd.cc
Labels: bugfix

#22934 add offroad alerts for car unrecognized
  selfdrive/common/params.cc
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/alerts_offroad.json
Labels: enhancement

#22877 nav: add arrow images for RHD instructions
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: enhancement, nav

#22965 api: send User-Agent on network requests
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: enhancement

#22950 swaglog.py: respect LOGPRINT env variable
  selfdrive/loggerd/tests/test_uploader.py
  selfdrive/manager/manager.py
  selfdrive/swaglog.py
Labels: enhancement

#22964 panda: fix len_to_dlc always return 1 if len > 24
  selfdrive/boardd/panda.cc
Labels: bugfix

#22899 GMC Acadia: Add lateral feedforward function
  selfdrive/car/gm/interface.py
Labels: tuning

#22962 Hyundai: Car Port for 2022 Santa Fe Hybrid
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_routes.py
Labels: car port

#22692 Genesis G70 2020 port
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/debug/hyundai_enable_radar_points.py
  selfdrive/test/test_routes.py
Labels: car port

#22975 ui: disable toggles while onroad
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
Labels: enhancement

#22976 Hyundai: remove longitudinal whitelist
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Labels: car enhancement

#22971 dmonitoringmodeld: fix black padding not black after libyuv.I420Scale
  selfdrive/modeld/models/dmonitoring.cc
Labels: bugfix

#22987 logreader: fix memory leak in Event
  selfdrive/ui/replay/logreader.cc
Labels: tools

#22998 perfetto
  selfdrive/debug/profiling/perfetto/.gitignore
  selfdrive/debug/profiling/perfetto/build.sh
  selfdrive/debug/profiling/perfetto/copy.sh
  selfdrive/debug/profiling/perfetto/record.sh
  selfdrive/debug/profiling/perfetto/server.sh
  selfdrive/debug/profiling/perfetto/traces.sh
Labels: tools

#22941 Add Lexus RC support
  docs/CARS.md
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_routes.py
Labels: car port

#23002 Add several missing CHRH f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint

#23011 don't build internal Kalman objects on device
  SConstruct
Labels: bugfix

#22955 panda: add unit tests for can packets
  .github/workflows/selfdrive_tests.yaml
  selfdrive/boardd/.gitignore
  selfdrive/boardd/SConscript
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
  selfdrive/boardd/tests/test_boardd_usbprotocol.cc
Labels: new test

#23021 Bring back Accord 2021 + 2021 Hybrid
  RELEASES.md
  docs/CARS.md
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Labels: car port

#23020 loggerd: add test case for sync_encoders
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/tests/test_loggerd.cc
Labels: new test

#22959 locationd: Fix Nav localization reliability
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/locationd/models/live_kf.cc
  selfdrive/locationd/models/live_kf.h
  selfdrive/locationd/models/live_kf.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#23019 test: Replay both models on C2/C3
  Jenkinsfile
  selfdrive/test/model_test.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: CI

#23032 UI minor changes to make it translation friendly
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
Labels: refactor

#22992 framereader: replace swscale with libyuv, reduce cpu usage by half
  selfdrive/camerad/SConscript
  selfdrive/ui/SConscript
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
Labels: tools

#23038 loggerd: add test case for trigger_rotate
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/tests/test_loggerd.cc
Labels: new test

#23031 Clean up planner files
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/test/longitudinal_maneuvers/plant.py
Labels: code cleanup

#23012 CARLA: send YUV and RGB over visionipc from bridge.py
  Pipfile
  Pipfile.lock
  tools/sim/bridge.py
  tools/sim/launch_openpilot.sh
  tools/sim/lib/can.py
Labels: simulation

#23046 sim: improve carla performance
  tools/sim/bridge.py
  tools/sim/start_carla.sh
Labels: simulation

#23052 replay: refactor http download.
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/filereader.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/tests/test_replay.cc
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Labels: tools

#23043 DevicePanel: split long constructor into multiple functions
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
Labels: refactor

#23039 refactor httprequest: emit single signals
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/drive_stats.h
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/replay/route.cc
Labels: refactor

#23033 boardd: new function sync_time
  selfdrive/boardd/boardd.cc
Labels: refactor

#22986 longitudinal: only apply overshoot prevention when braking
  selfdrive/controls/lib/longcontrol.py
Labels: tuning

#23022 cameraview: fix frameskip
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: bugfix

#23010 manager: kill procs in parallel
  selfdrive/manager/manager.py
Labels: enhancement

#22926 framereader: refactor seeking
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
Labels: refactor

#23060 Clear loggerd locks on boot
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/tests/test_loggerd.cc
Labels: enhancement

#23050 logreader: support reading from corrupt log
  selfdrive/camerad/cameras/camera_replay.cc
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/logreader.cc
  selfdrive/ui/replay/logreader.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/tests/test_replay.cc
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Labels: tools

#22994 ui/api: singleton QNetworkAccessManager
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
Labels: enhancement

#23062 Add LastPowerDropDetected and create bootlog before clearing params
  selfdrive/common/params.cc
  selfdrive/manager/manager.py
Labels: enhancement

#23063 Do not run code on version.py import
  common/api/__init__.py
  selfdrive/athena/athenad.py
  selfdrive/athena/manage_athenad.py
  selfdrive/car/car_helpers.py
  selfdrive/crash.py
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/manager/build.py
  selfdrive/manager/manager.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/update_refs.py
  selfdrive/thermald/thermald.py
  selfdrive/tombstoned.py
  selfdrive/version.py
Labels: enhancement

#23066 Longcontrol : pid error should be 0 when plan is followed
  selfdrive/controls/lib/longcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#22880 Mesh3D: Add accelerometer bias to loc_kf
  selfdrive/locationd/models/loc_kf.py
Labels: enhancement

#23067 Toyota pedal rewrite
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/tunes.py
  selfdrive/car/toyota/values.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, refactor
