Repository commaai/openpilot, pull requests merged in 2021-10, with the labels that each got.

#22393 Don't send empty pandaState from panda_state_thread
  selfdrive/boardd/boardd.cc
Labels: refactor

#22013 accel/decel button long press
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
Labels: enhancement

#22409 replay/segment: std::atomic member variables
  selfdrive/ui/replay/route.h
Labels: tools

#22413 Kia in alphabetical order
  docs/CARS.md
Labels: docs

#22411 Lateral PID: move steer feedforward to CarInterface
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_pid.py
Labels: tuning, refactor

#22425 ui: only update ignition when panda is connected
  selfdrive/ui/ui.cc
Labels: bugfix

#21961 boardd: wait for safety_setter_thread to finish while quitting panda_state_thread
  selfdrive/boardd/boardd.cc
Labels: refactor

#22426 safety_setter_thread: exit on ignition low
  selfdrive/boardd/boardd.cc
Labels: bugfix

#22375 c++ replay: more robust seek
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
  selfdrive/ui/replay/tests/test_replay.cc
  selfdrive/ui/replay/tests/test_runner.cc
Labels: tools

#22414 replay : move utility functions into separate file
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/tests/test_logger.cc
  selfdrive/ui/SConscript
  selfdrive/ui/replay/logreader.cc
  selfdrive/ui/replay/logreader.h
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
  selfdrive/ui/replay/tests/test_replay.cc
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Labels: refactor, tools

#22367 c++ replay: get socket name from capnp::Schema
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/tests/test_replay.cc
Labels: tools

#22378 c++ replay: publish all frames in CameraServer
  selfdrive/camerad/cameras/camera_replay.cc
  selfdrive/ui/SConscript
  selfdrive/ui/replay/camera.cc
  selfdrive/ui/replay/camera.h
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
Labels: tools

#22410 replay: cleanup console output
  selfdrive/ui/replay/route.cc
Labels: tools

#22432 2022 Corolla engine FW
  selfdrive/car/toyota/values.py
Labels: fingerprint

#22431 replay: do not use OpenCL
  selfdrive/ui/replay/camera.cc
  selfdrive/ui/replay/camera.h
Labels: tools

#22430 replace unlogger.py with c++ replay
  tools/replay/README.md
  tools/replay/rqplot.py
  tools/replay/unlogger.py
Labels: code cleanup, tools

#22399 accel/decel button metric increments
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
Labels: enhancement

#22408 hyundai fw sort
  selfdrive/car/hyundai/interface.py
Labels: refactor

#22437 FrameReader: increase probesize to 10MB
  selfdrive/ui/replay/framereader.cc
Labels: tools

#22436 replay: refresh segment window after current segment is changed by seek
  selfdrive/ui/replay/replay.cc
Labels: tools

#22434 replay: cleanup output
  selfdrive/ui/replay/replay.cc
Labels: tools

#22441 ui.py: small plotting cleanup
  tools/replay/lib/ui_helpers.py
  tools/replay/ui.py
Labels: tools

#22449 replay: stop publish socket on multiple publishers error
  selfdrive/ui/replay/replay.cc
Labels: tools

#22740 lower profile below steer speed alert
  selfdrive/controls/lib/events.py
Labels: enhancement

#22739 controls: don't wind up while EPS is faulted or below min steer speed
  selfdrive/controls/controlsd.py
Labels: enhancement

#22747 better alerts for temporary EPS faults
  selfdrive/car/interfaces.py
Labels: enhancement

#22702 Hyundai: Add FW for 2022 Hyundai Sonata
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22750 Mazda: fix up cruise cancellation
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/mazda/mazdacan.py
Labels: car bug fix

#22727 add new elantra hev 2021 fingerprints
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22735 tools/setup: do not change global state
  tools/mac_setup.sh
  tools/ubuntu_setup.sh
  update_requirements.sh
Labels: tools
