Repository commaai/openpilot, pull requests merged in 2021-01, with the labels that each got.

#19624 Port for Lexus ESH 2018
  README.md
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#2708 adaptive cruise can no longer be bypassed on toyota
  selfdrive/car/toyota/carstate.py
Labels: car bug fix, needs testing

#19644 Toyota Highlander FW versions
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19649 Car Port: 2021 Camry Hybrid TSS 2.5
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#19533 setup clang tidy
  .clang-tidy
  .gitignore
  SConstruct
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/pigeon.cc
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/main.cc
  selfdrive/common/params.cc
Labels: CI

#19581 Chrysler non-ACC Fix - Only allow openpilot in ACC mode
  selfdrive/car/chrysler/carstate.py
Labels: car bug fix

#19678 Lexus RX 2020 fw [ff03bcfbadfbec99]
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19645 2018 Lexus NX Hybrid FW versions
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19688 Sweden Civic Hatch 2017 [3789ba75669929de]
  selfdrive/car/honda/values.py
Labels: fingerprint

#19695 loggerd: fix use after free and memory leaks
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/encoder.cc
  selfdrive/loggerd/encoder.h
Labels: bugfix

#19651 Prius Prime 2021
  README.md
  selfdrive/car/toyota/values.py
Labels: fingerprint, needs testing

#19694 Add Esu.esp Fingerprint For RAV4H_TSS2
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19777 2017 Civic Hatch fw
  selfdrive/car/honda/values.py
Labels: fingerprint

#19768 use std::map for images
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/sidebar.cc
  selfdrive/ui/ui.hpp
Labels: refactor

#19792 On-device onroad CI test
  Jenkinsfile
  release/files_common
  selfdrive/test/test_cpu_usage.py
  selfdrive/test/test_onroad.py
Labels: CI

#19824 Carla fixes
  selfdrive/controls/controlsd.py
  tools/sim/bridge.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/start_carla.sh
Labels: PC, simulation

#19831 loggerd: split bootlog to a separate program
  .gitignore
  release/files_common
  selfdrive/common/util.h
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/manager.py
Labels: refactor

#19769 remove old model
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/radar_helpers.py
  selfdrive/controls/radard.py
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/process_replay/camera_replay.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: refactor

#19859 2021 Corolla Hybrid camera fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19846 2021 Pacifica Hybrid fingerprint
  selfdrive/car/chrysler/values.py
Labels: fingerprint

#19861 2021 Lexus RX Hybrid fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19873 audi a3 8v support
  README.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#19929 Civic Hatch Diesel fw
  selfdrive/car/honda/values.py
Labels: fingerprint

#19930 2021 Toyota Highlander engine fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#19849 vision-only radar toggle
  common/params_pyx.pyx
  selfdrive/manager.py
Labels: car enhancement

#19770 remove legacy reset line support
  selfdrive/boardd/panda.cc
  selfdrive/pandad.py
Labels: code cleanup

#19850 hyundai: ability to create ACC messages
  selfdrive/car/hyundai/hyundaican.py
Labels: car enhancement

#19851 hyundai: car state with longitudinal control support
  selfdrive/car/hyundai/carstate.py
Labels: car enhancement

#19852 hyundai: add follow distance button
  selfdrive/car/hyundai/values.py
Labels: car enhancement

#19939 Put bootlog in own folder
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/config.py
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/loggerd/uploader.py
Labels: enhancement

#19905 OMXEncoder: add calls to OMX_Init()&OMX_Deinit()
  selfdrive/loggerd/omx_encoder.cc
Labels: enhancement

#19855 added bsm for santa fe and fca instead of scc12 for santafe
  selfdrive/car/hyundai/values.py
Labels: car enhancement

#19762 UI: handle alert in function update_alert
  selfdrive/ui/ui.cc
Labels: refactor

#19916 dmonitoring_publish: use kj::ArrayPtr<const float> raw_pred as paramater instead of float *
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
Labels: refactor

#19825 c++ swaglog
  selfdrive/common/swaglog.cc
Labels: refactor

#19800 convert framebuffer to class
  installer/updater/updater.cc
  selfdrive/common/framebuffer.cc
  selfdrive/common/framebuffer.h
  selfdrive/ui/SConscript
  selfdrive/ui/android/text/text.cc
  selfdrive/ui/android/ui.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: refactor

#19774 remove cqueue, use class SafeQueue
  release/files_common
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/common/SConscript
  selfdrive/common/cqueue.c
  selfdrive/common/cqueue.h
  selfdrive/common/queue.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
Labels: refactor

#19793 draw lead indicator in 3D
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: enhancement

#19895 panda: refactor get_serial, return std::string
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Labels: refactor

#19896 Panda: refactor get_firmware_version, return vector
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Labels: refactor

#19906 OmxEncoder: new function set_state, set and wait state changed
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
Labels: refactor

#19760 pyTorch DM
  models/dmonitoring_model.current
  models/dmonitoring_model.keras
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
  selfdrive/monitoring/driver_monitor.py
  selfdrive/monitoring/test_monitoring.py
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#19679 UI: function update_status
  selfdrive/ui/ui.cc
Labels: refactor

#19889 move manifest to hw
  launch_chffrplus.sh
  selfdrive/hardware/tici/agnos.json
  selfdrive/updated.py
Labels: refactor

#19864 loggerd: small cleanup
  selfdrive/loggerd/loggerd.cc
Labels: refactor

#19933 dmonitoring: use the same way as driving to build model output more clearly
  selfdrive/modeld/models/dmonitoring.cc
Labels: refactor
