Repository commaai/openpilot, pull requests merged in 2021-09, with the labels that each got.

#21683 HomeWindow: cleanup mousePressEvent
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: refactor

#21611 Add angleError to pid_log
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#21531 driverview.cc: cleanup paintEvent
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Labels: refactor

#22096 Ensure that first segment starts with all cameras on the same frameId
  selfdrive/common/util.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/test_encoder.py
Labels: enhancement, comma three

#22100 Add script to rerun process on route and generate new logs
  .gitignore
  selfdrive/debug/run_process_on_route.py
  selfdrive/test/process_replay/process_replay.py
Labels: enhancement

#21943 Continuously update offset between TSS2 angle sensors
  common/filter_simple.py
  selfdrive/car/toyota/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#21883 fix: util::read_files_in_dir does not always return a correct result
  selfdrive/common/tests/test_util.cc
  selfdrive/common/util.cc
Labels: bugfix

#22094 Smarter longitudinal lag compensations
  selfdrive/controls/lib/longcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: tuning

#22107 Disable encoder sync logic if only one rotate camera present
  selfdrive/loggerd/loggerd.cc
Labels: enhancement

#22009 Honda HR-V: set standstill and gas signals
  selfdrive/car/honda/carstate.py
Labels: car bug fix

#22084 ONNXModel: use the actual model file name
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/runners/run.h
Labels: refactor

#21976 Added fingerprint for 2018 Jeep Trackhawk
  selfdrive/car/chrysler/values.py
Labels: fingerprint, awaiting info

#21959 Thermald thermal state cleanup
  selfdrive/thermald/thermald.py
Labels: refactor

#22050 C3: Fix keyboard buttons on the right getting stuck in pressed state
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/keyboard.cc
Labels: bugfix

#22145 toyota: clean up accel command
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/values.py
Labels: car enhancement

#22152 map fixes, #22105
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix

#22148 Clean up PID controller ACCEL_MIN/ACCEL_MAX
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: tuning

#22149 C3: clear nmmeta files on boot
  launch_chffrplus.sh
Labels: bugfix

#22133 VW MQB: Škoda Karoq Mk1
  README.md
  RELEASES.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_routes.py
Labels: car port

#22155 actually set longControlState in actuators packet
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#22147 agnos 1.5
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Labels: enhancement

#22125 Added SUBARU IMPREZA JAPAN MODEL 2017
  selfdrive/car/subaru/values.py
Labels: fingerprint

#22129 Fixes for C3 LTE connection being deleted
  selfdrive/ui/qt/offroad/wifiManager.cc
Labels: bugfix

#22143 Fingerprint brazilian VW TINGUAN_MK2
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, awaiting info

#22157 Panda::list: remove call to libusb_release_interface
  selfdrive/boardd/panda.cc
Labels: bugfix

#22162 fix panda: call libusb_free_device_list before libusb_exit
  selfdrive/boardd/panda.cc
Labels: bugfix

#22108 Honda e Port
  README.md
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Labels: car port

#21821 Qt/onroad: use CameraViewWidget
  release/files_common
  selfdrive/common/SConscript
  selfdrive/common/glutil.cc
  selfdrive/common/glutil.h
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: refactor

#22176 VW MQB: Fix for rare autoresume problems
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
Labels: car bug fix

#21379 FrameReader: do not depend on Qt. added timeout and unit tests
  .github/workflows/selfdrive_tests.yaml
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/tests/test_replay.cc
Labels: refactor

#22174 VW MQB: Fixes for network location detection
  selfdrive/boardd/boardd.cc
  selfdrive/car/volkswagen/interface.py
Labels: car bug fix

#22180 VW MQB: Cleanup stock LKAS signal forwarding
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/volkswagencan.py
Labels: car enhancement

#22186 add another missing FW for elantra_hev-2021
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22188 Upload when on ethernet
  selfdrive/loggerd/uploader.py
Labels: enhancement

#22109 Unify neos/agnos updaters
  Jenkinsfile
  README.md
  installer/updater/.gitignore
  installer/updater/Makefile
  installer/updater/test_updater.py
  installer/updater/updater
  installer/updater/updater.cc
  launch_chffrplus.sh
  release/files_common
  selfdrive/common/SConscript
  selfdrive/common/framebuffer.cc
  selfdrive/common/framebuffer.h
  selfdrive/common/touch.c
  selfdrive/common/touch.h
  selfdrive/hardware/eon/neos.json
  selfdrive/hardware/eon/neos.py
  selfdrive/hardware/eon/test_neos_updater.py
  selfdrive/hardware/eon/updater
  selfdrive/ui/SConscript
  selfdrive/ui/qt/setup/updater.cc
  selfdrive/ui/qt/setup/updater.h
  selfdrive/updated.py
Labels: refactor

#22199 Use CP.vEgoStopping and clean up CP.startAccel
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#21780 UI: lazy onboarding widgets init
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/window.cc
Labels: bugfix

#22158 boardd: new function get_time_str
  selfdrive/boardd/boardd.cc
Labels: refactor

#22191 refactor dm pitch/yaw thresholding
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, refactor

#22080 Port lateral planning to ACADOS
  SConstruct
  release/files_common
  selfdrive/controls/lib/lateral_mpc_lib/.gitignore
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/lateral_mpc_lib/__init__.py
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/tests/test_lateral_mpc.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
  tools/sim/Dockerfile.sim
Labels: refactor

#22214 timing tests
  selfdrive/test/test_onroad.py
Labels: CI, new test

#22010 Honda carstate: use common gas pedal signal
  selfdrive/car/honda/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#22232 Add 2022 Corolla Hatchback Engine FP
  selfdrive/car/toyota/values.py
Labels: fingerprint, awaiting info

#22244 2020 Corolla Engine fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#22226 Honda carstate: refactor MAIN_ON signal
  selfdrive/car/honda/carstate.py
Labels: refactor

#22236 Use thneed directly on the loaded YUV data
  selfdrive/modeld/models/commonmodel.cc
  selfdrive/modeld/models/commonmodel.h
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/runners/runmodel.h
  selfdrive/modeld/runners/thneedmodel.cc
  selfdrive/modeld/runners/thneedmodel.h
  selfdrive/modeld/thneed/thneed.cc
  selfdrive/modeld/thneed/thneed.h
  selfdrive/modeld/transforms/loadyuv.cc
  selfdrive/modeld/transforms/loadyuv.cl
  selfdrive/modeld/transforms/loadyuv.h
Labels: refactor

#22266 Odyssey fw
  selfdrive/car/honda/values.py
Labels: fingerprint

#22256 Added fingerprint for Hyundai Elantra 2021
  selfdrive/car/hyundai/values.py
Labels: fingerprint, awaiting info

#21936 camerad: use the YUV buffer to create the jpeg thumbnail
  selfdrive/camerad/SConscript
  selfdrive/camerad/cameras/camera_common.cc
Labels: refactor

#22259 Hyundai Sonata Hybrid Radar FW for Openpilot Long support
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/debug/hyundai_enable_radar_points.py
Labels: car enhancement

#21694 Add Fingerprint 2.0 for 2020 Toyota Corolla Cross (Taiwanese Version)
  selfdrive/car/toyota/values.py
Labels: fingerprint

#22262 locationd: modify factor for measurement STDEV in gps update
  selfdrive/locationd/locationd.cc
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#22203 refactor c++ replay
  selfdrive/ui/SConscript
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/filereader.h
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
  selfdrive/ui/replay/tests/test_replay.cc
Labels: tools

#22277 2017 ioniq EV fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint, awaiting info

#21241 camerad: added replay camera
  SConstruct
  release/files_common
  selfdrive/camerad/SConscript
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_replay.cc
  selfdrive/camerad/cameras/camera_replay.h
  selfdrive/camerad/main.cc
Labels: enhancement

#21273 qt: new class ListWidget
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: refactor

#22297 VW MQB: Volkswagen Arteon Mk1
  RELEASES.md
  docs/CARS.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_routes.py
Labels: car port

#22296 log nvme temp
  selfdrive/hardware/base.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#22290 Improved lead model: 6be443f2-ed70-4580-9c31-61b94d068e24/950
  models/supercombo.dlc
  models/supercombo.onnx
  selfdrive/modeld/models/driving.cc
  selfdrive/test/process_replay/model_ref_commit
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement

#22304 2020 Highlander Firmware
  selfdrive/car/toyota/values.py
Labels: fingerprint

#22299 unlogger.py: fix YUV replay
  tools/replay/unlogger.py
Labels: bugfix

#22310 Fix throttle scaling in simulator
  tools/sim/bridge.py
Labels: simulation

#22317 VW MQB: Update to CARS footnotes
  docs/CARS.md
Labels: docs

#22309 Modem temp as expensive call
  selfdrive/thermald/thermald.py
Labels: enhancement

#22300 2021 Hyundai Sonata N Line: Fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22287 fix yuv420_to_jpeg: thumbnail_width & thumbnail_height must be aliged with 16 pixel.
  selfdrive/camerad/cameras/camera_common.cc
Labels: bugfix

#22274 hyundai: resume from stop faster
  selfdrive/car/hyundai/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#22316 add another transmission FPv2 for hyundai elantra hev 2021
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22324 VW MQB: Min steer speed support, other cleanup
  docs/CARS.md
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/interface.py
Labels: car enhancement

#22323 Temp Good
  selfdrive/ui/qt/sidebar.cc
Labels: enhancement

#22325 Hyundai: Add Car Port for 2022 Hyundai Santa Fe
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_routes.py
Labels: car port

#22329 Add DisableRadar_Allow param and settings toggle
  selfdrive/common/params.cc
  selfdrive/manager/manager.py
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#22330 remove community supported cars from community features
  selfdrive/car/chrysler/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/tests/test_startup.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#22335 set Honda Bosch long lag to 1s
  selfdrive/car/honda/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: tuning

#22314 NIDEC pedal, good gas/brake transition
  selfdrive/car/honda/carcontroller.py
Labels: tuning

#22003 car port: Honda Freed
  docs/CARS.md
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_routes.py
Labels: car port

#22344 Improve Hyundai FW query stability
  selfdrive/car/fw_versions.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/isotp_parallel_query.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#22224 acados long merged
  SConstruct
  release/files_common
  selfdrive/controls/lib/lead_mpc_lib/.gitignore
  selfdrive/controls/lib/lead_mpc_lib/SConscript
  selfdrive/controls/lib/lead_mpc_lib/__init__.py
  selfdrive/controls/lib/lead_mpc_lib/lead_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/tests/test_following_distance.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
Labels: enhancement

#22341 c++ replay: load d/ecamera by command line flags
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
Labels: tools

#22353 Add Firmware 2021 Hyundai Sonata Hybrid
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22308 c++ replay: chunking and concurrent downloads
  selfdrive/ui/SConscript
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
  selfdrive/ui/replay/tests/test_replay.cc
  selfdrive/ui/replay/tests/test_runner.cc
Labels: tools

#22319 c++ replay: improve seeking&updating events
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
Labels: tools

#22355 Update values.py - 2021 Hyundai Sonata
  selfdrive/car/hyundai/values.py
Labels: fingerprint, awaiting info

#22359 controls: only send cruise cancel while cruise is enabled
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#22360 Small long MPC optimizations
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
Labels: enhancement

#22363 Higher offroad danger temp for tici
  selfdrive/thermald/thermald.py
Labels: enhancement, comma three

#22348 c++ replay: more accurate sleep
  selfdrive/ui/replay/replay.cc
Labels: tools

#22361 replay: send frames based on encodeIdx packet
  selfdrive/ui/replay/logreader.cc
  selfdrive/ui/replay/logreader.h
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
Labels: tools

#22362 replay: fall back to qlog
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/route.h
Labels: tools

#22371 agnos updater: support non-sparse images
  selfdrive/hardware/tici/agnos.py
Labels: enhancement

#22376 move acados deps out of devpackages
  Pipfile
  Pipfile.lock
  selfdrive/boardd/tests/replay_many.py
  selfdrive/thermald/tests/test_power_monitoring.py
Labels: PC

#22388 VW MQB: Add FW for 2013 Volkswagen Golf
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#22384 UI: big pairing QR code
  release/files_common
  selfdrive/assets/assets.qrc
  selfdrive/assets/icons/close.svg
  selfdrive/assets/strip-svg-metadata.sh
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
Labels: enhancement

#22347 HKG: Add Car Port for 2021 Kia K5
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_routes.py
Labels: car port, awaiting info
