Repository commaai/openpilot, pull requests merged in 2021-05, with the labels that each got.

#20786 Commapi: passing arguments by reference
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.hpp
Labels: refactor

#20783 Qt: use new signal slot syntax
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/wifi.cc
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/text.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/setup.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/ui.cc
Labels: refactor

#20792 registration unit tests
  release/files_common
  selfdrive/athena/registration.py
  selfdrive/athena/tests/helpers.py
  selfdrive/athena/tests/test_registration.py
  selfdrive/manager/manager.py
Labels: new test

#20781 UI: fast startup
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/drive_stats.h
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/offroad_alerts.h
  selfdrive/ui/qt/widgets/setup.cc
  selfdrive/ui/qt/widgets/setup.h
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/widgets/ssh_keys.h
Labels: enhancement

#20814 Params: move keys from cython to cc
  common/params.py
  common/params_pxd.pxd
  common/params_pyx.pyx
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/loggerd/logger.cc
Labels: refactor

#20810 add CLEAR_ON_IGNITION param type
  common/params_pxd.pxd
  common/params_pyx.pyx
  common/tests/test_params.py
  selfdrive/boardd/boardd.cc
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/manager/manager.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#20694 Chrysler BSM info signal
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#20812 set nice values for non RT processes
  selfdrive/locationd/locationd.cc
  selfdrive/logcatd/logcatd_android.cc
  selfdrive/loggerd/loggerd.cc
  selfdrive/proclogd/proclogd.cc
  selfdrive/sensord/sensors_qcom.cc
  selfdrive/sensord/sensors_qcom2.cc
Labels: enhancement

#20784 SshControl: use HttpRequest to get ssh keys
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/widgets/ssh_keys.h
Labels: refactor

#20776 Qt onroad alerts
  selfdrive/debug/cycle_alerts.py
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/sound.cc
  selfdrive/ui/qt/sound.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: refactor

#20818 hypothesis fuzz testing
  .gitignore
  Pipfile
  Pipfile.lock
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/test_fuzzy.py
Labels: new test

#20837 Lexus IS 200T FW versions
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20813 2021 Lexus RX350 FW versions
  selfdrive/car/toyota/values.py
Labels: awaiting info, fingerprint

#20801 Replace ifdefs with hardware abstraction layer
  selfdrive/boardd/boardd.cc
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/main.cc
  selfdrive/common/modeldata.h
  selfdrive/common/params.cc
  selfdrive/common/swaglog.cc
  selfdrive/hardware/base.h
  selfdrive/hardware/eon/hardware.h
  selfdrive/hardware/tici/hardware.h
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/ui/main.cc
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/qt_window.h
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/ui.cc
Labels: refactor

#20842 Fixes after ifdef clenaup
  selfdrive/common/params.cc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/ui/qt/api.cc
Labels: refactor

#20839 C++ Process Replay improvements - Part 2
  selfdrive/test/process_replay/process_replay.py
Labels: CI

#20840 Remove Lexus trim levels
  selfdrive/car/toyota/values.py
Labels: car enhancement

#20838 Use standstill flag in locationd
  selfdrive/locationd/locationd.cc
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#20845 Locationd input sanity checks
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/test/test_locationd.py
Labels: enhancement

#20860 changed to libmariadb-dev because since Ubuntu 18.04 libmariadb is a …
  tools/ubuntu_setup.sh
Labels: tools

#20881 VW MQB: Volkswagen Atlas Mk1
  README.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_routes.py
Labels: car port

#20900 Also use sentry for capnp exceptions
  selfdrive/crash.py
Labels: enhancement

#20937 2020 Camry Hybrid engine fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20939 2021 Toyota Prius engine fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20922 Honda - Don't send cancel cmd when using comma pedal
  selfdrive/car/honda/carcontroller.py
Labels: car enhancement

#20942 Fix Terms and Training guide skip when the screen turns off
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
Labels: bugfix

#20945 CRV Hybrid doesn't use alternate brake signal
  selfdrive/car/honda/interface.py
Labels: car bug fix

#20946 Rate limit paramsd angleOffset output
  selfdrive/locationd/paramsd.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#20944 Agnos 0.15
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Labels: enhancement

#20901 Cleanup HONDA_BOSCH alternate brake signal
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
Labels: refactor

#20947 Update visionIPC stream and intrinsic matrix when going onroad
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement

#20949 Also shutdown after one hour if no ignition seen
  selfdrive/thermald/power_monitoring.py
Labels: enhancement

#20940 Filter only initialized if up for 1sec
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#20953 Add missing several missing Camry firmwares
  selfdrive/car/fw_versions.py
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20916 2021 Hyundai Elantra port
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_routes.py
Labels: car port

#20717 sim: get GPS data from CARLA
  tools/sim/bridge.py
Labels: PC, simulation

#20935 Chrysler Pacifica Fingerprint
  selfdrive/car/chrysler/values.py
Labels: fingerprint, needs changes

#20967 Store almanac on ublox poweroff
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/pigeon.cc
  selfdrive/boardd/pigeon.h
  selfdrive/common/util.h
  selfdrive/locationd/test/ubloxd.py
  selfdrive/locationd/ublox_msg.h
Labels: enhancement

#20919 UI: add decline page for the Terms and Conditions
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
Labels: enhancement

#20982 Support streaming in juggle.py
  tools/plotjuggler/README.md
  tools/plotjuggler/install.sh
  tools/plotjuggler/juggle.py
Labels: tools

#20998 Car port: LEXUS UX 2019
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_routes.py
Labels: car port

#20997 VW MQB: Cleanup, prep for J533 gateway integration
  selfdrive/car/volkswagen/carstate.py
Labels: car enhancement

#20999 VW MQB: Add manumatic to allowed openpilot gears
  selfdrive/car/volkswagen/interface.py
Labels: car enhancement

#20994 Remove ignored CAN fingerprints
  selfdrive/car/fingerprints.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
  selfdrive/debug/test_fw_query_on_routes.py
  selfdrive/test/test_fingerprints.py
Labels: refactor

#21010 Fix Subaru Preglobal create_es_throttle_control
  selfdrive/car/subaru/subarucan.py
Labels: car bug fix

#21002 Refactor FrameReader
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  tools/clib/framereader.cc
  tools/clib/framereader.h
Labels: refactor, tools

#20993 Move CAN fingerprinting behind community features
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_startup.py
Labels: refactor

#21020 VW MQB: Add FW values for 2018 Volkswagen Golf
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#21027 manager.py: fix UNREGISTERED_DONGLE_ID check
  selfdrive/manager/manager.py
Labels: bugfix

#21026 bmx055 magnetometer fix reference frame
  selfdrive/sensord/sensors/bmx055_magn.cc
Labels: bugfix

#21029 Fix route framereader when using signed urls
  tools/lib/route_framereader.py
Labels: bugfix

#21040 LSM6DS3 fix gyro scale
  selfdrive/sensord/sensors/lsm6ds3_gyro.cc
Labels: bugfix

#21024 Compute on-road screen brightness based on camera exposure
  selfdrive/ui/ui.cc
Labels: enhancement

#21013 VW MQB: Škoda Octavia Mk3
  README.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21031 Improve focus when using snapshot
  selfdrive/camerad/snapshot/snapshot.py
Labels: enhancement

#20969 2019 Nissan Altima fingerprint
  README.md
  selfdrive/car/nissan/values.py
Labels: fingerprint

#21044 Add missing Hondas and Toyotas to tests
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
  selfdrive/test/update_ci_routes.py
Labels: CI

#21053 move c++ framereader to selfdrive/ui/replay/
  selfdrive/ui/SConscript
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/replay.h
  tools/clib/.gitignore
  tools/clib/SConscript
  tools/clib/cframereader.pyx
Labels: refactor

#21066 Cleanup brightness params
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: refactor

#21067 Mazda: remove CAN fingerprints
  selfdrive/car/mazda/values.py
Labels: car enhancement

#21048 VW MQB: SEAT Leon Mk3
  README.md
  RELEASES.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21065 Update Honda Fit route
  selfdrive/test/test_routes.py
Labels: car bug fix

#21051 UI: Updated in settings
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/util.h
Labels: enhancement

#21081 UI: add missing override identifiers
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/qt/widgets/scrollview.h
  selfdrive/ui/qt/widgets/setup.h
Labels: refactor

#21077 VW MQB: Add FW for 2017 SEAT Leon
  README.md
  RELEASES.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#21075 test model timings in CI
  selfdrive/test/test_onroad.py
Labels: new test

#21073 Update Kia Seltos FPv2 Values
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#21088 Ensure Athena is not running during onroad tests
  selfdrive/test/test_onroad.py
Labels: CI

#21089 Update ui fixes
  selfdrive/common/params.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/util.h
Labels: enhancement
