Repository commaai/openpilot, pull requests merged in 2021-08, with the labels that each got.

#21817 add missing transmission FP for Elantra Hybrid 2021
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#21815 util/read_files_in_dir: return map by value
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/logger.cc
Labels: refactor

#21795 Add fingerprint for 2018 honda civic coupe touring
  selfdrive/car/honda/values.py
Labels: fingerprint

#21824 Add 2020 Corolla Hybrid FW versions
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21811 logger.cc/logger_build_init_data(): reuse params_map
  selfdrive/loggerd/logger.cc
Labels: refactor

#21820 Add Toyota Corolla Hybrid 2021 - Sol trim
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21552 Qt/spinner: reduce cpu usage from 12% to 9%
  selfdrive/ui/qt/spinner.cc
Labels: enhancement

#21782 Sidebar: set Qt::WA_OpaquePaintEvent attribute
  selfdrive/ui/qt/sidebar.cc
Labels: enhancement

#21808 OffroadHome: update alerts immediately in showEvent
  selfdrive/ui/qt/home.cc
Labels: bugfix

#21476 Honda Civic Bosch longitudinal support
  selfdrive/car/honda/hondacan.py
Labels: car enhancement

#21411 Use first order filter
  common/filter_simple.py
  selfdrive/controls/lib/lane_planner.py
  selfdrive/controls/lib/latcontrol_indi.py
Labels: code cleanup

#21814 api.h: add global variable for api base url
  common/api/__init__.py
  selfdrive/athena/registration.py
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/replay/replay.cc
Labels: refactor

#21838 api_get: keep same api
  common/api/__init__.py
  selfdrive/athena/registration.py
Labels: refactor

#21826 hw.h: move Hardware-related paths to namespace Path
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/common/params.cc
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/hardware/hw.h
  selfdrive/loggerd/logger.h
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/qt_window.h
Labels: refactor

#21853 nav: use calibrated orientation
  selfdrive/locationd/locationd.cc
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/maps/map.cc
Labels: enhancement

#21800 proclogd: reduce the size of the procLog message by nearly half
  .github/workflows/selfdrive_tests.yaml
  release/files_common
  selfdrive/proclogd/SConscript
  selfdrive/proclogd/main.cc
  selfdrive/proclogd/proclog.cc
  selfdrive/proclogd/proclog.h
  selfdrive/proclogd/proclogd.cc
  selfdrive/proclogd/tests/.gitignore
  selfdrive/proclogd/tests/test_proclog.cc
Labels: enhancement

#21698 AE improvements
  selfdrive/boardd/boardd.cc
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/camerad/cameras/sensor2_i2c.h
  selfdrive/camerad/test/ae_gray_test.cc
  selfdrive/camerad/test/ae_gray_test.h
  selfdrive/test/test_onroad.py
Labels: enhancement

#21861 fix: typo spelling grammar
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/car/fw_versions.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/carstate.py
  selfdrive/common/clutil.cc
  selfdrive/common/swaglog.h
  selfdrive/debug/cpu_usage_stat.py
  selfdrive/debug/internal/measure_steering_accuracy.py
  selfdrive/debug/internal/measure_torque_time_to_max.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/ublox_msg.cc
  selfdrive/manager/process.py
  selfdrive/modeld/thneed/serialize.cc
  selfdrive/modeld/visiontest.py
  selfdrive/monitoring/test_monitoring.py
  selfdrive/sensord/sensors/bmx055_magn.cc
  selfdrive/sensord/sensors/mmc5603nj_magn.cc
  selfdrive/test/test_updated.py
  selfdrive/ui/ui.cc
  tools/lib/url_file.py
  tools/scripts/setup_ssh_keys.py
Labels: docs

#21857 Cleaner lane change alerts
  selfdrive/controls/lib/events.py
  selfdrive/debug/cycle_alerts.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#21733 DM model with better noise performance
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#21860 refactor loggerd: trigger rotate in encoder thread
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/test_encoder.py
Labels: enhancement

#21880 fix: util::file_exists will return false if failed to open existing file
  selfdrive/common/tests/test_util.cc
  selfdrive/common/util.cc
Labels: bugfix

#21892 clocksd: handle EINTR on read()
  selfdrive/clocksd/clocksd.cc
Labels: bugfix

#21884 Improve perceived display brightness
  selfdrive/ui/ui.cc
Labels: enhancement

#21806 fix cd in process scripts
  selfdrive/modeld/dmonitoringmodeld
  selfdrive/modeld/modeld
  selfdrive/sensord/sensord
  selfdrive/ui/soundd
  selfdrive/ui/ui
Labels: enhancement

#21886 Change long control honda pilot, ridgeline, honda fit, civic, ilx
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/process_replay/ref_commit
Labels: tuning

#21899 plotjuggler takes cabana shared links
  tools/plotjuggler/juggle.py
Labels: enhancement, tools

#21779 Kia Niro HEV 2021 port.
  README.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21903 athena: return current upload status in listUploadQueue
  common/file_helpers.py
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
Labels: enhancement

#21934 Add missing engine f/w for 2022 Corolla sedan ICE
  README.md
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21937 update hyundai palisade steer ratio
  selfdrive/car/hyundai/interface.py
Labels: car enhancement

#21933 Update MISRA link in SAFETY.md
  SAFETY.md
Labels: docs

#21897 DM 0.8.8
  models/dmonitoring_model.current
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#21927 sidebar: simplify updateState with QPair
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
Labels: refactor

#21938 Update plotjuggler readme for streaming, and cabana url input
  tools/plotjuggler/README.md
  tools/plotjuggler/juggle.py
Labels: docs

#21949 BZFile: handle EINTR on BZ2_bzWrite
  selfdrive/loggerd/logger.h
Labels: enhancement

#21957 Write panda heartbeat lost in param
  selfdrive/common/params.cc
  selfdrive/pandad.py
Labels: enhancement

#21954 Added new fingerprint for Skoda Superb Mk3
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#21958 controlsd: ensure actuators packet is finite
  selfdrive/controls/controlsd.py
Labels: enhancement

#21977 Qt: new global WIDE_UI
  selfdrive/ui/qt/offroad/onboarding.h
  selfdrive/ui/qt/qt_window.h
Labels: enhancement

#21970 camerad: remove unused macros and global
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: code cleanup

#21965 android health daemon
  release/files_common
  selfdrive/hardware/eon/androidd.py
  selfdrive/manager/process_config.py
  selfdrive/test/test_onroad.py
Labels: enhancement

#21905 Add argument to Panda to connect by serial number
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Labels: enhancement

#21982 c3 dm tweak
  selfdrive/monitoring/driver_monitor.py
Labels: enhancement, comma three

#21994 VW MQB: Add FW for 2018 Škoda Octavia
  README.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#21992 fingerprint for toyota highlander hybrid 2020
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21975 params: remove persistent params
  common/params_pxd.pxd
  common/params_pyx.pyx
  common/tests/test_params.py
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/hardware/hw.h
Labels: refactor

#21503 tici: give loggerd rt priority
  selfdrive/camerad/main.cc
  selfdrive/debug/check_timings.py
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/omx_encoder.h
  selfdrive/modeld/modeld.cc
Labels: enhancement

#21978 Params: set ParamKeyType: ALL to 0xFFFFFFFF
  selfdrive/common/params.h
Labels: refactor

#21966 UI: use rcc on all platforms
  selfdrive/ui/SConscript
  selfdrive/ui/qt/qt_window.h
Labels: enhancement

#22039 Add Skoda Kodiaq 2019 fingerprint
  README.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, awaiting info

#22074 Fingerprint Toyota Corolla Hybrid Jun 2021 model (made in Japan)
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21911 Change car controller interface from gas/brake to acceleration
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/pid.py
  selfdrive/test/process_replay/ref_commit
  tools/replay/ui.py
  tools/sim/bridge.py
Labels: refactor

#22078 Treat ILX braking like other NIDEC hondas
  selfdrive/car/honda/carcontroller.py
Labels: car enhancement

#22061 camera_qcom2: fix memory leaks in camera_open
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: bugfix

#22059 camera_qcom2: remove req_mgr_session_info from CameraState
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
Labels: refactor

#22054 retry ioctls while errno == EINTR
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/common/i2c.cc
  selfdrive/common/params.cc
  selfdrive/common/util.h
  selfdrive/modeld/thneed/thneed.cc
Labels: enhancement

#21974 Params::put: fixed the wrong call to Params::remove instead of global ::remove
  selfdrive/common/params.cc
Labels: bugfix

#21855 LoggerState: test cases
  .github/workflows/selfdrive_tests.yaml
  selfdrive/loggerd/.gitignore
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/tests/test_logger.cc
  selfdrive/loggerd/tests/test_runner.cc
Labels: CI, new test

#22067 camera_qcom2: refactor open_v4l_by_name_and_index
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: refactor

#21989 add list() to panda.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Labels: enhancement

#21875 loggerd: create encoder threads from cameras_logged
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/ui/replay/filereader.h
Labels: refactor

#21973 Params: faster atomic clearAll
  selfdrive/common/params.cc
  selfdrive/common/params.h
Labels: enhancement

#21996 dmonitoring: improve yuvframe2tensor
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
Labels: enhancement

#22081 fix boardd reconnect loop
  selfdrive/boardd/panda.cc
Labels: bugfix

#22087 Mazda 3/CX-5 FW
  selfdrive/car/mazda/values.py
Labels: fingerprint

#21773 ui: clickable ElidedLabel
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: enhancement

#21962 boardd: remove global panda
  selfdrive/boardd/boardd.cc
Labels: refactor

#21932 Tesla radar interface
  release/files_common
  selfdrive/car/tesla/radar_interface.py
Labels: car enhancement

#21953 add TSS2 replay route
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: new test

#22051 HKG: Add FW for 2018 Hyundai Kona EV
  README.md
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#22091 Populate angle offset in carState for accurate angle sensor
  selfdrive/car/toyota/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#21948 Handle EINTR for syscalls that can return it
  selfdrive/boardd/pigeon.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/common/i2c.cc
  selfdrive/common/util.cc
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/raw_logger.cc
Labels: enhancement

#21823 2018 Sonata 2.0T Limited Fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint
