Repository commaai/openpilot, pull requests merged in 2021-06, with the labels that each got.

#20849 Cleanup util.h
  selfdrive/camerad/test/ae_gray_test.cc
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/locationd/ublox_msg.h
  selfdrive/locationd/ubloxd.cc
  selfdrive/logcatd/SConscript
  selfdrive/loggerd/logger.h
Labels: refactor

#21058 Split Avalon 2016-18 and Avalon 2019+
  selfdrive/car/fw_versions.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_routes.py
Labels: car bug fix, needs testing

#21028 deleter.py: delete boot and crash folders last
  selfdrive/loggerd/deleter.py
Labels: enhancement

#21082 Car Port: Toyota Avalon Hybrid 2019
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21097 Add several missing PILOT_2019 f/w
  selfdrive/car/honda/values.py
Labels: fingerprint

#21092 athenad: send logs serial
  selfdrive/athena/athenad.py
Labels: enhancement

#21016 Add LEXUS_ESH_TSS2 to improved longitudinal tune
  selfdrive/car/toyota/interface.py
Labels: awaiting info

#21096 show 'failed to fetch update' when UpdateFailedCount is updated
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#20320 Kona EV: send LFA MFA message
  selfdrive/car/hyundai/carcontroller.py
Labels: car bug fix

#21063 Qt driverview
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement

#21107 hyundai elantra test route
  selfdrive/test/test_routes.py
Labels: car bug fix

#21109 Cleanup carstate quoting styles
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/volkswagen/carstate.py
Labels: refactor

#20749 Honda: cleanup enable logic
  selfdrive/car/honda/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement, needs testing

#21069 Update Elantra 2021 FPv2 values
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#21080 Add type hints, small cleanups
  common/realtime.py
  selfdrive/car/isotp_parallel_query.py
  selfdrive/crash.py
  selfdrive/hardware/tici/agnos.py
  selfdrive/logmessaged.py
  selfdrive/pandad.py
  selfdrive/rtshield.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  tools/lib/kbhit.py
  tools/lib/route_framereader.py
  tools/replay/rqplot.py
  tools/sim/bridge.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/lib/manual_ctrl.py
Labels: code cleanup

#21108 Add Elantra to legacy safety model
  selfdrive/car/hyundai/interface.py
Labels: car bug fix

#21101 Toyota: Only use gas interceptor under 19 mph
  RELEASES.md
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#21121 Add CLEAR_ON_IGNITION_OFF param type
  common/params_pxd.pxd
  common/params_pyx.pyx
  selfdrive/boardd/boardd.cc
  selfdrive/common/params.cc
  selfdrive/common/params.h
Labels: enhancement

#20657 hyundai: disable steering on all steer warnings
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#21119 Determine lane chane direction in preLaneChange state
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, needs testing

#21133 Various nav improvements
  selfdrive/common/params.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
Labels: enhancement

#21113 improved dm model
  models/dmonitoring_model.current
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
Labels: car enhancement, enhancement

#21167 Add Mazda 6 and new FW for other models
  selfdrive/car/mazda/interface.py
  selfdrive/car/mazda/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21158 It wasn't clear where to run export ZMQ=1 for plotjuggler
  tools/plotjuggler/README.md
Labels: code cleanup, tools

#21159 Add chime to lane changed blocked alert
  selfdrive/controls/lib/events.py
Labels: enhancement

#21136 Fetch mapbox token from API
  selfdrive/athena/athenad.py
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement

#20934 Subaru: show LDW on dash for correct lane
  selfdrive/car/chrysler/chryslercan.py
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/subarucan.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/controls/lib/events.py
Labels: car enhancement

#21141 refactor FrameReader
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/replay.cc
Labels: refactor, tools

#21161 Updated FPv2 values for Santa Fe 2020
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#21186 nav: add current bearing to route request
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: enhancement

#21185 sidebar: draw network strength without images
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
Labels: enhancement

#21187 networking: draw network strength without images
  selfdrive/assets/images/network_0.png
  selfdrive/assets/images/network_1.png
  selfdrive/assets/images/network_2.png
  selfdrive/assets/images/network_3.png
  selfdrive/assets/images/network_4.png
  selfdrive/assets/images/network_5.png
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
Labels: enhancement

#21172 Alerts documentation
  selfdrive/controls/lib/events.py
Labels: docs

#21206 qt/util.h : add new function setQtSurfaceFormat
  selfdrive/ui/main.cc
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/util.h
Labels: refactor

#21203 added Hyundai Veloster 2020 FPv2
  README.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#21208 nav: add page to settings
  selfdrive/common/params.cc
  selfdrive/ui/SConscript
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#21211 Adding firmware for 2021 Honda CRV Touring
  selfdrive/car/honda/values.py
Labels: fingerprint

#21225 add space after function name and if statement
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/pigeon.cc
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/transforms/rgb_to_yuv_test.cc
  selfdrive/clocksd/clocksd.cc
  selfdrive/common/gpio.cc
  selfdrive/common/i2c.cc
  selfdrive/common/params.cc
  selfdrive/common/util.cc
  selfdrive/common/watchdog.cc
  selfdrive/controls/lib/cluster/fastcluster.cpp
  selfdrive/controls/lib/cluster/test.cpp
  selfdrive/controls/lib/longitudinal_mpc_model/longitudinal_mpc.c
  selfdrive/hardware/eon/hardware.h
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/ublox_msg.h
  selfdrive/locationd/ubloxd.cc
  selfdrive/logcatd/logcatd_systemd.cc
  selfdrive/loggerd/loggerd.cc
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/test/polyfit/main.cc
  selfdrive/sensord/sensors/bmx055_accel.cc
  selfdrive/sensord/sensors/bmx055_gyro.cc
  selfdrive/sensord/sensors/bmx055_magn.cc
  selfdrive/sensord/sensors/bmx055_temp.cc
  selfdrive/sensord/sensors/file_sensor.cc
  selfdrive/sensord/sensors/i2c_sensor.cc
  selfdrive/sensord/sensors/light_sensor.cc
  selfdrive/sensord/sensors/lsm6ds3_accel.cc
  selfdrive/sensord/sensors/lsm6ds3_gyro.cc
  selfdrive/sensord/sensors/lsm6ds3_temp.cc
  selfdrive/sensord/sensors_qcom.cc
  selfdrive/sensord/sensors_qcom2.cc
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/text.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/scrollview.cc
  selfdrive/ui/qt/widgets/setup.cc
  selfdrive/ui/qt/widgets/toggle.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.cc
Labels: code cleanup

#21247 Fix Honda Accord transmission type detection
  selfdrive/car/honda/interface.py
Labels: car bug fix

#21232 UI widgets: remove unnecessary setLayout
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/wifi.cc
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/text.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/qt/widgets/keyboard.cc
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/setup.cc
  selfdrive/ui/qt/window.cc
Labels: refactor

#21244 UI: refactor SoftwarePanel
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/controls.h
Labels: refactor

#21152 Refactor C++ LogReader
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/filereader.h
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
Labels: refactor

#21258 onroad: remove sound_map from OnroadAlert
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: refactor

#21259 sidebar: display full signal when network strength is GREAT
  selfdrive/ui/qt/sidebar.cc
Labels: enhancement

#21229 Only call ensure_params_path once
  selfdrive/common/params.cc
Labels: enhancement

#21233 ui: remember previous connections
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21262 hyundai: cruiseState.standstill does not exist for openpilot longitudinal
  selfdrive/car/hyundai/carstate.py
Labels: car bug fix

#21257 Release GIL when calling C++ params functions
  common/params_pxd.pxd
  common/params_pyx.pyx
Labels: enhancement

#21234 DriveStats: switch between MILES and KM in real time,based on setting.
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/drive_stats.h
Labels: enhancement

#21248 default carParams.stoppingControl to True
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#21270 gps can be bad in cities
  selfdrive/locationd/locationd.cc
Labels: enhancement

#21254 VW MQB: Add FW for 2016 Golf R
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#21263 VW MQB: Volkswagen Touran Mk2
  README.md
  RELEASES.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21279 Added 2018 Accord 2.0T Touring transmission FW Vers
  selfdrive/car/honda/values.py
Labels: fingerprint

#21286 2021 Lexus UX Hybrid
  README.md
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21251 common/util.cc: add unit test, fix bug in util::read_file
  .github/workflows/selfdrive_tests.yaml
  selfdrive/common/SConscript
  selfdrive/common/tests/.gitignore
  selfdrive/common/tests/test_util.cc
  selfdrive/common/util.cc
Labels: new test

#21261 Don't check RAM/disk in simulation
  selfdrive/controls/controlsd.py
Labels: PC

#21292 Fixup profiler and add plannerd support
  selfdrive/test/profiling/lib.py
  selfdrive/test/profiling/profiler.py
Labels: tools

#21294 Script to print new bitflips on CAN
  selfdrive/debug/can_print_changes.py
Labels: tools

#21297 VW MQB: Simplify adding new cars (1 of 2)
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/values.py
Labels: refactor

#21308 2021 Honda Ridgeline fw
  selfdrive/car/honda/values.py
Labels: fingerprint

#21295 util.cc: refactor read_file
  selfdrive/common/util.cc
Labels: refactor

#21306 Split Civic Sedan and Coupe in readme
  README.md
Labels: docs

#21264 make locationd and paramsd RT
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/paramsd.py
Labels: enhancement

#21315 refactor ButtonControl
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/widgets/ssh_keys.h
Labels: refactor

#21106 Add PACIFICA_2020 fingerprint
  selfdrive/car/chrysler/values.py
Labels: fingerprint

#21223 refactor onboarding
  selfdrive/thermald/thermald.py
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
Labels: refactor

#21320 Forget button and security type label
  selfdrive/assets/offroad/icon_close.svg
  selfdrive/assets/offroad/icon_lock_closed.svg
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21228 HttpRequest: move http cache to RequestRepeater
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/request_repeater.h
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/replay/replay.cc
Labels: refactor

#20005 Refactor ModelFrame struct to class
  selfdrive/modeld/models/commonmodel.cc
  selfdrive/modeld/models/commonmodel.h
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Labels: refactor

#21312 OffroadHome: merge stylesheets
  selfdrive/ui/qt/home.cc
Labels: code cleanup

#21341 Toyota C-HR Hybrid FW versions from Japan model DAA-ZYX10-AHXNB
  selfdrive/car/toyota/values.py
Labels: fingerprint, needs testing

#21314 change qr code to url for pairing with explorer
  selfdrive/ui/qt/widgets/setup.cc
Labels: enhancement

#21310 Scan for networks on UI init
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21276 nav: home/work shortcuts
  selfdrive/assets/navigation/home.png
  selfdrive/assets/navigation/home.svg
  selfdrive/assets/navigation/home_inactive.png
  selfdrive/assets/navigation/work.png
  selfdrive/assets/navigation/work.svg
  selfdrive/assets/navigation/work_inactive.png
  selfdrive/common/params.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/window.cc
Labels: enhancement

#21217 Honda Bosch longitudinal prerequisites
  selfdrive/boardd/boardd.cc
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/hondacan.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/interfaces.py
  selfdrive/common/params.cc
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#21369 VW: put back DBC dict
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/values.py
Labels: car enhancement

#21384 Chinese Toyota Avalon 2019 Hybrid FW versions
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21372 Support WPS with no security
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21397 nav: change map loaded detection
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix

#21382 car port: Toyota Alphard
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_routes.py
Labels: car port

#21337 Simplify longitudinal tests
  selfdrive/test/longitudinal_maneuvers/cleanup_plant_docker.sh
  selfdrive/test/longitudinal_maneuvers/maneuver.py
  selfdrive/test/longitudinal_maneuvers/maneuverplots.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
  tools/sim/lib/can.py
Labels: refactor

#21395 keyboard: backspace repeat
  selfdrive/ui/qt/widgets/keyboard.cc
Labels: enhancement

#21405 nav: add recents
  selfdrive/ui/SConscript
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: enhancement

#21418 VW MQB: Add FW for 2016 Volkswagen Tiguan
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#21419 engine FW for "Corolla Sports Hybrid" (Japan model, 2018-2019)
  selfdrive/car/toyota/values.py
Labels: fingerprint

#21408 Quicker refreshing and use connection signals
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#21148 segment regen
  selfdrive/common/params.cc
  selfdrive/debug/check_freq.py
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/test/process_replay/.gitignore
  selfdrive/test/process_replay/inject_model.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
  selfdrive/test/process_replay/update_model.py
  selfdrive/test/process_replay/update_refs.py
  selfdrive/test/test_valgrind_replay.py
  selfdrive/test/update_ci_routes.py
Labels: CI

#21421 nav: pull next location while onroad
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/request_repeater.h
Labels: enhancement

#21387 Honda: emulate convenience blinker from stalk
  selfdrive/car/honda/carstate.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/interfaces.py
  selfdrive/car/subaru/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#21434 nav: show star for favorites
  selfdrive/ui/qt/maps/map_settings.cc
Labels: enhancement

#21413 fix: sim: gracefully shutdown the bridge
  .pylintrc
  tools/sim/bridge.py
  tools/sim/lib/keyboard_ctrl.py
Labels: simulation

#21412 qt/util.h: move implementation to source file
  selfdrive/ui/SConscript
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: refactor

#21403 add two new CX-5 2018 fw
  selfdrive/car/mazda/values.py
Labels: awaiting info, fingerprint

#21399 tici: flash bootloader partitions from manifest
  launch_chffrplus.sh
  selfdrive/hardware/tici/agnos.json
  selfdrive/hardware/tici/agnos.py
  selfdrive/updated.py
Labels: enhancement
