Repository commaai/openpilot, pull requests merged in 2021-03, with the labels that each got.

#20051 move intrinsic_matrix into modeldata.h, removed duplicate definitions.
  selfdrive/common/modeldata.h
  selfdrive/modeld/modeld.cc
  selfdrive/ui/paint.cc
Labels: refactor

#20219 Update values.py to add more 2021 Sonata FWs
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#20218 merge the china golf 7.5 missing values in the existing fingerprint
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#20229 Remove build arg from manager prepare_managed_process
  selfdrive/manager.py
  selfdrive/test/process_replay/process_replay.py
Labels: refactor

#19783 UI: Move the variables need to be updated by socket to UIScene
  selfdrive/ui/android/ui.cc
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/sidebar.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: refactor

#20235 Replace hardcoded values for Pi
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/mock/interface.py
  selfdrive/controls/lib/lateral_mpc/generator.cpp
Labels: code cleanup

#20209 clean up tici camera registers
  selfdrive/camerad/cameras/sensor2_i2c.h
Labels: enhancement, refactor

#20212 oneplus cleanup (continue)
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/sensor_i2c.h
Labels: refactor

#20240 2021 Ridgeline fw
  README.md
  selfdrive/car/honda/values.py
Labels: fingerprint

#20241 2020 Avalon fw
  README.md
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20180 camera_qcom: move opencl stuff into class LapConv
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/imgproc/utils.cc
  selfdrive/camerad/imgproc/utils.h
Labels: refactor

#20231 Manager cleanup
  Jenkinsfile
  launch_chffrplus.sh
  release/build_release2.sh
  release/build_release3.sh
  release/files_common
  selfdrive/athena/manage_athenad.py
  selfdrive/athena/tests/test_athenad_old.py
  selfdrive/controls/controlsd.py
  selfdrive/debug/cpu_usage_stat.py
  selfdrive/debug/uiview.py
  selfdrive/launcher.py
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/manager.py
  selfdrive/manager/__init__.py
  selfdrive/manager/build.py
  selfdrive/manager/helpers.py
  selfdrive/manager/manager.py
  selfdrive/manager/process.py
  selfdrive/manager/process_config.py
  selfdrive/manager/test/__init__.py
  selfdrive/manager/test/test_manager.py
  selfdrive/modeld/test/timing/benchmark.py
  selfdrive/test/helpers.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
  selfdrive/test/process_replay/camera_replay.py
  selfdrive/test/process_replay/inject_model.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/test_car_models.py
  selfdrive/test/test_onroad.py
  tools/sim/launch_openpilot.sh
  tools/webcam/README.md
Labels: refactor

#20227 Fix simulator docker: CPU only for now
  selfdrive/modeld/runners/onnx_runner.py
  tools/sim/Dockerfile.sim
  tools/sim/bridge.py
  tools/sim/install_carla.sh
  tools/sim/start_carla.sh
  tools/sim/start_openpilot_docker.sh
Labels: PC, simulation

#20257 modeldata.h: new function get_model_yuv_transform
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/common/modeldata.h
  selfdrive/modeld/modeld.cc
Labels: refactor

#20256 ui/update_line_data: use max_idx as paramater instead of max_distance
  selfdrive/ui/ui.cc
Labels: refactor

#20254 camera_qcom: remove eeprom related stuff
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
Labels: refactor

#20259 cameras_qcom: use macros for actuator moving dir
  selfdrive/camerad/cameras/camera_qcom.cc
Labels: refactor

#20262 camera_qcom: change unsigned int to uint32_t
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
Labels: refactor

#20265 camera_qcom: better error message for apply exp error
  selfdrive/camerad/cameras/camera_qcom.cc
Labels: refactor

#20233 use cached buffer for FlatArrayMessageReader
  selfdrive/boardd/boardd.cc
  selfdrive/locationd/ubloxd_main.cc
Labels: refactor

#20277 Add watchdog check to manager
  release/files_common
  selfdrive/common/SConscript
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/common/watchdog.cc
  selfdrive/common/watchdog.h
  selfdrive/manager/process.py
  selfdrive/manager/process_config.py
  selfdrive/ui/android/ui.cc
  selfdrive/ui/qt/home.cc
Labels: enhancement

#20285 moving simulator CI to tools CI
  .github/workflows/sim_tests.yaml
  .github/workflows/tools_tests.yaml
Labels: simulation, tools

#20272 Run models in function run_model
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/modeld.cc
Labels: refactor

#20278 Boardd: Track ublox message frequency and re-init
  selfdrive/boardd/boardd.cc
Labels: enhancement

#20253 VW MQB: Support for other transmission types
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Labels: car enhancement

#20217 update to python 3.8.5
  .python-version
  Dockerfile.openpilot_base
  tools/mac_setup.sh
  tools/ubuntu_setup.sh
  tools/webcam/README.md
Labels: enhancement

#20247 VW MQB: Use raw steering angle signal
  selfdrive/car/volkswagen/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#20283 Kia Ceed 2019
  README.md
  RELEASES.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#20304 tuning simulator parameters
  tools/sim/bridge.py
Labels: PC, simulation

#20321 Kia Seltos 2021
  README.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_car_models.py
Labels: car port

#20322 Better high speed alert message
  selfdrive/controls/lib/events.py
Labels: enhancement

#20192 Refactor alloc_w_mmu_hdl to use default parameters
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: refactor

#20319 Add GM steering rate and EPS torque to CarState
  selfdrive/car/gm/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#20318 set_exposure_target test
  .github/workflows/selfdrive_tests.yaml
  .gitignore
  selfdrive/camerad/SConscript
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/test/ae_gray_test.cc
  selfdrive/camerad/test/ae_gray_test.h
  selfdrive/camerad/test/tici_zclient/livergb.py
  selfdrive/camerad/test/tici_zclient/liveyuv.py
Labels: new test

#20251 cleanup camera_qcom
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
Labels: refactor

#19812 OMXEncoder: Fix problematic realloc
  selfdrive/loggerd/omx_encoder.cc
Labels: bugfix

#20183 camera_qcom2: add std::mutex exp_lock
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
Labels: refactor

#20214 NEOS 16
  RELEASES.md
  installer/updater/update.json
  launch_env.sh
Labels: enhancement

#20341 Honda CRV 2021 firmware versions
  selfdrive/car/honda/values.py
Labels: fingerprint

#20337 Add missing EPS & engine f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20361 CameraBuf::acquire: remove reference frame_data, use cur_frame_data to keep consistency
  selfdrive/camerad/cameras/camera_common.cc
Labels: refactor

#20378 2021 Camry camera fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20364 Fix warning popup for file not found, batman.
  tools/plotjuggler/demo_layout.xml
Labels: tools

#20411 radar fw for Acura RDX 2021
  selfdrive/car/honda/values.py
Labels: fingerprint

#20427 2021 RAV4 Hybrid Value
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20449 CH-R Hybrid Firmware
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20450 Camry Firmware
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20250 log to file and send through athena
  Pipfile
  Pipfile.lock
  common/dict_helpers.py
  common/logging_extra.py
  release/files_common
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/helpers.py
  selfdrive/athena/tests/test_athenad.py
  selfdrive/logmessaged.py
  selfdrive/manager/build.py
  selfdrive/manager/manager.py
  selfdrive/swaglog.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#20271 VW MQB: UDS fingerprinting support
  selfdrive/car/fw_versions.py
  selfdrive/car/isotp_parallel_query.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Labels: car enhancement

#20466 review training guide button
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.hpp
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.hpp
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.hpp
Labels: enhancement

#20413 more camerad jenkins test
  Jenkinsfile
  selfdrive/camerad/test/test_camerad.py
  selfdrive/camerad/test/test_exposure.py
Labels: CI, new test

#20503 2021 RAV4H values
  selfdrive/car/toyota/values.py
Labels: fingerprint

#20513 Values for 2021 Kia Seltos
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#20475 disable buttons when onroad
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.hpp
  selfdrive/ui/qt/widgets/controls.hpp
  selfdrive/ui/qt/window.cc
Labels: enhancement

#20518 Kia Niro EV 2021 FW versions
  selfdrive/car/hyundai/values.py
Labels: awaiting info, fingerprint

#20520 Remove oneplus fan support
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/thermald.py
Labels: needs testing

#20526 also use e2e model output for DM policy
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#20463 OffroadAlert: update alerts inplace
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/offroad_alerts.hpp
Labels: refactor

#20507 faster driver view
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/ui.cc
Labels: refactor

#20303 Added new util class FirstOrderFilter
  selfdrive/common/util.h
  selfdrive/modeld/modeld.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.hpp
Labels: enhancement

#20506 Params: python-like interface
  common/params_pxd.pxd
  common/params_pyx.pyx
  selfdrive/boardd/boardd.cc
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/common/test_params.c
  selfdrive/hardware/tici/hardware.h
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/loggerd.cc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.hpp
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Labels: refactor

#20473 Refactor ui_draw_circle_image
  selfdrive/ui/paint.cc
Labels: refactor

#20505 KIA Ceed: increase max torque
  selfdrive/car/hyundai/values.py
Labels: car enhancement

#20182 camera_qcom2: move the common file descriptors to MultiCameraState
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
Labels: refactor

#20344 dmoniitoring: new function crop_yuv
  selfdrive/modeld/models/dmonitoring.cc
Labels: refactor

#20380 2021 Pacifica Hybrid values
  selfdrive/car/chrysler/values.py
Labels: fingerprint

#20545 CR-V combination meter fw
  selfdrive/car/honda/values.py
Labels: fingerprint

#20538 Params: ensure path and symlink in constructor
  selfdrive/common/params.cc
Labels: refactor

#20534 Toyota Mirai TSS2.5 Port
  README.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_car_models.py
Labels: car port
