Repository commaai/openpilot, pull requests merged in 2022-08, with the labels that each got.

#25021 Prepare for new supported vehicles webpage
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/values.py
Labels: docs, car

#25328 Add missing AUDI_A3_MK3 transmission & SRS f/w
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, volkswagen

#25322 Subaru: Add missing Forester 2021 engine fw
  selfdrive/car/subaru/values.py
Labels: fingerprint, subaru

#25332 Car docs diff: print detail sentence changes
  selfdrive/debug/print_docs_diff.py
Labels: CI, docs, car

#25330 VW MQB: Add video for Arteon/CC family
  selfdrive/car/volkswagen/values.py
Labels: docs, car

#25119 Cleanup calibration code
  common/transformations/camera.py
  common/transformations/model.py
  selfdrive/locationd/calibrationd.py
  selfdrive/modeld/SConscript
  selfdrive/modeld/modeld.cc
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#25337 Multilang: handle localized plurals
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_en.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/update_translations.py
Labels: multilanguage

#25339 Multilang: add Japanese to UI
  selfdrive/ui/translations/README.md
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_ja.ts
Labels: multilanguage

#25341 Hyundai: fixup package names
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car

#24764 GM: parse low and manumatic gears
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, gm

#25350 vEgoCluster: fix starting from stop
  selfdrive/car/interfaces.py
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: bugfix, car

#25366 Update replay README.md to be more clear that auth.py is in tools/lib
  tools/replay/README.md
Labels: docs

#25348 Toyota: Send ACC_HUD immediately on fcw
  selfdrive/car/toyota/carcontroller.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, toyota

#25342 Multilang: test for vanished translations
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/create_badges.py
  selfdrive/ui/update_translations.py
Labels: multilanguage

#25356 GM: add OBD-II harness to all GMs
  docs/CARS.md
  selfdrive/car/gm/values.py
  selfdrive/car/hyundai/values.py
Labels: cleanup, car, gm

#25376 Ram 1500: add harness
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs_definitions.py
Labels: car, chrysler

#25368 New model: minor fixes
  selfdrive/modeld/models/supercombo.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/thneed/optimizer.cc
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement

#25354 GM: separate EV/ICE gas/brake lookup tables
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
Labels: enhancement, car, gm

#25383 nav: same icon size for active & inactive lanes
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, nav

#25370 plotjuggler: route name in window title
  tools/plotjuggler/juggle.py
Labels: enhancement, tools

#25280 Honda Civic 2022: forward fault bit from camera
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/hondacan.py
Labels: bugfix, car, honda

#25400 compatibility docs: fix Sienna min ACC speed
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: docs, car, toyota

#25372 Ram 2500 + 3500 HD support
  release/files_common
  selfdrive/car/chrysler/interface.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port

#25398 Clean up timers on receipt of a non-0x78 UDS error
  selfdrive/car/isotp_parallel_query.py
Labels: fingerprint, bugfix, car

#25250 Skoda unsupported connector footnote; note J533 alternative isn't available on all cars
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: docs, car

#25346 Lexus: add FW for 2020 Lexus RX Hybrid
  selfdrive/car/toyota/values.py
Labels: fingerprint

#25404 Use steeringAngleDeg for angle control saturation warnings
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, controls, car

#25308 Hyundai: Car Port for Ioniq 5 (HDA2) 2022
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port

#25351 VW PQ: Cleanup and prep for upstream
  docs/CARS.md
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/values.py
  selfdrive/car/volkswagen/volkswagencan.py
Labels: cleanup, car, volkswagen

#25424 Subaru: add missing Impreza 2017 FW versions
  selfdrive/car/subaru/values.py
Labels: fingerprint, subaru

#25423 Mazda: add missing CX5 FW versions
  selfdrive/car/mazda/values.py
Labels: fingerprint, mazda

#25417 Revert "FPv2: fingerprint on all FW combinations"
  selfdrive/car/fw_versions.py
  selfdrive/debug/test_fw_query_on_routes.py
Labels: fingerprint, car

#25436 Lateral planner: Don't prompt/initiate lane changes if lateral control is not active
  selfdrive/controls/lib/desire_helper.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/test/process_replay/process_replay.py
Labels: enhancement, controls

#25287 Multilang: add Portuguese (Brazil) translation
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/README.md
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_pt.ts
Labels: multilanguage

#25444 Car docs: test for missing harnesses
  selfdrive/car/docs_definitions.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_docs.py
Labels: CI / testing, docs, car

#25449 Car docs: add video link for Hyundai Santa Fe 2022
  selfdrive/car/hyundai/values.py
Labels: docs, car, hyundai

#25414 Multilang: language policy
  selfdrive/ui/translations/README.md
Labels: docs, multilanguage

#25447 Honda: cleanup minEnableSpeed
  selfdrive/car/honda/interface.py
Labels: cleanup, car, honda

#25426 Hyundai: Kona torque tune
  selfdrive/car/hyundai/interface.py
Labels: tuning

#25446 Kia: add missing Niro EV 2020 FW versions
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#25461 process replay: initialize controlsState with original route
  common/params.cc
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Labels: enhancement, CI / testing

#25472 added missing FW for 2022 Elantra SEL
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#25313 Subaru: Legacy 2020-22 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port

#25415 Car docs: show more information about cars
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/body/values.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
Labels: enhancement, docs, car

#25445 Common button enable/cancel event creation
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/volkswagen/interface.py
Labels: cleanup, car

#24216 Rename KIA_NIRO_HEV to KIA_NIRO_PHEV
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: car port

#25454 GM pcmCruise: cancel more reliably
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/gmcan.py
Labels: enhancement, gm

#25494 Car docs: add more videos
  selfdrive/car/honda/values.py
  selfdrive/car/mazda/values.py
Labels: docs, car

#25496 GM Bolt EUV: update supported packages
  docs/CARS.md
  selfdrive/car/gm/values.py
Labels: bugfix, docs, car

#25429 GM: Chevy Silverado 2020-21 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: needs testing, car port, gm

#24296 Ford: use CADS radar interface
  release/files_common
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/ford/values.py
Labels: enhancement, car

#25488 README.md: update grammar
  README.md
Labels: docs

#23408 setup: perform all pyenv setup in a single place
  update_requirements.sh
Labels: tools

#25044 v4l_encoder.cc: free buf_out in destructor
  selfdrive/loggerd/encoder/v4l_encoder.cc
Labels: enhancement

#25523 GMC: Sierra 2020-21 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/gm/values.py
Labels: car port, gm

#25499 GM: add Silverado 2021 High Country FP
  selfdrive/car/gm/values.py
Labels: fingerprint, car, gm

#25522 Translations badges: concatenate into one badge
  selfdrive/ui/translations/README.md
  selfdrive/ui/translations/create_badges.py
Labels: cleanup, docs

#25535 test_models: pass carFw into car interface
  selfdrive/car/tests/test_models.py
Labels: CI / testing, bugfix

#25189 Add Thai translations
  selfdrive/ui/translations/main_th.ts
Labels: multilanguage

#25489 Toyota: log stockAeb on non-TSS2 cars
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/carstate.py
Labels: car, toyota

#25549 Chrysler: whitelist FPv2 queries
  selfdrive/car/fw_versions.py
Labels: enhancement, fingerprint, car, chrysler

#25524 Nuclear Grade Model: less memory, more accuracy
  selfdrive/modeld/models/supercombo.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement, research

#25503 Chrysler: add engine-specific FW request for some cars
  selfdrive/car/chrysler/values.py
  selfdrive/car/fw_versions.py
Labels: enhancement, car, chrysler

#25269 Add Arabic Translation
  selfdrive/ui/translations/main_ar.ts
Labels: multilanguage

#25539 Toyota: don't send ACC_HUD on Prius V
  selfdrive/car/toyota/carcontroller.py
Labels: bugfix, car, toyota

#25050 V4LEncoder: set bytesused to buf->len
  selfdrive/loggerd/encoder/v4l_encoder.cc
Labels: bugfix

#25554 Portuguese: grammar and semantic corrections
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_pt-BR.ts
Labels: multilanguage

#25573 params: make python and c++ API match
  common/params_pyx.pyx
  common/tests/test_params.py
  selfdrive/athena/athenad.py
  selfdrive/athena/manage_athenad.py
  selfdrive/boardd/pandad.py
  selfdrive/controls/lib/alertmanager.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/manager/manager.py
  selfdrive/navd/navd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/test_updated.py
  selfdrive/thermald/tests/test_power_monitoring.py
  selfdrive/updated.py
  system/camerad/snapshot/snapshot.py
  tools/sim/bridge.py
Labels: cleanup

#25561 Pigeond
  common/params.cc
  release/files_common
  selfdrive/boardd/SConscript
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/pigeon.cc
  selfdrive/boardd/pigeon.h
  selfdrive/locationd/test/ubloxd.py
  selfdrive/manager/process_config.py
  selfdrive/sensord/pigeond.py
  selfdrive/sensord/test/ttff_test.py
Labels: refactor, comma three

#25589 Ram: don't check FW revision
  selfdrive/car/chrysler/interface.py
Labels: car, chrysler

#25582 Add missing HIGHLANDERH_TSS2 engine f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint, toyota

#25599 Chrysler: add FW tests
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing, car, chrysler

#25588 Grammatically updated the tech docs.
  README.md
Labels: docs

#25122 VIN: query physical addresses
  selfdrive/car/vin.py
Labels: bugfix, car

#25310 Added Polish translations
  selfdrive/ui/translations/main_pl.ts
Labels: multilanguage

#25327 Add Dutch translations (Nederlands)
  selfdrive/ui/translations/main_nl.ts
Labels: multilanguage

#25623 Multilang: improve pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: multilanguage
