Repository commaai/openpilot, pull requests merged in 2022-01, with the labels that each got.

#23332 Hyundai: Car Port for 2022 Santa Fe Plug-in Hybrid
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_routes.py
Labels: car port

#23322 PC: dynamically set PYTHONPATH from real openpilot path
  tools/openpilot_env.sh
Labels: tools

#23348 plotjuggler: fix layout param
  tools/plotjuggler/juggle.py
Labels: tools

#23353 replay: add flag to disable video
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/route.cc
Labels: tools

#23346 LogReader: add arg to sort by time
  tools/lib/logreader.py
  tools/lib/robust_logreader.py
Labels: tools

#23349 CI: use ubuntu_setup.sh
  Dockerfile.openpilot_base
  tools/mac_setup.sh
  tools/openpilot_env.sh
  tools/ubuntu_setup.sh
  update_requirements.sh
Labels: CI

#23255 HKG: blacklist cars with lower steering max
  selfdrive/car/hyundai/values.py
Labels: car enhancement

#23271 Add firmware from 2021 prius in australia
  selfdrive/car/toyota/values.py
Labels: fingerprint

#23253 HKG: Add and Fix FW for 2022 Kia Niro EV
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23337 add supported FW version for Palisade 2022
  selfdrive/debug/hyundai_enable_radar_points.py
Labels: car enhancement

#23374 Toyota: merge Lexus RX params
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
Labels: car enhancement

#23362 CAN receive error is a comm issue
  selfdrive/controls/controlsd.py
Labels: enhancement

#23345 CI: cache LFS objects
  .github/workflows/tools_tests.yaml
Labels: CI

#23355 ui: update lead's z position if modelV2 has been updated after startup.
  selfdrive/ui/ui.cc
Labels: enhancement

#23379 CI: run car unit tests in parallel
  .github/workflows/selfdrive_tests.yaml
  Pipfile
  Pipfile.lock
Labels: CI

#23265 ui: emit offroadTransition in UIState::updateStatus
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: refactor

#23361 tools: configure PYTHONPATH in pipenv
  .gitignore
  tools/openpilot_env.sh
  update_requirements.sh
Labels: tools

#22677 Honda: improved RDX tuning
  selfdrive/car/honda/interface.py
Labels: tuning

#1878 Subaru FPv2 support
  selfdrive/car/fw_versions.py
  selfdrive/car/subaru/values.py
Labels: needs testing, car enhancement

#23356 ui/update_model: do not recalculate the max_idx If there is no lead
  selfdrive/ui/ui.cc
Labels: enhancement

#23336 ui/get_path_length_idx: line_x[i] shoud be less than or equal to path_height
  selfdrive/ui/ui.cc
Labels: enhancement

#23327 Add comment about vEgoStarting to interfaces
  selfdrive/car/interfaces.py
Labels: car enhancement

#23321 replay/logreader: handle abort in load
  selfdrive/ui/replay/logreader.cc
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Labels: tools

#23319 logcatd: fix sd_journal_seek_tail doesn't go to end
  selfdrive/logcatd/logcatd_systemd.cc
Labels: bugfix, comma three

#23287 mui status bar
  selfdrive/ui/mui.cc
Labels: enhancement

#23341 Longitudinal planner: make v_desired a FirstOrderFilter
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/process_replay/ref_commit
Labels: controls

#23326 UI: run set_brightness in QtConcurrent
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: refactor

#23377 Joystick: learn axis min/max
  tools/joystick/joystickd.py
Labels: tools

#23263 plotjuggler: support segment names
  tools/lib/route.py
  tools/plotjuggler/README.md
  tools/plotjuggler/juggle.py
Labels: tools

#23295 LongitudinalMpc: Remove class accel_limit_arr
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Labels: refactor

#23248 replay: Add next engagement / disengagement jump capabilities
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
Labels: tools

#23357 Toyota: gate pedal behind long
  selfdrive/car/toyota/carcontroller.py
Labels: car enhancement

#23262 docs: setup docs for C code
  Pipfile
  Pipfile.lock
  docs/c_docs.rst
  docs/conf.py
  docs/docker/Dockerfile
  docs/index.md
Labels: docs

#23389 Subaru FPv2 values for currently supported models
  selfdrive/car/subaru/values.py
Labels: fingerprint

#23250 Controlsd: fix bug in curv rate limit
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#23108 Move over all tss2 long tunes
  selfdrive/car/toyota/interface.py
Labels: tuning

#23410 longcontrol: check if speeds is empty
  selfdrive/controls/lib/longcontrol.py
Labels: bugfix

#23411 catch gl_buffer->map() returning nullptr
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: bugfix

#23412 athena: uploads, show which items fail on error
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
Labels: enhancement

#23407 Remove Ascent FPv1
  selfdrive/car/subaru/values.py
Labels: fingerprint

#23427 replay: handle abort in getRemoteFileSize
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Labels: tools

#23409 CameraView: sync pbo with glFence instead of calling glFinish
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: enhancement

#23365 mac: fix setup and re-enable CI
  .github/workflows/selfdrive_tests.yaml
  Pipfile
  Pipfile.lock
  SConstruct
  third_party/acados/Darwin/lib/libacados.dylib
  third_party/acados/Darwin/lib/libblasfeo.dylib
  third_party/acados/Darwin/lib/libhpipm.dylib
  third_party/acados/Darwin/lib/libqpOASES_e.3.1.dylib
  tools/mac_setup.sh
  tools/openpilot_env.sh
  tools/ubuntu_setup.sh
  update_requirements.sh
Labels: tools

#23437 controlsd: check all_valid only if not initialized
  selfdrive/controls/controlsd.py
Labels: refactor

#23439 C2 detection
  selfdrive/boardd/boardd.cc
  selfdrive/common/params.cc
  selfdrive/hardware/eon/hardware.py
Labels: enhancement

#23413 Statsd
  release/files_common
  selfdrive/athena/athenad.py
  selfdrive/loggerd/config.py
  selfdrive/manager/process_config.py
  selfdrive/statsd.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/thermald.py
  selfdrive/version.py
Labels: enhancement

#23480 Monkeypatch os.link() for AtomicWriter
  common/file_helpers.py
Labels: bugfix

#23272 add missing toyota fw engine
  selfdrive/car/toyota/values.py
Labels: fingerprint

#23478 thermald: track engaged state in param and kmsg
  selfdrive/common/params.cc
  selfdrive/hardware/tici/hardware.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#23483 Ignore statsd process for comms error
  selfdrive/controls/controlsd.py
Labels: enhancement

#23469 smaller docker image
  Dockerfile.openpilot_base
  tools/sim/Dockerfile.sim
  tools/ubuntu_setup.sh
  tools/webcam/Dockerfile
Labels: CI

#23461 Kia Niro EV use regular Hyundai safety mode
  selfdrive/car/hyundai/values.py
Labels: car enhancement

#23459 LanePlanner: offsets cleanup
  selfdrive/controls/lib/lane_planner.py
Labels: code cleanup

#23485 use ndarray.tolist to convert numpy array to float
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/locationd/calibrationd.py
Labels: refactor

#23494 calibrationd: convert existing calibration to numpy
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/test/test_calibrationd.py
Labels: bugfix

#23438 AlertManager: cleanup add_many
  selfdrive/controls/lib/alertmanager.py
Labels: code cleanup

#23497 cleanup iterate keys in dictionaries
  selfdrive/car/car_helpers.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/statsd.py
Labels: code cleanup

#23498 boardd: remove ublox timestamp logging
  selfdrive/boardd/boardd.cc
  selfdrive/locationd/ublox_msg.h
Labels: code cleanup

#23381 Toyota: Support Avalon 2022 (TSS2.5)
  docs/CARS.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_routes.py
Labels: car port

#23473 calibrationd: Don't repeatedly call get_valid_idxs()
  selfdrive/locationd/calibrationd.py
Labels: refactor

#23449 use roll std from locationd
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/paramsd.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, controls

#23511 pandad: only reset pandas on first run
  selfdrive/pandad.py
Labels: enhancement

#23514 eliminate xx filereader
  tools/lib/filereader.py
  tools/lib/framereader.py
  tools/lib/logreader.py
Labels: tools

#23508 UI: reset interactivity timeout on PC
  selfdrive/ui/qt/window.cc
Labels: enhancement

#23421 controlsd: cleanup parsing android log
  selfdrive/controls/controlsd.py
Labels: enhancement

#23226 swaglog: add test case. fixed the ctx of the first message is empty
  .github/workflows/selfdrive_tests.yaml
  selfdrive/common/SConscript
  selfdrive/common/swaglog.cc
  selfdrive/common/tests/.gitignore
  selfdrive/common/tests/test_swaglog.cc
Labels: bugfix, testing

#23524 thermald: remove modem version log
  selfdrive/thermald/thermald.py
Labels: code cleanup

#23527 thermald: remove brightness setting on ui crash
  selfdrive/thermald/thermald.py
Labels: code cleanup

#23526 thermald: remove panda disconnect logic
  common/params_pyx.pyx
  common/tests/test_params.py
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/thermald/thermald.py
Labels: code cleanup

#23528 thermald: let manager handle shutdown
  selfdrive/thermald/thermald.py
Labels: code cleanup

#23529 boardd: panda_state_thread run closer to 2 Hz
  selfdrive/boardd/boardd.cc
  selfdrive/common/util.h
Labels: enhancement

#23249 sentry fixups
  release/files_common
  selfdrive/crash.py
  selfdrive/manager/manager.py
  selfdrive/manager/process.py
  selfdrive/sentry.py
  selfdrive/tombstoned.py
  selfdrive/version.py
Labels: enhancement

#23525 thermald: move dbus and other slow calls into thread
  selfdrive/thermald/thermald.py
Labels: refactor

#23555 Add missing CAMRY_TSS2 engine & fwdCamera f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint

#23535 ui/networking: async dbus calls
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: enhancement

#23559 clear no entry alerts if engaged
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/alertmanager.py
  selfdrive/controls/lib/tests/test_alertmanager.py
Labels: enhancement

#23562 Add missing COROLLA_TSS2 ESP f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint

#23566 Log MPC solver time
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/test_onroad.py
Labels: enhancement

#23564 boardd: move main() to main.cc for test cases
  release/files_common
  selfdrive/boardd/SConscript
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/boardd.h
  selfdrive/boardd/main.cc
Labels: refactor

#23554 dmonitoringd: make real-time process
  selfdrive/monitoring/dmonitoringd.py
Labels: enhancement

#23539 dmonitoringd: remove duplicate call on update when driver engaged
  selfdrive/monitoring/dmonitoringd.py
Labels: code cleanup

#23574 loggerd: make test_loggerd.py run on PC
  selfdrive/hardware/hw.h
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/raw_logger.cc
  selfdrive/loggerd/tests/test_loggerd.py
Labels: CI, PC

#23584 VW MQB: Update steering angle and actuator delay
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
Labels: tuning

#23586 NEOS 19
  launch_env.sh
  selfdrive/hardware/eon/neos.json
Labels: enhancement

#23556 Ensure controlsd can engage again in process replay
  selfdrive/controls/controlsd.py
  selfdrive/loggerd/raw_logger.cc
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/regen_all.py
  selfdrive/test/process_replay/test_processes.py
Labels: CI

#23594 Save dongleId as value in statsd to limit cardinality
  selfdrive/statsd.py
Labels: enhancement

#23550 ui: Fix leader vertex coordinates
  selfdrive/ui/qt/onroad.cc
Labels: bugfix

#23607 RawLogger: downscale qcamera before encoding
  selfdrive/loggerd/raw_logger.cc
  selfdrive/loggerd/raw_logger.h
Labels: PC

#23590 Reverse Car Port: Merge Pilot_2019 into Pilot
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_routes.py
Labels: code cleanup

#23610 C3: Use Wide Road Camera as Light Sensor for Screen Brightness
  selfdrive/ui/ui.cc
Labels: enhancement

#23563 controlsd: verify unsafe mode consistency
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.h
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
Labels: enhancement

#23476 LateralPlanner: Move lane change logic to another class
  release/files_common
  selfdrive/controls/lib/desire_helper.py
  selfdrive/controls/lib/lateral_planner.py
Labels: refactor

#23618 use codecov action
  .github/workflows/selfdrive_tests.yaml
Labels: CI

#23619 collect C++ code coverage
  .github/workflows/selfdrive_tests.yaml
  .gitignore
  SConstruct
  tools/collect_coverage.sh
  tools/gcov_for_clang.sh
  tools/ubuntu_setup.sh
Labels: CI

#21967 base LatControl class
  release/files_common
  selfdrive/car/ford/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/controls/lib/latcontrol_lqr.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/pid.py
  selfdrive/controls/lib/tests/test_latcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#23632 compare_logs: catch TypeError
  selfdrive/test/process_replay/compare_logs.py
Labels: bugfix

#23243 INDI: replace internal rate limit by actuatorsOutput
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#23622 Panda: check libusb_open status
  selfdrive/boardd/panda.cc
Labels: bugfix

#23621 Prepare for using the ISP
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: enhancement

#23636 Toyota: Prius V 2017 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/test_routes.py
Labels: car port

#23638 clip steer saturation counter to steerLimitTimer
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#23596 Statlog in C
  release/files_common
  selfdrive/common/SConscript
  selfdrive/common/statlog.cc
  selfdrive/common/statlog.h
  selfdrive/common/swaglog.cc
  selfdrive/common/swaglog.h
  selfdrive/common/tests/test_swaglog.cc
  selfdrive/common/util.h
Labels: enhancement

#23608 replay: ncurses GUI
  selfdrive/ui/SConscript
  selfdrive/ui/replay/camera.cc
  selfdrive/ui/replay/consoleui.cc
  selfdrive/ui/replay/consoleui.h
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/logreader.cc
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Labels: enhancement, tools

#23642 CANParser: remove safe default values
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/radar_interface.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/radar_interface.py
  selfdrive/car/honda/radar_interface.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/radar_interface.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/tesla/carstate.py
  selfdrive/car/tesla/radar_interface.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/radar_interface.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup

#23646 CANParser: consistent style for adding signals/checks
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/volkswagen/carstate.py
Labels: cleanup

#23657 Honda: no actuation while in pre-enabled state
  selfdrive/car/honda/carcontroller.py
Labels: car bug fix

#23658 No actuation while in pre-enabled state
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/interface.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#23616 test car models: fix all panda safety mismatches
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_models.py
Labels: car bug fix

#23641 Honda Pilot, Passport, Ridgeline: increase user brake threshold
  selfdrive/car/honda/carstate.py
Labels: car bug fix

#23668 test car models improvements
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
  tools/plotjuggler/layouts/controls_mismatch_debug.xml
Labels: enhancement

#23661 Add COROLLA_TSS2 carFw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#23288 Mazda: alert when LKAS is disabled, a second attempt
  selfdrive/car/mazda/carstate.py
  selfdrive/car/mazda/interface.py
  selfdrive/controls/lib/events.py
Labels: car enhancement
