Repository commaai/openpilot, pull requests merged in 2022-09, with the labels that each got.

#25630 pigeond tests
  Jenkinsfile
  common/gpio.py
  selfdrive/sensord/__init__.py
  selfdrive/sensord/pigeond.py
  selfdrive/sensord/tests/__init__.py
  selfdrive/sensord/tests/test_pigeond.py
  selfdrive/sensord/tests/test_sensord.py
  selfdrive/sensord/tests/ttff_test.py
Labels: CI / testing

#25626 Toyota: Add missing engine FW 2020 Corolla
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#25618 GM: update minimum steer speed
  docs/CARS.md
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, gm

#25646 Faster a_ego filter
  selfdrive/car/interfaces.py
  selfdrive/test/process_replay/ref_commit
Labels: controls

#25650 Portuguese: add e2e long translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: multilanguage

#25652 Kia: update Forte supported package
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car

#25639 VW: Add fingerprint for 2015 Audi A3 MK3 (US)
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#25647 Korean: add missing translations
  selfdrive/ui/translations/main_ko.ts
Labels: multilanguage

#25682 Thai: update voltage translation
  selfdrive/ui/translations/main_th.ts
Labels: multilanguage

#25681 LDW: fix deprecated ll prob reference
  selfdrive/controls/controlsd.py
Labels: bugfix

#25675 translations tests: ignore line numbers
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/main_en.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/update_translations.py
Labels: multilanguage

#25684 More conservative lead policy in e2e long mode
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/controls/tests/test_cruise_speed.py
  selfdrive/controls/tests/test_following_distance.py
  selfdrive/test/longitudinal_maneuvers/maneuver.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
Labels: enhancement, controls

#25620 Toyota: fix permanent LKAS faults
  selfdrive/car/toyota/carcontroller.py
Labels: bugfix, car, toyota

#25669 Multilang: formal pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: multilanguage

#25679 e2e long yellow path
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement, ui

#25689 reduce min lane change speed to 15mph
  selfdrive/controls/lib/desire_helper.py
Labels: enhancement, car

#25688 single longitudinal toggle for e2e and disable radar
  common/params.cc
  docs/CARS.md
  selfdrive/car/body/interface.py
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/controlsd.py
  selfdrive/debug/set_car_params.py
  selfdrive/manager/manager.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/installer/installer.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, car

#25696 Improve Hyundai long control, and conform to longcontrol API boundaries
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, controls, car, hyundai

#25707 Car docs: CAN-FD cars do not yet have op long
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: docs, car

#25711 FPv2: move car-specific configuration into interfaces
  release/files_common
  selfdrive/car/body/values.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/values.py
  selfdrive/car/vin.py
  selfdrive/car/volkswagen/values.py
Labels: enhancement, fingerprint, car

#25161 port OX03C10
  selfdrive/loggerd/encoderd.cc
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
  system/camerad/cameras/real_debayer.cl
  system/camerad/cameras/sensor2_i2c.h
  system/camerad/test/camera_test.h
Labels: enhancement

#25706 cleanup map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.cc
Labels: cleanup, nav

#25692 VW: Increase stock ACC button spam reliability
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/pqcan.py
  selfdrive/car/volkswagen/values.py
Labels: enhancement, car, volkswagen

#25676 Toyota: longitudinal tune condition cleanup
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
Labels: cleanup, car, toyota

#25729 updated: run lfs prune
  selfdrive/updated.py
Labels: enhancement

#25725 Subaru: Add missing 2020 Ascent f/w
  selfdrive/car/subaru/values.py
Labels: fingerprint, subaru

#24525 sensord: use interrupts to improve LSM6DS3 timing accuracy
  common/gpio.cc
  common/gpio.h
  selfdrive/debug/sensor_data_to_hist.py
  selfdrive/sensord/SConscript
  selfdrive/sensord/sensors/bmx055_accel.cc
  selfdrive/sensord/sensors/bmx055_accel.h
  selfdrive/sensord/sensors/bmx055_gyro.cc
  selfdrive/sensord/sensors/bmx055_gyro.h
  selfdrive/sensord/sensors/bmx055_magn.cc
  selfdrive/sensord/sensors/bmx055_magn.h
  selfdrive/sensord/sensors/bmx055_temp.cc
  selfdrive/sensord/sensors/bmx055_temp.h
  selfdrive/sensord/sensors/file_sensor.cc
  selfdrive/sensord/sensors/file_sensor.h
  selfdrive/sensord/sensors/i2c_sensor.cc
  selfdrive/sensord/sensors/i2c_sensor.h
  selfdrive/sensord/sensors/light_sensor.cc
  selfdrive/sensord/sensors/light_sensor.h
  selfdrive/sensord/sensors/lsm6ds3_accel.cc
  selfdrive/sensord/sensors/lsm6ds3_accel.h
  selfdrive/sensord/sensors/lsm6ds3_gyro.cc
  selfdrive/sensord/sensors/lsm6ds3_gyro.h
  selfdrive/sensord/sensors/lsm6ds3_temp.cc
  selfdrive/sensord/sensors/lsm6ds3_temp.h
  selfdrive/sensord/sensors/mmc5603nj_magn.cc
  selfdrive/sensord/sensors/mmc5603nj_magn.h
  selfdrive/sensord/sensors/sensor.h
  selfdrive/sensord/sensors_qcom2.cc
  selfdrive/sensord/tests/test_sensord.py
  system/hardware/tici/hardware.py
  system/hardware/tici/pins.py
Labels: enhancement

#25739 MapPanel: refresh only when visible and destination changes
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Labels: nav, ui

#25763 Update Tesla AP2 fingerprint
  selfdrive/car/tesla/values.py
Labels: car

#25741 ui: multilang date
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement, multilanguage

#25764 VW MQB: Add FW for 2016 Audi S3
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, volkswagen

#25760 Chrysler: query FW versions on bus 0
  selfdrive/car/chrysler/values.py
Labels: enhancement, fingerprint, chrysler

#25702 ui: add hysteresis to cluster ego speed
  selfdrive/car/__init__.py
  selfdrive/car/interfaces.py
Labels: enhancement, car

#25783 Tesla AP2 fingerprint update: forgot one message
  selfdrive/car/tesla/values.py
Labels: car

#25232 Honda: match current speed on dash
  selfdrive/car/honda/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, honda

#25791 updated: remove niceness
  selfdrive/updated.py
Labels: cleanup

#25792 sensord test: stop sensord if interrupts not enabled
  selfdrive/sensord/tests/test_sensord.py
Labels: bugfix

#25724 good updater experience
  common/params.cc
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/widgets/ssh_keys.h
  selfdrive/ui/tests/cycle_offroad_alerts.py
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/updated.py
Labels: enhancement

#25797 Car docs: more consistent package names
  docs/CARS.md
  selfdrive/car/chrysler/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#25799 Multilang: add missing Korean translations
  selfdrive/ui/translations/main_ko.ts
Labels: multilanguage

#25775 Sensord skip init values, first 500ms
  selfdrive/sensord/sensors_qcom2.cc
  selfdrive/sensord/tests/test_sensord.py
Labels: enhancement, bugfix

#25431 GM: Chevy Equinox 2019-22
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: needs testing, car port, gm

#25802 Multilang: add missing Chinese (Traditional) translations
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#25430 GM: Chevy Bolt EV 2022-23 support
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: needs testing, car port, gm

#25807 Multilang: add missing Chinese (Traditional) translations
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#25803 Multilang: add missing Japanese translations
  selfdrive/ui/translations/main_ja.ts
Labels: multilanguage

#25814 Toyota: add missing Corolla Cross Hybrid engine FW
  selfdrive/car/toyota/values.py
Labels: fingerprint, toyota

#25812 Multilang: update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: multilanguage

#25235 Hyundai: match ego speed on dash
  selfdrive/car/hyundai/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, hyundai

#25816 sensord: remove unnecessary brace pair
  selfdrive/sensord/sensors_qcom2.cc
Labels: cleanup

#25736 CameraBuf: remove unused member 'camera_state'
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
Labels: cleanup

#25733 camerad: remove function camera_autoexposure
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
Labels: refactor

#25737 camerad: cleanup CameraBuf::acquire
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
Labels: cleanup

#25024 Toyota: go into standstill if interceptor detected
  selfdrive/car/toyota/carcontroller.py
Labels: enhancement, car, toyota

#25824 Kia: update required packages
  docs/CARS.md
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_docs.py
Labels: docs, car, hyundai

#25826 translations: remove locations
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/main_en.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/update_translations.py
Labels: multilanguage

#25456 Live torque
  RELEASES.md
  common/params.cc
  release/files_common
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/locationd/torqued.py
  selfdrive/manager/process_config.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/regen_all.py
  selfdrive/test/process_replay/test_processes.py
  selfdrive/test/test_onroad.py
  selfdrive/test/update_ci_routes.py
Labels: enhancement, tuning, car

#25847 Hyundai: improve EV6 resume reliability
  selfdrive/car/hyundai/carcontroller.py
Labels: enhancement, car, hyundai

#25854 updater: checkout fails after fetching branch
  selfdrive/updated.py
Labels: bugfix

#25851 docs: update Hyundai packages
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car, hyundai

#25883 updated: allow reusing overlay
  selfdrive/updated.py
Labels: enhancement

#25893 Multilang : kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: multilanguage

#25914 Subaru: Add missing FW for 2021 Legacy
  selfdrive/car/subaru/values.py
Labels: fingerprint, subaru

#25102 mapbox: multilanguage support
  selfdrive/navd/navd.py
Labels: multilanguage

#25927 agnos updater: set timeout on download
  system/hardware/tici/agnos.py
Labels: bugfix

#25930 IsoTpParallelQuery: process all functional responses
  selfdrive/car/isotp_parallel_query.py
Labels: fingerprint, bugfix

#25928 Longitudinal planner: clip a_desired to cruise limits
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: controls
