Repository commaai/openpilot, pull requests merged in 2022-02, with the labels that each got.

#23676 CANParser: remove rest of default values
  selfdrive/car/gm/carstate.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/volkswagen/carstate.py
Labels: cleanup

#23673 Toyota: merge Lexus ESH params into similar vehicles
  selfdrive/car/toyota/interface.py
Labels: cleanup

#23708 Remove dashcam GM cars from cars.md
  docs/CARS.md
Labels: docs

#23704 Mazda CX-5 2022 Car port
  docs/CARS.md
  selfdrive/car/mazda/carstate.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mazda/values.py
  selfdrive/test/test_routes.py
Labels: car port

#23718 Hyundai: add FW for Santa Fe 2022
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23725 give calibrationd rt priority
  selfdrive/locationd/calibrationd.py
Labels: enhancement

#23727 athena: add suport for download bandwith setting
  selfdrive/athena/athenad.py
  selfdrive/hardware/base.py
  selfdrive/hardware/tici/hardware.py
Labels: enhancement

#23724 AGNOS 4
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Labels: enhancement

#23733 ui: configure tethering based on prime type
  selfdrive/common/params.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement

#23726 paramsd: fix VehicleModelInvalid errors
  selfdrive/locationd/models/car_kf.py
  selfdrive/locationd/paramsd.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#23739 fix UI segfault when starting onroad and receiving radarState before modelV2
  selfdrive/ui/ui.cc
Labels: bugfix

#23712 GM: Fix noisy brake pressed
  selfdrive/car/gm/carstate.py
Labels: car bug fix

#23737 VW MQB: EPS configuration tool
  selfdrive/debug/README.md
  selfdrive/debug/vw_mqb_config.py
Labels: tools

#23750 improve logging around uploading
  selfdrive/athena/athenad.py
  selfdrive/loggerd/uploader.py
Labels: enhancement

#23747 controlsd: Fix Toyota steer angle sensor race condition
  selfdrive/car/toyota/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#23753 unsafe mode: update safety declaration comment
  selfdrive/car/interfaces.py
Labels: cleanup

#23757 ui: fix onroad transition with active nav
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: bugfix

#23769 nav: handle route responses with duplicate points
  selfdrive/ui/qt/maps/map_helpers.cc
Labels: bugfix, nav

#23770 nav: set settings stack based on uiState.prime_type
  selfdrive/ui/qt/maps/map_settings.cc
Labels: bugfix, nav

#23774 UI: fix power buttons disable logic
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/ui.h
Labels: bugfix

#23787 Longitudinal control: interpolate longitudinal plan
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: controls

#23756 HKG: Add FW for 2019 Veloster
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23684 bigmodel
  models/big_supercombo.dlc
  models/big_supercombo.onnx
  release/files_common
  selfdrive/controls/lib/lane_planner.py
  selfdrive/modeld/SConscript
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/runners/onnxmodel.h
  selfdrive/modeld/runners/runmodel.h
  selfdrive/modeld/runners/snpemodel.cc
  selfdrive/modeld/runners/snpemodel.h
  selfdrive/modeld/runners/thneedmodel.cc
  selfdrive/modeld/runners/thneedmodel.h
  selfdrive/modeld/thneed/compile.cc
  selfdrive/test/openpilotci.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement

#23805 boardd: connect to all pandas if none specified
  selfdrive/boardd/boardd.cc
Labels: bugfix

#23816 hyundai: custom fw version for sonata eps
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23815 HKG: Kia Sorento FPv2
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23802 Subaru: add FW for Impreza Limited UDM 2017
  selfdrive/car/subaru/values.py
  selfdrive/debug/test_fw_query_on_routes.py
Labels: fingerprint

#23820 Fix unmetered upload over cell (fix #23811)
  selfdrive/athena/athenad.py
Labels: bugfix

#23826 move lock clearing to uploader
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/tests/loggerd_tests_common.py
  selfdrive/loggerd/tests/test_loggerd.cc
  selfdrive/loggerd/tests/test_uploader.py
  selfdrive/loggerd/uploader.py
Labels: enhancement

#23823 Added (Ecu.eps) fingerprint for Hyundai Ioniq EV 2017
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23552 fix mac_setup w/ tools+plotjuggler
  tools/mac_setup.sh
Labels: tools

#23831 replay: use QCoreApplication
  selfdrive/ui/replay/main.cc
Labels: tools

#23833 scons: use correct brew prefix
  SConstruct
Labels: PC

#23836 Updating Tesla vehicle params
  selfdrive/car/tesla/interface.py
Labels: car enhancement

#23841 Subaru: remove Impreza CAN fingerprints
  selfdrive/car/subaru/values.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#23843 Remove unused MPC_COST_LONG class
  selfdrive/controls/lib/drive_helpers.py
Labels: cleanup

#23860 MacOS: ensure 1:1 rendering on HiDPI screens
  selfdrive/ui/installer/installer.cc
  selfdrive/ui/main.cc
  selfdrive/ui/qt/setup/updater.cc
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/text.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/watch3.cc
Labels: PC

#23835 Cython acados and minor
  pyextra/acados_template/acados_ocp_solver_pyx.pyx
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/tests/test_following_distance.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
  selfdrive/test/process_replay/ref_commit
  third_party/acados/build.sh
Labels: refactor

#23808 Toyota: add Leuxs NX fingerprint
  selfdrive/car/toyota/values.py
Labels: fingerprint, awaiting info

#23863 HKG: Add FW for 2022 Kia Niro HEV
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23803 modeld: remove support for small model
  models/big_supercombo.dlc
  models/big_supercombo.onnx
  models/supercombo.dlc
  models/supercombo.onnx
  release/files_common
  selfdrive/modeld/SConscript
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/thneed/compile.cc
Labels: cleanup
