Repository commaai/openpilot, pull requests merged in 2022-04, with the labels that each got.

#24098 locationd: body support
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#24079 UI: body support
  release/files_common
  selfdrive/assets/body/awake.gif
  selfdrive/assets/body/sleep.gif
  selfdrive/ui/SConscript
  selfdrive/ui/qt/body.cc
  selfdrive/ui/qt/body.h
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
Labels: enhancement

#24086 CARS.md: sort cars in lowercase
  Pipfile
  Pipfile.lock
  docs/CARS.md
  selfdrive/car/docs.py
Labels: docs

#24104 Hyundai: always update set speed
  selfdrive/car/hyundai/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug

#24105 Body leash tune
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
  selfdrive/car/body/values.py
  selfdrive/test/process_replay/ref_commit
Labels: car enhancement

#24116 car docs: enforce naming conventions
  docs/CARS.md
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_docs.py
Labels: docs

#24115 calibrationd: support for not cars
  selfdrive/locationd/calibrationd.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#24107 controlsd: add state machine tests
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_state_machine.py
Labels: testing

#24030 controlsState: add override state with grey border
  selfdrive/controls/controlsd.py
  selfdrive/ui/ui.cc
Labels: enhancement

#23977 Add Disengage on Accelerator Toggle
  docs/SAFETY.md
  selfdrive/assets/offroad/icon_disengage_on_accelerator.svg
  selfdrive/car/interfaces.py
  selfdrive/common/params.cc
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/manager/manager.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/offroad/settings.cc
Labels: enhancement

#24093 camera_qcom2: target 40ms acquisition time, use register wizard
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/sensor2_i2c.h
  selfdrive/ui/ui.cc
Labels: enhancement

#24037 PlotJuggler: better support Cabana links
  tools/plotjuggler/juggle.py
Labels: tools

#24131 tests: add overriding to state machine test
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_state_machine.py
Labels: testing

#24118 Subaru: update carinfo supported model years and good steering torque
  docs/CARS.md
  selfdrive/car/subaru/values.py
Labels: docs

#24137 Log modem version and some NV values
  selfdrive/hardware/base.py
  selfdrive/hardware/eon/hardware.py
  selfdrive/hardware/pc/hardware.py
  selfdrive/hardware/tici/hardware.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#24139 athena.upload_handler.upload_start log retry count
  selfdrive/athena/athenad.py
Labels: enhancement

#24141 uploader: azure returns 401 for files already uploaded
  selfdrive/athena/athenad.py
  selfdrive/loggerd/uploader.py
Labels: bugfix

#24058 Latency logging 2
  common/logging_extra.py
  selfdrive/boardd/boardd.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/common/swaglog.cc
  selfdrive/common/swaglog.h
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/modeld/models/driving.cc
  selfdrive/test/process_replay/ref_commit
  tools/latencylogger/README.md
  tools/latencylogger/latency_logger.py
  tools/lib/logreader.py
Labels: tools

#24060 Clean up CarInterface.apply and CarControllers
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/interface.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tesla/teslacan.py
  selfdrive/car/toyota/carcontroller.py
Labels: car cleanup

#24156 Update camera CRC alert text
  selfdrive/controls/lib/events.py
Labels: enhancement

#24155 Honda Bosch: fix undefined signal in can packing
  selfdrive/car/honda/hondacan.py
Labels: car enhancement

#24154 More Accord 2021+ FW
  selfdrive/car/honda/values.py
Labels: fingerprint

#24157 camerad: cleanups, support running only one camera
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/sensor2_i2c.h
Labels: enhancement

#24151 Make PI into a PID
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/pid.py
  selfdrive/thermald/fan_controller.py
Labels: controls

#24159 DM: reduce model error on dsp by another 3.5x
  models/dmonitoring_model.current
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement

#24082 Hyundai: Car Port for Tucson Diesel 2019
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: car port

#24179 nav: better reroute backoff policy
  selfdrive/ui/navd/route_engine.cc
Labels: enhancement, nav

#24170 tici IRQ tuning
  selfdrive/hardware/tici/hardware.py
Labels: enhancement

#24178 controlsd: fix soft disable while overriding
  selfdrive/controls/controlsd.py
Labels: bugfix

#24183 Latencylogger useable in testing closet
  tools/latencylogger/latency_logger.py
Labels: tools

#24185 test_models: support for specifying segment
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
Labels: testing

#24193 car docs test: check car name
  selfdrive/car/docs_definitions.py
  selfdrive/car/tests/test_docs.py
Labels: testing, docs

#24197 regen: use setup_env from process replay
  selfdrive/test/process_replay/regen.py
Labels: testing

#24194 Subaru: add missing Impreza fw versions
  selfdrive/car/subaru/values.py
Labels: fingerprint

#24200 fix regen: specify frame timestamps for modeld
  selfdrive/test/process_replay/regen.py
Labels: bugfix

#24195 Subaru: remove rest of CAN fingerprints
  selfdrive/car/subaru/values.py
Labels: car bug fix

#24204 reduce updated data usage
  selfdrive/updated.py
Labels: enhancement

#24166 Latencylogger optimization
  tools/latencylogger/latency_logger.py
Labels: tools

#24207 regen: check if regenerated route is ever enabled
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Labels: testing

#23331 Ford: Support for LCA vehicles
  release/files_common
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
Labels: car port

#24210 uiview: show model
  selfdrive/debug/uiview.py
Labels: tools

#24169 UI: new laneless design
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement

#24246 ui: adjust laneless design
  selfdrive/ui/qt/onroad.cc
Labels: enhancement

#24247 VW: Add FW for 2019 Volkswagen e-Golf MK7
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#24089 Hyundai: Car Port for Ioniq Plug-in Hybrid 2019
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: car port

#24245 controlsd: handle controls mismatch race
  selfdrive/controls/lib/events.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#24228 improve tici thermal control
  selfdrive/thermald/fan_controller.py
  tools/plotjuggler/layouts/thermal_debug.xml
Labels: enhancement

#24251 docs: add video link for 2019 Subaru Crosstrek
  selfdrive/car/subaru/values.py
Labels: docs

#23824 test_onroad: fix min -> max
  selfdrive/test/test_onroad.py
Labels: CI, bugfix

#24261 Add missing AVALONH_TSS2 fwdCamera f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24164 Disambiguate frame id in latencylogger
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/common/swaglog.cc
  selfdrive/common/swaglog.h
  tools/latencylogger/README.md
  tools/latencylogger/latency_logger.py
Labels: tools

#24260 Torque control with roll
  release/files_common
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
  selfdrive/car/toyota/values.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/controls/lib/latcontrol_lqr.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/tests/test_latcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: controls

#24262 Honda: do same standstill check as panda
  selfdrive/car/honda/carstate.py
  selfdrive/car/tests/test_models.py
  selfdrive/test/process_replay/ref_commit
Labels: car bug fix

#23989 Add wide camera to Carla
  tools/sim/bridge.py
Labels: simulation

#24265 Latcontrol torque: max_torque rename
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
Labels: tuning

#24273 Add missing AVALON_TSS2 firmwares
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24276 Latencylogger list logreader
  tools/latencylogger/latency_logger.py
Labels: tools

#24275 test_models: add Honda segment for standstill controls mismatch
  selfdrive/car/tests/routes.py
Labels: CI

#24257 loggerd: Separate writer from encoder
  release/files_common
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
  selfdrive/loggerd/raw_logger.cc
  selfdrive/loggerd/raw_logger.h
  selfdrive/loggerd/video_writer.cc
  selfdrive/loggerd/video_writer.h
  tools/camerastream/compressed_vipc.py
Labels: refactor

#24285 ui: Fix path artefact when going over hill
  selfdrive/ui/ui.cc
Labels: bugfix

#24286 fix scons --extras on device: move ui.cc into widgets_src
  selfdrive/ui/SConscript
Labels: bugfix

#24270 manager: cleanup ensure_running
  selfdrive/manager/process.py
  selfdrive/manager/process_config.py
Labels: refactor

#24282 mypy: enable --warn-unreachable
  .pre-commit-config.yaml
  selfdrive/athena/registration.py
  selfdrive/debug/internal/measure_modeld_packet_drop.py
  selfdrive/debug/live_cpu_and_temp.py
  selfdrive/hardware/base.py
  selfdrive/manager/build.py
  selfdrive/manager/process.py
  tools/replay/can_replay.py
  tools/sim/bridge.py
Labels: enhancement

#24283 CI: add job for complete build
  .github/workflows/selfdrive_tests.yaml
Labels: CI

#24289 Add missing Highlander Hybrid TSS2 fw
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24274 Simulator Tests in CI
  tools/sim/__init__.py
  tools/sim/bridge.py
  tools/sim/launch_openpilot.sh
  tools/sim/start_carla.sh
  tools/sim/test/__init__.py
  tools/sim/test/test_carla_integration.py
Labels: simulation

#23949 Do not run model when skipping frames
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/test/test_modeld.py
Labels: enhancement

#24088 tici downclock
  selfdrive/hardware/tici/hardware.py
  selfdrive/hardware/tici/power_monitor.py
  selfdrive/hardware/tici/test_power_draw.py
  selfdrive/test/test_onroad.py
Labels: enhancement

#24269 updated: only run offroad & disable automatic git garbage collection
  selfdrive/common/params.cc
  selfdrive/manager/manager.py
  selfdrive/manager/process_config.py
  selfdrive/updated.py
Labels: enhancement

#24126 more verbose debug alerts
  selfdrive/controls/lib/events.py
  selfdrive/debug/cycle_alerts.py
Labels: enhancement

#24303 Add 2022 Rav4 XSE Australia fingerprint parameters
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24090 NEOS 20
  RELEASES.md
  launch_env.sh
  selfdrive/common/version.h
  selfdrive/hardware/eon/neos.json
Labels: enhancement

#24224 Subaru: remove A/C fw version
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint

#24331 regen: send vipc_client_extra frames
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Labels: CI, bugfix

#24330 onnxruntime: initialize CUDA provider before predictions
  selfdrive/modeld/runners/onnx_runner.py
  selfdrive/test/process_replay/regen.py
Labels: CI, bugfix

#24225 Subaru: Add missing FW versions for Forester 2019 and Impreza 2020
  selfdrive/car/subaru/values.py
Labels: fingerprint

#24255 Add missing FW, 2021 Honda Passport Elite
  selfdrive/car/honda/values.py
Labels: fingerprint

#24294 LatControlTorque: fix deadzone and no steer saturated warning
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#24304 Add --warn-redundant-casts to mypy checks
  .pre-commit-config.yaml
  selfdrive/hardware/tici/agnos.py
Labels: enhancement

#24324 Toyota: fill stockFcw signal
  selfdrive/car/toyota/carstate.py
Labels: car enhancement

#24340 Clean up controllers
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longcontrol.py
Labels: cleanup

#24352 ui: only open map pane when route is not empty
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix

#24354 Simulator: Fix CI and set low_quality default
  tools/sim/README.md
  tools/sim/bridge.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/start_carla.sh
  tools/sim/test/test_carla_integration.py
Labels: simulation

#24371 camerad: less ioctls try 2
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/test/test_onroad.py
Labels: enhancement

#24369 ui: combine OnroadHud into NvgWindow
  selfdrive/test/test_onroad.py
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: enhancement

#24368 power draw test improvements
  selfdrive/hardware/tici/test_power_draw.py
Labels: CI

#24343 Latency logger bad data robustness
  tools/latencylogger/latency_logger.py
  tools/lib/logreader.py
Labels: bugfix, tools

#24374 Toyota: Add FW versions for RAV4 Hybrid 2022
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24377 Subaru: Add fwdCamera FW for 2018 Crosstrek
  selfdrive/car/subaru/values.py
Labels: fingerprint
