Repository commaai/openpilot, pull requests merged in 2022-05, with the labels that each got.

#24355 UI: remove unused lock and fence
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: cleanup

#24391 camerad: cleanup DM exposure and move into camera_qcom2.cc
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: cleanup

#24357 Latcontrol torque: update tuning
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, tuning, car

#24387 enable numpy mypy typing
  .pre-commit-config.yaml
  common/transformations/orientation.py
  common/window.py
  mypy.ini
Labels: CI

#24392 delay bz2 compression from logging to uploading
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/test_encoder.py
  selfdrive/loggerd/tests/test_logger.cc
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/loggerd/tests/test_uploader.py
  selfdrive/loggerd/uploader.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/test_onroad.py
Labels: enhancement

#24337 Chrysler: clean up CarController
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/chrysler/chryslercan.py
  selfdrive/car/chrysler/interface.py
Labels: cleanup, car

#24418 cameraview.cc: set alignment to 1 when copying texture
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: bugfix

#24419 ui: fix HUD drawing order
  selfdrive/ui/qt/onroad.cc
Labels: bugfix

#24424 warning instead assert
  tools/latencylogger/latency_logger.py
Labels: tools

#24437 debayering: fix uninitialized local memory at both local workgroup edge and image edge
  selfdrive/camerad/cameras/real_debayer.cl
Labels: bugfix

#24420 test for comparing debayer results to ref commit
  selfdrive/test/process_replay/debayer_replay_ref_commit
  selfdrive/test/process_replay/test_debayer.py
Labels: CI

#24430 Toyota: Add missing FW versions for RAV4 Hybrid 2022
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24431 Toyota: add missing FW versions for 2022 Lexus ES 300h
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24438 Toyota: add missing PRIUS_TSS2 engine FW
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24353 camerad: get embedded statistics and data by embedding in pixel data
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_replay.cc
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/camerad/cameras/sensor2_i2c.h
Labels: enhancement

#24403 uploader: size limit for automatic uploading of qlogs/qcams
  selfdrive/loggerd/uploader.py
Labels: enhancement

#24404 Test gnssUblox message processing
  selfdrive/locationd/test/test_ublox_processing.py
Labels: CI

#24449 test_debayer.py some PC fixes
  selfdrive/test/process_replay/.gitignore
  selfdrive/test/process_replay/test_debayer.py
Labels: PC

#24441 debayering: fill outer image borders
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/test/process_replay/debayer_replay_ref_commit
Labels: enhancement

#24410 Toyota: fill steerFaultPermanent
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
Labels: enhancement, car

#24445 Chrysler: reduce ACC faults when disengaging on gas
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/chryslercan.py
Labels: bugfix, car

#24462 uploader: ensure requests.put gets file like object
  selfdrive/loggerd/uploader.py
Labels: bugfix

#24268 Camry TSS2: use torque controller
  selfdrive/car/toyota/interface.py
Labels: tuning

#24432 URLFile: raise exception if remote URL doesn't exist when using cache
  tools/lib/url_file.py
Labels: tools

#24481 cars: move common car info to subclass
  selfdrive/car/chrysler/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/values.py
Labels: docs

#24414 process replay: automatically push refs on fail
  .github/workflows/selfdrive_tests.yaml
  selfdrive/test/openpilotci.py
  selfdrive/test/process_replay/README.md
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/test_processes.py
  selfdrive/test/process_replay/update_refs.py
Labels: enhancement, CI

#24498 car info: function that sorts all car info into tiers
  scripts/count_cars.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/tests/test_docs.py
Labels: refactor

#24085 CarInfo: Add harness information
  docs/CARS.md
  selfdrive/car/body/values.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: docs

#24501 encoderd: update deprecated ffmpeg functions
  selfdrive/loggerd/encoder/ffmpeg_encoder.cc
  selfdrive/loggerd/encoder/video_writer.cc
  selfdrive/loggerd/encoder/video_writer.h
Labels: enhancement

#24502 Pipfile: remove carla for MacOS installs
  Pipfile
  Pipfile.lock
Labels: bugfix

#24415 Add gamepad support for body
  tools/joystick/web.py
Labels: enhancement, body

#24372 Mypy fixes for --check-untyped-defs
  common/realtime.py
  selfdrive/athena/athenad.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/controls/controlsd.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/loggerd/uploader.py
  selfdrive/loggerd/xattr_cache.py
  selfdrive/modeld/thneed/lib.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/test_processes.py
  tools/lib/auth.py
  tools/replay/unlog_ci_segment.py
  tools/sim/bridge.py
Labels: CI

#23583 Improved steering accuracy measurement script
  selfdrive/debug/internal/measure_steering_accuracy.py
  tools/tuning/measure_steering_accuracy.py
Labels: tools

#23544 tools/replay: replace deprecated usleep(0) with std::this_thread::yield
  selfdrive/ui/replay/camera.cc
  selfdrive/ui/replay/camera.h
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/util.cc
Labels: tools

#24464 Hyundai: fix wheelbase and steeringratio for Kona, Kona HEV , Kona EV
  selfdrive/car/hyundai/interface.py
Labels: tuning

#24506 ui: fix cameraview widget on MacOS after YUV changes
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: bugfix

#24507 debayering: code cleanup
  selfdrive/camerad/cameras/real_debayer.cl
Labels: cleanup

#24511 boardd: set extra pandas to silent safety mode
  selfdrive/boardd/boardd.cc
Labels: bugfix

#24513 process replay CI: print diff after test
  .github/workflows/selfdrive_tests.yaml
Labels: CI, bugfix

#24510 Add desired curvature to controlsState
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#24514 process replay: don't print diff when only uploading
  selfdrive/test/process_replay/test_processes.py
Labels: CI

#24509 process replay: save logs to folder
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Labels: refactor, CI

#24213 Joint Model
  models/supercombo.dlc
  models/supercombo.onnx
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement

#24515 Fix gcc-arm-embedded for m1 mac
  tools/mac_setup.sh
Labels: PC

#24524 Add sensord test to Jenkins
  Jenkinsfile
  selfdrive/sensord/test/__init__.py
  selfdrive/sensord/test/test_sensord.py
Labels: CI

#24452 camerad: combine debayering and rgb_to_yuv opencl kernels
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/hardware/tici/test_power_draw.py
  selfdrive/test/process_replay/test_debayer.py
  selfdrive/test/test_onroad.py
Labels: enhancement

#24492 encoderd: enable
  release/files_common
  selfdrive/hardware/tici/test_power_draw.py
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/encoder/encoder.cc
  selfdrive/loggerd/encoder/encoder.h
  selfdrive/loggerd/encoder/ffmpeg_encoder.h
  selfdrive/loggerd/encoder/v4l_encoder.cc
  selfdrive/loggerd/encoder/v4l_encoder.h
  selfdrive/loggerd/encoderd.cc
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/main.cc
  selfdrive/loggerd/remote_encoder.cc
  selfdrive/loggerd/remote_encoder.h
  selfdrive/loggerd/tests/test_encoder.py
  selfdrive/loggerd/tests/test_loggerd.cc
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/loggerd/video_writer.cc
  selfdrive/loggerd/video_writer.h
  selfdrive/manager/process_config.py
  selfdrive/test/test_onroad.py
Labels: enhancement

#24517 Fix process replay regen
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Labels: CI

#24448 common: replace custom xattr implementation with os module's
  common/tests/test_xattr.py
  release/files_common
  selfdrive/loggerd/tests/test_deleter.py
  selfdrive/loggerd/tests/test_uploader.py
  selfdrive/loggerd/tools/mark_all_uploaded.py
  selfdrive/loggerd/tools/mark_unuploaded.py
  selfdrive/loggerd/xattr_cache.py
Labels: cleanup

#24300 more comma two cleanup
  release/files_common
  selfdrive/camerad/cameras/sensor_i2c.h
  selfdrive/hardware/base.py
  selfdrive/hardware/pc/hardware.py
  selfdrive/hardware/tici/hardware.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/tests/test_power_monitoring.py
  selfdrive/thermald/thermald.py
Labels: cleanup

#24547 camerad: sanity check register data before parsing
  selfdrive/camerad/cameras/camera_qcom2.cc
Labels: bugfix

#24546 debayering: fix divide for reading 12 bit values
  selfdrive/camerad/cameras/real_debayer.cl
Labels: bugfix

#24551 Add unittest for alert callbacks
  selfdrive/controls/tests/test_alerts.py
  selfdrive/test/process_replay/process_replay.py
Labels: CI

#24549 Round model lagging frame drop percentage
  selfdrive/controls/lib/events.py
Labels: enhancement

#24544 Round system overheated temperature
  selfdrive/controls/lib/events.py
Labels: enhancement

#24495 params: support OPENPILOT_PREFIX
  selfdrive/common/params.cc
  selfdrive/common/params.h
Labels: enhancement

#24521 Joint model
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement

#24548 Include master commit and build date in master-ci commit
  release/build_devel.sh
Labels: CI

#24434 improved alert verbosity
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/controls/tests/test_alerts.py
  selfdrive/debug/cycle_alerts.py
Labels: enhancement

#24557 make debayer faster
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/hardware/tici/test_power_draw.py
  selfdrive/test/process_replay/test_debayer.py
Labels: enhancement

#24473 Tools: allow using plotjuggler on local data
  tools/lib/route.py
  tools/lib/tests/test_route_library.py
  tools/plotjuggler/juggle.py
Labels: tools

#24565 Revert torque control
  release/files_common
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_lqr.py
  selfdrive/controls/lib/tests/test_latcontrol.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#24367 Support RAV4 2022 with stock longitudinal
  RELEASES.md
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port

#24534 process replay: support running in parallel
  selfdrive/test/process_replay/compare_logs.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/test_processes.py
Labels: enhancement

#24100 controls: pressing set while gas pressed resets to vEgo
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
Labels: enhancement, car

#24595 statsd: fix duplicate filename
  selfdrive/statsd.py
Labels: bugfix

#24606 Latcontrol torque: integrator need not be reset
  selfdrive/controls/lib/latcontrol_torque.py
Labels: controls

#24543 Genesis: add FW versions for G70 2020 Korean edition
  selfdrive/car/hyundai/values.py
Labels: fingerprint, awaiting info

#24613 fixed CarParams write in replay
  selfdrive/ui/replay/replay.cc
Labels: PC, bugfix

#24603 honda bosch: typo affecting longitudinal rate limits
  selfdrive/car/honda/carcontroller.py
Labels: bugfix, car

#24620 Small fixes for macOS build
  SConstruct
  common/SConscript
  selfdrive/loggerd/video_writer.cc
  selfdrive/modeld/runners/snpemodel.h
Labels: PC

#24608 latency logger: update demo route
  tools/latencylogger/latency_logger.py
Labels: tools

#24586 Latency logger: binary search for frame ID
  tools/latencylogger/latency_logger.py
Labels: tools

#24607 CarInfo: Add test for missing platform info
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/ford/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/tests/test_docs.py
Labels: docs

#24605 New model: better laneless
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/modeld/models/supercombo.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement

#24587 camerad: pixclk 88mhz but frame time the same
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/sensor2_i2c.h
  selfdrive/hardware/tici/test_power_draw.py
Labels: enhancement

#24622 Doc: Add video link for 2022 Toyota RAV4 Hybrid
  selfdrive/car/toyota/values.py
Labels: docs

#24646 CI: run process replay in parallel
  .github/workflows/selfdrive_tests.yaml
Labels: CI

#24648 process replay: update regen body route
  selfdrive/test/process_replay/test_processes.py
Labels: CI, cleanup

#24335 UI: draw camera on same frame from modelV2
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: enhancement

#24656 process replay: fix updating refs after regen
  selfdrive/test/process_replay/test_processes.py
Labels: CI, bugfix

#24655 test_fw_query_on_routes: warn on no CarParams
  selfdrive/debug/test_fw_query_on_routes.py
Labels: tools

#24664 Add missing HIGHERLANDERH_TSS2 fwdRadar and fwdCamera
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24665 add new fwdRadar for Kia NIRO EV 2022
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#24291 TSS-P Corolla: use torque lateral control
  selfdrive/car/toyota/interface.py
Labels: tuning

#24632 UI: draw map with uiUpdate signal
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/ui.cc
Labels: enhancement

#24667 Hyundai longitudinal: display lead on HUD
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
Labels: enhancement, car

#24677 Toyota: add missing engine FW version for 2022 RAV4 Hybrid
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24676 Remove encoderd service from PC. Fixes Sim
  selfdrive/manager/process_config.py
Labels: bugfix

#24679 Simulator: Speed up process by removing second camera
  common/params.cc
  selfdrive/controls/plannerd.py
  selfdrive/locationd/calibrationd.py
  selfdrive/modeld/modeld.cc
  selfdrive/test/process_replay/process_replay.py
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  tools/sim/bridge.py
Labels: simulation

#24682 Toyota: add missing engine FW version for 2022 Corolla
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24684 Add several missing HIGHLANDER_TSS2 firmwares
  selfdrive/car/toyota/values.py
Labels: fingerprint
