Repository commaai/openpilot, pull requests merged in 2022-03, with the labels that each got.

#23862 Hyundai: Add FW for 2022 Ioniq Plug-in Hybrid
  selfdrive/car/hyundai/values.py
Labels: car port

#23895 locationd: fix writing LastGPSPosition interval
  selfdrive/locationd/locationd.cc
Labels: bugfix

#23886 Fan controller cleanup + testing
  release/files_common
  selfdrive/thermald/fan_controller.py
  selfdrive/thermald/tests/test_fan_controller.py
  selfdrive/thermald/thermald.py
Labels: refactor, testing

#23893 Correctly classify 2020 Lexus NX 300 fw fingerprints
  selfdrive/car/toyota/values.py
Labels: car bug fix

#23333 Longcontrol: fix control state oscillation
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/longcontrol.py
Labels: controls

#23915 lower model FCW + stock longitudinal threshold to -1.25m/s^2
  selfdrive/controls/controlsd.py
Labels: enhancement

#23889 HKG: Add FW for 2022 Hyundai Santa Fe
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#23919 Add --dbc argument to plotjuggler
  tools/plotjuggler/README.md
  tools/plotjuggler/juggle.py
Labels: enhancement, tools

#23946 camera_qcom2 refactor
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
Labels: refactor

#23956 cars: remove duplicated cancel logic
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/volkswagen/carcontroller.py
Labels: car cleanup

#23850 Move gas/brake pedal event logic to controlsd
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#23978 don't read params in car interfaces
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Labels: car cleanup

#23714 Toyota: clean up CarInterface apply function
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
Labels: cleanup

#23762 Docs: auto-generate supported cars documentation
  docs/CARS.md
  docs/assets/icon-star-empty.svg
  docs/assets/icon-star-full.svg
  docs/assets/icon-star-half.svg
  release/files_common
  selfdrive/car/CARS_template.md
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/values.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: docs

#23745 Hyundai longitudinal: driver override state when gas is pressed
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
Labels: needs testing, car enhancement

#23966 camerad: imx390 support
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/camerad/cameras/sensor2_i2c.h
Labels: enhancement

#23957 cars: cleanup CS usage
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/volkswagen/carcontroller.py
Labels: car cleanup

#23876 Honda: clean up CarInterface.apply and CarController
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/interface.py
Labels: car cleanup

#24000 Hyundai: clean up CarInterface apply function
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
Labels: car cleanup

#23892 Toyota: Support Avalon Hybrid 2022 (TSS2.5)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port

#24003 Support Toyota Alphard Hybrid 2021
  RELEASES.md
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port

#23998 Mazda: no steer unavailable alert for cars with full range steering
  selfdrive/car/mazda/carstate.py
Labels: car bug fix

#23791 camerad: set QCOM CL perf hint
  selfdrive/camerad/cameras/camera_common.cc
Labels: enhancement

#24013 Update Tesla AP2 fingerprint after OTA update
  selfdrive/car/tesla/values.py
Labels: car bug fix

#24014 Tesla: fix temp fault when engaging after steer override
  selfdrive/car/tesla/carstate.py
Labels: car bug fix

#24020 docs: support for automatically generating website vehicles page
  docs/CARS.md
  scripts/count_cars.py
  selfdrive/car/CARS_template.md
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
Labels: docs

#24035 test onroad: CPU usage test improvements
  selfdrive/test/test_onroad.py
Labels: testing

#24027 sensord: add support for Quectel raw gps
  selfdrive/manager/process_config.py
  selfdrive/sensord/rawgps/compare.py
  selfdrive/sensord/rawgps/modemdiag.py
  selfdrive/sensord/rawgps/rawgpsd.py
  selfdrive/sensord/rawgps/structs.py
Labels: enhancement

#24034 CARLA: fix setting camera EOF
  tools/sim/bridge.py
Labels: simulation

#24038 ui: repaint toggles after offroadTransition
  selfdrive/ui/qt/widgets/controls.h
Labels: bugfix

#23557 Add sample metric type to statsd
  selfdrive/statsd.py
Labels: enhancement

#24056 docs: link to footnotes without header
  docs/CARS.md
  selfdrive/car/CARS_template.md
Labels: docs

#24055 Power usage statistic
  selfdrive/hardware/eon/hardware.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/tests/test_power_monitoring.py
  selfdrive/thermald/thermald.py
Labels: enhancement

#24061 Toyota: add FW for 2019 Toyota Corolla
  selfdrive/car/toyota/values.py
Labels: fingerprint

#23988 Sonata Hybrid 2020: add fw versions
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#24080 FW query: specify bus in request
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
Labels: enhancement

#24076 Contact Support -> Hardware Malfunction
  selfdrive/controls/lib/events.py
Labels: enhancement

#24092 sensor2_i2c.h: remove unused B context
  selfdrive/camerad/cameras/sensor2_i2c.h
Labels: cleanup
