Repository commaai/openpilot, pull requests merged in 2022-11, with the labels that each got.

#26306 UI: draw onroad objects on right frame
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: bugfix, ui

#26305 test_models: fix Nidec routes that start enabled
  selfdrive/car/tests/test_models.py
Labels: CI / testing, bugfix

#26323 GM: add longitudinal deadzone
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, controls, car, gm

#25631 GM camera ACC: vision-only ACC behind toggle
  docs/CARS.md
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/gmcan.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, gm

#26303 CI: add LSM-C sensor device
  Jenkinsfile
Labels: CI / testing

#26335 car docs: docs-only footnote flag
  selfdrive/car/docs_definitions.py
Labels: docs, car

#26337 car docs: speedup test
  selfdrive/car/tests/test_docs.py
Labels: CI / testing, docs, car

#26278 Kona EV 2022: add missing FW versions
  selfdrive/car/hyundai/values.py
Labels: fingerprint, hyundai

#26316 updated: reset working tree in each submodule
  selfdrive/updated.py
Labels: bugfix

#26354 ui: fix disappearing path in wide cam mode
  selfdrive/ui/ui.cc
Labels: bugfix, ui

#26352 locationd: add gps sanity check for quectel gps
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#26351 ui: minor e2e path tweaks
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement, ui

#26331 ui: toggle confirmation and dialog redesign
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, ui

#26145 Hyundai: Add FW for 2023 Ioniq 5 HDA2
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26356 boardd: prep for SPI + factor out USB
  release/files_common
  selfdrive/boardd/SConscript
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
  selfdrive/boardd/panda_comms.cc
  selfdrive/boardd/panda_comms.h
Labels: refactor

#26368 Hyundai CAN-FD: remove check on unused msg
  selfdrive/car/hyundai/carstate.py
Labels: cleanup, car, hyundai

#26367 Hyundai CAN-FD: support ICE alt gears
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#26365 ui: set dialog confirm button text
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, ui

#25855 sensord: lsm self test
  selfdrive/sensord/sensors/lsm6ds3_accel.cc
  selfdrive/sensord/sensors/lsm6ds3_accel.h
  selfdrive/sensord/sensors/lsm6ds3_gyro.cc
  selfdrive/sensord/sensors/lsm6ds3_gyro.h
  selfdrive/sensord/tests/test_sensord.py
Labels: enhancement

#26375 ui: fade to default path color when inactive
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
Labels: enhancement, ui

#26366 FCW: less false positives
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Labels: enhancement, controls

#26398 Kia EV6: Add EU fwdCamera firmware
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26378 onroad ui: fix opacity affecting other drawn icons
  selfdrive/ui/qt/onroad.cc
Labels: bugfix, ui

#26376 Hyundai: update Ioniq 5 HDA I supported model years
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26338 [torqued] Fix high speed oscillations
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, bugfix, controls

#26403 [controlsd] Revert Rav4 TSS2 to PID control
  selfdrive/car/toyota/interface.py
Labels: tuning, bugfix, car, toyota

#26386 Toyota: add hysteresis to cluster speed
  selfdrive/car/toyota/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, toyota

#26374 boardd: SPI support
  common/util.cc
  common/util.h
  release/files_common
  selfdrive/boardd/SConscript
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda_comms.h
  selfdrive/boardd/spi.cc
  system/hardware/tici/hardware.py
Labels: enhancement

#26404 CI: update qcom tests
  tools/gpstest/test_gps_qcom.py
Labels: CI / testing

#26417 VW PQ: Fix exception with openpilot longitudinal
  selfdrive/car/volkswagen/carstate.py
Labels: bugfix, car, volkswagen

#26421 [controlsd] Toyota Rav4 TSS2 bugfix
  selfdrive/car/toyota/interface.py
Labels: bugfix

#26422 interrfaces: more complete PID tests
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing

#26413 ui: increase toggle confirmation font size
  selfdrive/ui/qt/widgets/controls.h
Labels: enhancement, ui

#26424 Multilang: kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: multilanguage

#26408 Toyota: factor on cluster speed to match dash
  selfdrive/car/toyota/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, toyota

#26435 Multilang: clean up translation
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: cleanup, multilanguage

#26406 ui: static color non-e2e path
  selfdrive/ui/qt/onroad.cc
Labels: ui

#26438 Toggle titles: proper capitalization
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_nl.ts
  selfdrive/ui/translations/main_pl.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#26434 min lane change speed 20mph
  selfdrive/controls/lib/desire_helper.py
Labels: controls

#26409 Cabana: improve the BinaryView & fix known issues
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/signaledit.cc
Labels: bugfix, tools

#26433 Multilang: add missing Chinese (Traditional) translations
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#26448 Add force decel to e2e long
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Labels: enhancement, controls

#26468 planner: fix undeclared variable
  selfdrive/controls/lib/longitudinal_planner.py
Labels: bugfix, controls

#26470 longitudinal tests: add disabled maneuver
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/longitudinal_maneuvers/maneuver.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
Labels: CI / testing, controls

#26472 controlsd: add cruise speed helper class
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
Labels: refactor, cleanup, controls

#25470 controlsd: resume does not increment speed while cruise standstill
  selfdrive/car/gm/interface.py
  selfdrive/controls/lib/drive_helpers.py
Labels: bugfix, car, gm

#26478 controlsd: add tests around cruise speed
  selfdrive/controls/tests/test_cruise_speed.py
Labels: CI / testing, controls

#26491 cruise speed tests: match controlsd initialization of cruise speed
  selfdrive/controls/tests/test_cruise_speed.py
Labels: CI / testing, bugfix

#26490 controlsd: no speed increment if enabled on button rising edge
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/tests/test_cruise_speed.py
Labels: bugfix, controls

#26397 HKG: Car Port for 2022 Kia Stinger
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port, hyundai

#26505 CI: use github.head_ref to group PR action runs
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#26510 offroad ui: support storing confirmation of a toggle
  common/params.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: enhancement, ui

#26516 ui: function for setting toggle confirmation settings
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: cleanup, ui

#26514 ui: toggle control supports active icons
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: enhancement, ui

#26517 ui: handle two dynamic toggle icon cases
  selfdrive/ui/qt/widgets/controls.h
Labels: bugfix, ui

#26498 ui: offroad experimental mode status
  selfdrive/assets/fonts/JetBrainsMono-Medium.ttf
  selfdrive/assets/img_couch.svg
  selfdrive/assets/img_experimental.svg
  selfdrive/assets/img_experimental_grey.svg
  selfdrive/assets/img_experimental_white.svg
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/offroad/experimental_mode.cc
  selfdrive/ui/qt/offroad/experimental_mode.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/sidebar.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, ui

#26523 offroad ui: update chill mode icon
  selfdrive/assets/img_couch.svg
Labels: enhancement, ui

#26456 Albert Einstein Model
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement, research

#26537 Update CHT translations
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#26556 Multilang: add missing Japanese translations
  selfdrive/ui/translations/main_ja.ts
Labels: multilanguage

#26546 long_mpc: fix e2e source condition
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Labels: bugfix, controls

#26551 Lexus UX Hybrid 2020 Fingerprint
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#26540 Add FPv2: 2022 Subaru Outback Wilderness
  selfdrive/car/subaru/values.py
Labels: enhancement, car, subaru

#26544 enable experimental longitudinal control on devel
  selfdrive/controls/controlsd.py
  system/version.py
Labels: bugfix

#26486 controlsd: add test around cruise speed gas pressed behavior
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/tests/test_cruise_speed.py
Labels: CI / testing

#26565 Car docs: add a make-specific init function
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/volkswagen/values.py
Labels: docs, car

#26563 Cabana: auto theme, detect from system.
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/cabana.cc
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/detailwidget.cc
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/signaledit.cc
Labels: enhancement, tools

#26584 Toyota: whitelist FW queries
  selfdrive/car/toyota/values.py
Labels: enhancement, toyota

#25722 tuning: measure steering accuracy for existing routes
  tools/tuning/measure_steering_accuracy.py
Labels: enhancement, tuning, tools

#26597 longcontrol: ignore cruise standstill if interceptor
  selfdrive/controls/lib/longcontrol.py
Labels: cleanup, car, toyota

#26596 Fix Tesla cancel button definition
  selfdrive/car/tesla/values.py
Labels: bugfix, car

#26585 Toyota: alert when in standstill
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/events.py
Labels: enhancement, car, toyota

#26588 VW PQ: Fix cruise fault detection, cleanup
  selfdrive/car/volkswagen/carstate.py
Labels: bugfix, cleanup, volkswagen

#26609 IsoTpParallelQuery: log errors in qlogs
  selfdrive/car/isotp_parallel_query.py
Labels: fingerprint

#26598 Cabana: fix segfault in dragging zoom
  tools/cabana/chartswidget.cc
Labels: bugfix, tools

#26611 Hyundai: remove custom accel limit function for default values
  selfdrive/car/hyundai/interface.py
Labels: cleanup, hyundai

#26614 mock: remove steering angle
  selfdrive/car/mock/interface.py
Labels: cleanup

#26455 [controlsd] Toyota Prius 2017
  selfdrive/car/interfaces.py
  selfdrive/car/torque_data/params.yaml
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, controls, car, toyota

#26616 VW PQ: Follow-to-Stop support
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/pqcan.py
Labels: enhancement, car, volkswagen

#26620 Cabana: execute generate_dbc_json.py after building
  tools/cabana/SConscript
Labels: bugfix

#26613 Car interface: set common params after port
  selfdrive/car/body/interface.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Labels: cleanup, car

#26626 [controlsd] Refactor apply_deadzone in Lateral Torque Control
  selfdrive/car/interfaces.py
  selfdrive/car/torque_data/params.yaml
  selfdrive/controls/lib/drive_helpers.py
Labels: refactor, controls

#26627 controls: preEnabled doesn't consider noEntry
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_state_machine.py
Labels: bugfix, controls

#26632 controls: remove noTarget event
  selfdrive/controls/controlsd.py
Labels: cleanup, controls

#26601 tools: pyenv setup fix
  tools/ubuntu_setup.sh
  update_requirements.sh
Labels: bugfix, tools

#26633 soundd: change system sound mixer volume
  release/files_common
  selfdrive/ui/soundd/sound.cc
  system/hardware/base.h
  system/hardware/hw.h
  system/hardware/pc/hardware.h
  system/hardware/tici/hardware.h
Labels: bugfix
