Repository commaai/openpilot, pull requests merged in 2022-07, with the labels that each got.

#25008 Clean up CarControllers
  selfdrive/car/body/carcontroller.py
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/interface.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/interface.py
Labels: cleanup, car

#24685 Chrysler: add missing 2022 Pacifica Hybrid fingerprint
  selfdrive/car/chrysler/values.py
Labels: car port

#24925 Mazda: add missing FW version for CX-5 2022
  selfdrive/car/mazda/values.py
Labels: fingerprint, car, mazda

#25015 process replay: Fix setting environment vars
  selfdrive/test/process_replay/process_replay.py
Labels: bugfix

#25013 enable laikad
  selfdrive/controls/controlsd.py
  selfdrive/manager/process_config.py
  selfdrive/test/test_onroad.py
Labels: enhancement

#25016 Laikad: Allow fetching orbits every minute
  selfdrive/locationd/laikad.py
Labels: enhancement

#24908 GM: values.py cleanup & minor updates
  selfdrive/car/gm/values.py
Labels: enhancement, car

#25019 car docs: remove steering torque hard-coding
  selfdrive/car/docs_definitions.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: cleanup, docs, car

#25018 Torque control: max torque warning
  selfdrive/controls/controlsd.py
Labels: enhancement, controls

#25030 settings.cc: remove function network_panel
  selfdrive/ui/qt/offroad/settings.cc
Labels: cleanup

#25031 controlsd: avoid lag on first iteration due to get_short_branch
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
Labels: bugfix

#23654 add casync support to agnos updater
  system/hardware/tici/agnos.py
  system/hardware/tici/casync.py
Labels: enhancement

#25035 Update path for github workflow hardware unit tests
  .github/workflows/selfdrive_tests.yaml
Labels: cleanup

#25034 Subaru: XV is supported
  docs/CARS.md
  selfdrive/car/subaru/values.py
Labels: docs, car

#25029 car docs: add video for Hyundai Kona Hybrid 2020
  selfdrive/car/hyundai/values.py
Labels: docs, car

#25026 Toyota: add missing esp FW version for 2021 Toyota Corolla
  selfdrive/car/toyota/values.py
Labels: fingerprint, awaiting info

#25017 long planner: always run when not openpilot longitudinal control
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/radard.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#25045 casync: reuse requests session in RemoteChunkReader
  system/hardware/tici/casync.py
Labels: enhancement

#25046 casync: compute seed hash on the fly
  system/hardware/tici/agnos.py
Labels: enhancement

#24939 VW FPv2: reduce number of ECU queries
  selfdrive/car/fw_versions.py
Labels: enhancement, car, volkswagen

#24873 Stock longitudinal: spam resume button when lead starts moving
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/controls/controlsd.py
  selfdrive/test/longitudinal_maneuvers/maneuver.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
Labels: enhancement, car

#25054 Process replay: Fix subtest diff
  selfdrive/test/process_replay/test_processes.py
Labels: bugfix

#25060 Laikad: Use clocks for faster fetching orbits
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/test/process_replay/process_replay.py
Labels: enhancement

#25052 loggerd: remove 'enable' from struct LogCameraInfo
  selfdrive/loggerd/encoderd.cc
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/loggerd.h
Labels: cleanup

#25064 Add Chinese (traditional) translations
  selfdrive/ui/qt/sidebar.h
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_zh.qm
  selfdrive/ui/translations/main_zh.ts
  selfdrive/ui/update_translations.py
Labels: enhancement, CI, bugfix

#25014 UI: fix unable to scroll on 'Regulatory' page
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/qt/widgets/scrollview.cc
Labels: bugfix

#25073 Add Korean translations
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_ko.qm
  selfdrive/ui/translations/main_ko.ts
Labels: translations

#25078 Add Japanese translations
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/main_ja.qm
  selfdrive/ui/translations/main_ja.ts
Labels: translations

#25081 casync: handle hash failure
  system/hardware/tici/agnos.py
Labels: enhancement

#25082 laikad: add residual threshold for pos_fix
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#25033 nav: use laikad position if locationd is not yet available
  selfdrive/navd/navd.py
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/ui.cc
Labels: enhancement

#25077 Add Traditional Chinese translations
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_zh-CHS.qm
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.qm
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: translations

#25075 Improve Chinese (Simplified) translations
  selfdrive/ui/translations/main_zh-CHS.qm
  selfdrive/ui/translations/main_zh-CHS.ts
Labels: translations

#24460 Add Chrysler FPv2 requests and logging
  selfdrive/car/chrysler/values.py
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, car

#25090 Interleave VIN queries
  selfdrive/car/vin.py
Labels: enhancement, fingerprint

#25066 Add missing HIGHLANDERH_TSS2 ESP & engine f/w
  selfdrive/car/toyota/values.py
  selfdrive/debug/test_fw_query_on_routes.py
Labels: fingerprint

#21212 UI: Internationalization support
  common/params.cc
  common/watchdog.cc
  common/watchdog.h
  selfdrive/ui/main.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/tests/test_translations.cc
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.qm
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.qm
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.qm
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
  selfdrive/ui/update_translations.py
Labels: enhancement

#25089 Nav: wrap strings
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/translations/main_ko.qm
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.qm
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.qm
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: translations

#23311 firmware fingerprinting: order brand requests
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
Labels: enhancement, fingerprint, car

#25098 Display the current language in MultiOptionDialog
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#25113 Fix new steer saturated warning with joystick mode
  selfdrive/controls/controlsd.py
Labels: bugfix

#25105 Improve Korean translations
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/translations/main_ko.qm
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.qm
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.qm
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#25129 casync: manifest compare script
  system/hardware/tici/tests/compare_casync_manifest.py
Labels: tools

#25134 update compatibility docs with VIN data
  docs/CARS.md
  selfdrive/car/chrysler/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/values.py
Labels: docs, car

#25126 Use upstream wait-on-check-action action
  .github/workflows/prebuilt.yaml
  .github/workflows/release.yaml
Labels: CI

#24941 compatibility docs: print diff from PR
  .github/workflows/selfdrive_tests.yaml
  selfdrive/debug/dump_car_info.py
  selfdrive/debug/print_docs_diff.py
Labels: enhancement, docs, car

#25132 Corolla Cross: Update minimum enable speed
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: docs, car, toyota

#25130 casync: only when run from updater
  system/hardware/tici/agnos.py
Labels: enhancement

#24778 Mazda: CX-5 22 FW FP
  selfdrive/car/mazda/values.py
Labels: fingerprint

#25120 UI: translations cleanup
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/translations/main_ko.qm
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.qm
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.qm
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/update_translations.py
Labels: multilanguage

#25151 Car docs diff bot: skip fork PRs
  .github/workflows/selfdrive_tests.yaml
Labels: CI, bugfix

#25147 Mazda: Support CX-9 2022
  docs/CARS.md
  selfdrive/car/mazda/values.py
Labels: fingerprint, mazda

#25158 run pre-commit in release CI
  .github/workflows/selfdrive_tests.yaml
  .pre-commit-config.yaml
  release/files_common
Labels: CI

#25157 nav: draw inactive lanes with 50% opacity
  selfdrive/assets/navigation/direction_turn_left_inactive.png
  selfdrive/assets/navigation/direction_turn_right_inactive.png
  selfdrive/assets/navigation/direction_turn_straight_inactive.png
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: nav, ui

#25154 disable_ecu.py: remove duplicate file
  selfdrive/car/disable_ecu.py
  selfdrive/debug/disable_ecu.py
Labels: cleanup

#25136 RAV4 2022: Add missing engine fw
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#25164 Civic 2022: Add missing fw versions
  selfdrive/car/honda/values.py
Labels: fingerprint, honda

#25170 Multilanguage Contributing README
  selfdrive/ui/translations/README.md
Labels: docs, multilanguage

#25036 Toyota: don't send UI on Prius V
  selfdrive/car/toyota/carcontroller.py
Labels: enhancement, car

#25123 VW MQB: Update supported models and model-years
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: docs, car, volkswagen

#25053 replay: add support for reading from plain logs
  tools/replay/logreader.cc
  tools/replay/logreader.h
  tools/replay/route.cc
  tools/replay/tests/test_replay.cc
Labels: tools

#24211 Ford: FPv2 firmware request
  selfdrive/car/fw_versions.py
Labels: enhancement, car, ford

#25169 nav: toggle to show on left side of onroad ui
  common/params.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement

#25204 FPv2: fingerprint on all FW combinations
  selfdrive/car/fw_versions.py
  selfdrive/debug/test_fw_query_on_routes.py
Labels: fingerprint, car

#25206 Honda Civic 2022: add missing FW versions
  selfdrive/car/honda/values.py
Labels: fingerprint, honda

#25190 simplify compatibility docs
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/tests/test_docs.py
Labels: docs, car

#25200 updated: add branch switching
  common/params.cc
  selfdrive/manager/manager.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/updated.py
Labels: enhancement

#25208 CarInfo: parse out model years
  docs/CARS.md
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
Labels: docs, car

#25205 Hyundai: add missing 2022 Santa Fe FW versions
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#25193 Car info diff comment: don't fail if car info structure changes
  .github/workflows/selfdrive_tests.yaml
Labels: docs

#25210 Highlander: merge params
  selfdrive/car/toyota/interface.py
Labels: cleanup, car, toyota

#25212 navd: add back VisionIPC map renderer
  SConstruct
  release/files_common
  selfdrive/navd/.gitignore
  selfdrive/navd/SConscript
  selfdrive/navd/main.cc
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
  selfdrive/navd/map_renderer.py
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/watch3.cc
Labels: nav

#25187 Kia Niro PHEV 2018: add missing FW versions
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, hyundai

#25214 Multilanguage: readme improvements
  selfdrive/ui/tests/test_translations.cc
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/README.md
  selfdrive/ui/update_translations.py
Labels: multilanguage

#25108 Multilang: Improve Japanese translations
  selfdrive/ui/translations/main_ja.qm
  selfdrive/ui/translations/main_ja.ts
Labels: multilanguage

#25219 Car docs: hide footnotes for hidden columns
  selfdrive/car/docs.py
Labels: docs, car

#25224 Car docs diff bot: detect name + year changes
  selfdrive/debug/print_docs_diff.py
Labels: enhancement, CI, docs, car

#25218 Car docs: update Toyota supported packages
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: docs, car

#25196 less beeps for steering override faults
  selfdrive/assets/sounds/prompt.wav
  selfdrive/controls/lib/events.py
Labels: enhancement

#25203 FW versions dump
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#25222 prereq for matching speeds shown on cars dash
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: refactor

#25230 Mazda: update supported models info
  selfdrive/car/mazda/values.py
Labels: docs, car

#25231 Multilanguage: Korean improvements/translations
  selfdrive/ui/translations/main_ko.ts
Labels: multilanguage

#25236 better star descriptions
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Labels: docs, car

#25223 Kia Niro EV 2019: add missing FW versions
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#25228 Update MapETA translations in zh-CHT
  selfdrive/ui/translations/README.md
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#24892 Impreza 2017: add missing eps FW
  selfdrive/car/subaru/values.py
Labels: fingerprint, awaiting info

#25183 Hyundai: add Genesis G90 2017 FW versions
  selfdrive/car/hyundai/values.py
Labels: fingerprint

#25245 use v_cruise_cluster_kph for hudControl.setSpeed
  selfdrive/controls/controlsd.py
Labels: bugfix

#25233 Nissan: cleanup set speed
  selfdrive/car/nissan/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, car, nissan

#25252 Car docs diff: fix new platform detection
  selfdrive/debug/print_docs_diff.py
Labels: docs, car

#25244 Multilanguage badges
  .github/workflows/badges.yaml
  selfdrive/ui/translations/README.md
  selfdrive/ui/translations/create_badges.py
Labels: enhancement, docs, multilanguage

#25249 Update incompatible Toyota Security cars
  docs/CARS.md
  selfdrive/car/CARS_template.md
Labels: docs, car

#25260 Fix footnote superscripts on website
  selfdrive/car/docs.py
Labels: bugfix, docs, car

#25256 Fix for multiple footnotes in car docs
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Labels: bugfix, docs, car

#25272 map_renderer.py, output monochrome images
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.py
Labels: enhancement

#25273 docs: add svg images
  docs/Makefile
Labels: docs

#25258 2022 Palisade: add missing FW versions
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, docs, car

#25274 cars.md: use markdown images for stars
  docs/CARS.md
  docs/assets/icon-star-empty.svg
  docs/assets/icon-star-full.svg
  docs/assets/icon-star-half.svg
  selfdrive/car/CARS_template.md
Labels: docs

#25267 Ford: fix gear parsing
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/interfaces.py
Labels: cleanup, car

#25271 Skoda: add FW versions for Karoq 2021
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#25168 VW MQB: Cleanup stock ACC button handling
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/car/volkswagen/volkswagencan.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, volkswagen

#25265 Mazda: use torque controller
  selfdrive/car/mazda/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: tuning, car

#25279 Chrylser: some Ram 1500 can steer to 0
  selfdrive/car/chrysler/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, chrysler

#25286 fix finding the lte connection
  selfdrive/ui/qt/offroad/wifiManager.cc
Labels: bugfix

#25294 plotjuggler: allow loading ci routes
  tools/plotjuggler/README.md
  tools/plotjuggler/juggle.py
Labels: tools

#25296 VW MQB: Add FW for 2021 Volkswagen Atlas
  selfdrive/car/volkswagen/values.py
Labels: fingerprint

#25288 thermald: remove modem registered workaround
  selfdrive/thermald/thermald.py
Labels: cleanup

#25277 Toyota: fingerprint on bus 0
  selfdrive/car/fw_versions.py
Labels: enhancement, car

#25291 Lateral Acceleration Error alert (Sensor Invalid)
  selfdrive/controls/controlsd.py
  selfdrive/locationd/paramsd.py
Labels: enhancement

#25292 params: add put_bool_nonblocking
  common/params.py
  common/params_pyx.pyx
  common/tests/test_params.py
Labels: enhancement

#25306 casync unittests
  system/hardware/tici/casync.py
  system/hardware/tici/tests/__init__.py
  system/hardware/tici/tests/test_casync.py
  tools/ubuntu_setup.sh
Labels: CI

#24802 Remove RHD toggle: determine by driver side instead
  common/params.cc
  selfdrive/assets/offroad/icon_openpilot_mirrored.png
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement
