Repository commaai/openpilot, pull requests merged in 2022-12, with the labels that each got.

#26650 Fix OpenCL driver URL
  Dockerfile.openpilot_base_cl
  tools/webcam/README.md
Labels: CI / testing

#26652 micd: don't update filtered sound level if playing sound
  system/hardware/base.py
  system/hardware/pc/hardware.py
  system/hardware/tici/hardware.py
  system/micd.py
Labels: enhancement

#26654 Toyota: Add FW for 2023 Toyota Camry Hybrid
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#26528 Cabana: add shortcuts
  tools/cabana/detailwidget.cc
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
Labels: enhancement, tools

#26675 Cabanba: new dialog to manage chart series
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/dbcmanager.h
Labels: enhancement, tools

#26669 Add missing COROLLA_TSS2 EPS, ABS, and engine f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#26678 Subaru: add missing fw values for 2023 Crosstrek Limited
  docs/CARS.md
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#26674 Micd: update sound levels in callback
  system/micd.py
Labels: enhancement

#26680 remove unused space
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: cleanup

#26656 VW MQB: Engage at standstill with OP longitudinal
  selfdrive/car/volkswagen/interface.py
Labels: enhancement, car, volkswagen

#26553 planner: read experimental mode from controlsState
  selfdrive/controls/lib/longitudinal_planner.py
Labels: cleanup

#26702 VW MQB: Add FW for 2018 Volkswagen Atlas
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#26686 Cabana: display dash instead of zero if no data
  tools/cabana/binaryview.cc
Labels: enhancement, tools

#26707 Longitudinal planner: fix tests
  selfdrive/test/longitudinal_maneuvers/plant.py
Labels: CI / testing

#26427 Hyundai: Tucson 2023 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port, car, hyundai

#26703 Cabana: show welcome widget if no msg selected
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Labels: enhancement, tools

#26698 navmodeld: only render necessary frames
  selfdrive/modeld/navmodeld.cc
  selfdrive/navd/map_renderer.cc
Labels: bugfix

#26710 add onnx2torch dependency
  poetry.lock
  pyproject.toml
Labels: tools

#26582 Kia Sorento: fix dash speed matching
  selfdrive/car/hyundai/carstate.py
Labels: bugfix, car, hyundai

#26286 Cabana: support multiple instances
  tools/cabana/cabana.cc
Labels: enhancement, tools

#26697 nav model replay
  .github/workflows/selfdrive_tests.yaml
  Jenkinsfile
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
  selfdrive/test/process_replay/compare_logs.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: CI / testing

#26732 Car interfaces: common angle limiting function
  selfdrive/car/__init__.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/values.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/values.py
Labels: cleanup, car

#26684 fix dependencies for macOS
  poetry.lock
  pyproject.toml
  update_requirements.sh
Labels: bugfix, tools

#26679 Added old firmware version to support Lexus NX 2020
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#26733 Toyota: don't log standstill for NO_STOP_TIMER_CAR
  selfdrive/car/toyota/carstate.py
Labels: bugfix, car, toyota

#26749 LatControlAngle: lower saturation check speed
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
Labels: enhancement, controls

#26274 Toyota: lower stopping speed
  selfdrive/car/toyota/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: controls, car, toyota

#26575 Cabana: add button to display all cached data in chart
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Labels: enhancement, tools

#26753 common: add new class OpenPilotPrefix
  common/prefix.h
  common/util.cc
  common/util.h
  release/files_common
  tools/cabana/cabana.cc
Labels: tools

#26659 Cabana: display all logs in log view
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/dbcmanager.cc
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: enhancement, tools

#25830 sensord: add helper function verify_chip_id to I2CSensor
  selfdrive/sensord/sensors/bmx055_accel.cc
  selfdrive/sensord/sensors/bmx055_gyro.cc
  selfdrive/sensord/sensors/bmx055_magn.cc
  selfdrive/sensord/sensors/bmx055_temp.cc
  selfdrive/sensord/sensors/i2c_sensor.h
  selfdrive/sensord/sensors/lsm6ds3_accel.cc
  selfdrive/sensord/sensors/lsm6ds3_gyro.cc
  selfdrive/sensord/sensors/lsm6ds3_temp.cc
  selfdrive/sensord/sensors/mmc5603nj_magn.cc
Labels: refactor

#26411 Multilang: German
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_de.ts
Labels: multilanguage

#26759 SANTA_FE_2022: add missing FW versions
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26555 Add missing FW versions for Audi S3/A3
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#25877 athenad: more types
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
Labels: refactor

#26758 HKG CAN-FD: common distance unit signal
  selfdrive/car/hyundai/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, car, hyundai

#26776 Honda Radarless: clean up disabled radar check
  selfdrive/car/honda/hondacan.py
Labels: bugfix, car, honda

#26777 HKG: Car Port for Genesis GV60 2022
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, hyundai

#26760 Hyundai: Add FW Versions for 2017 i30 PD (Elantra GT)
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26789 HKG CAN-FD: steering pressed filter
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/interfaces.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, hyundai

#24782 Toyota: keep Lane Sway Warning system
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/toyotacan.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, toyota

#26755 Hyundai: Add FW Versions for Southeast Asia 2022 Ioniq 5 HDA1
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, hyundai

#26795 HKG: Add FW Versions for Southeast Asia Kia EV6 2022 HDA1
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26797 Honda: set MINI_CAR when engaged
  selfdrive/car/honda/hondacan.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, honda

#26811 soundd: increase upper bound for volume level
  selfdrive/ui/soundd/sound.cc
Labels: enhancement

#26794 carla sim: fix accelerometer sensor data
  tools/sim/bridge.py
Labels: simulation, bugfix

#26840 Tesla non-zero stopAccel
  selfdrive/car/tesla/interface.py
Labels: tuning, car

#26834 Cabana: add tool to find similar bits
  tools/cabana/SConscript
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
Labels: enhancement, tools
