Repository commaai/openpilot, pull requests merged in 2022-10, with the labels that each got.

#25933 VIN query: switch to functional address
  selfdrive/car/vin.py
Labels: fingerprint

#25902 networking: add unmetered cellular toggle
  common/params.cc
  selfdrive/athena/tests/helpers.py
  selfdrive/manager/manager.py
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networkmanager.h
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, ui

#25695 pre-commit: test translations
  .github/workflows/selfdrive_tests.yaml
  .pre-commit-config.yaml
  release/files_common
Labels: CI / testing

#25946 c++ cabana: Initial version
  SConstruct
  selfdrive/ui/SConscript
  tools/cabana/.gitignore
  tools/cabana/README
  tools/cabana/SConscript
  tools/cabana/cabana
  tools/cabana/cabana.cc
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/parser.cc
  tools/cabana/parser.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
  tools/replay/SConscript
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/ubuntu_setup.sh
Labels: tools

#25959 thermald: consider pmic temp while onroad
  selfdrive/thermald/thermald.py
Labels: enhancement

#25966 Ford: handle VIN
  selfdrive/car/vin.py
Labels: fingerprint, ford

#25972 VIN: make Ford exception more explicit
  selfdrive/car/vin.py
Labels: fingerprint

#25974 docs: specify Lexus Safety System+ package for RX 2016
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: docs, car, toyota

#25975 Car docs: test no duplicate years
  selfdrive/car/tests/test_docs.py
Labels: CI / testing, docs, car

#25981 cabana: insert new chart at the top
  tools/cabana/chartswidget.cc
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/parser.h
Labels: tools

#25982 cabana: use QFormLayout
  tools/cabana/detailwidget.cc
  tools/cabana/signaledit.cc
Labels: tools

#25990 FPv2: fixed fingerprint overrides query result
  scripts/launch_corolla.sh
  selfdrive/car/car_helpers.py
  selfdrive/test/profiling/profiler.py
  tools/sim/launch_openpilot.sh
Labels: fingerprint

#25989 Fingerprinting: log if using cache
  selfdrive/car/car_helpers.py
Labels: fingerprint

#25152 hyundai: fix logging stock AEB events
  selfdrive/car/hyundai/carstate.py
Labels: bugfix, car, hyundai

#26012 Subaru: log stock FCW
  selfdrive/car/subaru/carstate.py
Labels: car, subaru

#26011 Add ip and port arguments to /tools/sim/bridge.py
  tools/sim/README.md
  tools/sim/bridge.py
Labels: enhancement, simulation, tools

#25950 GPS test station first unittests
  selfdrive/sensord/pigeond.py
  tools/gpstest/.gitignore
  tools/gpstest/README.md
  tools/gpstest/fuzzy_testing.py
  tools/gpstest/gpstest.sh
  tools/gpstest/patches/limeGPS/inc_ephem_array_size.patch
  tools/gpstest/patches/limeGPS/makefile.patch
  tools/gpstest/patches/limeSuite/mcu_error.patch
  tools/gpstest/patches/limeSuite/reference_print.patch
  tools/gpstest/remote_checker.py
  tools/gpstest/run_static_gps_signal.py
  tools/gpstest/setup.sh
  tools/gpstest/test_gps.py
Labels: CI / testing, tools

#26039 GM camera ACC: reduce LKAS faults on startup
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, gm

#26017 GM camera ACC: log stock aeb/fcw
  selfdrive/car/gm/carstate.py
Labels: enhancement, gm

#26004 Cabana: stable initial release
  tools/cabana/SConscript
  tools/cabana/cabana.cc
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/parser.cc
  tools/cabana/parser.h
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
  tools/replay/main.cc
  tools/replay/replay.h
  tools/replay/tests/test_replay.cc
Labels: enhancement, tools

#25839 VW PQ: Volkswagen Sharan Mk2 / SEAT Alhambra Mk2
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Labels: car port, volkswagen

#26047 ci: don't cancel concurrent workflows for master branch
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#26033 Ford: fix button press and cleanup
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
Labels: enhancement, cleanup, car, ford

#26052 ci: disable concurrency for master branch
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Labels: CI / testing, bugfix

#25793 Allow car port to define enable buttons
  selfdrive/car/__init__.py
  selfdrive/car/interfaces.py
  selfdrive/car/volkswagen/interface.py
Labels: enhancement

#26019 cabana: increase replay's segment cache limit & add setting dialog
  tools/cabana/.gitignore
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: enhancement, tools

#25986 joystickd: add controller mapping
  tools/joystick/joystickd.py
Labels: enhancement, tools

#26055 Hyundai: add missing Elantra Hybrid 2023 FW versions
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#25723 Hyundai: support HDA1 EV6 and Ioniq 5
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: refactor, car port, hyundai

#26049 regen: Refactor log migrate functions to avoid needing azure keys
  selfdrive/test/process_replay/regen.py
  selfdrive/test/update_ci_routes.py
Labels: CI / testing

#25699 FPv2: support collecting versions for specific ecus
  selfdrive/car/chrysler/values.py
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, car

#26074 docs: fix model name/year formatting
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car, hyundai

#26080 GM: remove brake scaling
  selfdrive/car/gm/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: gm

#26037 athenad: small tests cleanup
  selfdrive/athena/tests/test_athenad.py
Labels: CI / testing, cleanup

#26115 HKG FPv2: whitelist some Ecus
  selfdrive/car/hyundai/values.py
Labels: enhancement, fingerprint, hyundai

#26113 networking: fix metered setting
  selfdrive/ui/qt/offroad/wifiManager.cc
Labels: bugfix

#26121 updated: sync submodules
  selfdrive/updated.py
Labels: enhancement

#26118 cabana: add a splitter between message lists and detailview
  tools/cabana/mainwin.cc
Labels: enhancement, tools

#26112 cabana: faster history log with better stretch mode
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
Labels: enhancement, tools

#26103 Cabana: show MSB/LSB of signals in the BinaryView
  tools/cabana/SConscript
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/canmessages.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/signaledit.cc
Labels: enhancement, tools

#26077 loggerd: fix length of ArrayPtr in handle_encoder_msg
  selfdrive/loggerd/loggerd.cc
Labels: bugfix

#26078 DM: add use of e2e preds
  selfdrive/modeld/models/dmonitoring_model.current
  selfdrive/modeld/models/dmonitoring_model.onnx
  selfdrive/modeld/models/dmonitoring_model_q.dlc
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/model_replay_ref_commit
  selfdrive/test/process_replay/ref_commit
  system/hardware/tici/test_power_draw.py
Labels: enhancement

#26063 CAN-FD HKG: query FW versions from camera
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_startup.py
Labels: fingerprint, car, hyundai

#26131 Cabana: add dialog to find and locate signal values
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Labels: enhancement, tools

#26162 Update CI routes: speed up
  selfdrive/test/update_ci_routes.py
Labels: CI / testing

#26130 Hyundai HDA2 detection: use ADAS ECU
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: enhancement, car, hyundai

#26106 HKG: Car Port for Kia Sportage Hybrid 2023
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, hyundai

#25866 HKG: Remove Kia Stinger from 255 torque blacklist
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#25477 Mazda: CX5 2021 FW
  selfdrive/car/mazda/values.py
Labels: fingerprint, mazda

#26143 Hyundai: add corner radar FW query
  selfdrive/car/hyundai/values.py
Labels: enhancement, fingerprint, car, hyundai

#24858 Pipenv -> poetry
  .github/workflows/selfdrive_tests.yaml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile.openpilot_base
  Pipfile
  Pipfile.lock
  docs/docker/Dockerfile
  poetry.lock
  pyproject.toml
  tools/README.md
  tools/mac_setup.sh
  update_requirements.sh
Labels: enhancement, tools

#26202 ci: run some jobs only on push
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#26205 install xx deps with XX env
  update_requirements.sh
Labels: tools

#26207 cabana: fix incorrect freq&counter
  tools/cabana/canmessages.cc
Labels: bugfix, tools

#26212 VW MQB: Add FW for 2016 Volkswagen Passat
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#26155 Cabana: no popup when adding a new signal.
  tools/cabana/binaryview.cc
  tools/cabana/canmessages.cc
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/mainwin.cc
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Labels: tools

#26211 Cabana: delete all selected cells when shrinking signal
  tools/cabana/binaryview.cc
Labels: enhancement, tools

#26209 Cabana: use deque::resize() instead of pop_back in loop
  tools/cabana/canmessages.cc
Labels: refactor, tools

#26160 replay: reduce test running time
  tools/replay/tests/test_replay.cc
Labels: tools

#26208 Add #include <QFile> in cabana
  tools/cabana/messageswidget.cc
Labels: awaiting info, tools

#26210 Cabana: Added ability to highlight and resize overlapped signals
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
Labels: enhancement, tools

#26120 cabana: stable FPS
  tools/cabana/canmessages.cc
Labels: bugfix, tools

#26085 Hyundai: add 2020 Palisade FW versions
  selfdrive/car/hyundai/values.py
Labels: fingerprint, awaiting info

#25951 HKG: Add FW and Remove from dashcamOnly for 2019 Elantra GT i30
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port, hyundai

#26151 FPv2 tests: test all addrs map to one ECU
  selfdrive/car/honda/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing

#26196 GM: reduce LKAS faults while inactive
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/values.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, gm

#26224 pj: update thermal layout + layout test
  tools/plotjuggler/layouts/thermal_debug.xml
  tools/plotjuggler/test_plotjuggler.py
Labels: CI / testing

#26234 Multilang: add missing Thai translations
  selfdrive/ui/translations/main_th.ts
Labels: multilanguage

#26182 Mazda: Add CX-5 2023 to supported cars
  selfdrive/car/mazda/values.py
Labels: docs, car, mazda

#26238 [torqued] Extend to all Toyota and Hyundai cars
  RELEASES.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
Labels: enhancement, cleanup, controls

#26241 Model trained with more long noise
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement, research

#26213 Cabana: limit X-axis range from settings
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/mainwin.cc
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: enhancement, tools

#26227 quectel no sim GPS support
  selfdrive/sensord/rawgps/rawgpsd.py
Labels: enhancement

#26060 Improve GPS tests, add qcom tests
  tools/gpstest/fuzzy_testing.py
  tools/gpstest/remote_checker.py
  tools/gpstest/run_static_gps_signal.py
  tools/gpstest/run_unittest.sh
  tools/gpstest/simulate_gps_signal.py
  tools/gpstest/test_gps.py
  tools/gpstest/test_gps_qcom.py
Labels: CI / testing

#26249 Toyota: add missing RAV4 2022 engine FW
  selfdrive/car/toyota/values.py
Labels: fingerprint, toyota

#26251 Ford FW batch
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#26270 process replay: test Bolt EUV (camera-ACC platform)
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: CI / testing

#26220 Cabana: change the chart theme in setting
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
Labels: enhancement, tools

#26233 process replay: support experimental long
  selfdrive/test/process_replay/process_replay.py
Labels: CI / testing

#25811 Multilang: revise some Japanese translations
  selfdrive/ui/translations/main_ja.ts
Labels: multilanguage

#26272 Eliminate toyota close radar glitches causing no resume
  selfdrive/controls/lib/radar_helpers.py
Labels: bugfix, car

#26266 UI: reduce frame drops.
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: bugfix, ui

#26169 sim: Converting RGB frames to NV12 format in OpenCL
  tools/sim/bridge.py
  tools/sim/rgb_to_nv12.cl
Labels: simulation, bugfix

#26284 Model trained with headlight augmentation
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement, research

#25943 Honda: add Chinese Odyssey FW versions
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/tests/routes.py
Labels: fingerprint, honda
