Repository commaai/openpilot, pull requests merged in 2022-06, with the labels that each got.

#24697 navd: handle exceptions from requests
  selfdrive/navd/navd.py
Labels: bugfix

#24699 navd: dont crash on unregistered device
  selfdrive/navd/navd.py
Labels: bugfix

#24678 Button-enable cars: common functions for button events
  selfdrive/car/__init__.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
Labels: cleanup, car

#24311 Add UDS VIN query
  selfdrive/car/vin.py
Labels: enhancement, car

#24661 process replay: only download used logs
  selfdrive/test/process_replay/README.md
  selfdrive/test/process_replay/test_processes.py
Labels: tools

#24610 process replay: logreader as bytes
  selfdrive/test/process_replay/test_processes.py
  tools/lib/logreader.py
Labels: tools

#24674 Hyundai longitudinal: handle mid-press button change
  selfdrive/car/hyundai/interface.py
Labels: bugfix, car

#24708 thermald: consider pmic in component temp management
  selfdrive/thermald/thermald.py
Labels: enhancement

#24710 correctly parse UDS VIN response for Honda Bosch
  selfdrive/car/vin.py
Labels: bugfix

#24713 thermald: add back panda disconnect handling
  selfdrive/thermald/thermald.py
Labels: bugfix

#24716 test_processes: fix updating refs
  selfdrive/test/process_replay/test_processes.py
Labels: CI, bugfix

#24692 AGNOS 5
  RELEASES.md
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Labels: enhancement

#24002 test_models: support for running on any route
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
  selfdrive/debug/test_car_model.py
Labels: tools

#24722 process replay: upload-only bug
  selfdrive/test/process_replay/test_processes.py
Labels: bug, tools

#24715 Honda: fix enabling before PCM
  selfdrive/car/__init__.py
  selfdrive/car/honda/interface.py
Labels: bugfix, car

#24731 Common interface attribute function
  selfdrive/car/car_helpers.py
  selfdrive/car/docs.py
  selfdrive/car/fingerprints.py
  selfdrive/car/fw_versions.py
  selfdrive/car/interfaces.py
  selfdrive/car/tests/test_docs.py
Labels: cleanup

#24681 navd: broadcast sped limit
  selfdrive/navd/helpers.py
  selfdrive/navd/navd.py
Labels: enhancement, nav

#24702 Fix onnx model replay
  .github/workflows/selfdrive_tests.yaml
  Dockerfile.openpilot_base_cl
  selfdrive/test/process_replay/model_replay.py
  tools/sim/Dockerfile.sim
Labels: CI

#24730 FPv2: add ECU whitelisting support
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, car

#24628 process replay: regen in parallel
  selfdrive/test/process_replay/helpers.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/regen_all.py
  selfdrive/test/update_ci_routes.py
Labels: CI

#24701 update DH names + notes for MPC output curvatures
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/lateral_planner.py
Labels: cleanup

#24726 PlotJuggler: add torque control layout
  tools/plotjuggler/layouts/torque-controller.xml
Labels: tools

#24774 GM: interface cleanup
  selfdrive/car/gm/interface.py
Labels: cleanup, car, gm

#24724 IsoTpParallelQuery: handle response pending
  selfdrive/car/isotp_parallel_query.py
Labels: enhancement, car

#24767 Kia Ceed: fix eps ECU type
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#24796 Lexus: NX Hybrid 2020 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port, toyota

#24791 Hyundai: Tucson 2021 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: car port, hyundai

#24814 Add missing fw versions for 2019 Sonata
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#24789 Car interface: set max lateral torque from table
  docs/CARS.md
  release/files_common
  selfdrive/car/chrysler/interface.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/torque_data.json
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: docs, car

#24817 Fix Lexus NX Hybrid 2020 engine ecu address
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#24809 compatibility docs: auto-generate star descriptions
  selfdrive/car/CARS_template.md
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
Labels: docs, car

#24691 simulator: run simulator test in ci
  Jenkinsfile
  tools/sim/Dockerfile.sim
  tools/sim/Dockerfile.sim_nvidia
  tools/sim/launch_openpilot.sh
  tools/sim/lib/can.py
  tools/sim/start_carla.sh
  tools/sim/start_openpilot_docker.sh
  tools/sim/tests/__init__.py
  tools/sim/tests/test_carla_integration.py
Labels: CI

#24637 CI: add build job for latest Ubuntu
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Labels: CI

#24634 acados build script improvements for mac
  third_party/acados/build.sh
Labels: PC

#24575 Updated CARLA to v0.9.13
  Pipfile
  Pipfile.lock
  tools/sim/start_carla.sh
Labels: simulation

#24700 ui: skip texture frame copy
  selfdrive/test/test_onroad.py
  selfdrive/ui/SConscript
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: enhancement

#24844 camerad: remove unused SubMaster
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/test/camera_test.h
Labels: cleanup

#24845 navd: speed limits only when localizer is valid
  selfdrive/navd/navd.py
Labels: nav

#24819 Toyota Camry TSS2: update torque control params
  selfdrive/car/toyota/interface.py
Labels: tuning, car, toyota

#24254 remove weights fixup with new SNPE
  selfdrive/modeld/SConscript
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: cleanup

#24766 GM: add support for vehicles with manual parking brakes
  selfdrive/car/gm/carstate.py
Labels: enhancement, car, gm

#24861 little zookeeper fixes
  Pipfile
  Pipfile.lock
  tools/zookeeper/__init__.py
  tools/zookeeper/power_monitor.py
  tools/zookeeper/requirements.txt
Labels: tools

#24859 Torque control: low speed boost
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, controls

#24850 regen & process replay: support no disengage on accelerator
  selfdrive/test/process_replay/process_replay.py
Labels: CI

#24736 UI: new set speed design and add speed limits
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: enhancement

#24866 ui: add black color define
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: cleanup

#24865 laikad: calc_pos_fix numpy implementation
  selfdrive/locationd/laikad.py
Labels: enhancement

#24810 HKG: simplify Kia K5 compatibility
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car, hyundai

#24870 thermald: fix panda dropout when we miss a pandaStates
  selfdrive/thermald/thermald.py
Labels: bugfix

#24876 Mazda: fix resume spam at standstill
  selfdrive/car/mazda/carcontroller.py
Labels: bugfix, car, mazda

#24871 navd: handle maxspeed being none
  selfdrive/navd/navd.py
Labels: bugfix, nav

#24706 VW FPv2: reduce number of ECU queries
  selfdrive/car/fw_versions.py
Labels: enhancement, car, volkswagen

#24863 regen: send wideRoadCameraState
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/regen_all.py
Labels: CI

#24857 add param to override carParams.dashcamOnly
  common/params.cc
  selfdrive/car/hyundai/interface.py
  selfdrive/controls/controlsd.py
Labels: enhancement

#24891 ui: show empty box when speed limit is unavailable during nav
  selfdrive/ui/qt/onroad.cc
Labels: enhancement

#24872 Add Hyundai P harness
  selfdrive/car/docs_definitions.py
  selfdrive/car/hyundai/values.py
Labels: docs, car

#24887 Improve laikad cpu usage. Less pos fix. Less local imports
  release/files_common
  selfdrive/locationd/laikad.py
  selfdrive/locationd/models/gnss_helpers.py
  tools/sim/Dockerfile.sim
Labels: enhancement

#24913 ui: onroad widget check if sockets alive
  selfdrive/ui/qt/onroad.cc
Labels: bugfix

#24916 FPv2: log all present ECU addresses
  release/files_common
  selfdrive/car/car_helpers.py
  selfdrive/car/ecu_addrs.py
  selfdrive/car/fw_versions.py
Labels: car

#24923 Mazda: log standstill bit
  selfdrive/car/mazda/carstate.py
Labels: enhancement, car, mazda

#24924 test_models: check cruiseState.available
  selfdrive/car/tests/test_models.py
Labels: CI, car

#24890 ui: metric wider set speed box
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement

#24930 ui: draw MAX above set speed
  selfdrive/ui/qt/onroad.cc
Labels: enhancement, ui

#24933 Exception, while replaying route log with --allow flag
  selfdrive/ui/replay/replay.cc
Labels: bugfix, tools

#24915 Honda Longitudinal: fix HUD max distance setting
  selfdrive/car/honda/hondacan.py
Labels: bugfix, car, honda

#24940 compatibility docs: fixup steering torque star
  docs/CARS.md
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/torque_data.json
  selfdrive/car/toyota/values.py
  selfdrive/test/process_replay/ref_commit
Labels: docs, car

#24937 ui: change alerts to Inter
  selfdrive/controls/tests/test_alerts.py
  selfdrive/ui/qt/onroad.cc
Labels: enhancement, ui

#24931 ui: change sidebar font to Inter
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
Labels: enhancement, ui

#24932 ui: change set speed, speed limit and current speed to Inter
  selfdrive/ui/qt/onroad.cc
Labels: enhancement, ui

#24921 Refactor torque stuff
  .pre-commit-config.yaml
  docs/CARS.md
  release/files_common
  selfdrive/car/interfaces.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/torque_data.json
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/torque_data/params.yaml
  selfdrive/car/torque_data/substitute.yaml
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#24954 Navd added to README (#24953)
  README.md
Labels: docs

#24951 cleanup torque tuning config
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
  selfdrive/controls/lib/latcontrol_torque.py
Labels: tuning, cleanup

#24960 can replay: get logs in parallel
  tools/replay/can_replay.py
Labels: enhancement, tools

#24952 Hyundai: remove bad esp fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint, bugfix

#24966 logger.cc: remove unused function append_property
  selfdrive/loggerd/logger.cc
Labels: cleanup

#24976 calibrationd: start faster by not waiting for carParams
  selfdrive/locationd/calibrationd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#24955 ui: use current calibration to center vanishing point
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement

#24977 split locationd and liblocationd tests
  .github/workflows/selfdrive_tests.yaml
  selfdrive/locationd/test/_test_locationd_lib.py
  selfdrive/locationd/test/test_locationd.py
Labels: enhancement

#24973 2022 RAV4 XLE engine FW
  selfdrive/car/toyota/values.py
Labels: fingerprint

#24982 onroad UI: fix onroad double tap
  selfdrive/ui/qt/home.cc
Labels: bugfix

#24981 Power Monitoring test: fix exceptions
  selfdrive/thermald/tests/test_power_monitoring.py
Labels: CI

#24889 add laikad to process replay
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/test/process_replay/README.md
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/profiling/profiler.py
Labels: CI

#24983 laikad: use cython filter
  selfdrive/locationd/laikad.py
Labels: enhancement

#24971 move replay from selfdrive/ui/replay to tools/replay
  .github/workflows/selfdrive_tests.yaml
  SConstruct
  docs/c_docs.rst
  release/files_common
  selfdrive/loggerd/tests/test_logger.cc
  selfdrive/ui/SConscript
  tools/CTF.md
  tools/replay/.gitignore
  tools/replay/README.md
  tools/replay/SConscript
  tools/replay/camera.cc
  tools/replay/camera.h
  tools/replay/consoleui.cc
  tools/replay/consoleui.h
  tools/replay/filereader.cc
  tools/replay/filereader.h
  tools/replay/framereader.cc
  tools/replay/framereader.h
  tools/replay/logreader.cc
  tools/replay/logreader.h
  tools/replay/main.cc
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/route.h
  tools/replay/tests/test_replay.cc
  tools/replay/tests/test_runner.cc
  tools/replay/util.cc
  tools/replay/util.h
Labels: tools

#24989 Toyota: Add missing 2021 RAV4 TSS2 esp FW
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#24991 framereader.cc: remove nv12toyuv_buffer
  tools/replay/framereader.cc
  tools/replay/framereader.h
Labels: cleanup, tools

#24961 UI: wrap all text for translation
  .github/workflows/selfdrive_tests.yaml
  selfdrive/ui/SConscript
  selfdrive/ui/installer/installer.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/updater.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/text.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/drive_stats.h
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/widgets/ssh_keys.h
  selfdrive/ui/tests/.gitignore
  selfdrive/ui/tests/create_test_translations.sh
  selfdrive/ui/tests/test_runner.cc
  selfdrive/ui/tests/test_translations.cc
  tools/ubuntu_setup.sh
Labels: refactor

#24979 Honda Civic 2022: remove LKAS fault reinitialization
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/hondacan.py
Labels: cleanup, car, honda

#25000 docs: ssh.comma.ai
  tools/ssh/README.md
Labels: docs

#24999 Multilang prerequisites
  .github/workflows/selfdrive_tests.yaml
  release/files_common
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/languages.json
  selfdrive/ui/update_translations.py
Labels: enhancement, CI

#24992 Camerad: small cleanup
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
Labels: cleanup

#24993 camerad: reduce cpu usage
  system/camerad/cameras/camera_common.cc
Labels: enhancement

#24995 Add laikadOffline subtest to process replay.
  selfdrive/locationd/laikad.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: CI

#24964 Toyota: fix BSM detection
  selfdrive/car/car_helpers.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, toyota

#24962 tools: add support for nv12 in compressed_vipc
  tools/camerastream/compressed_vipc.py
Labels: tools

#24910 GM: prep and cleanup for future ports
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car
