Repository commaai/openpilot, pull requests merged in 2023-03, with the labels that each got.

#27466 cabana: recalc y-axis label width after unit change
  tools/cabana/chartswidget.cc
Labels: bugfix, tools

#27475 VW MQB: Add FW for 2023 Volkswagen Tiguan
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27468 laikad: fix qcom without internet
  selfdrive/locationd/laikad.py
Labels: bugfix

#27483 Car docs: add Toyota Camry 2023
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: docs, car, toyota

#27490 VW MQB: Add FW for 2019 Skoda Superb
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27499 cabana: faster copy events
  tools/cabana/streams/livestream.cc
Labels: enhancement, refactor, tools

#27498 cabana: use a segment tree to solve range queries in O(log n) time complexity
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/util.cc
  tools/cabana/util.h
Labels: enhancement, refactor, tools

#27502 Ford: add missing Explorer FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#27516 pandad unit tests
  Jenkinsfile
  selfdrive/boardd/tests/test_pandad.py
Labels: CI / testing

#27530 Update CHT translation
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#27470 ui: auto detect available streams
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement, bugfix, ui

#27574 Add CAN fingerprint to qlog
  selfdrive/car/car_helpers.py
Labels: enhancement, car

#27581 VW MQB: Add FW for 2016 Golf Mk7
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, volkswagen

#27489 VW MQB: Add FW for 2022 Skoda Kodiaq 1.5TSI
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27606 test: fix Honda and Hyundai tests
  selfdrive/car/honda/tests/__init__.py
  selfdrive/car/hyundai/tests/__init__.py
Labels: CI / testing, bugfix

#27500 Subaru: Add 2019 Forester FPv2
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#27602 VW MQB: Add FW for 2022 Škoda Kodiaq
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27590 Add missing FW for 2022(2023MY) Hyundai IONIQ 5
  selfdrive/car/hyundai/values.py
Labels: fingerprint, hyundai

#27609 Toyota: add 2023 RAV4/RAV4 Hybrid as dashcam
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tests/__init__.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Labels: car port, car, toyota

#27601 cabana: group CAN events by message id to reduce the time complex from O(N) to O(1)
  tools/cabana/binaryview.cc
  tools/cabana/chartswidget.cc
  tools/cabana/dbc.cc
  tools/cabana/dbc.h
  tools/cabana/dbcmanager.cc
  tools/cabana/historylog.cc
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/tools/findsimilarbits.cc
  tools/replay/replay.h
Labels: refactor, tools

#27332 GM: Buick LaCrosse 2017-19 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port, gm

#27557 Kia: add missing fwdCamera for Niro HEV 2023
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27083 Ram: FW version dump
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car, chrysler

#27632 process replay: prep for laikad subsock + QCOM GPS
  selfdrive/locationd/laikad.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/test_processes.py
Labels: refactor, CI / testing

#24888 laikad: use non-conflating socket for gnss msgs
  selfdrive/locationd/laikad.py
Labels: enhancement

#27357 GM: common longitudinal actuator delay
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: tuning, car, gm

#27424 test lateral limits: remove Konas from blacklist
  selfdrive/car/tests/test_lateral_limits.py
  selfdrive/car/torque_data/params.yaml
Labels: CI / testing, hyundai

#27644 camerad: reduce daytime HDR blur
  system/camerad/cameras/camera_qcom2.cc
Labels: enhancement

#27637 new model: trained on new dataset
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#27666 FwQueryConfig: use auxiliary field to add requests for first aux panda
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/hyundai/values.py
Labels: enhancement, fingerprint

#27669 FPv2: only set multiplexing when needed
  selfdrive/car/fw_versions.py
  selfdrive/car/hyundai/values.py
Labels: enhancement, fingerprint

#27671 VW: add missing Arteon 2019 FW
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, volkswagen

#27686 Toyota: use DBC for alt brake safety param
  selfdrive/car/toyota/interface.py
Labels: cleanup, car, toyota

#27679 cabana: enables user to select the zoom area when the mouse press on the data point
  tools/cabana/chartswidget.cc
Labels: bugfix, tools

#27688 FPv2: match brand against extra ecus
  selfdrive/car/fw_versions.py
Labels: enhancement, fingerprint, car

#27689 cabana: support qlogs
  tools/cabana/streams/replaystream.cc
Labels: enhancement, tools

#27690 cabana: update state after creating new signal
  tools/cabana/signaledit.cc
Labels: bugfix, tools

#27701 laikad: clean up cloudlog usage
  selfdrive/locationd/laikad.py
Labels: cleanup

#27687 Toyota: add missing FW versions for C-HR Hybrid 2021
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#27676 HKG: add missing 2019 Genesis G70 FW
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#25364 Honda Bosch Radarless: experimental longitudinal support
  docs/CARS.md
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/hondacan.py
  selfdrive/car/honda/interface.py
Labels: enhancement, car, honda

#27722 Honda Civic 2022: match stock Auto Idle Stop behavior
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/hondacan.py
Labels: enhancement, honda

#27740 Honda Bosch Radarless: update stopAccel to match actuation limits
  selfdrive/car/honda/interface.py
Labels: enhancement, car, honda
