Repository commaai/openpilot, pull requests merged in 2023-12, with the labels that each got.

#30566 FW fingerprinting timing: fix refs
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: bug, CI / testing, car

#30579 Toyota: LTA cleanup
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/toyotacan.py
  selfdrive/car/toyota/values.py
Labels: cleanup, car, toyota

#30584 cabana: add test case for parsing all opendbc files
  tools/cabana/tests/test_cabana.cc
Labels: CI / testing, tools

#30602 joystick: bump max angle
  selfdrive/controls/controlsd.py
Labels: car

#30612 joystickd: remove WEB
  tools/joystick/joystickd.py
Labels: tools

#30611 bodyteleop: toggle joystick debug mode
  tools/bodyteleop/web.py
Labels: tools

#30617 Soundd: use alsa
  selfdrive/ui/soundd.py
Labels: ui

#30613 Toyota: LTA unit test
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, car, toyota

#30637 Ford: add Explorer 2023 FW
  docs/CARS.md
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#30638 Ford: add Explorer 2020 FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#30496 ui/ParamControl: do not create ConfirmationDialog on every click
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: ui

#30654 camerad: remove camera_id
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/ox03c10.cc
  system/camerad/sensors/sensor.h
Labels: cleanup

#30656 simulator: set valid flags
  tools/sim/lib/camerad.py
  tools/sim/lib/simulated_sensors.py
Labels: simulation, tools

#30640 soundd/micd: more robust setup procedure
  selfdrive/ui/soundd.py
  system/micd.py
Labels: ui

#30661 jenkins: run all car tests with one command
  Jenkinsfile
Labels: enhancement, CI / testing, car

#30663 athenad: use `socket` constant
  selfdrive/athena/athenad.py
Labels: cleanup

#30664 athena tests: patch instead of juggling function
  selfdrive/athena/tests/test_athenad_ping.py
Labels: CI / testing, cleanup

#30666 cabana: cleanp code
  tools/cabana/dbc/dbc.h
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/dbc/dbcmanager.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/tests/test_cabana.cc
  tools/cabana/util.cc
Labels: tools

#30653 test_models: randomize internal segment list
  conftest.py
  poetry.lock
  pyproject.toml
  selfdrive/car/tests/test_models.py
Labels: enhancement, CI / testing, car

#30665 VW: add missing FW for Skoda Kodiaq 2017
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30589 Added fingerprint for 22 Kia Stinger KIA_STINGER_2022
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#30605 Volkswagen: Tiguan R-Line 2024 Fingerprint
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30028 helper script for fixing up repo size
  scripts/build_small.sh
Labels: cleanup

#30454 remove Qt wrapper scripts
  .gitignore
  release/files_common
  selfdrive/test/test_onroad.py
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/qt/util.cc
  selfdrive/ui/ui
Labels: ui

#29769 ui/driverview: inherit from CameraWidget
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: cleanup, ui

#30678 cabana: fix typo
  tools/cabana/messageswidget.cc
Labels: tools

#30616 Add 2021 Mazda CX-5 engine fingerprint
  selfdrive/car/mazda/values.py
Labels: fingerprint, car, mazda

#29712 FW query timing test: mock get_data function for timeout
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, CI / testing, car

#30646 Update values.py for VW Passat MK8
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30576 HKG: Car Port for Kia Niro Plug-in Hybrid 2022
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port, car, hyundai

#30698 Ford: add CAN FD harness info
  selfdrive/car/ford/values.py
Labels: docs, car, ford

#30677 HKG: Add FW Versions for Kia Carnival 2022
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#30699 VW MQB: Add FW for 2020 Škoda Superb
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#30623 metadrive: fix wasd steer signs
  tools/sim/bridge/common.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/lib/manual_ctrl.py
Labels: simulation, tools

#30704 add car porting docs
  selfdrive/car/README.MD
Labels: docs, car

#30707 cleanup car port docs
  selfdrive/car/README.MD
Labels: docs, car

#30692 Ford: Add F-150 Lightning
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car, ford

#30709 Ford: consolidate comments about unsupported hybrid platforms
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
Labels: docs, car, ford

#30710 Car docs: fixes
  selfdrive/car/README.md
Labels: car

#30672 Hyundai: Car Port for Staria 2023
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, hyundai

#30691 Ford: Add Mach-E
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car, ford

#30716 CI: add codecov token
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#29666 ui/onroad: avoid drawing invalid lanes and leads
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: ui

#28948 Ford: radar + long control fixups
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/radar_interface.py
Labels: enhancement, car, ford

#29733 Hyundai CAN-FD: Panda safety config assignments cleanup
  selfdrive/car/hyundai/interface.py
Labels: car, hyundai

#30714 Subaru: enable alpha longitudinal for gen1 cars
  docs/CARS.md
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/routes.py
Labels: enhancement, car, subaru

#30253 ui: destroy egl_images in main thread
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: ui, Stale

#30722 bump up installer size
  selfdrive/ui/SConscript
Labels: ui

#30727 Docker: add xvfb
  tools/install_ubuntu_dependencies.sh
Labels: tools

#30738 Simulator: fix safety param
  tools/sim/lib/simulated_car.py
Labels: simulation, tools

#30743 metadrive: fix dual_camera mode
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
Labels: simulation, tools

#30745 Metadrive: set near clip
  tools/sim/bridge/metadrive/metadrive_bridge.py
Labels: simulation, tools

#30752 test_models: use gen_empty_fingerprint
  selfdrive/car/tests/test_models.py
Labels: car

#30757 ui: remove unused `roadCameraState` from submaster
  selfdrive/ui/ui.cc
Labels: ui

#30766 ui: show wifi password by default
  selfdrive/ui/qt/widgets/input.cc
Labels: ui

#30517 wifiManager: fix for lteConnectionPath not set on boot
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#30790 Move all fingerprints to fingerprints.py
  .github/labeler.yaml
  selfdrive/car/README.md
  selfdrive/car/body/fingerprints.py
  selfdrive/car/body/values.py
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/tests/test_ford.py
  selfdrive/car/ford/values.py
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/gm/fingerprints.py
  selfdrive/car/gm/tests/test_gm.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/honda/tests/test_honda.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/tests/print_platform_codes.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/fingerprints.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/fingerprints.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/fingerprints.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/fingerprints.py
  selfdrive/car/tesla/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/tests/print_platform_codes.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
  selfdrive/debug/auto_fingerprint.py
Labels: fingerprint, refactor, car

#30443 test_models: fuzz test panda and CarState
  Jenkinsfile
  conftest.py
  selfdrive/car/tests/test_models.py
Labels: CI / testing, car

#30801 cleanup fingerprinting typing
  selfdrive/car/fingerprints.py
  selfdrive/car/fw_query_definitions.py
Labels: car

#30802 Simulator: only send camera frames at rate that they are generated
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/lib/common.py
  tools/sim/lib/simulated_sensors.py
Labels: simulation, tools

#30800 cabana: add csv export
  tools/cabana/SConscript
  tools/cabana/dbc/dbc.cc
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/settings.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/utils/export.cc
  tools/cabana/utils/export.h
  tools/cabana/utils/util.cc
  tools/cabana/utils/util.h
  tools/cabana/videowidget.h
Labels: tools

#30809 fix bad CAN fingerprint type
  selfdrive/car/fingerprints.py
Labels: car

#30813 interfaces: fix get_interface_attr typing
  selfdrive/car/interfaces.py
Labels: car

#30814 fingerprints: fix formatting
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/gm/fingerprints.py
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/mazda/fingerprints.py
  selfdrive/car/nissan/fingerprints.py
  selfdrive/car/subaru/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car

#30792 add script to automatically format fingerprints file
  .pre-commit-config.yaml
  release/files_common
  selfdrive/car/body/fingerprints.py
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/gm/fingerprints.py
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/mazda/fingerprints.py
  selfdrive/car/nissan/fingerprints.py
  selfdrive/car/subaru/fingerprints.py
  selfdrive/car/tesla/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/debug/auto_fingerprint.py
  selfdrive/debug/format_fingerprints.py
Labels: fingerprint, cleanup, car

#30794 test_models: fallback to public route when route isn't uploaded to CI bucket
  selfdrive/car/tests/test_models.py
Labels: enhancement, CI / testing, car

#30827 Simulator: fix keyboard ctrl messing with pytest
  tools/sim/lib/keyboard_ctrl.py
Labels: simulation, tools

#30826 format fingerprints: simplify sorting
  selfdrive/debug/format_fingerprints.py
Labels: fingerprint, cleanup, car

#30833 Fingerprints: add missing FW versions from users
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, car, toyota

#30851 replay ui: fix typo in variable name
  tools/replay/ui.py
Labels: tools

#30681 ui: Enhance URL Handling to Support Partial Inputs
  selfdrive/ui/qt/setup/setup.cc
Labels: ui

#30868 Subaru: longitudinal cleanup and dash status fixes
  selfdrive/car/subaru/subarucan.py
Labels: bugfix, cleanup, car, subaru

#30783 multilang: bad language translation check
  selfdrive/ui/tests/test_translations.py
Labels: CI / testing, ui

#30870 [Cabana] Fix segfault in sparkline
  tools/cabana/chart/sparkline.cc
Labels: bugfix, tools
