Repository commaai/openpilot, pull requests merged in 2023-07, with the labels that each got.

#28761 Moonrise Model
  selfdrive/modeld/models/nav.h
  selfdrive/modeld/models/navmodel.onnx
  selfdrive/modeld/models/navmodel_q.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement, research

#28665 UI: Indicate when Nav on OP is enabled
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement, ui

#28765 UI: adjust opacity instead of visibility to indicate engageability
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement, ui

#28771 ui/MapSettings: remove white border around destinations
  selfdrive/ui/qt/maps/map_settings.cc
Labels: PC, bugfix, ui

#28792 Ford: add Explorer 2022 FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#28766 add Lexus UX Hybrid 2023 FW
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: fingerprint, awaiting info, car, toyota

#28796 nav ui: restore speed-adaptive map zoom level
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: bugfix, ui

#28820 Hyundai : Add fw for SONATA 2020
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27785 HKG: Car Port for Kia Carnival 2023 (HDA1)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, hyundai

#28598 Refactor model runners
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/nav.cc
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/runners/onnxmodel.h
  selfdrive/modeld/runners/runmodel.h
  selfdrive/modeld/runners/snpemodel.cc
  selfdrive/modeld/runners/snpemodel.h
  selfdrive/modeld/runners/thneedmodel.cc
  selfdrive/modeld/runners/thneedmodel.h
Labels: refactor

#28833 Toyota: log another permanent LTA fault
  selfdrive/car/toyota/carstate.py
Labels: car, toyota

#28604 Hyundai: explicitly copy signals to forward (#28020)
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/hyundaicanfd.py
Labels: refactor, car, hyundai

#28806 VW: add MY23 Crafter FW
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28803 Mazda CX-5 2022 fingerprint
  selfdrive/car/mazda/values.py
Labels: fingerprint, car, mazda

#27420 Update values.py fw Toyota Prius Plug-In MY2022
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28836 cabana: fix the issue that editing signal will segfault when there is a filter string
  tools/cabana/signalview.cc
Labels: bugfix, tools

#28844 Toyota: add missing engine FW for 2023 RAV4 Hybrid
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28847 Toyota LTA: lower angle rate limits
  selfdrive/car/toyota/values.py
Labels: enhancement, car, toyota

#28318 Hyundai: blacklist bad camera FW
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint, bugfix, car, hyundai

#26381 Subaru: add footnote to docs for international models
  docs/CARS.md
  selfdrive/car/subaru/values.py
Labels: docs, car, subaru

#28850 Toyota LTA: prevent high driver torque fault
  selfdrive/car/toyota/carcontroller.py
Labels: bugfix, car, toyota

#28849 replay: emit segmentsMerged before updateEvent
  tools/replay/replay.cc
Labels: bugfix, tools

#28780 ui/map: draw ETA with rich formatted text
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: enhancement, ui

#28800 ui/map: Use an overlay widget to simplify code and improve rendering performance.
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: refactor, ui

#28852 VW MQB: Add FW for 2018 Volkswagen Golf
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27156 v4l_encoder: enable hevc vui header timing info flag
  system/loggerd/encoder/v4l_encoder.cc
Labels: enhancement

#28788 ui/map: reuse the Qlabels and remove call to `clearLayout`
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: enhancement, ui

#28851 2023 Hyundai Sonata Hybrid Fingerprint
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#28861 Toyota: add missing FW for 2023 RAV4 Hybrid
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28805 Fingerprint - 2020 Mazda CX-9
  selfdrive/car/mazda/values.py
Labels: fingerprint, car, mazda

#28865 map settings: accept touch events
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/onroad.cc
Labels: cleanup, nav, ui

#28878 ui/map: don't clear eta when map is hidden
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix, ui

#28877 ui: use local variables to access capnp readers that are used multiple times
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
Labels: refactor

#28862 ui/map: singleton navigation requests
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Labels: enhancement, ui

#28881 UI: preserve recent destinations sort order
  selfdrive/ui/qt/maps/map_settings.cc
Labels: bugfix, ui

#28885 Multilang: kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: enhancement, multilanguage

#28884 nav: hide settings on map request visible
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_panel.cc
Labels: enhancement, ui

#28867 ui: show map with nav
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.h
Labels: enhancement, nav, ui

#28897 ui: reset nav status on offroad transition
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix, nav, ui

#28905 ui: fix timeout typo
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: bugfix, ui

#28908 ui: singleton Device instance
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: cleanup, ui

#28854 ui/map: handle & display error in MapWindow
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: refactor, ui

#28904 map panel: show map on interactive timeout
  selfdrive/ui/qt/maps/map_panel.cc
Labels: enhancement, nav, ui

#28886 ui/MapSettings: sort location JsonArray inplace
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Labels: enhancement, cleanup, ui

#28915 Hyundai: add Ioniq 6 platform
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: fingerprint, car, hyundai

#28916 remove subprocess32 package
  poetry.lock
  pyproject.toml
Labels: cleanup

#28918 HKG: Add FW Versions for China Kia Carnival 2023
  docs/CARS.md
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: fingerprint, car, hyundai

#28910 ignore generated alert header file
  .gitignore
Labels: cleanup

#28902 ui: use stencil buffer to draw polygons
  selfdrive/ui/qt/util.cc
Labels: bugfix, ui

#28932 FuzzyGenerator: return bytes for data
  selfdrive/test/fuzzy_generation.py
Labels: CI / testing, bugfix

#28927 test_onroad: lower ui CPU usage
  selfdrive/test/test_onroad.py
Labels: CI / testing

#28936 test car interface: fuzzy experimental long
  selfdrive/car/tests/test_car_interfaces.py
Labels: enhancement, CI / testing

#28937 test car interfaces: support pytest
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing, bugfix

#28938 CanBusBase: fix offset calculation
  selfdrive/car/__init__.py
Labels: bugfix, car

#28913 Adding FW for 2023 Volkswagen Arteon
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28883 experimental mode: gate nav
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/modeld.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, nav

#28699 GM ASCM: don't apply gas when stopping
  selfdrive/car/gm/carcontroller.py
Labels: bugfix, car, gm

#28941 Hyundai: fix alt button cancel message always blocked
  selfdrive/car/hyundai/hyundaicanfd.py
Labels: bugfix, car, hyundai

#28943 loggerd: add types to tests and use pathlib
  system/loggerd/config.py
  system/loggerd/tests/fill.py
  system/loggerd/tests/loggerd_tests_common.py
  system/loggerd/tests/test_deleter.py
  system/loggerd/tests/test_uploader.py
  system/loggerd/xattr_cache.py
Labels: cleanup

#28944 modeld: comment out unused variables
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/modeld.cc
Labels: cleanup

#28783 ui/map: cache navigation images at startup
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: enhancement, ui

#28907 ui: set max brightness when showing the QR code
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement, ui

#28947 test_models: fix rx message bus
  selfdrive/car/tests/test_models.py
Labels: CI / testing, bugfix

#28953 test_models: don't skip test cases with multiple pytest jobs
  selfdrive/car/tests/test_models.py
Labels: CI / testing, bugfix

#28934 FuzzyGenerator: typing
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/test/fuzzy_generation.py
Labels: CI / testing, cleanup

#28950 ui/MapSettings: store destinations to load on widget init
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Labels: bugfix, nav, ui

#28960 ui/map: fix wrong remaining time
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix, nav, ui

#28930 pandad: enable tres release -> bootstub test
  selfdrive/boardd/tests/test_pandad.py
Labels: CI / testing

#28979 Ford: set CAN FD safety param
  selfdrive/car/ford/interface.py
Labels: enhancement, car, ford

#28961 ui/MapSettings: remove call to `clearLayout`
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Labels: refactor, nav, ui

#28974 Ford: add F-150 2023 support (dashcam only)
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, ford

#28864 athenad: test connection timeout
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad_ping.py
Labels: CI / testing

#28993 Ford: FW query ECU whitelist
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#28634 Nissan FPv2: use default diagnostic session
  selfdrive/car/nissan/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: bugfix, car, nissan, ford

#29007 experimental mode: gate nav
  selfdrive/modeld/modeld.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, nav

#28958 nav: show when using navigate on openpilot
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: enhancement, nav, ui

#29009 ui: change last reference to experimental longitudinal
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: bugfix, ui

#28954 test car interfaces: more GM coverage
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing, bugfix

#28931 test car interface: fuzzy CarParams
  selfdrive/car/tests/test_car_interfaces.py
Labels: enhancement, CI / testing

#28848 Toyota LTA: limit max angle with applied torque
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/toyotacan.py
Labels: enhancement, car, toyota

#29014 IsoTpParallelQuery: log empty responses
  selfdrive/car/isotp_parallel_query.py
Labels: fingerprint, bugfix, car

#29020 nav: show green path when enabled
  selfdrive/ui/qt/maps/map.cc
Labels: enhancement, ui

#29025 navd: handle key present with none value
  selfdrive/navd/helpers.py
Labels: bugfix

#29023 Toyota: add hybrid ECU FW versions for 2023 RAV4 Hybrid
  selfdrive/car/toyota/values.py
Labels: enhancement, fingerprint, car, toyota

#29033 long_mpc: clean up get_T_FOLLOW() usage
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Labels: cleanup

#28511 Panda logs
  common/params.cc
  selfdrive/boardd/pandad.py
  selfdrive/boardd/tests/test_pandad.py
Labels: enhancement

#29054 nav: set icon anchor for destination pin
  selfdrive/ui/qt/maps/map.cc
Labels: enhancement, nav

#28976 ui/map: move `MapInstructions` & `MapETA` to separate files
  selfdrive/ui/SConscript
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_eta.cc
  selfdrive/ui/qt/maps/map_eta.h
  selfdrive/ui/qt/maps/map_instructions.cc
  selfdrive/ui/qt/maps/map_instructions.h
Labels: cleanup

#29061 ui: set global map transition duration
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix, nav, ui

#29067 Nav: Reset backoff on route clearing
  selfdrive/navd/navd.py
Labels: bugfix, nav

#29065 ui/map: fix ETA widget text spacing
  selfdrive/ui/qt/maps/map_eta.cc
Labels: bugfix, nav, ui

#29076 nav: improve no route alert text
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, nav, ui

#28949 test_models: panda safety tx test
  selfdrive/car/tests/test_models.py
Labels: enhancement, CI / testing

#28923 [GMC ACADIA DENALI 2018] Move to torque control, non-linear feed-forward
  selfdrive/car/gm/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/torque_data/params.yaml
Labels: enhancement, controls, car, gm

#29078 ui/MapSettings: remove function `shorten`
  selfdrive/ui/qt/maps/map_settings.cc
Labels: cleanup, nav, ui

#28962 VW MQB: Add FW for 2023 Skoda Scala
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29080 dmonitoringmodeld: initialize model first
  common/params.cc
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/navmodeld.cc
  selfdrive/test/process_replay/model_replay.py
Labels: bugfix

#29109 ui/settings: use exsting params instead of construct a new one
  selfdrive/ui/qt/offroad/settings.cc
Labels: cleanup, ui

#29112 disable_ecu: support sub-addresses
  selfdrive/car/disable_ecu.py
Labels: enhancement, car

#29017 athena: stricter socket timeout when onroad
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad_ping.py
Labels: enhancement

#29060 Toyota: add fwdCamera ECU version for 2022 Lexus RX Hybrid
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#29068 ui: new nav settings button
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement, nav, ui

#29034 navd: don't use empty last step banner instructions
  selfdrive/navd/navd.py
  selfdrive/ui/qt/maps/map_instructions.cc
Labels: bugfix, nav

#29032 navd: fix hysteresis when reaching destination
  selfdrive/navd/navd.py
Labels: bugfix, nav

#29147 nav: increase settings button resolution
  selfdrive/assets/navigation/icon_directions_outlined.svg
Labels: bugfix, nav, ui

#29167 Experimental mode toggle description: missing spaces
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: bugfix, ui

#29177 Update Car/Subaru values.py to support 2022 Crosstrek
  selfdrive/car/subaru/values.py
Labels: fingerprint, awaiting info, subaru

#29182 docs: CAN FD cars require a comma 3X or CAN FD panda kit
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: enhancement, docs
