Repository commaai/openpilot, pull requests merged in 2023-05, with the labels that each got.

#28068 2023 RAV4 Hybrid Fingerprint
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28057 Fingerprint US model of 2023 Kia Niro EV
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#28063 new model: trained with augmented turn desire pulses
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#28070 VW MQB: Add FW for 2018 Volkswagen Passat
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28094 docker: copy body submodule
  Dockerfile.openpilot
Labels: bugfix

#28091 UI: cleanup old training guide coords
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
Labels: cleanup, ui

#28085 training guide: use comma three image
  selfdrive/assets/training/step8.png
Labels: enhancement, ui

#28097 Nissan: use raw speed to calculate angle limits
  selfdrive/car/nissan/carcontroller.py
Labels: enhancement, car, nissan

#28074 car interfaces: assert some friction
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing, car

#28017 params: cleanup old params that aren't defined
  common/params.cc
  common/tests/test_params.py
  common/tests/test_util.cc
  common/util.cc
  common/util.h
Labels: enhancement

#28065 cabana: Make the close button on TabBar look consistent and adaptable to different templates.
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/util.cc
  tools/cabana/util.h
Labels: enhancement, tools

#28110 Ford: cleanup long control and send stopping signal
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
Labels: enhancement, car, ford

#28098 Chrysler: Pacifica Hybrid 2023 support
  docs/CARS.md
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car

#28112 test Ford in process replay
  selfdrive/test/process_replay/test_processes.py
Labels: CI / testing

#28113 Ford: add Escape test route and remove dashcam only
  docs/CARS.md
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
Labels: enhancement, car, ford

#28111 Ford: log ACC faults
  selfdrive/car/ford/carstate.py
Labels: enhancement, car, ford

#27391 ui: more granular accel gradient
  selfdrive/ui/qt/onroad.cc
Labels: enhancement, ui

#28119 Lane Departure Warning: fix desire index bug
  selfdrive/controls/controlsd.py
Labels: bugfix, controls

#28069 HKG: Genesis GV80 2023 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, hyundai

#26848 controlsd: remove procs from ignore list
  Jenkinsfile
  selfdrive/controls/controlsd.py
Labels: cleanup

#28127 seldrive: use common sig handler
  selfdrive/navd/main.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/soundd/main.cc
Labels: cleanup

#28134 camerad: write static AE settings only once
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/sensor2_i2c.h
Labels: enhancement

#28120 Added FW for VW Passat B8 2018
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28049 Lateral Planner: Calibrate model speed with vEgo
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, controls

#28145 ui/drawLaneLines: read the accel from the submaster outside of the loop
  selfdrive/ui/qt/onroad.cc
Labels: enhancement, ui

#28152 training guide: higher quality image
  selfdrive/assets/training/step8.png
  selfdrive/ui/qt/offroad/onboarding.h
Labels: enhancement

#28147 Ford: fix LateralMotionControl2 checksum
  selfdrive/car/ford/fordcan.py
Labels: bugfix, car, ford

#28151 onroad transition: clear params and start safety setter thread
  common/params.cc
  common/params.h
  common/params_pyx.pyx
  selfdrive/boardd/boardd.cc
  selfdrive/manager/manager.py
  selfdrive/thermald/thermald.py
Labels: refactor, bugfix

#28156 Ford: explicitly copy signals to forward
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/fordcan.py
Labels: refactor, car, ford

#28157 Toyota: explicitly copy signals to forward
  selfdrive/car/toyota/toyotacan.py
Labels: refactor, car, toyota

#28154 HKG: Genesis GV70 2023 support
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#28171 Ford: hybrids are unsupported
  RELEASES.md
  docs/CARS.md
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/controls/lib/events.py
Labels: car, ford

#26908 AGNOS 7
  RELEASES.md
  launch_env.sh
  system/hardware/tici/agnos.json
  system/hardware/tici/hardware.py
Labels: enhancement, comma three

#28150 HKG: Add missing FW for 2022 Hyundai Santa Fe
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#28146 VW MQB: Add FW for 2023 Volkswagen Touran
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28181 Ford: add Maverick test route
  docs/CARS.md
  selfdrive/car/ford/interface.py
  selfdrive/car/tests/routes.py
Labels: enhancement, car, ford

#28114 Ford: improved ACC UI for OP long
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/fordcan.py
Labels: enhancement, car, ford

#28185 Ford: block stock ACC warnings on OP long
  selfdrive/car/ford/fordcan.py
Labels: enhancement, car, ford

#28143 ui: handle prime type change in new function UIState::setPrimeType
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: cleanup, ui

#28175 Add fingerprint for 2022 Honda Passport
  docs/CARS.md
  selfdrive/car/honda/values.py
Labels: fingerprint, car, honda

#28139 add harness kit content to the doc
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: enhancement, docs, car

#28055 Nissan: set LKA active with latActive
  selfdrive/car/nissan/carcontroller.py
Labels: cleanup, car, nissan

#28168 ui/drawDriverState: don't draw circle bg twice
  selfdrive/ui/qt/onroad.cc
Labels: enhancement, ui

#28205 Ford: add Explorer 2020 ST FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#28206 uploader: check upload key value
  system/loggerd/tests/loggerd_tests_common.py
  system/loggerd/tests/test_uploader.py
  system/loggerd/uploader.py
Labels: bugfix

#28220 ui/settings: fixed button overlap in sidebar.
  selfdrive/ui/qt/offroad/settings.cc
Labels: bugfix, ui

#28217 QCOM laikad: add glonass support
  selfdrive/locationd/laikad.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, comma three

#28228 Ford: log stock AEB
  selfdrive/car/ford/carstate.py
Labels: enhancement, car, ford

#28231 Ford: longitudinal clean up
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/values.py
Labels: cleanup, car, ford

#28196 Ford: longitudinal behind alpha toggle
  docs/CARS.md
  selfdrive/car/ford/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, ford

#28233 cabana: fix segfault on screen changed
  tools/cabana/chart/chart.cc
Labels: bugfix, tools

#28234 cabana: use the same double precision as the dbc file
  tools/cabana/dbc/dbc.h
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/signalview.cc
Labels: enhancement, tools

#28230 HKG: add 2017 Genesis G90 Fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint, hyundai

#28240 Subaru: Add fw for 2020 Subaru Outback
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#28243 GM: explicitly copy signals to forward
  selfdrive/car/gm/gmcan.py
Labels: refactor, car, gm

#28179 VW: Explicit signal pass-through
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/pqcan.py
Labels: refactor, car, volkswagen

#28244 Mazda: explicitly copy signals to forward
  selfdrive/car/mazda/mazdacan.py
Labels: refactor, car, mazda

#28229 Skoda: add fw for Superb 2020
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28212 car docs: list all needed hardware
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: enhancement, docs

#28218 Nicki Minaj Model
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/runners/thneedmodel.cc
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement, research

#28266 car docs: fix diff bot
  selfdrive/car/docs_definitions.py
Labels: bugfix, docs, car

#28264 car docs: allow auto_resume override
  selfdrive/car/docs_definitions.py
Labels: enhancement, docs, car

#28236 remove sleep on launch
  launch_chffrplus.sh
Labels: enhancement

#28283 UI: reduce margin around software version
  selfdrive/ui/qt/home.cc
Labels: bugfix, ui

#28284 UI: cleanup OffroadHome layout
  selfdrive/ui/qt/home.cc
Labels: cleanup, ui

#28285 CARS.md: footnotes header
  docs/CARS.md
  selfdrive/car/CARS_template.md
Labels: docs, car

#28277 ui: smooth wide cam transition
  common/modeldata.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: enhancement, ui

#28226 ui: update DM icon at every frame
  selfdrive/ui/qt/onroad.cc
Labels: cleanup, ui

#28200 controlsd: check longitudinalPlan avg freq
  selfdrive/controls/controlsd.py
Labels: cleanup, controls

#28199 manager: clear onroad/offroad transition params on start
  selfdrive/manager/manager.py
Labels: enhancement

#28081 cabana: supports switching streams on the fly
  tools/cabana/cabana.cc
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/signalview.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/devicestream.cc
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/pandastream.cc
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/streamselector.cc
  tools/cabana/streamselector.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: enhancement, tools

#28289 UI: add missing QPushButton pressed styles
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/updater.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/keyboard.cc
Labels: bugfix, ui

#28287 UI: update "Finish Setup" widget style
  selfdrive/ui/qt/widgets/prime.cc
Labels: enhancement, ui

#28300 UI: PrimeUserWidget cleanup
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
Labels: cleanup, ui

#28066 Subaru: frequency based messaging
  selfdrive/car/subaru/carcontroller.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, car, subaru

#28304 Subaru: explicitly copy signals to forward
  selfdrive/car/subaru/subarucan.py
Labels: refactor, car, subaru

#28305 Nissan: explicitly copy signals to forward
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/nissancan.py
Labels: refactor, car, nissan

#28306 Tesla: explicitly copy signals to forward
  selfdrive/car/tesla/teslacan.py
Labels: refactor, car, tesla

#28020 Hyundai: explicitly copy signals to forward
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/hyundaicanfd.py
Labels: refactor, car, hyundai

#28293 car docs: sort parts by shown name
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Labels: docs, car

#28312 controls: write recalibrating offroad alert once
  selfdrive/controls/controlsd.py
Labels: bugfix, controls

#28319 cabana: fix broken message filtering
  tools/cabana/messageswidget.cc
Labels: bugfix, tools

#28326 IsoTpParallelQuery: fixup comment and simpler response check
  selfdrive/car/isotp_parallel_query.py
Labels: fingerprint, cleanup

#28328 Ford: fix counter in LateralMotionControl2 message
  selfdrive/car/ford/carcontroller.py
Labels: bugfix, car, ford

#28325 IsoTpParallelQuery: log all timeouts
  selfdrive/car/isotp_parallel_query.py
Labels: enhancement, fingerprint

#28336 Nissan: add counter signal to forwarded message
  selfdrive/car/nissan/carstate.py
Labels: bugfix, car, nissan

#28341 cars: explicitly add counter/checksum messages
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/subaru/carstate.py
Labels: cleanup, car

#28342 Mazda: set default steering control values
  selfdrive/car/mazda/mazdacan.py
Labels: bugfix, car, mazda

#28303 UI: remove comma points
  common/params.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui
