Repository commaai/openpilot, pull requests merged in 2023-06, with the labels that each got.

#28292 car docs: document parts of parts
  docs/CARS.md
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: enhancement, refactor, docs, car

#28356 UI snapshot tool
  selfdrive/ui/SConscript
  selfdrive/ui/tests/.gitignore
  selfdrive/ui/tests/ui_snapshot.cc
  selfdrive/ui/tests/ui_snapshot.h
Labels: tools, ui

#28357 Kia Ceed: display lane lines in HUD
  selfdrive/car/hyundai/hyundaican.py
Labels: enhancement, car, hyundai

#28362 Toyota: remove incorrect FW version
  selfdrive/car/toyota/values.py
Labels: bug, fingerprint, car, toyota

#28366 Remove INDI controller
  release/files_common
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/controls/lib/tests/test_latcontrol.py
Labels: cleanup, controls

#28302 VW MQB: Angled mounts for Transporter and Crafter
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: docs, car, volkswagen

#28369 fw_versions: add some typing
  selfdrive/car/fw_versions.py
Labels: fingerprint, cleanup

#28372 IsoTpParallelQuery: remove spammy log
  selfdrive/car/isotp_parallel_query.py
Labels: fingerprint, car

#28376 Hyundai: remove some old FW
  selfdrive/car/hyundai/values.py
Labels: fingerprint, cleanup, hyundai

#28343 Honda: Add FW for 2023 Honda Passport
  docs/CARS.md
  selfdrive/car/honda/values.py
Labels: fingerprint, car, honda

#28273 UI: connect to wifi prompt
  selfdrive/assets/offroad/icon_wifi_uploading.svg
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/qt/widgets/wifi.cc
  selfdrive/ui/qt/widgets/wifi.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, ui

#28384 match_fw_to_car_exact: get config once per candidate
  selfdrive/car/fw_versions.py
Labels: fingerprint, cleanup, car

#28380 cars docs: add Škoda heated windshield footnote
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: docs, car, volkswagen

#28411 Ram 3500 Firmware
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car, chrysler

#28409 VW MQB: Add FW for 2018 Skoda Karoq
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28417 ui: wrap missing updater text
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#24742 Driving Personality setting (also changes follow distance)
  RELEASES.md
  common/params.cc
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/manager/manager.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, car

#28425 ui: refactor ButtonParamControl
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
Labels: cleanup, ui

#28428 VW MQB: Add FW for 2020 Skoda Kodiaq
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28410 Hyundai: add missing FW for Santa Fe Hybrid 2022
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#28397 More missing FW for the Ram 1500s
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car, chrysler

#28392 Added additional Firmware for Ram 1500
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car, chrysler

#27467 VW: 2018 Audi RS3 FW
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28434 match_fw_to_car: pass down log
  selfdrive/car/fw_versions.py
Labels: fingerprint, cleanup, car

#28439 FPv2: brand filter helper
  selfdrive/car/fw_versions.py
Labels: fingerprint, cleanup, car

#28433 FPv2: test minimum fuzzy fingerprint ECUs
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing, car

#28389 Cabana: Improve contrast when using dark themes
  tools/cabana/binaryview.cc
  tools/cabana/chart/chart.cc
  tools/cabana/historylog.cc
  tools/cabana/signalview.cc
Labels: enhancement, tools

#28427 Multilang: add missing Chinese (Traditional) translations
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#28423 fuzzy fingerprint: track number of matching ECUs, not FW versions
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, bugfix, car

#28441 FPv2: assert non-empty FW lists
  selfdrive/car/ford/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing, car

#28442 ButtonParamControl: minimum button width
  selfdrive/ui/qt/widgets/controls.h
Labels: enhancement, ui

#28431 Multilang: update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: multilanguage

#28465 FPv2: add comment about nuance of fuzzy fingerprinting
  selfdrive/car/fw_versions.py
Labels: fingerprint, car

#28458 Honda: set autoResumeSng for docs
  docs/CARS.md
  selfdrive/car/honda/interface.py
Labels: docs, car, honda

#28459 car docs: test print_docs_diff
  selfdrive/car/tests/test_docs.py
Labels: CI / testing, docs, car

#28474 MapPanel cleanup
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Labels: cleanup, ui

#28475 FwQueryConfig: add platform code function support and tests
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, fingerprint, car

#28488 UI: consider border when setting map width
  selfdrive/ui/qt/onroad.cc
Labels: bugfix, ui

#28489 selfdrive/car: reusable CanBus helper
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/hyundaicanfd.py
  selfdrive/car/hyundai/interface.py
Labels: refactor

#28491 Ford: detect auxiliary panda
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/ford/values.py
Labels: enhancement, car, ford

#28482 Encoderd: encoders just encode, no writing
  system/loggerd/encoder/encoder.cc
  system/loggerd/encoder/encoder.h
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/ffmpeg_encoder.h
  system/loggerd/encoder/v4l_encoder.cc
  system/loggerd/encoder/v4l_encoder.h
  system/loggerd/encoderd.cc
Labels: refactor

#28493 Ford: shiftByWire ECU not used for fingerprinting
  selfdrive/car/ford/values.py
Labels: fingerprint, cleanup, car, ford

#28494 add Lincoln Aviator 2020 FW
  docs/CARS.md
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#28500 VW MQB: Add FW for 2018 SEAT Leon
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28453 Subaru: use latActive for steer request bit
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/subarucan.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, subaru

#28525 HKG: FW part number test
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
Labels: CI / testing, car, hyundai

#28309 cabana: support multiplexed signals
  tools/cabana/binaryview.cc
  tools/cabana/chart/chart.cc
  tools/cabana/chart/sparkline.cc
  tools/cabana/chart/sparkline.h
  tools/cabana/commands.cc
  tools/cabana/commands.h
  tools/cabana/dbc/dbc.cc
  tools/cabana/dbc/dbc.h
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
  tools/cabana/dbc/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/historylog.cc
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/tests/test_cabana.cc
  tools/cabana/tools/findsimilarbits.cc
Labels: enhancement, tools

#28532 HKG: split up platform code parsing
  selfdrive/car/hyundai/values.py
Labels: fingerprint, cleanup, car

#28537 exact matching: use set for invalid
  selfdrive/car/fw_versions.py
Labels: fingerprint, refactor

#28538 FwQueryConfig: remove platform codes
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, cleanup, car

#28540 FPv2 timing unit test: halve runs
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing, cleanup

#28542 Hyundai FPv2 unit tests: clean up
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: fingerprint, CI / testing, cleanup, car, hyundai

#28549 HKG: add script to view platform codes
  selfdrive/car/hyundai/tests/print_platform_codes.py
Labels: car, hyundai

#28555 HKG: test list of platforms with no fwdCamera dates
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint, CI / testing, car

#28531 HKG: use platform codes to fuzzy fingerprint
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/hyundai/tests/print_platform_codes.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, fingerprint, car, hyundai

#28554 cabana: use raw signal value to match value descriptions
  tools/cabana/dbc/dbc.cc
Labels: bugfix, tools

#28562 FPv2: don't add debug candidates to versions globally
  selfdrive/car/fw_versions.py
Labels: fingerprint, bugfix, car

#28530 test: car interface fuzzy testing
  release/files_common
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/test/fuzzy_generation.py
Labels: CI / testing, car

#28504 Added new fingerprint of VW California 2021
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#28547 Nicolas Cage Model
  selfdrive/modeld/models/supercombo.onnx
Labels: enhancement, research

#28448 Enable nav features in modeld
  selfdrive/manager/process_config.py
  selfdrive/modeld/modeld.cc
  selfdrive/test/test_onroad.py
Labels: enhancement, research

#28586 Ford: add new engine FW for Bronco Sport
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#28585 Nissan FPv2: log different diagnostic session types
  selfdrive/car/nissan/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, bugfix, car, nissan, ford

#28587 cabana: fix segfault when switching DBC files.
  tools/cabana/chart/chartswidget.cc
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
Labels: bugfix, tools

#28591 Multilang: update pt-BR 'alfa' translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: enhancement, multilanguage

#28599 boardd spi: prevent busy wait when TX buffers full
  selfdrive/boardd/spi.cc
Labels: bugfix

#28608 Toyota: rename KWP FW request
  selfdrive/car/toyota/values.py
Labels: fingerprint, cleanup, toyota

#28607 Toyota: remove bad FW
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28618 networking: add forget btn pressed state
  selfdrive/ui/qt/offroad/networking.cc
Labels: bugfix, ui

#28623 Hyundai: enable radar tracks for 2019 Santa Fe
  selfdrive/debug/hyundai_enable_radar_points.py
Labels: enhancement, car, hyundai

#28631 gitignore: add file from a test
  .gitignore
Labels: cleanup

#28632 Toyota: add note about available ECUs
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28635 UI: fix DM icon margins
  selfdrive/ui/qt/onroad.cc
Labels: bugfix, ui

#28633 Toyota: add combination meter and SRS airbag ECUs
  selfdrive/car/toyota/values.py
Labels: enhancement, fingerprint, car, toyota

#28512 ui: multilang offroad alerts
  selfdrive/controls/lib/alertmanager.py
  selfdrive/controls/lib/alerts_offroad.json
  selfdrive/controls/tests/test_alerts.py
  selfdrive/ui/.gitignore
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/update_translations.py
Labels: enhancement, multilanguage

#28476 UI: improved nav destination entry
  selfdrive/assets/navigation/icon_directions.svg
  selfdrive/assets/navigation/icon_directions_outlined.svg
  selfdrive/assets/navigation/icon_favorite.svg
  selfdrive/assets/navigation/icon_home.svg
  selfdrive/assets/navigation/icon_recent.svg
  selfdrive/assets/navigation/icon_settings.svg
  selfdrive/assets/navigation/icon_work.svg
  selfdrive/assets/navigation/screenshot.png
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, nav, ui

#28636 Multilang: Chinese (Traditional) offroad alerts translation
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, multilanguage

#28638 update mapbox style
  selfdrive/ui/qt/maps/map.cc
Labels: enhancement, ui

#28642 ui/map_settings: remove repaint
  selfdrive/ui/qt/maps/map_settings.cc
Labels: cleanup, ui

#27416 UI: border is always engagement state
  selfdrive/ui/mui.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement

#28649 Toyota: add transmission ECU
  selfdrive/car/toyota/values.py
Labels: car, toyota

#28652 Toyota: remove one hybrid control computer ECU address
  selfdrive/car/toyota/values.py
Labels: fingerprint, bugfix, car, toyota

#28653 Toyota: add central gateway ECU
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28660 cabana: fixed the issue of parsing multiplexed signals
  tools/cabana/dbc/dbc.cc
  tools/cabana/dbc/dbcfile.cc
Labels: bugfix, tools

#28659 Multilang: update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: enhancement, multilanguage

#28657 cabana: properly handle unix signals
  tools/cabana/cabana.cc
  tools/cabana/util.cc
  tools/cabana/util.h
Labels: enhancement, tools

#28625 Modeld: send confidence class
  common/modeldata.h
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#28658 Test and fix cruise speed all personalities
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/tests/test_cruise_speed.py
  selfdrive/controls/tests/test_following_distance.py
Labels: bugfix, controls

#28666 Toyota: add alternate transmission address
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28670 Toyota: add HVAC ECU
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28671 Toyota: add alternate hybrid control ECU
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28674 Toyota: more ECU documentation
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28677 FPv2: cleanup FW query timing test
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing, cleanup

#28676 FPv2: test timing for present ECUs and VIN queries
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing

#27624 VW: Prep for MLB, EPS timer cleanup
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Labels: cleanup, car, volkswagen

#28248 VW PQ: Extended standstill for FtS with EPB
  selfdrive/car/volkswagen/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, volkswagen

#28690 Multilang: CHT translations for new nav UI
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, multilanguage

#28678 Lexus: add missing NX 300H 2021 FW
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#28331 GM camera ACC: add camera diagnostic address to fingerprints
  selfdrive/car/gm/tests/__init__.py
  selfdrive/car/gm/tests/test_gm.py
  selfdrive/car/gm/values.py
Labels: enhancement, fingerprint, car, gm

#28167 UI/AnnotatedCameraWidget: cleanup drawHud
  selfdrive/ui/qt/onroad.cc
Labels: cleanup, ui

#28707 Toyota: set radarUnavailable
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/radar_interface.py
Labels: refactor, car, toyota

#28716 Toyota: cleanup steering fault definitions
  selfdrive/car/toyota/carstate.py
Labels: cleanup, car, toyota

#28711 Toyota: check Lane Tracing Assist (LTA) EPS faults
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/tests/test_toyota.py
Labels: enhancement, car, toyota

#28708 GM: allow enabling down to a stop for Silverado/Sierra
  selfdrive/car/gm/interface.py
Labels: enhancement, car, gm

#28712 Ford: add missing 2020 Escape FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#28720 desire helper: fix text flicker when changing direction
  selfdrive/controls/lib/desire_helper.py
Labels: bugfix, controls

#28717 Toyota LTA: show alert when steering angle sensor is initializing
  selfdrive/car/toyota/interface.py
Labels: enhancement, bugfix, car, toyota

#28722 Toyota LTA: set actuator delay
  selfdrive/car/toyota/interface.py
Labels: enhancement, car, toyota

#28713 Nav: show gps as long as it's 100m accuracy
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: bugfix, nav

#28709 car docs: use experimental long limits
  docs/CARS.md
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
Labels: enhancement, docs, car

#28490 ui: hide sidebar when map shows
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map_panel.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: bugfix, ui

#28727 Hyundai: Add FW Versions for Santa Fe ICE 2023
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#28718 Multilang: Instructions to preview alerts
  selfdrive/ui/translations/README.md
Labels: docs, multilanguage

#27924 Ford: show FCW alert on IPC
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
Labels: enhancement, car, ford

#28732 Toyota: refactor carcontroller
  selfdrive/car/toyota/carcontroller.py
Labels: refactor, car, toyota

#28656 ui: ignore tap to wake device
  selfdrive/ui/qt/window.cc
Labels: bugfix, ui

#28735 Toyota: set and limit angle for LTA control
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/values.py
Labels: enhancement, car, toyota

#28737 Toyota: essential ECU test
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, car, toyota

#28741 FwQueryConfig: test request lists
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing, car

#28569 Mazda: query and log FW on bus 0
  selfdrive/car/mazda/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, car, mazda

#28170 Ford: catch camera ACC faults
  selfdrive/car/ford/carstate.py
Labels: enhancement, car, ford

#27865 ui: prevent constant clicking on experimental button
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement, ui

#28744 Ford: add Escape 2021 FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#28758 Added new 2023 Ram 1500 FW
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car, chrysler

#28746 ui/sidebar: Fix the inconsistent padding in different languages.
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: bugfix, multilanguage

#28753 ui/settings: allow driving personality without CarParams
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Labels: bugfix, ui

#28762 Toyota: rename undefined signal
  selfdrive/car/toyota/toyotacan.py
Labels: bugfix, car, toyota
