Repository commaai/openpilot, pull requests merged in 2023-02, with the labels that each got.

#27164 GM camera ACC: reliable relay closing
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, gm

#27105 paramsd: Check if roll from the localizer is actually valid
  selfdrive/locationd/paramsd.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, controls

#27175 Hyundai: Enable radar tracks for Santa Fe 2019
  selfdrive/debug/hyundai_enable_radar_points.py
Labels: enhancement, car, hyundai

#27148 Multilang: add missing Thai translations
  selfdrive/ui/translations/main_th.ts
Labels: multilanguage

#27162 Ubloxd: gps add iodc check
  selfdrive/locationd/test/test_ublox_processing.py
  selfdrive/locationd/ublox_msg.cc
  selfdrive/locationd/ublox_msg.h
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#27158 Support for Kia Niro PHEV 2020
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27181 get_present_ecus: check available pandas
  selfdrive/car/car_helpers.py
  selfdrive/car/ecu_addrs.py
  selfdrive/car/fw_versions.py
Labels: fingerprint, bugfix

#27159 boardd: enable fingerprinting with both multiplexed modes
  common/params.cc
  selfdrive/boardd/boardd.cc
  selfdrive/car/car_helpers.py
Labels: enhancement

#27188 Ford: restore radar DBC, check radarUnavailable
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/ford/values.py
Labels: cleanup, car, ford

#27185 cabana: remove the hardcoded width for columns
  tools/cabana/messageswidget.cc
Labels: cleanup, tools

#27189 cabana: improve line marker
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Labels: enhancement, tools

#27141 cabana: do not round time when seeking from chartswidget
  tools/cabana/chartswidget.cc
Labels: bugfix, tools

#27131 cabana: add button to suppress highlighted bytes
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/util.cc
  tools/cabana/util.h
Labels: enhancement, tools

#27169 cabana: add capability for switching between line and scatter plots
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
Labels: enhancement, tools

#27064 ui: tap experimental mode icon to toggle
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: enhancement, ui

#27119 Glonass support, ubloxd add ephemeris parsing
  selfdrive/locationd/ublox_msg.cc
  selfdrive/locationd/ublox_msg.h
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#27149 cabana: syc the last messages after seeking
  tools/cabana/historylog.cc
  tools/cabana/messageswidget.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/replay/replay.cc
Labels: bugfix, tools

#26947 HKG: Car Port for Kia K5 Hybrid 2020
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port, hyundai

#27196 Hyundai: Add FW Versions for 2020 Ioniq Plug-in Hybrid
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27126 Add support for Malaysian Civic 2022
  selfdrive/car/honda/values.py
Labels: fingerprint, car, honda

#27135 2020 Hyundai Santa Fe fingerprint update
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26693 Added new fingerprint for Toyota Corolla Cross GR Sport
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#27183 cabana: add dialog to open route from remote or local
  tools/cabana/SConscript
  tools/cabana/cabana.cc
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/route.cc
  tools/cabana/route.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
Labels: enhancement, tools

#27184 navd: check duration_typical before using
  selfdrive/navd/navd.py
Labels: bugfix, nav

#27214 cabana: better window title for live streaming
  tools/cabana/mainwin.cc
Labels: enhancement, tools

#27213 cabana: delay starting live streaming thread
  tools/cabana/streams/livestream.cc
Labels: bugfix, tools

#27227 settings: highlight nightly in branch switcher
  selfdrive/ui/qt/offroad/software_settings.cc
Labels: enhancement, ui

#27235 setup: fix button label on ethernet
  selfdrive/ui/qt/setup/setup.cc
Labels: enhancement, ui

#27238 installer: do not translate git progress strings
  selfdrive/ui/installer/installer.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: bugfix, multilanguage

#27237 setup: add serial to request headers
  selfdrive/ui/qt/setup/setup.cc
  system/hardware/base.h
  system/hardware/tici/hardware.h
Labels: enhancement

#27240 cabana: remove toolbutton padding
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Labels: bugfix, tools

#27241 setup: check installer is elf
  selfdrive/ui/qt/setup/setup.cc
Labels: bugfix

#27236 setup: replace software selection widget with input dialog
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/setup.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: cleanup, ui

#27251 GM: refactor steering control code
  selfdrive/car/gm/carcontroller.py
Labels: refactor, car, gm

#27212 Toyota: Car Port for Toyota C-HR 2021 (TSS2)
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port, car, toyota

#27070 ui: dmoji
  selfdrive/assets/img_driver_face.png
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: enhancement, ui

#26934 Chrysler: torque tuning + increased steer rate
  selfdrive/car/chrysler/interface.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/torque_data/params.yaml
Labels: enhancement, tuning, car, chrysler

#26827 HKG: Car Port for Kia Niro Hybrid 2023 (HDA1)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, hyundai

#27268 Hyundai CAN-FD: use common PT bus function
  selfdrive/car/hyundai/carstate.py
Labels: cleanup, car, hyundai

#27234 new model: improved height estimation
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#27272 Chrysler: remove Pacifica 2018 ICE from tuning blacklist
  selfdrive/car/chrysler/values.py
Labels: tuning, car, chrysler

#27274 GM: increase min steer speed to avoid temporary faults
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, gm

#27209 Hyundai: add IONIQ 5 fwdCamera FW version
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27222 Subaru: add Crosstrek 2022 FW versions
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#27242 cabana: catch exceptions thrown from opendbc
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/mainwin.cc
Labels: enhancement, tools

#27250 GM: enforce steering command message timing
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/interface.py
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, gm

#27277 GM: split steering speeds
  docs/CARS.md
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, gm

#27269 Toyota C-HR Hybrid 2022
  RELEASES.md
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port, toyota

#27304 events: reword ESP off alert
  selfdrive/controls/lib/events.py
Labels: enhancement

#27302 HKG: remove Kia Stinger 2018 from legacy safety mode
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: enhancement, car, hyundai

#27296 cabana: set legend marker shape by the series type
  tools/cabana/chartswidget.cc
Labels: enhancement, tools

#27323 Hyundai: detect LFA HDA message
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, car, hyundai

#27333 process replay: don't upload if diff doesn't exist
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing, bugfix

#27317 better min enable speed alert
  selfdrive/controls/lib/events.py
Labels: enhancement

#27344 Chevrolet Bolt: Non-linear torque tune
  selfdrive/car/gm/interface.py
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, tuning, car, gm

#27180 Honda Bosch: gather available ECUs from camera
  common/params.cc
  selfdrive/boardd/boardd.cc
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/honda/values.py
  selfdrive/controls/tests/test_startup.py
Labels: enhancement, fingerprint, honda

#27347 GM: cleanup torque feedforward function
  selfdrive/car/gm/interface.py
Labels: cleanup, car, gm

#26902 Allow Honda Nidec vehicles with comma pedal to drive at max speed.
  selfdrive/car/honda/interface.py
Labels: enhancement, car, honda

#27354 Write boardd param to continue startup
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
Labels: bugfix

#27355 CAN fingerprint script improvements
  selfdrive/debug/fingerprint_from_route.py
  selfdrive/debug/get_fingerprint.py
Labels: enhancement, tools

#27356 Car interfaces: assert reasonable centerToFront range
  selfdrive/car/gm/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/test/process_replay/ref_commit
Labels: CI / testing, car

#27276 GM: Escalade 2017 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, gm

#25579 Hyundai: 2015-16 Genesis resume from standstill fix
  selfdrive/car/hyundai/carcontroller.py
Labels: bugfix, car, hyundai

#27334 Add fingerprint for Hyundai Ioniq 22 limited HEV
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27221 2021 Hyundai Ioniq PHEV - additional engine fingerprint added
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26952 Fingerprint for Hyundai Santa Fe 2019 Europe
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27322 Hyundai: detect FCA feature
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, car, hyundai

#27343 Expand lateral MPC to 10s
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/tests/test_lateral_mpc.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
Labels: enhancement, controls

#27371 HKG: simplify Ioniq car params
  selfdrive/car/hyundai/interface.py
Labels: cleanup, car, hyundai

#27382 Ford Escape PHEV 2022 Fingerprint
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#27203 cabana: add support for load&save extra dbc info
  tools/cabana/SConscript
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/commands.cc
  tools/cabana/commands.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/tests/test_cabana.cc
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
  tools/cabana/util.cc
  tools/cabana/util.h
  tools/cabana/videowidget.h
Labels: enhancement, tools

#27109 Cabana: add window icon
  tools/cabana/assets/assets.qrc
  tools/cabana/assets/cabana-icon.png
  tools/cabana/cabana.cc
Labels: enhancement, tools

#27401 HKG: update Santa Cruz model years
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car, hyundai

#27402 Toyota: expand C-HR Hybrid model years
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: docs, car, toyota

#27326 Toyota: add engine FW for 2021 NX300
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#27245 GM: detect unplugged or missing radar
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
Labels: enhancement, car, gm

#27280 GM: remove redundant CarController class variable
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
Labels: cleanup, car, gm

#27123 Ford: filter steering pressed
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/values.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, ford

#27404 laikad: use new cache param
  common/params.cc
  selfdrive/locationd/laikad.py
  selfdrive/loggerd/tests/test_loggerd.py
  tools/gpstest/rpc_server.py
  tools/gpstest/test_laikad.py
Labels: bugfix

#27426 setup: write installer URL to tmpfile
  selfdrive/ui/qt/setup/setup.cc
Labels: enhancement

#27430 cabana: dispaly current FPS & cached minitues on statusbar
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
Labels: enhancement, tools

#27422 cabana: added a new series type to chart: step line
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/settings.cc
Labels: enhancement, tools

#27442 better main off alert
  selfdrive/controls/lib/events.py
Labels: enhancement

#27428 Angle control: fix limiting bug
  selfdrive/car/__init__.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car

#27429 setup: detailed error messages
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/setup.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement

#27441 setup: set download timeout
  selfdrive/ui/qt/setup/setup.cc
Labels: enhancement

#27444 cabana: right align signal values & fixed text overflow
  tools/cabana/signaledit.cc
Labels: bugfix, tools

#27453 steer limits: rename common dist to meas function
  selfdrive/car/__init__.py
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/volkswagen/carcontroller.py
Labels: refactor, controls
