Repository commaai/openpilot, pull requests merged in 2023-04, with the labels that each got.

#27781 Ford: add Maverick 2023 FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#27812 Honda: Added fingerprints for a 2022 Acura RDX
  selfdrive/car/honda/values.py
Labels: fingerprint, car, honda

#27735 tizi: retry amp comms
  Jenkinsfile
  system/hardware/tici/amplifier.py
  system/hardware/tici/tests/test_amplifier.py
Labels: bugfix

#27821 Honda: add 2022 civic video link
  docs/CARS.md
  selfdrive/car/honda/values.py
Labels: docs, car, honda

#27836 Car docs: references US market
  docs/CARS.md
  selfdrive/car/CARS_template.md
Labels: enhancement, docs, car

#27822 VW MQB: add missing 2019 Polo MK6 FW
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27883 IsoTpParallelQuery: break earlier and add comment
  selfdrive/car/isotp_parallel_query.py
Labels: cleanup

#27891 Hyundai CAN FD: query hvac with alt request
  selfdrive/car/hyundai/values.py
Labels: fingerprint, bugfix, hyundai

#27830 GM: Trailblazer 2021-22 support
  RELEASES.md
  docs/CARS.md
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, gm

#27683 Lexus: support ES 2018
  RELEASES.md
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port, car, toyota

#27654 Test lateral limits: fix jerk calculation
  selfdrive/car/tests/test_lateral_limits.py
Labels: CI / testing, bugfix

#27902 Ford: add Escape PHEV 2021 Updated FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#27518 VW MQB: Add FW for 2015 VOLKSWAGEN GOLF 7TH GEN
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27753 FPv2: add timing unit test
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: car, hyundai

#27888 Updated FW for Skoda Superb III 2016
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, volkswagen

#27705 pandad: wait for internal panda to come up
  selfdrive/boardd/pandad.py
  selfdrive/boardd/tests/test_pandad.py
  system/hardware/base.py
  system/hardware/tici/hardware.py
Labels: bugfix, comma three

#27917 FPv2: add worst case timing test
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing

#27923 Ford: don't play stock alert chimes
  selfdrive/car/ford/fordcan.py
Labels: enhancement, car, ford

#27945 Subaru: always show LKAS active
  selfdrive/car/subaru/subarucan.py
Labels: cleanup, car, subaru

#27946 Subaru: signals cleanup
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/subarucan.py
Labels: cleanup, subaru

#27311 Car docs: pass docs flag to car interfaces
  selfdrive/car/body/interface.py
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/docs.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Labels: enhancement, docs, car

#27956 ecu addrs: check msg length
  selfdrive/car/ecu_addrs.py
Labels: fingerprint, bugfix

#27697 FPv2: only query brands with matching present ECUs
  selfdrive/car/fw_versions.py
Labels: enhancement, fingerprint

#27962 VW MQB: add missing 2022 KODIAQ FW
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27964 cabana: reduce the number of ticks on the Y-axis
  tools/cabana/chart/chart.cc
Labels: bugfix, tools

#27446 Ford: simple rate limits
  selfdrive/car/ford/values.py
Labels: cleanup, ford

#27979 Honda: Ridgeline 2023 is supported
  docs/CARS.md
  selfdrive/car/honda/values.py
Labels: docs, car, honda

#27983 Add missing CAMRY_TSS2 engine & fwdCamera f/w
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#27985 Add missing IMPREZA engine & fwdCamera f/w
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#27992 Calibrationd: fix reset smoothing
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/test/test_calibrationd.py
Labels: bugfix, controls

#27995 Add additional fingerprints for Subaru Outback 2022 model
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#27999 regen: ecamera support
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Labels: enhancement, CI / testing

#27996 cloudlog: add git to ctx
  selfdrive/manager/manager.py
Labels: enhancement

#28002 update update_requirements.sh
  update_requirements.sh
Labels: tools

#28026 fordcan cleanup
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
Labels: cleanup

#28015 cabana: fix wrong total seconds in replay mode
  tools/cabana/chart/chartswidget.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: bugfix, tools

#28030 Subaru: fix forwarded signal name
  selfdrive/car/subaru/carstate.py
Labels: bugfix, car, subaru

#28031 cars: various small cleanups
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/subarucan.py
Labels: cleanup, car

#28036 Hyundai: add missing Tucson Hybrid 2023 FW
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#28014 Subaru: FPv2: Add Crosstrek Limited 2023 missing FW values
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#28025 athenad: add getGithubUsername method
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/helpers.py
  selfdrive/athena/tests/test_athenad.py
Labels: enhancement

#28000 uploader: log actual uploaded file size
  system/loggerd/uploader.py
Labels: enhancement

#28018 Hyundai: add 2023 Elantra Hybrid Limited FW
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#28022 HKG: Add FW Versions for 2023 Kia Forte
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai
