Repository commaai/openpilot, pull requests merged in 2023-10, with the labels that each got.

#30114 Use StrEnum for car classes
  selfdrive/car/body/values.py
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: refactor, car

#30115 compressed_vipc: fix issues with VisionIpcServer in ZMQ mode
  tools/camerastream/compressed_vipc.py
Labels: tools

#30117 Tools: a basic auto fingerprinting tool
  selfdrive/debug/auto_fingerprint.py
Labels: tools

#30122 hyundai: fix ioniq5/6 sorting
  selfdrive/car/hyundai/interface.py
Labels: car, hyundai

#30133 Simulator: metadrive is the default
  tools/sim/README.md
  tools/sim/run_bridge.py
Labels: simulation, tools

#30142 Metadrive: fix reset
  tools/sim/bridge/metadrive/metadrive_world.py
Labels: simulation, tools

#30147 regen: fix wide road camera msg name
  selfdrive/test/process_replay/regen.py
Labels: bugfix

#30150 Subaru: crosstrek hybrid is a B harness
  selfdrive/car/subaru/values.py
Labels: car, subaru

#30126 Fingerprint: 2023 Volkswagen Taos
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30071 URLFile: don't cache non-existent file's lengths
  tools/lib/tests/test_caching.py
  tools/lib/url_file.py
Labels: CI / testing, tools

#30170 Metadrive: no preloading models
  tools/sim/bridge/metadrive/metadrive_bridge.py
Labels: simulation, tools

#30171 Metadrive: fix slow acceleration and enable past 50 mph
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
Labels: simulation, tools

#30174 scripts: format diff when comparing logs
  selfdrive/test/process_replay/compare_logs.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/test_processes.py
Labels: enhancement, tools

#30177 Toyota: add missing engine FW for TSS-P Camry Hybrid
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#30178 cabana: fix parsing multiple line comment
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/tests/test_cabana.cc
Labels: bugfix, tools

#30190 Subaru: Outback 2023 fingerprint
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#30191 filereader cleanup
  tools/lib/filereader.py
  tools/lib/framereader.py
  tools/lib/url_file.py
Labels: tools

#30195 Simulator: set params enabled
  tools/sim/launch_openpilot.sh
Labels: simulation, tools

#30196 vidindex improvements
  tools/lib/vidindex.py
Labels: tools

#30185 Car tests: fix serialize error on fail
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, bugfix, car

#30204 cabana: check if index is valid
  tools/cabana/messageswidget.cc
Labels: tools

#30202 Codecov: ignore tests files
  codecov.yml
Labels: CI / testing

#30194 Toyota: combine similar TSS2 hybrid platforms
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models_segs.txt
  selfdrive/car/torque_data/params.yaml
  selfdrive/car/torque_data/substitute.yaml
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, car, toyota

#30182 VW MQB: Add FW for 2021 Audi Q3
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30193 Lexus: add 2023 RX hybrid firmware
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#30198 Lexus: add missing FW for Lexus ES 2024
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#30205 FIX mac m1 compilation - Add sstream library to onroad.cc
  selfdrive/ui/qt/onroad.cc
Labels: ui

#28641 Toyota: parse FW versions for more reliable fuzzy fingerprinting
  selfdrive/car/hyundai/values.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Labels: enhancement, fingerprint, car, toyota, ignore stale

#30200 Hyundai: add missing FW versions for Kona EV 2022
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#30220 Kia: add missing K5 2024 FW
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#30227 cabana: fix crash when switching dbc file
  tools/cabana/chart/chartswidget.cc
Labels: tools

#30223 cabana: reduce minimum size
  tools/cabana/binaryview.cc
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/detailwidget.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: tools

#30239 ui: don't use Variable Length Array
  selfdrive/ui/ui.h
Labels: ui

#30242 docs: move to gh pages
  .github/workflows/docs.yaml
  .github/workflows/tools_tests.yaml
  docs/docker/Dockerfile
  docs/docker/nginx.conf
  selfdrive/test/docker_common.sh
Labels: cleanup

#30249 Subaru: 2021 impreza fingerprint
  selfdrive/car/subaru/values.py
Labels: fingerprint, car, subaru

#30236 ui.py: support strided buffer
  tools/replay/ui.py
Labels: bugfix, tools

#30233 Added firmware values for 2020 VW Passat NMS
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30267 Add missing COROLLA_TSS2 engine
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#30277 Toyota: don't calculate angle offset when angle rate is high
  selfdrive/car/toyota/carstate.py
Labels: bugfix, car, toyota

#30286 fix ffprobe on device
  tools/lib/framereader.py
Labels: tools

#30289 framereader: eliminate tempfile usage
  tools/lib/framereader.py
Labels: tools

#30247 HKG: add missing FW for Kia Sorento Hybrid 2021
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#30281 Lexus: enable fuzzy fingerprinting for ES & RX TSS2
  selfdrive/car/toyota/values.py
Labels: fingerprint, bugfix, car, toyota

#30273 modeld: parsing and publishing in python
  .gitignore
  release/files_common
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/modeld/SConscript
  selfdrive/modeld/constants.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/get_model_metadata.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/README.md
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/driving.pxd
  selfdrive/modeld/models/driving_pyx.pyx
  selfdrive/modeld/navmodeld.py
  selfdrive/modeld/parse_model_outputs.py
  selfdrive/modeld/thneed/lib.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/process_replay/model_replay_ref_commit
  selfdrive/test/test_onroad.py
  system/hardware/tici/tests/test_power_draw.py
  tools/sim/Dockerfile.sim
Labels: refactor

#30296 replay: make `installDownloadProgressHandler` thread safe
  tools/replay/util.cc
Labels: tools

#30297 cabana: remove the installed handlers on exit
  tools/cabana/mainwin.cc
Labels: bugfix, tools

#30275 Added FW for 2022 Audi Q3
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30271 VW MQB: Add FW for 2023 Volkswagen Tiguan
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30255 Toyota: Added missing Highlander Hybrid FW versions
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#30230 Toyota: add ABS ECU version for HIGHLANDERH_TSS2
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#29913 Car port: CADILLAC ESCALADE ESV PLATINUM 2019
  RELEASES.md
  docs/CARS.md
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, gm

#29969 Hyundai: Add FW Versions for 2019 Elantra
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: fingerprint, car, hyundai

#30214 Hyundai: remove Kona EV and Ioniq 6 from radar-ACC set
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#30252 delete clocksd
  README.md
  SConstruct
  release/files_common
  selfdrive/manager/process_config.py
  selfdrive/test/test_onroad.py
  system/clocksd/.gitignore
  system/clocksd/SConscript
  system/clocksd/clocksd.cc
Labels: cleanup

#30259 Toyota: combine rest of hybrid platforms
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models_segs.txt
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/torque_data/params.yaml
  selfdrive/car/torque_data/substitute.yaml
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: cleanup, car, toyota

#30309 modeld: fix prev brake probs shapes
  selfdrive/modeld/constants.py
  selfdrive/modeld/fill_model_msg.py
Labels: bugfix

#29849 cabana: set the COMMA_CACHE environment variable
  tools/cabana/streams/replaystream.cc
Labels: tools

#30319 cabana: remove the qlog parsing thread
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: tools

#30320 cabana: fix sparkline glitch
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
Labels: tools

#30317 cabana: add `Node` column to message table
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Labels: enhancement, tools

#30326 cabana/chart: populate the points incrementally
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/util.cc
  tools/cabana/util.h
Labels: tools

#30325 cabana: improve playback controller
  tools/cabana/chart/chartswidget.cc
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/replaystream.h
  tools/cabana/util.cc
  tools/cabana/util.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: tools

#30327 cabana: fix two ui bugs
  tools/cabana/signalview.cc
  tools/cabana/videowidget.cc
Labels: tools

#30316 Honda: add FW for Civic Sport 2023
  docs/CARS.md
  selfdrive/car/honda/values.py
Labels: fingerprint, car, honda

#30307 selfdrive_tests: allow manual run
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#30330 URLFile: exception type for failed requests
  tools/lib/url_file.py
Labels: tools

#30339 cabana: support multiple cameras
  tools/cabana/cabana.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: tools

#30333 ui: Always display Wi-Fi list when navigating to Network panel
  selfdrive/ui/qt/network/networking.cc
Labels: ui

#30237 athenad: fix memory leak in `_do_upload()`
  poetry.lock
  pyproject.toml
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
Labels: bugfix

#30336 cabana: support suppress highlighted bits
  tools/cabana/binaryview.cc
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/signalselector.cc
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/dbc/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/devicestream.cc
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/pandastream.cc
  tools/cabana/streams/pandastream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/streams/socketcanstream.cc
  tools/cabana/streams/socketcanstream.h
  tools/cabana/streamselector.cc
  tools/cabana/tools/findsignal.cc
  tools/cabana/util.cc
  tools/cabana/util.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: tools

#30351 cabana: fix messages not updated correctly after `seekto()`
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Labels: tools
