Repository commaai/openpilot, pull requests merged in 2023-08, with the labels that each got.

#29192 fingerprinting: always log CAN fingerprint
  selfdrive/car/car_helpers.py
Labels: enhancement, fingerprint

#29092 Mazda: fingerprint 2023 Mazda CX-5 Carbon Edition
  selfdrive/car/mazda/values.py
Labels: fingerprint, car, mazda

#29134 ui/OnroadWindow: do not update state when offroad
  selfdrive/ui/qt/onroad.cc
Labels: bugfix, ui

#29184 controls: use common car interface acceleration limits
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Labels: cleanup, controls, car

#29201 Car docs: clean up docs_definitions
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Labels: cleanup, docs, car

#29200 Clean up common steer fault avoidance code
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
Labels: cleanup, car

#29217 athenad test: use helper function
  selfdrive/athena/tests/test_athenad_ping.py
Labels: cleanup

#29216 athenad: update comment about timeout constant
  selfdrive/athena/athenad.py
Labels: cleanup

#29223 Toyota: add missing C-HR Hybrid 2020 (UK) FW
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#29220 athenad: remove duplicate exception clause
  selfdrive/athena/athenad.py
Labels: cleanup

#29222 VW MQB: Add FW for 2018 Skoda Superb
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29225 VW MQB: Add FW for 2019 Skoda Kodiaq
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29235 Chrysler: add new diagnostic address for Jeep Grand Cherokee 2016-18
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car, chrysler

#29233 FPv2: fast fuzzy fingerprinting
  selfdrive/car/fw_versions.py
Labels: enhancement, fingerprint

#29228 Nissan: allow B drive mode for Nissan Leaf
  selfdrive/car/nissan/interface.py
Labels: enhancement, car, nissan

#29244 GM: remove unused CANParser flag
  selfdrive/car/gm/carstate.py
Labels: cleanup, car, gm

#29159 map: fix exit lane direction when multiple directions
  selfdrive/ui/qt/maps/map_instructions.cc
Labels: bugfix, nav, ui

#29264 VW MQB: Add FW for 2023 Skoda Karoq
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29269 Toyota: rename Toyota A harness
  docs/CARS.md
  selfdrive/car/docs_definitions.py
  selfdrive/car/toyota/values.py
Labels: docs, car, toyota

#29280 Ford: update Maverick 2022 docs
  docs/CARS.md
  selfdrive/car/ford/values.py
Labels: docs, car, ford

#29186 ui/map: update mapbox style
  selfdrive/ui/qt/maps/map.cc
Labels: enhancement, nav

#29283 test fw query: fix migration import
  selfdrive/debug/test_fw_query_on_routes.py
Labels: bugfix

#29257 Toyota: Lexus IS 2023 port
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port, car, toyota

#29297 interfaces: test interface attributes
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing

#29301 interfaces: test interface attributes
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing

#29303 Toyota: set stop and go if TSS2 car
  docs/CARS.md
  selfdrive/car/toyota/interface.py
Labels: bugfix, cleanup, docs, car, toyota

#29003 Non-Inflatable Model :balloon:
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/nav.h
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/navd/helpers.py
  selfdrive/navd/navd.py
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement, research

#29309 test_car_model: remove duplicate argument
  selfdrive/debug/test_car_model.py
Labels: CI / testing, cleanup

#29310 Multilang: Chinese translations update
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#29307 Hyundai: Additional Ioniq 5 firmware
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26226 test_models: run on route list
  .gitattributes
  Jenkinsfile
  selfdrive/car/tests/test_models.py
  selfdrive/car/tests/test_models_segs.txt
Labels: enhancement, CI / testing

#29261 pytest unit test running
  pyproject.toml
  selfdrive/test/test_onroad.py
  system/camerad/test/test_exposure.py
Labels: refactor, CI / testing

#29317 Ruff: comprehensions conventions
  pyproject.toml
  selfdrive/boardd/pandad.py
  selfdrive/car/fw_versions.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/tesla/carstate.py
  selfdrive/car/tests/test_docs.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/locationd/torqued.py
  selfdrive/test/fuzzy_generation.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/test_onroad.py
  selfdrive/test/test_valgrind_replay.py
  selfdrive/ui/tests/test_translations.py
  system/loggerd/tests/test_loggerd.py
  system/loggerd/uploader.py
  system/sensord/rawgps/compare.py
Labels: cleanup

#29149 ui/onroad: move duplicated code to `drawIcon()`
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: cleanup, ui

#29325 ui onroad: utilize local variables for repeated capnp reader access
  selfdrive/ui/qt/onroad.cc
Labels: ui

#29328 common_fault_avoidance: take a bool
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
Labels: refactor, car

#29329 ui/map: set WA_NoMousePropagation to prevent mouse event from propagating up
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Labels: cleanup, ui

#29331 ui/map: check NavDestination only if navInstruction is invalid
  selfdrive/ui/qt/maps/map.cc
Labels: ui

#29330 ui/map_instructions: clean up lane icon selection
  selfdrive/ui/qt/maps/map_instructions.cc
  selfdrive/ui/qt/maps/map_instructions.h
Labels: cleanup, nav, ui

#29333 ui/map_instructions: round <500 distances
  selfdrive/ui/qt/maps/map_instructions.cc
Labels: enhancement, nav, ui

#29312 util: random_string is now more entropic
  common/util.cc
Labels: bugfix

#29338 setup openpilot package
  .gitignore
  openpilot/__init__.py
  openpilot/common
  openpilot/selfdrive
  openpilot/system
  openpilot/third_party
  openpilot/tools
Labels: refactor

#29343 simulator: fix CANParser input args
  tools/sim/lib/can.py
Labels: bugfix

#29240 radard: tie radard frequency to modelV2 vol. 2
  selfdrive/car/chrysler/radar_interface.py
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/gm/radar_interface.py
  selfdrive/car/honda/radar_interface.py
  selfdrive/car/hyundai/radar_interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/tesla/radar_interface.py
  selfdrive/car/toyota/radar_interface.py
  selfdrive/controls/radard.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car

#29270 test_models: check relay malfunction
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
Labels: enhancement, CI / testing

#29306 test_models: match online fingerprinting behavior
  selfdrive/car/car_helpers.py
  selfdrive/car/tests/test_models.py
Labels: CI / testing

#29350 fw_versions: clean up some typing
  selfdrive/car/ecu_addrs.py
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
Labels: fingerprint, cleanup

#28435 FPv2: fingerprint on current brand's candidates
  selfdrive/car/fw_versions.py
Labels: enhancement, fingerprint, car

#29260 Full French UI Localization
  .gitignore
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_fr.ts
Labels: multilanguage

#29372 Ford: Explorer 2020 fingerprint
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#29006 soundd: cleanup remnants from running while offroad
  selfdrive/ui/soundd/sound.cc
  selfdrive/ui/soundd/sound.h
Labels: cleanup

#29366 volkswagen/audi: Additional S3 2015 firmware
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29341 ui/map: assign the return value to `last_position`
  selfdrive/ui/qt/maps/map.cc
Labels: cleanup, ui

#29409 Subaru: calculate steering angle rate
  selfdrive/car/__init__.py
  selfdrive/car/subaru/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car, subaru

#29420 test_models: more typing
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
Labels: cleanup

#29324 CANParser timing benchmark script
  selfdrive/car/tests/test_models.py
  selfdrive/debug/check_can_parser_performance.py
Labels: CI / testing

#29418 HKG: Vehicle mass corrections
  selfdrive/car/hyundai/interface.py
Labels: bugfix, car, hyundai

#29425 test_models: add full internal segment list
  selfdrive/car/tests/test_models_segs.txt
Labels: CI / testing

#29423 test_models: check panda cruise state
  selfdrive/car/tests/test_models.py
Labels: enhancement, CI / testing

#29417 car_helpers: common CAN fingerprint function
  selfdrive/car/car_helpers.py
Labels: fingerprint, refactor, car

#29438 fingerprints: prevent global from changing
  selfdrive/car/fingerprints.py
Labels: fingerprint, bugfix

#29439 Multilang: more translation sanity checks
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: CI / testing, multilanguage

#29441 Multilang: check format arguments are consistent
  selfdrive/ui/tests/test_translations.py
Labels: CI / testing, multilanguage

#25765 Multilang: add Turkish language
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_tr.ts
Labels: multilanguage

#29443 internal test_models: run on more segments
  Jenkinsfile
Labels: CI / testing

#29444 map: set destination marker visibility once
  selfdrive/ui/qt/maps/map.cc
Labels: cleanup, ui

#29084 ui/map: hide icon if no maneuver type
  selfdrive/ui/qt/maps/map_instructions.cc
Labels: cleanup, ui

#29447 Multilang: enable Thai
  selfdrive/ui/translations/languages.json
Labels: multilanguage

#29419 setup cleanup
  .github/workflows/selfdrive_tests.yaml
  tools/install_python_dependencies.sh
  tools/mac_setup.sh
  tools/openpilot_env.sh
  tools/ubuntu_setup.sh
Labels: PC, cleanup

#29396 ui/networking: do not skip the connected network
  selfdrive/ui/qt/offroad/wifiManager.cc
Labels: bugfix, ui

#29421 Unpin numpy
  poetry.lock
  pyproject.toml
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/locationd/paramsd.py
Labels: cleanup

#28795 Swap `belowSteerSpeed` and `resumeRequired` alert priorities
  selfdrive/controls/lib/events.py
Labels: enhancement, car, gm

#29459 Rename CivicParams
  selfdrive/car/__init__.py
  selfdrive/car/honda/interface.py
Labels: cleanup, car

#29416 interfaces: add common STD_CARGO_KG to mass
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Labels: cleanup, car

#29460 map eta: use pair
  selfdrive/ui/qt/maps/map_eta.cc
Labels: cleanup, ui

#29151 ui/map: better rounding for distances
  selfdrive/ui/qt/maps/map_eta.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/qt/maps/map_instructions.cc
  selfdrive/ui/qt/maps/map_instructions.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, nav, ui

#29461 CAN fingerprint: timing test
  selfdrive/car/tests/test_can_fingerprint.py
Labels: fingerprint, CI / testing, car

#29472 add Kia Niro Hybrid 2019 to legacy safety mode list
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#29474 Revert "radard: tie radard frequency to modelV2 vol. 2 (#29240)"
  selfdrive/car/chrysler/radar_interface.py
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/gm/radar_interface.py
  selfdrive/car/honda/radar_interface.py
  selfdrive/car/hyundai/radar_interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/tesla/radar_interface.py
  selfdrive/car/toyota/radar_interface.py
  selfdrive/controls/radard.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#28479 Hyundai longitudinal (CAN): don't send FCA11 on non-FCA cars
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
Labels: bugfix, car, hyundai

#29477 Nissan: add alt request for engine on Rogue
  selfdrive/car/nissan/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: bugfix, car, nissan

#29470 ui/map: interactive counter fix
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: bugfix, ui

#29465 ui/map_instructions: center lanes
  selfdrive/ui/qt/maps/map_instructions.cc
Labels: enhancement, nav, ui

#29455 fast clone instructions
  tools/README.md
Labels: docs

#29502 Remove Kia Sorento from LEGACY_SAFETY_MODE_CAR
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#29368 Subaru: remove unused backoff rate calculation
  selfdrive/car/subaru/carcontroller.py
Labels: needs testing, bugfix, car, subaru

#29509 Kia: update supported Sorento PHEV package
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car, hyundai

#29322 HKG: Car Port for Kia Sorento Hybrid 2023
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, hyundai

#29496 Subaru: longitudinal incorrect "inactive" rpm
  selfdrive/car/subaru/carcontroller.py
Labels: needs testing, bugfix, subaru

#29436 CI: use scons cache mount for building simulator and docs
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
  docs/docker/Dockerfile
  selfdrive/test/Dockerfile.scons_cache
  tools/sim/Dockerfile.sim
Labels: enhancement, CI / testing

#29512 CI: remove old docs base image push
  .github/workflows/tools_tests.yaml
Labels: CI / testing, bugfix

#29515 Revert "Subaru: always show LKAS active (#27945)"
  selfdrive/car/subaru/subarucan.py
Labels: car, subaru

#29521 Remove Sonata LF from LEGACY_SAFETY_MODE_CAR
  selfdrive/car/hyundai/values.py
Labels: enhancement, car, hyundai

#29016 Ford: test FW query config and versions
  selfdrive/car/ford/tests/__init__.py
  selfdrive/car/ford/tests/test_ford.py
Labels: fingerprint, CI / testing, car, ford

#29401 CI: prevent moc from running in cache population step
  .github/workflows/selfdrive_tests.yaml
  release/clean-cache.sh
Labels: enhancement, CI / testing

#29259 Devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/tools_tests.yaml
  tools/README.md
Labels: PC

#29530 Kia: move Optima Gen 4 FL out of legacy safety mode
  selfdrive/car/hyundai/values.py
Labels: enhancement, car, hyundai

#29531 Hyundai: remove Ioniq EV 2022 from legacy safety mode
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: enhancement, car, hyundai

#26855 add cpplint
  .pre-commit-config.yaml
  selfdrive/locationd/locationd.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_tr.ts
  system/camerad/cameras/camera_qcom2.cc
Labels: CI / testing

#29463 ui/settings: Don't apply styles to more elements than needed.
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.cc
Labels: cleanup, ui

#29538 CI: enable missing tests
  poetry.lock
  pyproject.toml
  selfdrive/controls/lib/tests/__init__.py
  selfdrive/controls/lib/tests/test_latcontrol.py
  selfdrive/controls/lib/tests/test_vehicle_model.py
Labels: enhancement, CI / testing, bugfix

#29541 Toyota: prepare to disable radar
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/toyotacan.py
Labels: car, toyota

#29546 Toyota: remove redundant car set union
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/tests/test_toyota.py
Labels: cleanup, car, toyota

#29542 Toyota: prepare to disable radar
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/toyotacan.py
  selfdrive/car/toyota/values.py
Labels: car, toyota

#29547 FW Query: test no OBD queries on aux panda
  selfdrive/car/ford/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing, bugfix, car, ford

#28675 FW query: query one sub-address in parallel
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, fingerprint, car

#29265 sensord: fix LSM magnetometer thermal variation
  system/sensord/sensors/mmc5603nj_magn.cc
  system/sensord/sensors/mmc5603nj_magn.h
Labels: enhancement

#29414 thermald: type annotate main thread
  selfdrive/thermald/thermald.py
Labels: CI / testing, bugfix

#29484 Hyundai longitudinal (CAN): display AEB indicator on non-FCA cars
  selfdrive/car/hyundai/hyundaican.py
Labels: enhancement, car, hyundai

#29566 CI: Docs rebuild base image
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#29485 scons: fix re-compiles MPCs every time
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
Labels: bugfix

#29492 ui/PrimeUserWidget: cleanup layout
  selfdrive/ui/qt/widgets/prime.cc
Labels: cleanup, ui

#29482 Keep the car icon aligned to its bearing
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix, ui

#29508 Toyota: add engine & fwdRadar ECU versions for 2023 Toyota Camry Hybrid
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#29505 Add initial fingerprint 2.0 for Nissan Leaf 2018-23
  selfdrive/car/nissan/values.py
Labels: fingerprint, car, nissan

#25378 Subaru: Crosstrek Hybrid dashcam mode
  release/files_common
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port, subaru

#28396 Toyota: enable BSM on C-HR
  selfdrive/car/toyota/interface.py
Labels: enhancement, car, toyota

#24770 Subaru: Forester Hybrid 2020 dashcam
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: car port, subaru

#29582 cpplint: add filter `whitespace/forcolon`
  .pre-commit-config.yaml
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/widgets/prime.cc
  system/loggerd/loggerd.cc
Labels: CI / testing

#29548 ui/map_instructions: restore padding
  selfdrive/ui/qt/maps/map_instructions.cc
Labels: bugfix, ui

#26913 replay: fix visionbuf alignment on device
  tools/replay/SConscript
  tools/replay/camera.cc
  tools/replay/camera.h
  tools/replay/framereader.cc
  tools/replay/framereader.h
  tools/replay/tests/test_replay.cc
Labels: bugfix, ui

#29586 manager: test process exclusion
  selfdrive/manager/test/test_manager.py
Labels: CI / testing

#29589 car interfaces test: don't sleep
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing, bugfix, car

#29491 ui: use `enum PrimeType` for prime_type
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: cleanup, ui

#29590 ui: hasPrime/primeChanged helper
  selfdrive/ui/qt/home.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: bugfix, cleanup, ui

#29593 car interface test: pick from possible ECUs
  selfdrive/car/tests/test_car_interfaces.py
Labels: enhancement, CI / testing, car

#29574 manager: refactor process starting logic
  selfdrive/manager/process.py
  selfdrive/manager/process_config.py
Labels: refactor, bugfix

#29585 cpplint: add filter `build/include_subdir`
  .pre-commit-config.yaml
  common/swaglog.cc
  common/tests/test_swaglog.cc
  common/transformations/coordinates.cc
  common/transformations/coordinates.hpp
  common/transformations/orientation.cc
  common/transformations/orientation.hpp
  selfdrive/boardd/can_list_to_can_capnp.cc
  selfdrive/locationd/liblocationd.cc
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/models/live_kf.cc
  selfdrive/modeld/runners/run.h
  selfdrive/modeld/thneed/serialize.cc
  selfdrive/modeld/thneed/thneed.h
  selfdrive/ui/qt/maps/map_settings.cc
  system/camerad/cameras/camera_common.cc
  system/camerad/test/ae_gray_test.cc
  system/logcatd/logcatd_systemd.cc
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/v4l_encoder.cc
  system/sensord/sensors/bmx055_accel.cc
  system/sensord/sensors/bmx055_gyro.cc
  system/sensord/sensors/bmx055_magn.cc
  system/sensord/sensors/bmx055_temp.cc
  system/sensord/sensors/i2c_sensor.cc
  system/sensord/sensors/lsm6ds3_accel.cc
  system/sensord/sensors/lsm6ds3_gyro.cc
  system/sensord/sensors/lsm6ds3_temp.cc
  system/sensord/sensors/mmc5603nj_magn.cc
  system/ubloxd/ublox_msg.cc
  tools/cabana/streams/socketcanstream.cc
  tools/lib/vidindex/bitstream.c
  tools/lib/vidindex/vidindex.c
  tools/replay/camera.cc
  tools/replay/framereader.cc
Labels: cleanup

#29136 ui/map: delete map after unsubscribing from prime
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: bugfix, ui

#29592 car interfaces: long running fuzzy test
  Jenkinsfile
  selfdrive/car/tests/test_car_interfaces.py
Labels: enhancement, CI / testing

#28745 ui: remove Q_PROPERTY from `AnnotatedCameraWidget`
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: refactor, ui

#29602 C++ FirstOrderFilter: add initialized flag
  common/util.h
Labels: enhancement

#29605 ui/map: initialize speed filter with current speed
  selfdrive/ui/qt/maps/map.cc
Labels: bugfix, ui

#29601 ui/map: clip vehicle speed to min of 10 m/s
  selfdrive/ui/qt/maps/map.cc
Labels: enhancement, ui

#29570 Locationd: enable laikad
  selfdrive/locationd/liblocationd.cc
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/locationd/test/test_locationd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement

#27880 fingerprinting: log FW query time
  selfdrive/car/car_helpers.py
Labels: fingerprint, car

#29230 Rewrite modeld in python
  release/files_common
  selfdrive/modeld/SConscript
  selfdrive/modeld/modeld
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/driving.pxd
  selfdrive/modeld/models/driving_pyx.pyx
  selfdrive/test/test_onroad.py
Labels: refactor

#29633 process replay: parallel by default
  selfdrive/test/process_replay/test_processes.py
Labels: CI / testing

#29631 cabana: improve frequency accuracy
  tools/cabana/historylog.cc
  tools/cabana/messageswidget.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
Labels: bugfix, tools

#29640 ui: rebuild translations when widgets are modified
  selfdrive/ui/SConscript
Labels: bugfix, ui

#29277 CI: use buildjet for process replay
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup/action.yaml
  selfdrive/test/docker_build.sh
Labels: enhancement, CI / testing

#29644 HKG: Add Optima Hybrid to HEV and legacy safety mode lists
  selfdrive/car/hyundai/values.py
Labels: bugfix, car, hyundai

#29520 Kia: add test route for Optima Hybrid
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: car, hyundai

#25677 Toyota: forward openpilot FCW to cluster when engaged
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/toyotacan.py
Labels: enhancement, car, toyota

#27583 Subaru: Ascent 2023 dashcam mode
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, subaru

#29650 ui/networking: fix icon label alignment issue
  selfdrive/ui/qt/offroad/networking.cc
Labels: bugfix, ui

#29378 ui/networking: show "connecting" immediately after clicking on a network.
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: bugfix, ui

#29651 ui/network: don't refresh on connect
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Labels: cleanup, ui

#29464 ui/driverview: hide on interactive timeout
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Labels: bugfix, ui

#25680 AGNOS setup: multi-lang support
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/setup.h
  selfdrive/ui/qt/widgets/scrollview.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, multilanguage
