Repository commaai/openpilot, pull requests merged in 2023-01, with the labels that each got.

#26852 ui: draw radarState leads
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Labels: bugfix, ui

#26886 VW MQB: Add FW for 2019 Škoda Octavia
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#26885 GM: check radarOffCan in radar_interface
  selfdrive/car/gm/radar_interface.py
Labels: cleanup, car, gm

#26880 Hyundai: add FW versions for Sonata 2023
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26887 Hyundai: Add FW Versions for Tucson 2023
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26873 Navigation: add destination marker
  selfdrive/assets/navigation/default_marker.svg
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Labels: enhancement, nav

#26892 GM camera ACC: always set long tune
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, gm

#26894 car interfaces: test longitudinal params are set correctly
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing

#26901 Car docs: add video for Nissan Leaf
  selfdrive/car/nissan/values.py
Labels: docs, car, nissan

#26897 HKG: Add FW Versions for 2019 Kia Stinger
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26900 Added fingerprint for 2023 EV6, fwdCamera
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26879 longcontrol: enter stopping state immediately
  selfdrive/controls/lib/longcontrol.py
Labels: bugfix, controls

#26765 Longitudinal tests: test forceDecel
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/longitudinal_maneuvers/maneuver.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
  selfdrive/test/process_replay/ref_commit
Labels: CI / testing, controls

#26805 controlsd: set latActive with max minimum steer speed
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/latcontrol_torque.py
Labels: enhancement, refactor, controls

#26917 cabana: sync play button state
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: bugfix, tools

#26812 HKG CAN-FD: set cruise state available with car signal
  selfdrive/car/hyundai/carstate.py
Labels: enhancement, car, hyundai

#26921 Hyundai CAN-FD: set available from TCS ACC available
  selfdrive/car/hyundai/carstate.py
Labels: enhancement, car, hyundai

#26924 HKG: filter on steering pressed
  selfdrive/car/hyundai/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, hyundai

#26883 VW MQB: Add FW for 2017 Seat Leon
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#26874 HKG: Car Port for Kia Sorento 2022
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, hyundai

#26918 cabana: fix find similar bits
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
Labels: enhancement, tools

#26907 Car docs: show video link
  docs/CARS.md
  docs/assets/icon-youtube.svg
  selfdrive/car/CARS_template.md
  selfdrive/car/docs_definitions.py
Labels: docs, car

#26766 Car interface: require fingerprint and FW versions to get params
  selfdrive/car/docs.py
  selfdrive/car/interfaces.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/controls/lib/tests/test_latcontrol.py
  selfdrive/controls/lib/tests/test_vehicle_model.py
  selfdrive/controls/tests/test_state_machine.py
  selfdrive/debug/cycle_alerts.py
  selfdrive/debug/internal/test_paramsd.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/process_replay/process_replay.py
Labels: cleanup

#26945 Hyundai: Add FW Version for 2021 Sonata N Line
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#26938 cabana: use Qt::Window flag for FindSimilarBitsDlg
  tools/cabana/mainwin.cc
  tools/cabana/tools/findsimilarbits.cc
Labels: enhancement, tools

#26940 Cabana: save signal on editingFinished
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Labels: enhancement, tools

#26948 camerad: rework ox exposure score
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
  system/camerad/test/test_exposure.py
Labels: enhancement

#26968 cabana: support drag and drop to merge charts
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Labels: enhancement, tools

#26973 cabana: MacOS fixes
  tools/cabana/SConscript
  tools/cabana/cabana.cc
  tools/cabana/chartswidget.cc
Labels: bugfix, tools

#26971 MacOS: mock gpio functions
  common/gpio.cc
Labels: bugfix

#26974 cabana: add a combobox to switch between signal and raw hex value
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
Labels: enhancement, tools

#26949 camerad: reduce ox LFM noise
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/sensor2_i2c.h
Labels: enhancement

#26946 Cabana: support live streaming
  tools/cabana/SConscript
  tools/cabana/binaryview.cc
  tools/cabana/cabana.cc
  tools/cabana/canmessages.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/commands.h
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/signaledit.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: enhancement, tools

#27010 Cabana: darken signal backgrounds on hover
  tools/cabana/binaryview.cc
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Labels: tools

#26910 UI: show experimental long available to release users
  common/params.cc
  selfdrive/car/car_helpers.py
  selfdrive/controls/controlsd.py
  selfdrive/manager/manager.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement

#27011 Genesis: GV60 2023 Advanced: add missing camera FW
  selfdrive/car/hyundai/values.py
Labels: fingerprint, hyundai

#27019 Multilang: add back some translations
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: multilanguage

#26962 improve pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: multilanguage

#27017 release pre-commit: test translations
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#27023 cabana: add new plot btn to create chart
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Labels: tools

#27061 Honda: merge Passport platform into Pilot
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/torque_data/params.yaml
Labels: cleanup, car, honda

#26966 VW MQB: Add FW for 2021 Volkswagen Tiguan.
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#27069 ci: intra-camera timing check
  system/camerad/test/test_camerad.py
Labels: CI / testing

#27071 Honda Nidec: gather available ECUs from camera
  selfdrive/car/honda/values.py
Labels: car, honda

#27072 [RAM 1500 5TH GEN] Update offline torque parameters and enable torqued
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/torque_data/params.yaml
  selfdrive/locationd/torqued.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, controls, chrysler

#27076 Honda FPv2: log extra UDS identifier
  selfdrive/car/honda/values.py
Labels: fingerprint, honda

#27079 Hyundai: clean up fingerprint test
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: CI / testing, cleanup, hyundai

#27078 Honda: test all FW is in correct format
  selfdrive/car/honda/tests/test_honda.py
Labels: fingerprint, CI / testing, car, honda

#27085 cabana: fix a wrong settings key
  tools/cabana/settings.cc
Labels: bugfix, tools

#27077 cabana: fix divde by zero for std::log10
  tools/cabana/chartswidget.cc
Labels: bugfix, tools

#27090 Ford cleanup
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
Labels: cleanup, ford

#27092 Ford: add Bronco Sport 2021-22
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: enhancement, car, ford

#27094 Ford: send empty LKA message
  selfdrive/car/ford/fordcan.py
Labels: cleanup, car, ford

#27093 Ford: add Maverick 2022
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: enhancement, car, ford

#27091 Ford: use curvature signal for lateral control
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/values.py
Labels: enhancement, car, ford

#27096 Ford: disable radar parser
  selfdrive/car/ford/values.py
Labels: refactor, ford

#27097 Ford: params fixup
  selfdrive/car/ford/interface.py
Labels: enhancement, car, ford

#27098 Ford: add missing Maverick 2022 XLT FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#27086 Ram 1500: more generic EPS steer to zero check
  selfdrive/car/chrysler/interface.py
Labels: cleanup, car, chrysler

#27050 Santa Fe HEV 2022: add missing FW versions
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27099 cabana: improve detail view
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Labels: enhancement, tools

#27100 cabana: cleanup historylog and fix some known issues
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
Labels: bugfix, tools

#27046 cabana: only repaint changed cells in BinaryView::highlight
  tools/cabana/binaryview.cc
Labels: enhancement, tools

#27033 HKG: Update Genesis GV60 harnesses
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#27080 cabana: saving & restoring columns widths
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
Labels: enhancement, tools

#27103 torqued: Update reset logic
  selfdrive/locationd/torqued.py
Labels: enhancement, controls

#27088 Glonass ephemeris support
  selfdrive/locationd/SConscript
  selfdrive/locationd/generated/glonass.cpp
  selfdrive/locationd/generated/glonass.h
  selfdrive/locationd/generated/gps.cpp
  selfdrive/locationd/generated/gps.h
  selfdrive/locationd/generated/ubx.cpp
  selfdrive/locationd/glonass.ksy
  selfdrive/locationd/glonass_fix.patch
  selfdrive/locationd/gps.ksy
Labels: enhancement, comma three

#27068 new model: fixed weight decay logic
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#27108 controls: add curvature to actuators
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: controls

#27053 cabana: improve mainwin
  tools/cabana/cabana.cc
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
Labels: enhancement, tools

#27110 Ford: use curvature without roll compensation
  selfdrive/car/ford/carcontroller.py
Labels: enhancement, controls, ford

#27113 Ford: lower lateral actuator delay
  selfdrive/car/ford/interface.py
Labels: tuning, car, ford

#27118 process replay: test routes in dashcam
  selfdrive/test/process_replay/process_replay.py
Labels: CI / testing, bugfix

#27112 process replay: add Ford Bronco Sport
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: CI / testing, ford

#27133 cabana: remove extra frame border in logs
  tools/cabana/historylog.cc
Labels: enhancement, tools

#27139 cabana: fix overlap in byte highlighting
  tools/cabana/util.cc
Labels: bugfix, tools

#27130 cabana: replace space by underscore when editing signal name
  tools/cabana/detailwidget.cc
  tools/cabana/signaledit.cc
  tools/cabana/util.cc
  tools/cabana/util.h
Labels: cleanup, tools

#27142 cabana: fix occasional ellipsis on y axis ticks
  tools/cabana/chartswidget.cc
Labels: bugfix, tools

#27145 cabana: show dots when zoomed far into a signal
  tools/cabana/chartswidget.cc
Labels: enhancement, tools

#27144 cabana: only update the colors of newly fetched messages in historylog
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
Labels: refactor, tools

#27114 Cabana: load commaai/opendbc from menu
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
Labels: refactor, tools

#27140 cabana: small improvements to charts
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Labels: refactor, tools

#27143 MacOS: build fixes
  common/SConscript
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda_comms.h
  selfdrive/boardd/spi.cc
  selfdrive/loggerd/SConscript
  tools/cabana/SConscript
Labels: bugfix, tools

#26997 cabana: refactor and improve signal view
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/commands.cc
  tools/cabana/commands.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Labels: cleanup, tools

#27146 cabana: fixed the column selector is always hidden if settings.chart_column_count is 1
  tools/cabana/chartswidget.cc
Labels: bugfix, tools

#27125 Ubloxd: glonass parsing tests
  .github/workflows/selfdrive_tests.yaml
  release/files_common
  selfdrive/locationd/.gitignore
  selfdrive/locationd/SConscript
  selfdrive/locationd/generated/glonass.cpp
  selfdrive/locationd/generated/glonass.h
  selfdrive/locationd/glonass.ksy
  selfdrive/locationd/glonass_fix.patch
  selfdrive/locationd/test/test_glonass_kaitai.cc
  selfdrive/locationd/test/test_glonass_runner.cc
Labels: CI / testing

#27122 Ubloxd: move gps parsing to function
  selfdrive/locationd/ublox_msg.cc
  selfdrive/locationd/ublox_msg.h
Labels: cleanup

#27160 fix micd input device
  system/micd.py
Labels: bugfix

#27132 cabana: add --dbc command line argument
  tools/cabana/cabana.cc
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
Labels: enhancement, tools

#27107 replay: fix hang if started with a special segment and there is no INIT_DATA in events
  tools/replay/replay.cc
Labels: bugfix, tools

#27161 Ford longitudinal control
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/values.py
Labels: enhancement, car, ford

#27137 Add Hyundai Ioniq 5 Fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#27163 GM camera ACC: reliable relay open init
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
Labels: bugfix, car, gm

#27151 panda.cc: fix possible heap overflow on wrong checksum
  selfdrive/boardd/panda.cc
Labels: bugfix

#27168 VW MQB: Add FW for 2016 SEAT Leon
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#26006 VW MNB: Volkswagen Crafter Mk2
  RELEASES.md
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Labels: car port, volkswagen

#27166 Ford CAN FD
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/values.py
Labels: enhancement, car, ford

#27127 Fix 2017 Genesis G80 car harness and shop link in docs
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#27167 cabana: dynamically switch between OpenGL
  tools/cabana/chartswidget.cc
Labels: enhancement, tools

#27155 cabana: render light or dark icon based on system theme
  tools/cabana/chartswidget.cc
  tools/cabana/detailwidget.cc
  tools/cabana/signaledit.cc
  tools/cabana/util.cc
  tools/cabana/util.h
  tools/cabana/videowidget.cc
Labels: enhancement, tools

#26830 Toyota: make LKAS message 5hz
  selfdrive/car/toyota/carcontroller.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, toyota

#26943 Toyota: add FW engine for Brazilian Corolla Hybrid
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota
