Repository commaai/openpilot, pull requests merged in 2023-09, with the labels that each got.

#29747 Toyota: fix missing message check with radar disabled
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/carstate.py
Labels: bugfix, car, toyota

#29765 Subaru: impreza 22 fingerprint
  selfdrive/car/subaru/values.py
Labels: fingerprint, subaru

#29709 CI: use pytest for unittesting
  .github/workflows/selfdrive_tests.yaml
  selfdrive/athena/tests/test_athenad.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/test/pytest-ci.ini
  system/logmessaged.py
  system/swaglog.py
  system/tests/test_logmessaged.py
  system/ubloxd/tests/test_ublox_processing.py
Labels: enhancement, CI / testing

#29762 2023 Ford Maverick Ecoboost engine firmware
  selfdrive/car/ford/values.py
Labels: fingerprint, ford

#29778 Hyundai longitudinal: enable for `IONIQ`
  docs/CARS.md
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: enhancement, car, hyundai

#29759 test_models: detect when relay opens
  selfdrive/car/tests/test_models.py
Labels: CI / testing

#29775 Hyundai: Ioniq 2020 PHEV EUR fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#29777 Hyundai longitudinal: enable for `IONIQ_PHEV`
  docs/CARS.md
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Labels: enhancement, car, hyundai

#29794 PlotJuggler: add control gains to longitudinal layout
  tools/plotjuggler/layouts/longitudinal.xml
Labels: enhancement, tools

#28387 detect toyota tss-p canfilter device as smartDsu to enable long
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/interface.py
Labels: enhancement, car, toyota

#25912 params: safe and efficient async writing parameters
  common/SConscript
  common/params.cc
  common/params.h
  common/params.py
  common/params_pyx.pyx
  common/tests/test_params.cc
  common/tests/test_params.py
  selfdrive/controls/controlsd.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/laikad.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/paramsd.py
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/thermald/power_monitoring.py
Labels: refactor

#29753 Subaru: add GEN1 longitudinal test route
  selfdrive/car/tests/routes.py
Labels: CI / testing, car, subaru

#29803 navd: locationd is only trusted source
  selfdrive/navd/navd.py
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
Labels: bugfix, nav

#29533 Subaru: don't copy eyesight counters, calculate manually
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/subarucan.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, subaru

#29579 Rewrite navmodeld in python
  release/files_common
  selfdrive/manager/process_config.py
  selfdrive/modeld/SConscript
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/nav.cc
  selfdrive/modeld/models/nav.h
  selfdrive/modeld/navmodeld
  selfdrive/modeld/navmodeld.cc
  selfdrive/modeld/navmodeld.py
  selfdrive/test/test_onroad.py
Labels: refactor

#29116 Subaru: remove 2020+ temporary steering faults
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/values.py
Labels: enhancement, car, subaru

#29832 cabana/Sconscript: add back dependency on #opendbc
  tools/cabana/SConscript
Labels: bugfix

#29805 Hyundai: Add FW Versions for Kona Electric 2023
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#29841 Ruff: disallow non-openpilot imports
  pyproject.toml
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
  selfdrive/controls/tests/test_leads.py
  system/swaglog.py
Labels: CI / testing

#29835 mock car cleanup
  selfdrive/car/mock/interface.py
  selfdrive/car/mock/radar_interface.py
Labels: cleanup, car

#29847 Hyundai: add platform code fuzzy FW test
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: CI / testing, car, hyundai

#29842 CI: auto label PR's
  .github/labeler.yaml
  .github/workflows/labeler.yaml
Labels: CI / testing

#29861 test_util.cc: do not compare file contents in REQUIRE
  common/tests/test_util.cc
Labels: CI / testing

#29853 Toyota: get platform codes & docs
  selfdrive/car/toyota/tests/print_platform_codes.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Labels: enhancement, fingerprint, car, toyota

#29864 cabana: add comparision operator for CanEvent
  tools/cabana/chart/chart.cc
  tools/cabana/chart/sparkline.cc
  tools/cabana/historylog.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/tools/findsignal.cc
Labels: tools

#29868 macOS: install gcc@13 to match panda requirements
  tools/mac_setup.sh
Labels: tools

#29840 HKG: Add FW Versions for Kia Carnival 2024
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#29871 replay: Include cstdarg from util
  tools/replay/util.cc
Labels: tools

#29875 cabana: use applicationPath for settings
  tools/cabana/cabana.cc
  tools/cabana/settings.cc
  tools/cabana/settings.h
Labels: tools

#29843 VW MQB: Add FW for 2019 Golf R Estate
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29879 macos: link qt5 during setup
  tools/mac_setup.sh
Labels: tools

#29887 cabana/chart: fix rubber band precision issue
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
Labels: tools

#29885 CI: never remove existing labels
  .github/labeler.yaml
  .github/workflows/labeler.yaml
Labels: CI / testing

#29877 CI: fix setup retry sleep time
  .github/workflows/setup-with-retry/action.yaml
Labels: CI / testing

#29888 Hyundai CAN FD: dis-allow Manual Speed Limit Assist for EVs
  selfdrive/car/hyundai/carstate.py
Labels: bugfix, car, hyundai

#29792 VW MQB: Add missing FW versions for 2018 Skoda Superb
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29873 cabana: display warning if failed to write settings
  tools/cabana/mainwin.cc
  tools/cabana/settings.cc
  tools/cabana/settings.h
Labels: tools

#29872 cabana: improve precision of timeline
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
Labels: tools

#29898 cabana: marks the undo stack as clean after save as
  tools/cabana/mainwin.cc
Labels: tools

#29876 Hyundai: Car Port for Azera 6th Generation
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, hyundai

#29902 cabana: bug fixes
  tools/cabana/chart/chartswidget.cc
  tools/cabana/streams/abstractstream.h
Labels: bugfix, tools

#29899 HKG: Car Port for Kia K8 Hybrid 2023 (HDA2)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, hyundai

#29910 Simulator: launch simulator from any directory
  tools/sim/launch_openpilot.sh
Labels: simulation, tools

#29900 cabana: use QStaticText to boost rending performance
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/util.cc
  tools/cabana/util.h
Labels: tools

#29901 test_replay: speedup by preventing multiple downloads
  tools/replay/tests/test_replay.cc
Labels: tools

#29904 framereader: add cache_dir argument
  tools/lib/cache.py
  tools/lib/framereader.py
Labels: tools

#29896 Toyota: use torque control for Japanese-made 2023 RAV4
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car port, car, toyota

#29907 test_models: check controlsd events
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
Labels: CI / testing, car

#29897 cabana: support display&edit node name
  tools/cabana/commands.cc
  tools/cabana/commands.h
  tools/cabana/dbc/dbc.cc
  tools/cabana/dbc/dbc.h
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/dbc/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
Labels: enhancement, tools

#29924 cabana/chart: fix value overflow
  tools/cabana/chart/chart.cc
Labels: tools

#29903 Simulator: cleanup in preparation for metadrive
  tools/sim/bridge.py
  tools/sim/bridge/__init__.py
  tools/sim/bridge/carla.py
  tools/sim/bridge/common.py
  tools/sim/lib/camerad.py
  tools/sim/lib/can.py
  tools/sim/lib/common.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/lib/simulated_car.py
  tools/sim/lib/simulated_sensors.py
  tools/sim/run_bridge.py
  tools/sim/tests/test_carla_integration.py
Labels: simulation, tools

#29930 Hyundai Ioniq 6 "EUR" fwdCamera fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#29926 VW: fingerprint for Crafter MK2
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29943 VW: missing FW for Tiguan 2019
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#29892 Add Tiguan 2019 fingerprint
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29945 ruff: check mutable default values for data class attributes
  pyproject.toml
Labels: CI / testing

#29951 Duplicated #include in settings.cc
  selfdrive/ui/qt/offroad/settings.cc
Labels: ui

#29953 cabana: add button to skip to the end of stream
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: tools

#29881 ui: add missing Arabic translations & show in UI
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_ar.ts
Labels: ui, multilanguage

#29956 cabana: fix QMenu leak
  tools/cabana/messageswidget.cc
Labels: tools

#29957 cabana/chart: add contex menu
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
Labels: tools

#29963 docs: don't show panda kit in shop
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#29954 Params: better error logging on constructor
  common/params.cc
  common/params_pyx.pyx
Labels: CI / testing

#29928 setup README: Native on 20.04, WSL on windows, otherwise devcontainer
  tools/README.md
Labels: tools

#29976 Simulator: fix controlsd mismatch
  tools/sim/lib/simulated_car.py
Labels: simulation, tools

#29978 Revert "Toyota: use torque control for Japanese-made 2023 RAV4"
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car, toyota

#29955 VW MQB: Add FW for 2019 Skoda Superb
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#29962 HKG: Add FW Versions for Kia Carnival 2024
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#29990 Fingerprint for ICE Kia Sportage 2022/23 Australia and New Zealand KIA_SPORTAGE_5TH_GEN
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#29991 Honda: add missing Ridgeline 2021 FW version
  selfdrive/car/honda/values.py
Labels: fingerprint, car, honda

#29979 CI: disable buildjet on PR's from forks
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#29993 Chinese translations update
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui, multilanguage

#29977 Simulator: fix port issues in devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  tools/sim/run_bridge.py
Labels: PC, simulation, tools

#29995 Simulator: add reset hotkey
  tools/sim/bridge/carla.py
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive.py
  tools/sim/lib/common.py
  tools/sim/lib/keyboard_ctrl.py
Labels: simulation, tools

#29996 Simulator: improve carla experience
  tools/sim/bridge/carla.py
Labels: simulation, tools

#30001 hypothesis: fix too slow health check
  poetry.lock
  pyproject.toml
Labels: CI / testing, bugfix

#30003 pre-commit: use non-deprecated lock file check command
  .pre-commit-config.yaml
Labels: CI / testing

#29988 HKG: Add FW versions for Kia K5 Hybrid 2022
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#29992 Kia: Optima Hybrid 2019 car port
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Labels: fingerprint, car port, car, hyundai

#30014 ui: update calibration limits text
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#30009 Hyundai: use EV/hybrid car lists for gear signal
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
Labels: cleanup, car, hyundai

#30015 Toyota: improve platform code understanding
  selfdrive/car/toyota/tests/print_platform_codes.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Labels: enhancement, car, toyota

#30020 2023 Hyundai Santa Fe fingerprint
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#30031 Lexus: add engine FW for Lexus NX 2020
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#30032 Toyota: add several ECU versions for LEXUS_IS_TSS2
  selfdrive/car/toyota/values.py
Labels: car, toyota

#30040 Simulator: passthrough BLOCK on launch script
  tools/sim/launch_openpilot.sh
Labels: simulation, tools

#30037 Tests: speedup replay test
  tools/replay/tests/test_replay.cc
Labels: CI / testing, tools

#30039 replay: fix missing events before INIT_DATA
  tools/replay/replay.cc
Labels: tools

#30043 Simulator: fix metadrive tick frequency
  tools/sim/bridge/common.py
Labels: simulation, bugfix, tools

#30051 HKG: add note for Kona EV 2nd gen
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#30055 Car docs: add Lexus IS 2022
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: docs, car, toyota

#30048 Kia: add FW versions for KIA_K5_2021
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#30038 Improve Korean translation
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#30036 Hyundai: Add FW Versions for Santa Fe Plug-in Hybrid 2023
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#29476 HKG: Car Port for Hyundai Custin 1st Gen
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Labels: car port, car, hyundai

#30026 Skoda: add FW versions for Superb MK3
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#30063 CI: use "slow" marker for pytest
  .github/workflows/selfdrive_tests.yaml
  pyproject.toml
  selfdrive/car/tests/test_models.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/test/helpers.py
Labels: CI / testing

#30061 Hyundai tests: assert standard FW requests in database
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: fingerprint, CI / testing, car, hyundai

#30069 Simulator: cleanup old common stuff
  tools/sim/bridge/common.py
Labels: simulation, tools

#30068 Simulator: Looping metadrive world
  tools/sim/bridge/metadrive.py
Labels: simulation, tools

#30044 Simulation: engage on startup, print help message
  tools/sim/bridge/common.py
  tools/sim/lib/keyboard_ctrl.py
Labels: simulation, tools

#30073 kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#30079 Hyundai: update Optima Hybrid 2017 harness
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#30085 Ford: add 2023 Maverick Engine FW
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#30076 Car docs: update parts docs
  docs/CARS.md
  selfdrive/car/docs_definitions.py
  selfdrive/car/ford/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/volkswagen/values.py
Labels: docs, car

#30092 README: mention git-lfs requirement
  tools/README.md
Labels: tools

#30091 Simulator: split bridge and world into two files
  tools/sim/bridge/carla/carla_bridge.py
  tools/sim/bridge/carla/carla_world.py
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/run_bridge.py
  tools/sim/tests/test_carla_bridge.py
  tools/sim/tests/test_metadrive_bridge.py
Labels: simulation, tools

#30097 cabana: fix QCompleter leak
  tools/cabana/signalview.cc
Labels: bugfix, tools

#30093 Mazda: add FW versions for CX-5 2024
  docs/CARS.md
  selfdrive/car/mazda/values.py
Labels: fingerprint, car, mazda

#30098 Toyota docs: expand Camry Hybrid years to 2024
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: docs, car, toyota

#30099 CI: fix building prebuilt image
  .github/workflows/prebuilt.yaml
Labels: CI / testing, bugfix

#30103 Metadrive: move to a separate process
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/lib/simulated_sensors.py
Labels: simulation, tools

#30105 Simulator: wait for engageable
  tools/sim/bridge/common.py
Labels: simulation, tools

#30002 Simulator: update documentation for metadrive
  tools/sim/README.md
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/run_bridge.py
  tools/sim/tmux_script.sh
Labels: simulation, tools

#30107 Simulator: blinkers and lane changes
  tools/sim/bridge/common.py
  tools/sim/lib/common.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/lib/simulated_car.py
Labels: simulation, tools

#30111 Toyota: add several ECU versions for 2023 Toyota RAV4 Hybrid
  selfdrive/car/toyota/values.py
Labels: car, toyota

#30089 improved script for fetching images from routes
  tools/scripts/fetch_image_from_route.py
Labels: tools

#30004 ui: better Arabic translations
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/main_ar.ts
Labels: ui, multilanguage
