Repository commaai/openpilot, pull requests merged in 2024-04, with the labels that each got.

#32073 fix logreader after `segment_numbers` api removal
  tools/lib/route.py
Labels: tools

#32071 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#32072 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#32078 plotjuggler docs remove old options
  tools/plotjuggler/README.md
Labels: tools

#32076 Lexus RC: add missing fwdCamera FW
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, car, toyota

#32082 fix static analysis
  selfdrive/car/fw_versions.py
Labels: car

#32087 simulator: Change car to Honda Civic 2022
  tools/sim/bridge/common.py
  tools/sim/launch_openpilot.sh
  tools/sim/lib/simulated_car.py
Labels: simulation, tools

#32086 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#32090 Mutilang: update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#31889 cabana(DBCFile): handle escaped quotes
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/tests/test_cabana.cc
Labels: tools

#32104 move casync build dir to /data/openpilot
  Jenkinsfile
Labels: CI / testing

#32079 car docs: no experimental mode for alpha long cars
  selfdrive/car/docs_definitions.py
Labels: car

#31907 Adding foxglove support
  tools/foxglove/fox.py
  tools/foxglove/install_foxglove.sh
Labels: tools

#32108 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#32123 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#32115 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#32125 replay: use `clock_nanosleep` for precise waiting on the scale of nanoseconds
  tools/replay/util.cc
Labels: tools

#32127 Honda: remove combination meter
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/honda/values.py
Labels: fingerprint, cleanup, car, honda

#32064 Update Fingerprints for Kia Carnival 2023 in Taiwan
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#32130 debug: set OBD multiplexing mode for VIN
  selfdrive/car/fw_versions.py
Labels: car

#31851 VW: get VIN from camera without comma power
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/vin.py
Labels: enhancement, car, volkswagen

#32141 WD40 model
  selfdrive/modeld/constants.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#32121 cabana: gray out inactive messages
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/utils/util.cc
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: tools

#32147 Volkswagen: combine platforms with common chassis codes
  selfdrive/car/fingerprints.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.toml
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Labels: cleanup, car, volkswagen

#32149 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, docs, car, honda, bot

#32162 Volkswagen: test FW version format
  selfdrive/car/volkswagen/tests/test_volkswagen.py
  selfdrive/car/volkswagen/values.py
Labels: CI / testing, car, volkswagen

#32171 move casync openpilot build to /data/casync/openpilot
  Jenkinsfile
Labels: CI / testing

#32163 ui/network: fix typos
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#32165 [bot] Car docs: update model years from new users
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car, bot

#32173 Use existing "pcm_acc_status" declaration
  selfdrive/car/toyota/carstate.py
Labels: car, toyota

#32176 Tesla: remove CAN fingerprints
  selfdrive/car/tesla/fingerprints.py
Labels: fingerprint, car

#32181 ui/setup: use the mode "wb" instead of "w".
  selfdrive/ui/qt/setup/setup.cc
Labels: ui

#32180 ui/setup: Initially disable continue button
  selfdrive/ui/qt/setup/setup.cc
Labels: ui

#32184 Update Thai translations
  selfdrive/ui/translations/main_th.ts
Labels: ui, multilanguage

#32186 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/tesla/fingerprints.py
Labels: fingerprint, docs, car, bot

#32188 Volkswagen: enable OBD-less fingerprinting for gateway-integrated cars
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#32189 Volkswagen: add missing chassis codes
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#32191 Volkswagen: move FW pattern to test
  selfdrive/car/volkswagen/tests/test_volkswagen.py
  selfdrive/car/volkswagen/values.py
Labels: cleanup, car, volkswagen

#32148 Volkswagen: fingerprint on VIN chassis code
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/tests/test_volkswagen.py
  selfdrive/car/volkswagen/values.py
  selfdrive/debug/test_fw_query_on_routes.py
  tools/car_porting/auto_fingerprint.py
Labels: enhancement, car, volkswagen

#31737 VW MQB: Add FW for 2023 TROC
  docs/CARS.md
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#31895 VW: update LKA HUD to be more logically accurate
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/pqcan.py
Labels: car, volkswagen

#32196 Volkswagen: add missing Golf FW
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen

#32195 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, docs, car, volkswagen, bot

#32166 ui/network: update known connections after adding tethering connection.
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#32175 ui/network: initialize raw_adapter_state to NM_DEVICE_STATE_UNKNOWN
  selfdrive/ui/qt/network/networkmanager.h
  selfdrive/ui/qt/network/wifi_manager.h
Labels: ui

#32109 ui: fix pair button shows on paired device
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/ui.h
Labels: ui

#31956 Ford: add Ranger 2024 (CAN FD, dashcam only)
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.toml
Labels: car

#32201 Fix "PlaformConfig" typo
  selfdrive/car/nissan/values.py
Labels: car, nissan

#32203 [bot] Fingerprints: add missing FW versions from CAN fingerprinting cars
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, bot

#32208 Hyundai CAN: check traction control enabled
  selfdrive/car/hyundai/carstate.py
Labels: car, hyundai

#31499 Fingerprint: KIA Niro HEV 2021 - South Korea model
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, awaiting info, car, hyundai, in-bot-review

#31748 Subaru: Add FW for 2020 Subaru Forester
  selfdrive/car/subaru/fingerprints.py
Labels: fingerprint, car, subaru

#31840 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32209 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32213 also remove channel from jenkinsfile
  Jenkinsfile
Labels: CI / testing

#32211 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, toyota, bot

#32216 Multilang: update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#32218 jenkins: nightly casync build off of master
  Jenkinsfile
Labels: CI / testing

#32217 ui: cleanup white space after string
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#32221 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32230 Honda HR-V 3G: add missing camera ECU
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/honda/tests/test_honda.py
Labels: fingerprint, car, honda

#32232 FwQueryConfig: test non-essential ecus aren't needless
  selfdrive/car/honda/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, CI / testing, cleanup, car

#32231 Honda HR-V 3G: allow fingerprinting without the comma power
  selfdrive/car/honda/values.py
Labels: car, honda

#31503 Honda: brazilian HR-V 2023 fingerprint
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car, honda

#31962 ui/map_eta: avoid divide by zero
  selfdrive/ui/qt/maps/map_eta.cc
Labels: ui

#32174 ui/network: simplify getActiveConnections
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#32233 Platforms: less redundant string repr
  selfdrive/car/__init__.py
Labels: enhancement, car

#32235 Toyota: remove unecessary ECUs for fingerprinting
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/values.py
Labels: car, toyota

#32236 replay/framereader: no longer cache all AVPacket instances in memory
  tools/replay/framereader.cc
  tools/replay/framereader.h
Labels: tools

#32240 Revert "Honda: brazilian HR-V 2023 fingerprint"
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car, honda

#32241 bump codecov
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32244 lateral limits: remove Subaru exception
  selfdrive/car/tests/test_lateral_limits.py
  selfdrive/car/torque_data/override.toml
Labels: CI / testing, car

#32248 Multilang: update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#32251 distance bars: bars always cycle 1, 2, 3
  selfdrive/car/ford/fordcan.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/hyundaicanfd.py
Labels: car

#32254 jenkins: simplify timer check
  Jenkinsfile
Labels: CI / testing

#32253 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, docs, car, honda, bot

#32252 replay: refactor `Event` to remove the readers
  tools/cabana/streams/replaystream.cc
  tools/cabana/videowidget.cc
  tools/replay/SConscript
  tools/replay/camera.cc
  tools/replay/camera.h
  tools/replay/logreader.cc
  tools/replay/logreader.h
  tools/replay/replay.cc
  tools/replay/tests/test_replay.cc
  tools/replay/util.cc
Labels: tools

#32256 ui: fix non-updating text2 alerts
  selfdrive/ui/qt/onroad/alerts.h
Labels: ui

#32246 Update actions to replace deprecated versions
  .github/workflows/auto-cache/action.yaml
  .github/workflows/auto_pr_review.yaml
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/repo-maintenance.yaml
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32258 values: use union arguments
  selfdrive/car/values.py
Labels: car

#32261 GM: clean up test
  selfdrive/car/gm/tests/test_gm.py
Labels: CI / testing, car

#32265 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32264 [bot] Fingerprints: add missing FW versions from CAN fingerprinting cars
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32243 Honda: brazilian HR-V 2023 fingerprint v2
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/tests/routes.py
Labels: fingerprint, car, honda

#32268 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, docs, car, honda, bot

#32193 replay: bug fixes and improvements
  tools/cabana/streams/replaystream.cc
  tools/cabana/videowidget.cc
  tools/replay/consoleui.cc
  tools/replay/filereader.cc
  tools/replay/logreader.cc
  tools/replay/logreader.h
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/tests/test_replay.cc
  tools/replay/util.cc
  tools/replay/util.h
Labels: tools

#32272 Cabana: bug fixes
  tools/cabana/messageswidget.cc
  tools/cabana/videowidget.cc
  tools/replay/replay.cc
Labels: tools

#32276 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#32273 Update action that pulls in deprecated version of Node.js
  .github/workflows/prebuilt.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
Labels: CI / testing

#32270 [bot] Fingerprints: add missing FW versions from new users
  docs/CARS.md
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/toyota/fingerprints.py
Labels: docs, car, bot

#32263 replay: use nanosleep on MacOS
  tools/replay/util.cc
Labels: tools

#32280 VW: add missing WMI for EU Atlas
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#32279 VW: Add 3C chassis code for Passat
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#32282 Add missing fingerprint migration for Escalade ESV
  selfdrive/car/fingerprints.py
Labels: car

#32278 replay: optimize memory usage with `MonotonicBuffer`
  tools/cabana/streams/abstractstream.h
  tools/cabana/utils/util.cc
  tools/cabana/utils/util.h
  tools/replay/logreader.cc
  tools/replay/logreader.h
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/route.h
  tools/replay/util.cc
  tools/replay/util.h
Labels: tools

#32284 cabana: refactor HistoryLog for simplification and enhancements
  tools/cabana/dbc/dbc.cc
  tools/cabana/dbc/dbc.h
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/streams/abstractstream.cc
Labels: tools

#32160 cabana: improve `DBCFile::parse()`
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
Labels: tools

#32161 cabana: some improvements
  tools/cabana/chart/chart.cc
  tools/cabana/dbc/dbc.h
  tools/cabana/historylog.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/utils/util.cc
  tools/cabana/utils/util.h
Labels: tools

#32290 fix uiview
  selfdrive/debug/uiview.py
Labels: bugfix

#32255 replay: shared decoder context
  tools/replay/framereader.cc
  tools/replay/framereader.h
  tools/replay/route.cc
Labels: tools

#32289 update pip/poetry versions
  tools/install_python_dependencies.sh
Labels: tools

#31961 ui/map: check valid before accessing `PositionECEF`
  selfdrive/ui/qt/maps/map.cc
Labels: ui, stale

#32167 ui/network: add error handling for refreshFinished
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#32164 ui/network: add error handing for dbus `call`
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#32295 cabana: increase cache limits
  tools/cabana/settings.cc
Labels: tools

#32292 ui/cameraview: merge EGL Image Clearing code into `clearEGLImages()`
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Labels: ui

#32300 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, toyota, bot

#32303 cabana: show enum string in chart tooltip
  tools/cabana/chart/chart.cc
Labels: tools

#32315 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#32314 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#32309 North Dakota Model
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research
