Repository commaai/openpilot, pull requests merged in 2024-10, with the labels that each got.

#33680 re-enable time to onroad test
  Jenkinsfile
Labels: CI / testing

#33684 ci: lower `soundd` CPU budget
  selfdrive/test/test_onroad.py
Labels: CI / testing

#33692 Remove VW steer time limit alert
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
Labels: car

#33693 Deprecate carState.events
  cereal/car.capnp
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/tests/test_models.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/test/process_replay/README.md
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: refactor

#33702 ui: refactor model updating and rendering into ModelRenderer class
  selfdrive/ui/SConscript
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: ui

#33719 jenkins: disable time to onroad
  Jenkinsfile
Labels: CI / testing

#33687 Deprecate car onroadEvents
  cereal/car.capnp
  cereal/log.capnp
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/tests/test_models.py
  selfdrive/debug/cycle_alerts.py
  selfdrive/monitoring/helpers.py
  selfdrive/monitoring/test_monitoring.py
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/selfdrived/tests/test_alerts.py
  selfdrive/test/process_replay/migration.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
  selfdrive/test/test_time_to_onroad.py
Labels: cleanup

#33724 ui: remove space
  selfdrive/ui/ui.cc
Labels: ui

#33726 Typo on README.md of replay instructions
  tools/replay/README.md
Labels: tools

#33575 Test all of selfdrive/
  conftest.py
  pyproject.toml
  selfdrive/selfdrived/tests/test_alertmanager.py
  selfdrive/selfdrived/tests/test_alerts.py
  selfdrive/test/cpp_harness.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/ui/tests/test_runner.cc
Labels: CI / testing, bugfix, ignore stale, stale

#33478 AlertManager: reset duration when re-adding an event
  selfdrive/selfdrived/alertmanager.py
  selfdrive/selfdrived/tests/test_alertmanager.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#33682 jenkins: run tests when certain files change
  Jenkinsfile
Labels: CI / testing

#33727 MLSIM V2
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: autonomy

#33740 test models: allow public routes
  selfdrive/car/tests/test_models.py
Labels: enhancement, CI / testing, car

#33733 jenkins: run pandad tests only when relevant paths change
  Jenkinsfile
Labels: CI / testing

#33743 jenkins: model replay only when modeld is in diff
  Jenkinsfile
Labels: CI / testing

#33747 cabana: fix mouse wheel not scrolling charts when hovering over tips
  tools/cabana/chart/chartswidget.cc
Labels: tools

#33748 cabana: Insert newly split charts directly after the original chart
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
Labels: tools

#33751 ci: remove model_replay on pc
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#33749 rerun: fix rp_visualization TypeError
  tools/replay/lib/rp_helpers.py
  tools/replay/rp_visualization.py
Labels: tools

#33757 camerad: fix CAM_SYNC requests
  system/camerad/cameras/spectra.cc
Labels: bug

#33745 MLSIM V3
  selfdrive/modeld/models/supercombo.onnx
Labels: autonomy

#33755 ci: faster metadrive test
  .github/workflows/tools_tests.yaml
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/tests/test_metadrive_bridge.py
Labels: simulation, tools

#33766 ui: smooth transition of path colors on AllowThrottle state changes
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
  selfdrive/ui/ui.cc
Labels: ui

#33779 jenkins: fix hanging on SSH
  Jenkinsfile
Labels: CI / testing

#33769 tools: fix setup for directories with spaces
  tools/install_python_dependencies.sh
  tools/ubuntu_setup.sh
Labels: tools

#33780 Add missing detail for OP Long is required
  tools/longitudinal_maneuvers/README.md
Labels: tools

#33781 cabana: fix README example for streaming CAN messages from device
  tools/cabana/README.md
Labels: tools

#33785 cabana: SG_ parse allow no space before colon
  tools/cabana/dbc/dbcfile.cc
Labels: tools

#33787 Allow throttle ui: only if openpilot longitudinal
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
Labels: bugfix, ui

#33788 ui: always check for longitudinal control
  selfdrive/ui/qt/onroad/model.cc
Labels: bugfix, ui

#33786 ui: show tethering status in sidebar
  selfdrive/ui/qt/network/wifi_manager.cc
  selfdrive/ui/qt/network/wifi_manager.h
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
Labels: ui

#33792 long planner: allow throttle reflects usage
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, ui

#33796 card: remove unused `CS_prev` variable
  selfdrive/car/card.py
Labels: car

#33799 longitudinal report: add git data
  tools/longitudinal_maneuvers/generate_report.py
Labels: tools

#33809 MLSIM V4
  selfdrive/modeld/models/supercombo.onnx
Labels: autonomy

#33776 ui: enhance DriverView with real-time driver state rendering
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Labels: ui

#33805 `ui-preview`: increases delay between frames from 40 ms to 100ms
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33794 ui: revert the 'alive' check to compare with scene.started_frame
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/model.cc
Labels: ui

#33819 jenkins: fix files diff
  Jenkinsfile
Labels: CI / testing

#33812 replay: replace QCommandLineParser with getopt for command-line argument parsing.
  tools/replay/main.cc
Labels: tools

#33823 replay: replace Qt data types with standard C++ data types
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/replay/consoleui.cc
  tools/replay/main.cc
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/route.h
  tools/replay/tests/test_replay.cc
  tools/replay/util.cc
  tools/replay/util.h
Labels: tools

#33826 replay: refactor ConsoleUI to remove Qt dependency
  tools/replay/consoleui.cc
  tools/replay/consoleui.h
  tools/replay/main.cc
  tools/replay/replay.h
Labels: tools

#33835 jenkins: fix files diff on orphan branches
  Jenkinsfile
Labels: CI / testing

#33829 ssh_keys.h import not used by settings.cc
  selfdrive/ui/qt/offroad/settings.cc
Labels: ui

#33841 maneuversd: auto-resume if possible
  tools/longitudinal_maneuvers/maneuversd.py
Labels: tools

#33827 Remove steering wheel offset for planner slow down for curves
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#33864 longitudinal report: valid if capable of resuming
  tools/longitudinal_maneuvers/generate_report.py
Labels: bugfix

#33847 replay: remove Qt dependency from Segment and Timeline
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
  tools/replay/SConscript
  tools/replay/consoleui.cc
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/route.h
  tools/replay/tests/test_replay.cc
  tools/replay/timeline.cc
  tools/replay/timeline.h
  tools/replay/util.cc
  tools/replay/util.h
Labels: tools

#33459 ui: show driver camera in popup on demand
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/window.cc
Labels: ui

#33872 jenkins: unsafe checkout for test_onroad
  Jenkinsfile
Labels: CI / testing

#33828 Add Developer Panel in Settings
  .github/workflows/ui_preview.yaml
  selfdrive/ui/SConscript
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/developer_panel.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#33880 [bot] Update Python packages
  uv.lock
Labels: bot

#33879 update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#33881 jenkins: revert unsafe checkout
  Jenkinsfile
Labels: CI / testing

#33883 test_onroad: lower bound for soundd cpu usage
  selfdrive/test/test_onroad.py
Labels: CI / testing

#33876 nightly-dev
  Jenkinsfile
  release/build_release.sh
Labels: CI / testing

#33889 ci: x86 build on namespace runner
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#33891 ci: fix ui_preview when testing the tests
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33894 Fix low-speed allow_throttle behavior in long planner
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#33898 ci: use setup with retry for static analysis
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#33899 ci: increase submodules fetch timeout
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing
