Repository commaai/openpilot, pull requests merged in 2024-08, with the labels that each got.

#33160 op.sh: call directly instead of sourcing
  tools/op.sh
Labels: tools

#33162 setup.sh: work in non interactive mode
  tools/install_ubuntu_dependencies.sh
  tools/setup.sh
Labels: tools

#33163 op.sh: fix python version check
  tools/op.sh
Labels: tools

#33166 op.sh: check for valid invocation
  tools/op.sh
Labels: tools

#33167 CI: fix recent test_rotation skip
  system/loggerd/tests/test_loggerd.py
Labels: CI / testing

#33168 ci: create ui report only on PR
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#33185 [bot] Update Python packages
  pyproject.toml
  uv.lock
Labels: bot

#33191 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#33175 setup.sh: metrics
  tools/op.sh
  tools/setup.sh
Labels: tools

#33199 remove unnecessary debugging function from car_helpers.py
  selfdrive/car/car_helpers.py
  selfdrive/modeld/tests/test_modeld.py
  system/hardware/tici/tests/test_power_draw.py
Labels: cleanup

#33200 selfdrive/car: OBD callback
  selfdrive/car/car_helpers.py
  selfdrive/car/card.py
  selfdrive/car/ecu_addrs.py
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/test/process_replay/process_replay.py
Labels: car

#33198 selfdrive/car: ban params
  .importlinter
  selfdrive/car/car_helpers.py
  selfdrive/car/card.py
  selfdrive/car/fw_versions.py
  selfdrive/test/process_replay/process_replay.py
Labels: refactor

#33204 get_car: returns CI
  selfdrive/car/car_helpers.py
  selfdrive/car/card.py
  selfdrive/test/process_replay/process_replay.py
Labels: cleanup

#33186 tools/rerun: new image API for rerun 0.18
  tools/install_python_dependencies.sh
  tools/rerun/run.py
Labels: tools

#33211 selfdrive/car: ban selfdrive/controls
  .importlinter
  selfdrive/car/body/carcontroller.py
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/volkswagen/carcontroller.py
Labels: cleanup, car

#32680 pandad: refactor to consolidate threads, keep only one can_send thread
  selfdrive/pandad/SConscript
  selfdrive/pandad/panda_safety.cc
  selfdrive/pandad/pandad.cc
  selfdrive/pandad/pandad.h
Labels: stale

#33218 remove CAN capnp conversion from car interfaces
  .importlinter
  selfdrive/car/card.py
  selfdrive/car/interfaces.py
  selfdrive/car/tests/test_models.py
Labels: cleanup, car

#33227 static_analysis: use 24.04 for everyone
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#33231 selfdrive/car: rm make_can_msg
  selfdrive/car/__init__.py
  selfdrive/car/can_definitions.py
  selfdrive/car/gm/gmcan.py
  selfdrive/car/interfaces.py
  selfdrive/car/isotp_parallel_query.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/pandad/tests/test_pandad_loopback.py
Labels: cleanup, car

#33232 CAN fingerprinting: count empty CAN packets as frames
  selfdrive/car/car_helpers.py
  selfdrive/car/card.py
  selfdrive/car/tests/test_can_fingerprint.py
  selfdrive/test/process_replay/process_replay.py
Labels: bugfix, car

#33215 selfdrive/car: generic CAN send/receive callbacks
  .importlinter
  selfdrive/car/can_definitions.py
  selfdrive/car/car_helpers.py
  selfdrive/car/card.py
  selfdrive/car/disable_ecu.py
  selfdrive/car/ecu_addrs.py
  selfdrive/car/fw_versions.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/isotp_parallel_query.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tests/test_can_fingerprint.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/vin.py
  selfdrive/test/process_replay/process_replay.py
Labels: refactor, car

#33226 tools/logreader: add desc arg to run_across_segments()
  tools/lib/logreader.py
Labels: tools

#33238 op.sh: fix venv on zsh + bash 3.2
  tools/op.sh
Labels: tools

#33236 webcam: remove other cv2 usage
  tools/webcam/camera.py
  tools/webcam/camerad.py
Labels: tools

#33241 linux: setup panda + jungle udev rules
  tools/install_ubuntu_dependencies.sh
Labels: tools

#33248 setup.sh: get full uname
  tools/setup.sh
Labels: tools

#33250 Honda: round minEnableSpeed correctly
  docs/CARS.md
  selfdrive/car/honda/interface.py
Labels: bugfix, docs, honda

#33249 op.sh: consistent naming
  tools/op.sh
Labels: tools

#33251 move capnp CarParams decoding out of car_helpers
  selfdrive/car/car_helpers.py
  selfdrive/car/card.py
  selfdrive/test/process_replay/process_replay.py
Labels: refactor, car

#33258 spinner: fix missing colon in QProgressBar border style
  selfdrive/ui/qt/spinner.cc
Labels: ui

#33242 Add testing closet to LogReader source
  tools/lib/filereader.py
  tools/lib/logreader.py
Labels: tools

#33256 Fix some car typing
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/interfaces.py
  selfdrive/car/mock/carstate.py
  selfdrive/car/subaru/tests/test_subaru.py
Labels: car

#33263 Revert "spinner: fix missing colon in QProgressBar border style"
  selfdrive/ui/qt/spinner.cc
Labels: ui

#33266 carState: add invalid sensors field
  cereal/car.capnp
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
Labels: refactor, car

#33272 [bot] Update Python packages
  uv.lock
Labels: bot

#33274 ci: merge python packages and python submodules bump
  .github/workflows/repo-maintenance.yaml
Labels: CI / testing

#33276 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, docs, car, bot

#33277 fix fingerprint debug scripts
  selfdrive/car/disable_ecu.py
  selfdrive/car/ecu_addrs.py
  selfdrive/car/fw_versions.py
  selfdrive/car/vin.py
Labels: bugfix, car

#33282 op.sh: separate op.sh output from the real command
  tools/op.sh
Labels: tools

#33284 interfaces: assume CarState is instantiated
  selfdrive/car/interfaces.py
  selfdrive/car/tests/test_car_interfaces.py
Labels: cleanup, car

#33280 Move events out of car interfaces
  .importlinter
  selfdrive/car/__init__.py
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Labels: car

#33288 op.sh: remove python version check
  tools/op.sh
Labels: tools

#33290 Car interface clean up
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
  selfdrive/car/card.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Labels: cleanup, car

#33293 Consistent spacing in car interfaces
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/tesla/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
Labels: cleanup, car

#33292 Move buttonEvents to CarState
  selfdrive/car/body/interface.py
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Labels: refactor, car

#33294 card: set mock carState fields
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/mock/carstate.py
  selfdrive/car/mock/interface.py
Labels: refactor, car

#33289 Common CI._update function
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/carstate.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
Labels: refactor, car

#33297 retry uv with cache
  tools/install_python_dependencies.sh
Labels: tools

#33300 rm tesla
  release/release_files.py
  selfdrive/car/car_specific.py
  selfdrive/car/fingerprints.py
  selfdrive/car/tesla/__init__.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/carstate.py
  selfdrive/car/tesla/fingerprints.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tesla/radar_interface.py
  selfdrive/car/tesla/teslacan.py
  selfdrive/car/tesla/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/torque_data/override.toml
  selfdrive/car/values.py
  selfdrive/test/process_replay/test_processes.py
Labels: cleanup, car, tesla

#33304 ui: remove GPS status from the sidebar
  selfdrive/controls/controlsd.py
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
Labels: ui

#33308 move live fingerprint debugging code to debug/car
  .importlinter
  selfdrive/car/disable_ecu.py
  selfdrive/car/ecu_addrs.py
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/vin.py
  selfdrive/debug/car/disable_ecu.py
  selfdrive/debug/car/ecu_addrs.py
  selfdrive/debug/car/fw_versions.py
  selfdrive/debug/car/vin.py
Labels: fingerprint, cleanup, car

#33310 docs: remove common import
  .github/PULL_REQUEST_TEMPLATE/car_port.md
  .github/pull_request_template.md
  .importlinter
  pyproject.toml
  selfdrive/car/docs.py
  selfdrive/car/tests/test_docs.py
  selfdrive/opcar/__init__.py
  selfdrive/opcar/docs.py
  selfdrive/opcar/tests/__init__.py
  selfdrive/opcar/tests/test_docs.py
Labels: refactor, docs, car

#33311 setup.sh: fix macOS path specification
  tools/setup.sh
Labels: tools

#33312 GM: remove basedir import
  .importlinter
  selfdrive/car/common/basedir.py
  selfdrive/car/gm/interface.py
  selfdrive/car/interfaces.py
Labels: car

#33315 hyundai: test some feature detection
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: CI / testing, car

#33322 Cleaning up README for tools directory
  tools/README.md
Labels: tools

#33328 card: fix memory leak from nested function scoping
  selfdrive/car/card.py
Labels: bugfix, car

#33329 Remove car labeler
  .github/labeler.yaml
Labels: CI / testing

#33345 update car docs in weekly repo maintenance
  .github/workflows/repo-maintenance.yaml
Labels: CI / testing

#33350 ui: fix wrong path color indexing
  selfdrive/ui/qt/onroad/annotated_camera.cc
Labels: bugfix, ui

#33359 rerun: adapt to the change in release of 0.18
  tools/rerun/run.py
Labels: tools

#33368 ui: move more builds behind --minimal
  selfdrive/ui/SConscript
Labels: ui

#33369 these have nothing to do with openpilot
  tools/install_ubuntu_dependencies.sh
Labels: tools

#33379 car helpers file
  selfdrive/car/card.py
  selfdrive/car/helpers.py
Labels: car

#33381 sim: fix code formatting
  tools/sim/lib/simulated_car.py
Labels: simulation, tools

#33390 ui: fix memory corruption by using std::vector for PubMaster initialization
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/ui.cc
Labels: ui

#33395 ci: add all onroad hud elements to ui report
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#32862 bridge: implement MSGQ to ZMQ bridge with subscriber-based publishing
  cereal/SConscript
  cereal/messaging/bridge.cc
  cereal/messaging/msgq_to_zmq.cc
  cereal/messaging/msgq_to_zmq.h
Labels: ignore stale

#33402 ui: remove deprecated Qt ui_snapshot
  selfdrive/ui/SConscript
  selfdrive/ui/tests/.gitignore
  selfdrive/ui/tests/ui_snapshot.cc
  selfdrive/ui/tests/ui_snapshot.h
Labels: ui

#33403 ui: fix Incorrect path in .gitignore for test_ui/report
  selfdrive/ui/tests/.gitignore
Labels: ui

#33411 ui: update arabic translations
  selfdrive/ui/translations/main_ar.ts
Labels: ui, multilanguage

#33413 small typo on run.py
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33414 joystickd: works with game controller on device
  tools/joystick/joystickd.py
Labels: tools

#33412 Bot comment only for first timers
  .github/workflows/auto_pr_review.yaml
Labels: CI / testing
