Repository commaai/openpilot, pull requests merged in 2024-01, with the labels that each got.

#30879 Fixed joystickd.py incorrect steering control
  tools/joystick/joystickd.py
Labels: tools

#30831 metadrive: c3 position height
  tools/sim/bridge/metadrive/metadrive_bridge.py
Labels: simulation, tools

#30842 multilang: parameterize unit tests
  selfdrive/ui/tests/test_translations.py
Labels: CI / testing, ui

#30886 url_file: fix non-200 files being cached
  tools/lib/tests/test_caching.py
  tools/lib/url_file.py
Labels: tools

#30888 CI: set CI=1 globally
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#30822 new delhi model
  Jenkinsfile
  selfdrive/modeld/models/navmodel.onnx
  selfdrive/modeld/models/navmodel_q.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#30889 CI: set CI=1 in docker image
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#30895 Hyundai: fix 2021 Niro Hybrid harness
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: bugfix, car, hyundai

#30887 Toyota: add 2024 RAV4 Hybrid (Canada-built)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#30896 Revert "test_models: fallback to public route when route isn't uploaded to CI bucket (#30794)"
  selfdrive/car/tests/test_models.py
Labels: CI / testing, car

#30837 Fingerprints: add missing FW versions from users
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, car, toyota

#30893 test_models: fallback to public route when route isn't uploaded to CI bucket
  selfdrive/car/tests/test_models.py
Labels: CI / testing, cleanup, car

#30397 UI: single-threaded CameraView
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/watch3.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: ui

#30902 jenkins: lock "pc" label to limit concurrent workers
  Jenkinsfile
Labels: CI / testing

#30885 [HKG-CAN] Consider FCW alerts from SCC
  selfdrive/car/hyundai/carstate.py
Labels: bugfix, car, hyundai

#30877 Fingerprint for '21 Explorer ST
  selfdrive/car/ford/fingerprints.py
Labels: fingerprint, car, ford

#30906 Fingerprints: add missing FW versions from users
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, car, toyota

#30912 Car docs: utilize post init
  selfdrive/car/docs_definitions.py
Labels: refactor, docs, car

#30918 tools: add car porting example notebook
  tools/car_porting/examples/subaru_steer_temp_fault.ipynb
Labels: tools

#30916 move car porting tools to tools/car_porting
  selfdrive/car/README.md
  tools/car_porting/README.md
  tools/car_porting/auto_fingerprint.py
  tools/car_porting/test_car_model.py
Labels: tools

#30920 add the notebook example to car port docs
  tools/car_porting/README.md
  tools/car_porting/examples/subaru_steer_temp_fault.ipynb
Labels: tools

#30917 move profiling tools to tools/profiling
  tools/profiling/clpeak/.gitignore
  tools/profiling/clpeak/build.sh
  tools/profiling/clpeak/no_print.patch
  tools/profiling/clpeak/run_continuously.patch
  tools/profiling/ftrace.sh
  tools/profiling/palanteer/.gitignore
  tools/profiling/palanteer/setup.sh
  tools/profiling/perfetto/.gitignore
  tools/profiling/perfetto/build.sh
  tools/profiling/perfetto/copy.sh
  tools/profiling/perfetto/record.sh
  tools/profiling/perfetto/server.sh
  tools/profiling/perfetto/traces.sh
  tools/profiling/py-spy/profile.sh
  tools/profiling/snapdragon/.gitignore
  tools/profiling/snapdragon/README.md
  tools/profiling/snapdragon/setup-agnos.sh
  tools/profiling/snapdragon/setup-profiler.sh
  tools/profiling/watch-irqs.sh
Labels: tools

#30899 Auto translate with OpenAI
  selfdrive/ui/translations/auto_translate.py
Labels: ui, multilanguage

#30922 Auto translate: fix prompt & formatting
  selfdrive/ui/translations/auto_translate.py
Labels: bugfix, ui, multilanguage

#30923 Add necessary permissions/tokens for "lewagon/wait-on-check-action" so it can run nightly
  .github/workflows/prebuilt.yaml
  .github/workflows/release.yaml
Labels: CI / testing

#30930 Python camerad for webcam
  tools/webcam/README.md
  tools/webcam/camera.py
  tools/webcam/camerad.py
  tools/webcam/start_camerad.sh
Labels: tools

#30874 VW MQB: Improved longitudinal starting and stopping
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/test/process_replay/ref_commit
Labels: car, volkswagen

#30945 Fingerprints: add missing FW versions from users
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, car, toyota

#30547 GM: remove GMLAN dash msg
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/values.py
  selfdrive/test/process_replay/ref_commit
Labels: car, gm, Stale

#30909 Toyota: add 2024 RAV4
  RELEASES.md
  docs/CARS.md
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/values.py
Labels: fingerprint, car, toyota

#30947 Fix badges workflow blocking release/prebuilt workflows from permission and Git-LFS complications
  .github/workflows/badges.yaml
Labels: CI / testing

#30949 Add permissions to build_masterci in release workflow so it can push master-ci
  .github/workflows/release.yaml
Labels: CI / testing

#30952 UI/MapETA: Increased contrast of widget texts for better readability
  selfdrive/ui/qt/maps/map_eta.cc
Labels: ui

#30940 SegmentRangeReader: new format for reading multiple segments
  tools/car_porting/auto_fingerprint.py
  tools/car_porting/examples/subaru_steer_temp_fault.ipynb
  tools/lib/helpers.py
  tools/lib/route.py
  tools/lib/srreader.py
  tools/lib/tests/test_srreader.py
Labels: tools

#30954 segmentrangereader: support sort_by_time
  tools/lib/srreader.py
Labels: tools

#30955 buildjet: pin location to de
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#30961 Enable variable pass between test and metadrive processes
  tools/sim/tests/test_sim_bridge.py
Labels: CI / testing, simulation, tools

#30966 pre-commit: speed up translation step
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/update_translations.py
Labels: bugfix, ui

#30965 Honda: remove hud ECU from CR-V Hybrid
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, bugfix, car, honda

#30970 segmentrangereader: support more sources
  tools/lib/route.py
  tools/lib/srreader.py
  tools/lib/tests/test_srreader.py
Labels: tools

#30971 move can replay to segmentrangereader
  tools/replay/can_replay.py
Labels: tools

#30958 car porting examples: add example of plotting the response of brake_pressure vs acceleration
  tools/car_porting/README.md
  tools/car_porting/examples/subaru_long_accel.ipynb
Labels: tools

#30972 Fingerprints: add missing FW versions from users
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, car, toyota

#30973 segmentrangereader: support direct parsing
  tools/lib/route.py
  tools/lib/srreader.py
  tools/lib/tests/test_srreader.py
Labels: tools

#30969 move plotjuggler to segment range reader
  tools/plotjuggler/juggle.py
  tools/plotjuggler/test_plotjuggler.py
Labels: tools

#30974 Subaru: fix disable eyesight enum
  selfdrive/car/subaru/interface.py
Labels: bugfix, car, subaru

#30967 fix metadrive after bump
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
Labels: simulation, tools

#30808 networking: add hidden network option
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/networking.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#30976 simple navd test
  selfdrive/navd/tests/test_navd.py
Labels: CI / testing

#30951 VW MQB: Add FW for 2018 Volkswagen Tiguan
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen

#30980 Replace multilogiterator
  tools/lib/README.md
  tools/lib/logreader.py
  tools/lib/srreader.py
  tools/scripts/save_ubloxraw_stream.py
Labels: tools

#30983 Metadrive: fix map config on main
  tools/sim/bridge/metadrive/metadrive_bridge.py
Labels: simulation, tools

#30986 remove get_url instances
  selfdrive/locationd/test/test_locationd_scenarios.py
  selfdrive/test/process_replay/test_debayer.py
Labels: CI / testing

#30987 Multilang: Update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#30990 kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#30988 Fingerprints: automatically add missing FW versions from users [bot]
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car, honda

#30989 test_proclog: fix conflict with pytest
  system/proclogd/tests/test_proclog.cc
Labels: CI / testing

#30992 Update French language
  selfdrive/ui/translations/main_fr.ts
Labels: ui, multilanguage

#30993 speedup devcontainer ci job
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#30995 CI: speedup unit test job
  .github/workflows/selfdrive_tests.yaml
  selfdrive/test/process_replay/test_fuzzy.py
  tools/lib/tests/test_logreader.py
  tools/sim/tests/test_metadrive_bridge.py
Labels: CI / testing

#30997 more unit test speedup
  selfdrive/controls/tests/test_startup.py
  tools/replay/tests/test_replay.cc
Labels: CI / testing, tools

#30984 Subaru: remove incorrect fingerprints from other brands queries
  selfdrive/car/subaru/fingerprints.py
Labels: fingerprint, car, subaru

#31004 docs: include dashcam
  selfdrive/car/docs.py
Labels: car

#31001 Subaru: ensure consistent firmware version size
  selfdrive/car/subaru/fingerprints.py
  selfdrive/car/subaru/tests/test_subaru.py
Labels: fingerprint, car, subaru

#31019 LogReader: support only_union_types
  tools/lib/logreader.py
Labels: tools

#31023 LogReader: fix plotjuggler not reading properly
  tools/lib/logreader.py
  tools/plotjuggler/juggle.py
  tools/plotjuggler/test_plotjuggler.py
  tools/replay/can_replay.py
Labels: tools

#31026 test_models: sanitize segment before running test
  selfdrive/car/tests/test_models.py
Labels: CI / testing, car

#31025 auto_source: optimize api calls and use head to determine if file exists
  tools/lib/filereader.py
  tools/lib/logreader.py
  tools/lib/tests/test_logreader.py
Labels: tools

#31028 CI: only apply bot-review label when it doesn't pass
  .github/workflows/auto_pr_review.yaml
Labels: CI / testing

#31030 CI: auto_pr_review fix error when label doesn't exist
  .github/workflows/auto_pr_review.yaml
Labels: CI / testing, in-bot-review

#31027 Fingerprints: automatically add missing FW versions from users [bot]
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car

#31032 Update PR templates + autogenerate
  .github/PULL_REQUEST_TEMPLATE/car_port.md
  .github/PULL_REQUEST_TEMPLATE/fingerprint.md
  .github/PULL_REQUEST_TEMPLATE/tuning.md
  .github/build.py
  .github/pull_request_template.md
Labels: CI / testing

#31044 prevent typing issue in azure_container
  tools/lib/azure_container.py
Labels: tools

#31048 FW query timing test: mock inconsistent, timing-based functions
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, CI / testing, car

#31056 CI: use namespace.so
  .github/workflows/auto-cache-restore/action.yaml
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#31057 Toyota: combine more hybrid platforms
  docs/CARS.md
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models_segs.txt
  selfdrive/car/torque_data/params.toml
  selfdrive/car/torque_data/substitute.toml
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Labels: enhancement, fingerprint, cleanup, car, toyota

#31064 CI: use namespace.io
  .github/workflows/auto-cache-restore/action.yaml
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
  selfdrive/test/docker_build.sh
Labels: CI / testing

#31073 UI/close_btn: Removed unused border code
  selfdrive/ui/qt/offroad/settings.cc
Labels: ui, in-bot-review

#31076 CI: auto-cache add option to save cache
  .github/workflows/auto-cache/action.yaml
  .github/workflows/setup/action.yaml
Labels: CI / testing

#31071 Enable cache for pre-commit
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-pre-commit/action.yaml
Labels: CI / testing

#31078 CI: fix post run cache
  .github/workflows/auto-cache/action.yaml
Labels: CI / testing

#31072 Support for newer versions of Qt
  SConstruct
  common/swaglog.cc
  selfdrive/ui/SConscript
Labels: in-bot-review

#31084 fix cache permissions
  .github/workflows/auto-cache/action.yaml
Labels: CI / testing

#31086 speedup replay test
  tools/replay/tests/test_replay.cc
Labels: CI / testing, tools

#31080 car tests on namespace
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#31095 jenkins: cleanup /dev/shm
  Jenkinsfile
Labels: CI / testing

#31103 fix test_startup
  selfdrive/controls/tests/test_startup.py
Labels: CI / testing

#31104 Simulator: fix metadrive
  tools/sim/bridge/metadrive/metadrive_process.py
Labels: simulation, tools

#30864 Hyundai: add missing Ioniq 5 2024 RWD Limited FW
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#31115 loggerd: speedup unit tests
  system/loggerd/tests/test_loggerd.py
Labels: CI / testing

#31117 add example of using the comma car segments database
  tools/car_porting/README.md
  tools/car_porting/examples/ford_vin_fingerprint.ipynb
  tools/lib/logreader.py
Labels: tools

#31116 Fingerprints: automatically add missing FW versions from users [bot]
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car

#31126 SegmentRange: __str__ get preferred format
  tools/lib/route.py
  tools/lib/tests/test_logreader.py
Labels: tools

#31110 plotjuggler: auto fallback to qlogs with prompt
  tools/lib/helpers.py
  tools/lib/logreader.py
  tools/plotjuggler/juggle.py
Labels: tools

#31088 LogReader: remove redirect message for internal data
  tools/lib/url_file.py
Labels: tools

#31130 Fingerprints: automatically add missing FW versions from users [bot]
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car

#31129 LogReader: don't use route for max_segment
  tools/lib/logreader.py
  tools/lib/route.py
  tools/lib/tests/test_logreader.py
Labels: tools

#31131 CI: test the car_porting example notebooks
  .github/workflows/tools_tests.yaml
Labels: CI / testing, tools

#31132 fw_versions: add extra_fw_versions param
  selfdrive/car/fw_versions.py
Labels: enhancement, fingerprint, car

#31134 test_fw_query_on_routes: use new LogReader
  selfdrive/debug/test_fw_query_on_routes.py
Labels: CI / testing

#31136 comma_api_source: fix qlogs
  tools/lib/logreader.py
Labels: tools

#31137 auto_source: add commaCarSegments source
  tools/car_porting/examples/ford_vin_fingerprint.ipynb
  tools/lib/logreader.py
Labels: tools

#31138 Nissan: log FW responses on bus 0
  selfdrive/car/nissan/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: enhancement, fingerprint, car, nissan

#30934 Add Pacifica 2023 fingerprint
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, car, chrysler

#31143 Revert "Chrysler: add Pacifica 2023 FW versions (#30934)"
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, car, chrysler

#31144 Chrysler: add Pacifica 2023 FW versions (#30934)
  docs/CARS.md
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car, chrysler

#31146 LogReader: replace get_first_message with LogReader.first
  tools/car_porting/auto_fingerprint.py
  tools/car_porting/examples/ford_vin_fingerprint.ipynb
  tools/lib/logreader.py
  tools/lib/tests/test_comma_car_segments.py
Labels: tools

#31139 car porting examples: subaru fuzzy fingerprinting
  tools/car_porting/examples/subaru_fuzzy_fingerprint.ipynb
Labels: tools

#31147 test_ui: create test ui screenshots and html report
  .github/workflows/selfdrive_tests.yaml
  poetry.lock
  pyproject.toml
  selfdrive/test/setup_xvfb.sh
  selfdrive/ui/tests/.gitignore
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/tests/test_ui/template.html
Labels: enhancement, CI / testing

#31135 Los Angeles Model 2
  selfdrive/modeld/constants.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#31145 Ford: add missing Mach-E fw
  selfdrive/car/ford/fingerprints.py
Labels: fingerprint, car, ford

#31049 Added firmware fingerprint IONIQ 2020 EV
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#31148 test_ui: add onroad state
  selfdrive/ui/tests/test_ui/run.py
Labels: CI / testing, ui

#31142 Chrysler: add FW from CAN fingerprinting cars last 90 days on 0.9.5-release
  docs/CARS.md
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/chrysler/values.py
Labels: fingerprint, car, chrysler

#31043 Toyota: use radar in place of abs for platform code ECU
  selfdrive/car/toyota/values.py
Labels: enhancement, fingerprint, car, toyota

#31152 LogReader: fail-fast on invalid segments
  tools/lib/logreader.py
Labels: tools

#31159 CI: add bot labels to repo_maintenance
  .github/workflows/repo-maintenance.yaml
Labels: CI / testing

#31160 test_loggerd: make rotation test more robust
  system/loggerd/tests/test_loggerd.py
Labels: CI / testing

#31162 Simulator: add comment about mapbox tokens
  tools/sim/README.md
Labels: simulation, tools

#31158 filereader should use connection pool for file_exists
  tools/lib/filereader.py
Labels: tools

#31156 Fingerprints: add missing FW versions from users for Toyota, Honda, Chrysler [bot]
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, bot

#31167 Multilang: Update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage, in-bot-review

#31166 Fingerprints: add missing FW versions from users for Toyota, Honda, Chrysler [bot]
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car, honda, bot

#31168 Revert "test_loggerd: make rotation test more robust"
  system/loggerd/tests/test_loggerd.py
Labels: CI / testing

#31165 VIN: query on bus 0 to log data
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/vin.py
Labels: enhancement, fingerprint, car

#31171 CI: use auto-cache for test_models
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#31175 vin: reduce retries
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/vin.py
Labels: car

#31173 Fingerprints: add missing FW versions from users for Toyota, Honda, Chrysler [bot]
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car, honda, bot

#31176 Honda: add logging request for radarless Civic 2022+ camera
  selfdrive/car/honda/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: car, honda

#31106 UI/sidebar_layout: Removed redundant piece of margin code
  selfdrive/ui/qt/offroad/settings.cc
Labels: ui, in-bot-review

#31182 commaCarSegments cleanup
  tools/lib/comma_car_segments.py
Labels: tools

#31113 Fingerprint vw taos eduardo
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen

#31186 tools: add LOG_ID regex pattern
  tools/lib/helpers.py
Labels: tools

#31169 CommaCarSegments: BIG Database!
  tools/car_porting/examples/ford_vin_fingerprint.ipynb
  tools/lib/helpers.py
  tools/lib/logreader.py
Labels: tools

#31174 Subaru: move non-obd requests out of logging
  selfdrive/car/subaru/values.py
Labels: enhancement, car, subaru

#31193 Fingerprints: add missing FW versions from users for Toyota, Honda, Chrysler [bot]
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car, honda, bot

#31196 Fingerprints: add missing FW versions from users for Toyota, Honda, Chrysler [bot]
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, car, toyota, bot

#31181 Updated Lexus ES hybrid MY
  docs/CARS.md
  selfdrive/car/toyota/values.py
Labels: in-bot-review

#31203 Car docs: update model years from users for Toyota, Honda, Chrysler [bot]
  docs/CARS.md
  selfdrive/car/honda/values.py
Labels: bot

#31205 Fingerprints: add missing FW versions from users for Toyota, Honda, Chrysler [bot]
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#31210 Fingerprints: add missing FW versions from users for Toyota, Honda, Chrysler [bot]
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#31208 Update Python packages and pre-commit hooks
  poetry.lock
Labels: bot

#31211 CI: fix bot location
  .github/workflows/repo-maintenance.yaml
Labels: CI / testing

#31202 Webcam: prepare to make camerad a PythonProcess
  tools/webcam/camera.py
  tools/webcam/camerad.py
Labels: tools

#31201 Simulator: prepare to make bridge a PythonProcess
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/run_bridge.py
Labels: simulation, tools

#31216 LogReader: add tqdm back to run_across_segments
  tools/lib/logreader.py
Labels: tools

#31217 selfdrive/debug: view iso-tp communication from logs
  selfdrive/debug/debug_fw_fingerprinting_offline.py
Labels: tools, car

#31016 Add 2022 Subaru Outback IDs to subaru/fingerprints.py
  selfdrive/car/subaru/fingerprints.py
Labels: fingerprint, car, subaru

#31220 Subaru: eps is non-essential for gen2 cars
  selfdrive/car/subaru/values.py
Labels: car, subaru

#31222 LogReader: add ```.filter```
  tools/lib/logreader.py
  tools/lib/tests/test_logreader.py
Labels: tools
