Repository commaai/openpilot, pull requests merged in 2024-05, with the labels that each got.

#32335 CPU budget
  selfdrive/test/test_onroad.py
Labels: CI / testing

#32336 athenad: set a timeout on proxy WebSocket receive
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/helpers.py
Labels: bugfix

#32334 cabana: Improve seeking and zooming
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chartswidget.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/replay/camera.cc
  tools/replay/camera.h
Labels: tools

#32341 replay: fix hang issue on system wake-up
  tools/replay/replay.cc
Labels: tools

#32340 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32349 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32342 cabana: fix the panda serial selector disappeared after `buildConfigForm()`
  tools/cabana/cabana.cc
  tools/cabana/mainwin.cc
  tools/cabana/streams/pandastream.cc
  tools/cabana/streams/pandastream.h
Labels: tools

#32355 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#32357 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32362 debug test_models script fixes
  selfdrive/car/tests/test_models.py
  tools/car_porting/test_car_model.py
Labels: CI / testing

#32365 Kia: add missing Carnival 2024 FW
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#32369 PlatformConfig: clean up and print all flags
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/subaru/values.py
  selfdrive/debug/print_flags.py
  tools/car_porting/examples/subaru_fuzzy_fingerprint.ipynb
Labels: cleanup, car

#32332 cabana: Implement Remote Route Browsing Feature
  tools/cabana/SConscript
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/routes.cc
  tools/cabana/streams/routes.h
  tools/cabana/streamselector.cc
Labels: tools

#31124 Ford: use platform codes to fuzzy fingerprint
  selfdrive/car/ford/tests/print_platform_codes.py
  selfdrive/car/ford/tests/test_ford.py
  selfdrive/car/ford/values.py
Labels: car, ford

#32361 Added ECU FW version for 2021 Lincoln Aviator Black Label Grand Touring
  selfdrive/car/ford/fingerprints.py
Labels: fingerprint, car, ford

#32259 Kia: add K8 Hybrid 2024 FW
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#31450 VW: raise minimum steering speed to fix a fault
  selfdrive/car/docs_definitions.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/process_replay/ref_commit
Labels: car, volkswagen

#32305 Honda: add missing FW for Civic Hatchback 2020 (Type R Japanese model)
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, car, honda

#32318 VW MQB: Add FW for 2022 CUPRA Ateca
  docs/CARS.md
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#32377 Cleanup auto_fingerprints.py
  tools/car_porting/auto_fingerprint.py
Labels: cleanup, tools

#32378 Volkswagen: improve fuzzy fingerprinting
  selfdrive/car/volkswagen/tests/test_volkswagen.py
  selfdrive/car/volkswagen/values.py
Labels: car

#32379 Always-on DM: no audible alert at low speeds / block engagement if alert present
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/driver_monitor.py
  selfdrive/monitoring/test_monitoring.py
Labels: enhancement

#32382 card: preparation
  selfdrive/car/card.py
  selfdrive/car/mock/interface.py
  selfdrive/controls/controlsd.py
Labels: cleanup, car

#32384 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, docs, car, volkswagen, bot

#32397 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#32404 boardd: SPI corruption test
  Jenkinsfile
  selfdrive/boardd/spi.cc
  selfdrive/boardd/tests/test_boardd_loopback.py
  selfdrive/boardd/tests/test_boardd_spi.py
Labels: CI / testing

#32406 Remove qlog param from demo example
  tools/plotjuggler/README.md
Labels: tools

#32298 VW MQB: Support for preempted HCA state
  selfdrive/car/volkswagen/carstate.py
Labels: car, volkswagen

#32412 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, toyota, bot

#32411 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#32395 Events: use sorted container
  selfdrive/controls/lib/events.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, controls

#32394 CarInterface: move stateless, common car events to car interface
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, controls, car

#32413 ui: fix brightness when there's no camera
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: ui

#32416 rerun.io proof of concept
  tools/rerun/run.py
Labels: tools

#32418 logreader: skip internal source if connection refused
  tools/lib/filereader.py
Labels: tools

#32420 Hyundai Kona: add min speed
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car, hyundai

#32421 Car docs: gate auto resume star on enable down to stop
  docs/CARS.md
  selfdrive/car/docs_definitions.py
  selfdrive/car/hyundai/values.py
Labels: docs, car

#32423 Fix test_time_to_onroad
  selfdrive/test/test_time_to_onroad.py
Labels: CI / testing

#32429 controlsd: use already initialized params
  selfdrive/controls/controlsd.py
Labels: cleanup

#32430 Events: remove dependency
  selfdrive/controls/lib/events.py
Labels: cleanup, controls

#32427 card: move all car events
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
Labels: refactor, controls

#32438 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#32436 Fix incorrect korean translation
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#32431 DM: improve e2e predictions
  selfdrive/modeld/models/dmonitoring_model.current
  selfdrive/modeld/models/dmonitoring_model.onnx
  selfdrive/modeld/models/dmonitoring_model_q.dlc
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: enhancement, research

#32449 test_car_interface: run CC once
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing, cleanup, car

#32448 Toyota: remove redundant cancel code
  selfdrive/car/toyota/carcontroller.py
Labels: cleanup, car, toyota

#32452 process replay: check missing services
  selfdrive/test/process_replay/test_processes.py
Labels: enhancement, CI / testing

#32455 Mutilang: update CHS/CHT translation
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui, multilanguage

#32458 CI: use less parallel jobs for cars
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32459 CI: move model tests
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32460 CI: move regen into replay job
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32313 Simulator: standardize queue messages
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/lib/manual_ctrl.py
Labels: simulation, tools

#32432 remove unittest dependency from test_ui
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#32468 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, bot

#32457 CI: fix metadrive test
  .github/workflows/tools_tests.yaml
  tools/sim/tests/test_metadrive_bridge.py
Labels: CI / testing

#32469 remove libopencv-dev
  tools/install_ubuntu_dependencies.sh
Labels: tools

#32464 process replay: regen routes
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: CI / testing

#32477 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, docs, car, honda, bot

#32486 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#32487 CI/simulator: Fix metadrive test `pyopencl.CompilerWarning`
  .github/workflows/tools_tests.yaml
  tools/sim/tests/test_metadrive_bridge.py
Labels: CI / testing

#32476 split out dev apt dependencies
  Dockerfile.openpilot_base
  tools/install_ubuntu_dependencies.sh
Labels: tools

#32491 Fingerprint 2016 Jeep Grand Cherokee
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, car, chrysler

#32354 ui: improve `update_line_data()`
  selfdrive/ui/ui.cc
Labels: ui, stale

#32492 minimize ubuntu deps. needed to run build openpilot
  tools/install_ubuntu_dependencies.sh
Labels: tools

#32496 CI: move car docs diff job
  .github/workflows/auto_pr_review.yaml
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32493 regen: use existing carParams msg
  selfdrive/test/process_replay/migration.py
Labels: cleanup

#32501 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#32503 CI: cleanup PR review jobs
  .github/workflows/auto_pr_review.yaml
Labels: CI / testing

#32502 more apt dependency cleanup
  tools/install_ubuntu_dependencies.sh
Labels: tools

#31821 Ford: detect missing LKAS from EPS configuration
  selfdrive/car/ford/interface.py
Labels: car, ford

#32359 ui/update_dmonitoring: Improve readability of r_xyz matrix initialization
  selfdrive/ui/ui.cc
Labels: ui

#31301 Hyundai: add fingerprint for 2020 IONIQ PHEV
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai, stale

#31916 Additional Subaru Impreza 2022 Fingerprint
  selfdrive/car/subaru/fingerprints.py
Labels: fingerprint, car, subaru

#32505 card: only exit ELM once done with ECU knock outs
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
Labels: bugfix, controls, car

#32511 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#32308 CI/Simulator: Drive a loop in metadrive
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/scenarios/metadrive/stay_in_lane.py
  tools/sim/tests/conftest.py
  tools/sim/tests/test_metadrive_bridge.py
  tools/sim/tests/test_sim_bridge.py
Labels: simulation, tools

#32515 controlsd: explicitly ignore camera states in process replay
  selfdrive/controls/controlsd.py
Labels: bugfix

#32514 test car interfaces: catch more FW-related failures
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing, car

#32518 Reapply "Ford: detect missing LKAS from EPS configuration (#31821)"
  selfdrive/car/ford/interface.py
Labels: car, ford

#32517 dmonitoringd: simplify main loop
  release/files_common
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/helpers.py
  selfdrive/monitoring/test_monitoring.py
  selfdrive/test/process_replay/ref_commit
Labels: refactor

#32524 Added ecu firmware data for 2024 Kia EV6 GT
  docs/CARS.md
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#32528 Kia: update Forte min enable speed
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: bugfix, docs, car, hyundai

#32526 `ubuntu_setup`: fix `No module apt_pkg` error when setting up
  .github/workflows/selfdrive_tests.yaml
  tools/install_python_dependencies.sh
  tools/install_ubuntu_dependencies.sh
Labels: tools

#32533 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, docs, car, bot

#32523 CI/simulator: metadrive test starts when OP engaged and world is initialized
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
Labels: simulation, tools

#32539 CI/tools: Remove uncessary build step
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#32542 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, docs, car, bot

#32546 tools/simulator: Remove superseded build script for sim docker
  tools/sim/build_container.sh
Labels: simulation, tools

#32552 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#32537 cabana: fix panda stream issues
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/pandastream.cc
  tools/cabana/streams/pandastream.h
  tools/cabana/streams/socketcanstream.h
  tools/cabana/streamselector.cc
  tools/cabana/streamselector.h
Labels: tools

#32564 CI: add devcontainer-rebuild workflow
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#32558 KIA SPORTAGE 5th HEV 2022 EUR fingerprint
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#32573 map window: log style load errors
  selfdrive/ui/qt/maps/map.cc
Labels: ui

#32571 ui: re-generate JWT on valid system time
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/ui.cc
Labels: ui

#32579 Add Chassis for VW Arteon Shooting Brake 2020-2023
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#32560 cache get_torque_params
  selfdrive/car/interfaces.py
Labels: car
