Repository commaai/openpilot, pull requests merged in 2024-12, with the labels that each got.

#34136 cabana: introduce `OneShotHttpRequest` to prevent concurrent HTTP requests
  tools/cabana/streams/routes.cc
  tools/cabana/streams/routes.h
Labels: tools

#34135 cabana: fix UI highlight for inactive items and crash in saveHeaderState() on closeEvent
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
Labels: tools

#34142 jenkins: only run pigeon and encoder tests on path diffs
  Jenkinsfile
Labels: CI / testing

#34112 tools/op: add switch command
  tools/op.sh
Labels: tools

#34133 PlayStation® model
  selfdrive/modeld/models/supercombo.onnx
Labels: autonomy

#34146 cabana: add support to fetch preserved routes
  tools/cabana/streams/routes.cc
Labels: tools

#34154 ci: make openpilot-base image smaller
  Dockerfile.openpilot_base
Labels: CI / testing

#34118 CommaApi: use context manager for response handling
  tools/lib/api.py
Labels: tools

#34161 ci: faster unit tests
  selfdrive/locationd/test/test_locationd_scenarios.py
  tools/lib/url_file.py
Labels: CI / testing

#34157 ci: try namespace separate docker cache
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34164 ci: fix multi-labels for runners
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34166 ci: fix more multi-labels
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34170 Revert "PlayStation® model (#34133)"
  selfdrive/modeld/models/supercombo.onnx
Labels: autonomy

#34178 ci: remove aarch64 build
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34179 ci: fix x86 build
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34180 ci: push the `openpilot-base` image
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34182 update ubuntu 20.04 comment
  tools/install_ubuntu_dependencies.sh
Labels: tools

#34191 [bot] Update Python packages
  uv.lock
Labels: bot

#34194 ci: fix weekly GA run
  .github/workflows/ci_weekly_run.yaml
Labels: CI / testing

#34200 fix docs.py path references
  .github/PULL_REQUEST_TEMPLATE/car_port.md
  .github/pull_request_template.md
  selfdrive/car/tests/test_docs.py
Labels: CI / testing

#34202 Tools: Update setup command for macOS native setup
  tools/README.md
Labels: tools

#34204 Tools: simplified setup documentation
  tools/README.md
Labels: tools

#34211 Webcam fixes
  tools/webcam/camerad.py
  tools/webcam/start_camerad.sh
Labels: tools

#34221 ci: skip simulator for external PRs
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34230 ci: fix cache key for test_models
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34247 macOS: disable brew auto update
  tools/mac_setup.sh
Labels: tools

#34248 rm cppcheck
  tools/install_ubuntu_dependencies.sh
  tools/mac_setup.sh
Labels: tools

#34257 CTF.md typo
  tools/CTF.md
Labels: tools

#34256 [bot] Update Python packages
  uv.lock
Labels: bot

#34265 ui: Allow Qt spinner/text/setup/reset/updater to build on macOS
  selfdrive/ui/SConscript
Labels: ui

#34113 Hyundai: Allow controls with Sport and Manumatic Gears
  selfdrive/car/car_specific.py
Labels: car

#34274 ui: initialize tethering connection on startup
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#34275 ui: wait for lte connection to update before reactivating
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#34273 wifimanager: use asyncCall to avoid timeout when adding connections
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#34283 cabana: issue filtering by addresses in FindSignal tool
  tools/cabana/tools/findsignal.cc
Labels: tools

#34259 National Public Radio Model 📻
  selfdrive/modeld/models/supercombo.onnx
Labels: autonomy

#34239 cabana: enhance message heatmap visualization
  tools/cabana/binaryview.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
Labels: tools

#34237 replay: Update video immediately after seek when paused.
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: tools

#34296 cabana: add live and time-window heatmap modes for enhanced signal analysis
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/chart/sparkline.cc
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
Labels: tools

#34297 cabana: miscellaneous bug fixes and enhancements
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/dbc/dbc.h
  tools/cabana/detailwidget.cc
  tools/cabana/messageswidget.cc
  tools/cabana/settings.cc
  tools/cabana/signalview.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/utils/util.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: tools

#34301 cabana: real-time cursor and video frame sync for chart and video
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/mainwin.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: tools

#34254 replay: fix various synchronization and event handling issues
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/seg_mgr.cc
  tools/replay/seg_mgr.h
  tools/replay/timeline.cc
  tools/replay/timeline.h
Labels: tools

#34302 cabana: fix crash in live streaming mode by skipping thumbnail display
  tools/cabana/videowidget.cc
Labels: tools
