Repository commaai/openpilot, pull requests merged in 2024-07, with the labels that each got.

#32883 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#32884 Notre Dame model
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#32381 controlsd: no mutable carParams
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/tests/test_latcontrol.py
Labels: bugfix, controls

#32886 Ford: use more reliable gear message
  selfdrive/car/ford/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: car, ford

#32869 CI: test the tests
  .github/workflows/ci_weekly_report.yaml
  .github/workflows/ci_weekly_run.yaml
  .github/workflows/docs.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
  selfdrive/ui/tests/test_ui/run.py
Labels: CI / testing

#32895 replay: handle route not found error with user warning message
  tools/cabana/streams/replaystream.cc
  tools/replay/route.cc
Labels: tools

#32893 cabana: improve signal view
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
Labels: tools

#32903 fix package_updates workflow
  .github/workflows/repo-maintenance.yaml
Labels: CI / testing

#32905 repo-maintenance: force update for python packages
  .github/workflows/repo-maintenance.yaml
Labels: CI / testing

#32906 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  uv.lock
Labels: bot

#32887 Post UI screenshots in PR comments
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32924 fix "telsa" typo on labeler.yaml
  .github/labeler.yaml
Labels: CI / testing

#32930 Processor definition check for __APPLE__ has a typo on replay
  tools/replay/util.cc
Labels: tools

#32932 [bot] Fingerprints: add missing FW versions from CAN fingerprinting cars
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32931 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  uv.lock
Labels: bot

#32929 CarParams: set no traversal limit
  cereal/messaging/__init__.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/plannerd.py
  selfdrive/controls/radard.py
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/torqued.py
  selfdrive/modeld/modeld.py
Labels: bugfix

#32936 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, docs, car, bot

#32937 Chrysler Pacifica Hybrid: combine 2017 and 2018
  docs/CARS.md
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/fingerprints.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/params.toml
Labels: cleanup, car, chrysler

#32934 cabana: bug fixes and improvements
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/sparkline.cc
  tools/cabana/chart/tiplabel.h
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/historylog.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/pandastream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/tools/findsignal.cc
  tools/cabana/utils/export.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
  tools/replay/consoleui.cc
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: tools

#32875 Fingerprint: Kia K5 HEV 2020
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#32864 Update fingerprints.py Corolla 2024 (South America)
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, car, toyota

#32911 Update ci weekly report summary
  .github/workflows/ci_weekly_report.yaml
Labels: CI / testing

#31562 Rewrite git history
  scripts/git_rewrite/rewrite-git-history.sh
  scripts/git_rewrite/tag-commit-map.txt
Labels: ignore stale

#32942 torqued: rename lat_active
  selfdrive/locationd/torqued.py
Labels: cleanup

#32957 torqued: keep track of all points
  selfdrive/locationd/torqued.py
Labels: CI / testing

#32945 cabana: simplify stream management and remove problematic autosave feature
  tools/cabana/cabana.cc
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/chart/signalselector.cc
  tools/cabana/chart/sparkline.cc
  tools/cabana/chart/sparkline.h
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/devicestream.cc
  tools/cabana/streams/devicestream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/pandastream.cc
  tools/cabana/streams/pandastream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/streams/socketcanstream.cc
  tools/cabana/streams/socketcanstream.h
  tools/cabana/streamselector.cc
  tools/cabana/streamselector.h
Labels: tools

#32949 Improved PlotJuggler layout for lateral accel torque controller
  tools/plotjuggler/layouts/torque-controller.xml
Labels: tools

#32963 torqued: check steer override to current time
  selfdrive/locationd/torqued.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#32938 hardwared: don't ignore quick ignition cycles
  system/hardware/hardwared.py
Labels: bugfix

#32969 cabana: fix wrong file path handling for recent files menu
  tools/cabana/mainwin.cc
Labels: tools

#32967 start for `curl openpilot.comma.ai | bash`
  tools/setup.sh
Labels: tools

#32966 replay: update README
  tools/replay/README.md
Labels: tools

#32965 cabana: update README
  tools/cabana/README.md
Labels: tools

#32948 Re-use "is_metric" declaration
  selfdrive/ui/qt/onroad/annotated_camera.cc
Labels: ui

#32850 Replace ui.py with a Rerun visualizer
  tools/replay/README.md
  tools/replay/lib/rp_helpers.py
  tools/replay/lib/ui_helpers.py
  tools/replay/rp_visualization.py
  tools/replay/ui.py
Labels: tools

#32991 CI: fix ui report directory
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32980 selfdrive/car/ecu_addrs: prefix internal functions with underscore
  selfdrive/car/ecu_addrs.py
Labels: car

#32996 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#33011 qlog_size: decimate rlog option
  selfdrive/debug/internal/qlog_size.py
Labels: tools

#33026 ui: fix flipped experimental path acceleration
  selfdrive/ui/qt/onroad/annotated_camera.cc
Labels: bugfix, ui

#32995 Spanish Translation Update
  selfdrive/ui/translations/main_es.ts
Labels: ui, multilanguage

#33037 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  uv.lock
Labels: bot

#32810 tools/Rerun: Add video logging features
  tools/rerun/README.md
  tools/rerun/camera_reader.py
  tools/rerun/run.py
Labels: tools

#33038 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, bot

#33039 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#33049 CI: setup triggering jenkins for forks
  .github/workflows/jenkins-pr-trigger.yaml
Labels: CI / testing

#33051 don't lock when installing python packages
  tools/install_python_dependencies.sh
Labels: tools

#33053 op tool helper
  tools/op.sh
Labels: tools

#33054 ui: fix wayland requestActivate warning on device
  selfdrive/ui/qt/qt_window.cc
Labels: ui

#33002 ci: fix ui preview
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33052 CI: remove redundant save cache step
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#33060 ci: use github env for ui preview job name
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33066 LogReader: support multiple log extensions in route
  tools/lib/logreader.py
  tools/lib/route.py
Labels: tools

#33062 op.sh: general improvements
  tools/op.sh
Labels: tools

#33067 op.sh: improvements
  tools/op.sh
Labels: tools

#33027 Kia: add missing Optima EUR FW versions
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#33072 curl pc installer
  tools/op.sh
  tools/setup.sh
  tools/ubuntu_setup.sh
Labels: tools

#33078 op.sh: improvements
  tools/op.sh
Labels: tools

#33080 op.sh: misc fixups
  tools/op.sh
Labels: tools

#33081 setup.sh: fast git clone
  tools/setup.sh
Labels: tools

#33090 op.sh: run pytest
  tools/op.sh
Labels: tools

#33094 cleanup macOS dependencies
  tools/mac_setup.sh
Labels: tools

#33095 op.sh: check submodules
  tools/op.sh
Labels: tools

#33096 op.sh: misc improvements
  tools/op.sh
Labels: tools

#32736 uploader: compress with zstd
  system/athena/athenad.py
  system/athena/tests/test_athenad.py
  system/loggerd/tests/test_uploader.py
  system/loggerd/uploader.py
Labels: enhancement

#33100 test_onroad: use zstd compression
  selfdrive/test/test_onroad.py
Labels: CI / testing

#33122 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  uv.lock
Labels: bot

#33103 Remove control usage
  pyproject.toml
  selfdrive/controls/lib/tests/test_vehicle_model.py
  uv.lock
Labels: CI / testing

#33123 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#33131 update mac_setup.sh brew install
  tools/mac_setup.sh
Labels: tools

#32910 replay: add support for dcecompressing ZST log files
  tools/cabana/SConscript
  tools/install_ubuntu_dependencies.sh
  tools/replay/SConscript
  tools/replay/logreader.cc
  tools/replay/route.cc
  tools/replay/util.cc
  tools/replay/util.h
Labels: enhancement, tools

#33139 fix multiprocessing issue with can_replay.py on macOS
  tools/replay/can_replay.py
Labels: tools

#33133 cars: remove some external imports
  .importlinter
  selfdrive/car/__init__.py
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/drive_helpers.py
Labels: cleanup

#33147 tester present msgs: use helper
  selfdrive/car/__init__.py
  selfdrive/car/ecu_addrs.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
Labels: cleanup, car

#33148 CarController: call to super's init
  selfdrive/car/body/carcontroller.py
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/chrysler/radar_interface.py
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/radar_interface.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/volkswagen/carcontroller.py
Labels: cleanup, car

#33145 setup.sh: retry + timing
  README.md
  tools/op.sh
  tools/setup.sh
Labels: tools

#33157 ensure alerts_generated.h is built
  selfdrive/ui/SConscript
  selfdrive/ui/update_translations.py
Labels: bugfix, ui, multilanguage
