Repository commaai/openpilot, pull requests merged in 2024-06, with the labels that each got.

#32566 api: cache RSA private key
  selfdrive/ui/qt/api.cc
Labels: ui

#32585 debug FW fingerprinting: live support
  selfdrive/debug/debug_fw_fingerprinting_offline.py
Labels: enhancement, tools

#32595 tools/rerun: streaming to one Viewer from multiple processes
  tools/rerun/run.py
Labels: tools

#32604 [bot] Fingerprints: add missing FW versions from CAN fingerprinting cars
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#32400 boardd: check CAN in SPI test
  selfdrive/boardd/tests/test_boardd_loopback.py
  selfdrive/boardd/tests/test_boardd_spi.py
Labels: CI / testing

#32613 revert marking some files as unexecutable
  selfdrive/debug/test_fw_query_on_routes.py
  selfdrive/test/process_replay/test_processes.py
  tools/car_porting/test_car_model.py
Labels: CI / testing

#32620 ui/cameraview: fix deadlock on exit due to Qt::BlockingQueuedConnection
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: ui

#32578 [torqued] Reduce friction for some Hyundai cars
  selfdrive/car/torque_data/override.toml
  selfdrive/car/torque_data/params.toml
  selfdrive/test/process_replay/ref_commit
Labels: car

#32618 modeld: cleanup commonmodel
  selfdrive/modeld/models/commonmodel.cc
  selfdrive/modeld/models/commonmodel.h
Labels: research

#32625 Hyundai: remove Ioniq EV 2020 CAN fingerprint
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#32626 Honda: remove programmedFuelInjection ECU
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/honda/values.py
Labels: fingerprint, cleanup, car, honda

#32605 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#32634 cabana: stop stream thread before exiting main event loop
  tools/cabana/cabana.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/replay/replay.cc
Labels: tools

#32302 2024 IONIQ 6
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#32636 pandad: add jungle spam mode to test
  selfdrive/pandad/tests/test_pandad_spi.py
Labels: CI / testing

#32640 Restore lateral limits report
  selfdrive/car/tests/test_lateral_limits.py
Labels: CI / testing, car

#32592 car/interfaces.py: optimize `parse_gear_shifter()` with predefined dictionary
  selfdrive/car/interfaces.py
Labels: car

#32584 Fingerprint for 2017 Subaru Forester
  selfdrive/car/subaru/fingerprints.py
Labels: fingerprint, car, subaru

#32586 improve get_torque_params
  selfdrive/car/interfaces.py
  selfdrive/car/tests/test_lateral_limits.py
Labels: refactor, car

#32641 Genesis G70 2020: use common specs
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#32596 events.py: rename event counters
  selfdrive/controls/lib/events.py
Labels: cleanup

#32583 [Lag] Increase Optima Lag
  selfdrive/car/hyundai/interface.py
Labels: car, hyundai

#32642 CI/tools_test: remove redundant `git lfs pull`
  .github/workflows/tools_tests.yaml
Labels: CI / testing

#32653 remove old cache wrapper
  common/git.py
  common/utils.py
  system/version.py
Labels: cleanup

#32654 remove old fingerprints test
  selfdrive/car/tests/test_fingerprints.py
Labels: CI / testing, cleanup, car

#32656 pandad: fix loopback test
  selfdrive/pandad/tests/test_pandad_loopback.py
Labels: CI / testing

#32672 cabana: fix potential dangling pointer Issue
  tools/cabana/videowidget.cc
Labels: tools

#32673 replay: add stop() function
  tools/cabana/streams/replaystream.cc
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: tools

#32674 tici: improve power save test
  system/hardware/tici/tests/test_hardware.py
Labels: CI / testing

#32675 CI: move build_release to a namespace runner
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32676 Sim: don't need nvidia docker anymore
  tools/sim/Dockerfile.sim_nvidia
Labels: simulation, tools

#32657 Update fingerprints.py for 2024 MAN TGE
  docs/CARS.md
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Labels: fingerprint, car, volkswagen

#32683 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/subaru/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, docs, car, bot

#32686 webrtc: fix patch in tests
  system/webrtc/tests/test_stream_session.py
Labels: CI / testing

#32689 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/subaru/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, docs, car, bot

#32692 tools/rerun: correct reset to defined default blueprint
  tools/rerun/run.py
Labels: tools

#32682 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
  system/webrtc/webrtcd.py
  tools/mac_setup.sh
  tools/sim/lib/common.py
Labels: bot

#32667 Custom setproctitle
  common/realtime.py
  common/tests/test_threadname.py
  common/threadname.py
  poetry.lock
  pyproject.toml
  scripts/waste.py
  selfdrive/modeld/modeld.py
  system/manager/process.py
Labels: refactor

#32699 compressed_vipc.py fixes
  tools/camerastream/compressed_vipc.py
Labels: tools

#32715 Remove aarch64 ci test
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32721 remove uiPlan
  cereal/log.capnp
  cereal/services.py
  selfdrive/controls/plannerd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: cleanup, ui

#32729 logreader.py: optimize event loading and sorting in _LogFileReader
  tools/lib/logreader.py
Labels: tools

#32733 Hyundai: add note about fwdRadar FW
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#32734 Improve ECU address finder script
  selfdrive/car/ecu_addrs.py
Labels: car

#32623 Hyundai: add fwdCamera FW for Ioniq 5 2024 (US)
  docs/CARS.md
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#32701 Change Ioniq 5 Southeast Asia only to Non-US only
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: bugfix, docs, car, hyundai

#32648 Hyundai: add fwdCamera FW for Ioniq 5 2024 (EUR)
  docs/CARS.md
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#32747 LogReader: improve error messages
  tools/lib/logreader.py
Labels: enhancement, tools

#32745 LogReader: support reading zst logs from Azure
  tools/lib/route.py
Labels: tools

#32750 SegmentRange: remove timestamp
  tools/lib/logreader.py
  tools/lib/route.py
Labels: bugfix, tools

#32749 cabana: Fix visibility issue for a single data point in series
  tools/cabana/chart/chart.cc
Labels: tools

#32706 long control: new API
  cereal/car.capnp
  cereal/log.capnp
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/process_replay/ref_commit
  tools/replay/ui.py
Labels: enhancement, cleanup, controls, car

#32751 LogReader: try zst on internal source
  tools/lib/logreader.py
Labels: enhancement, tools

#32740 cabana: avoid dead locks and improve responsiveness
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/mainwin.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
  tools/replay/camera.cc
  tools/replay/logreader.cc
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/util.cc
  tools/replay/util.h
Labels: tools

#32770 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#32768 cabana: improved error messaging
  tools/cabana/streams/replaystream.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/route.h
Labels: tools

#32772 cabana: include optional
  tools/cabana/videowidget.h
Labels: tools

#32777 Toyota: remove smartDSU support
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car

#32783 Ubuntu 24.04 fix setup
  tools/install_python_dependencies.sh
  tools/install_ubuntu_dependencies.sh
Labels: tools

#32786 Remove pyenv
  Dockerfile.openpilot_base
  tools/install_python_dependencies.sh
  tools/install_ubuntu_dependencies.sh
Labels: tools

#32779 VW: Rename harnesses
  docs/CARS.md
  selfdrive/car/docs_definitions.py
  selfdrive/car/volkswagen/values.py
Labels: volkswagen

#32792 remove nav apt dependencies
  tools/install_ubuntu_dependencies.sh
Labels: tools

#32665 remove `timezone` from `timed.py`
  common/params.cc
  poetry.lock
  pyproject.toml
  system/timed.py
Labels: needs testing

#32795 replay: fix hangs on exit
  tools/replay/camera.cc
  tools/replay/replay.cc
Labels: tools

#32801 ci: push docker image to openpilot-base
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32796 cabana: fix chart value tip flickers when the mouse moves over it
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/chart/tiplabel.cc
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
Labels: tools

#32803 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/mazda/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#32814 update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#32818 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#32825 [bot] Fingerprints: add missing FW versions from new users
  docs/CARS.md
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/honda/values.py
  selfdrive/car/toyota/fingerprints.py
Labels: docs, car, bot

#32826 Multilang: Add Spanish translation
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_es.ts
Labels: ui, multilanguage

#32827 ui: add missing qt package on 24.04
  tools/install_ubuntu_dependencies.sh
Labels: tools

#32743 Hyundai CAN: Log ABS/ESP Activation to `espActive`
  cereal/car.capnp
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/events.py
Labels: car, hyundai

#32835 Genesis GV70: add "without HDA II" to docs
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: docs, car, hyundai

#32836 ui: remove map & navigation related code
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/onroad_home.cc
  selfdrive/ui/qt/onroad/onroad_home.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: ui

#32819 Bring back macOS CI
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#32838 ui/installer: hardcode SSH Keys in installer.cc
  selfdrive/ui/SConscript
  selfdrive/ui/installer/installer.cc
Labels: ui

#32833 Hyundai: Add FW Versions for Ioniq 5 2023
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#32847 GM torque control: robust sig function
  selfdrive/car/gm/interface.py
Labels: bugfix, car, gm

#32830 LogReader: print number of missing rlogs
  tools/lib/logreader.py
Labels: tools

#32852 Increase test_car_interfaces examples
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing, car

#32854 uv: don't use cache
  tools/install_python_dependencies.sh
Labels: tools

#32855 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, bot

#32856 Hyundai: remove CAN fingerprints
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, cleanup, car, hyundai

#32858 retry uv update
  tools/install_python_dependencies.sh
Labels: tools

#32859 uv: don't exit if update fails
  tools/install_python_dependencies.sh
Labels: tools

#32870 ui: remove tests/playsound.cc
  selfdrive/ui/tests/.gitignore
  selfdrive/ui/tests/playsound.cc
Labels: ui
