Repository commaai/openpilot, pull requests merged in 2024-03, with the labels that each got.

#31657 Honda: move carspecs to platformconfig
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
Labels: car, honda

#31659 VW: use flags for PQ
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#31607 Toyota: use platform config
  selfdrive/car/__init__.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/test/process_replay/ref_commit
Labels: car

#31664 Ford: use flags for CANFD
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
Labels: car, ford

#31661 Hyundai: move car specs to platformconfig
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#31666 Body: move to car specs
  selfdrive/car/body/interface.py
  selfdrive/car/body/values.py
  selfdrive/car/tests/test_platform_configs.py
Labels: body, car

#31667 platformconfig and carspecs are now required, carspecs no longer kwarg
  selfdrive/car/__init__.py
  selfdrive/car/body/values.py
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/values.py
  selfdrive/car/tests/test_platform_configs.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
  selfdrive/controls/tests/test_state_machine.py
Labels: car

#31668 VW: Cleanup, migrate center-to-front ratio to CarSpecs
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen

#31670 VW PQ: Volkswagen Caddy Mk3
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.toml
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Labels: car

#31641 CI: increase test car interfaces examples
  selfdrive/car/tests/test_car_interfaces.py
Labels: CI / testing, car

#31675 Honda Bosch: fix detection for alternate brake signal bug
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
Labels: bugfix, car, honda

#31616 Recertified Herbalist Model
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#31676 Honda: two base platform configs
  selfdrive/car/honda/values.py
  selfdrive/test/process_replay/ref_commit
Labels: car, honda

#31677 Hyundai: clean up platform configs
  selfdrive/car/hyundai/values.py
  selfdrive/car/volkswagen/values.py
Labels: car, hyundai

#31610 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, toyota, chrysler, bot

#31525 VW: Early EPS faults are temporary, round deux
  selfdrive/car/volkswagen/carstate.py
Labels: car, volkswagen

#31698 card: fix startup condition
  selfdrive/car/card.py
Labels: car

#31710 Only print keyboard help on poll start and unknown command
  tools/sim/bridge/common.py
  tools/sim/lib/keyboard_ctrl.py
Labels: simulation, tools

#31678 Platform configs: move tire stiffness into config
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mazda/values.py
Labels: car, honda

#31577 fw_versions: add more type hints
  selfdrive/car/fw_versions.py
Labels: car

#31715 RadarInterfaceBase: remove no_radar_sleep field
  selfdrive/car/interfaces.py
Labels: car

#31717 Hyundai Azera: allow fingerprinting without comma power
  selfdrive/car/hyundai/values.py
Labels: enhancement, fingerprint, car, hyundai

#31684 Hyundai : AZERA_HEV_6TH_GEN (Update fingerprints.py)
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#31719 Reapply "Hyundai Azera: allow fingerprinting without comma power (#31717)"
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#31371 HKG : Add FW versions and Enable Radar Tracks for KOR Sonata DN8 Hybrid 2020
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/debug/hyundai_enable_radar_points.py
Labels: fingerprint, car, hyundai

#30713 VW MQB: Add FW for 2023 Karoq
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen, ignore stale

#31408 Update fingerprints.py Hyundai Tucson 2022 phev
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#30937 Added KIA_EV eps fingerprint
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai, ignore stale

#31458 Hyundai: remove OBD ECUs for Sonata 2020+
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#31721 Toyota: Highlander can not do sng as standard
  docs/CARS.md
  selfdrive/car/toyota/interface.py
Labels: car, toyota

#31723 Toyota Highlander: also check unplugged DSU to enable sng
  selfdrive/car/toyota/interface.py
Labels: car, toyota

#31724 Toyota: flag for cars without PCM accel limit under 19 mph
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: car, toyota

#31725 Toyota: remove Mirai from interface
  selfdrive/car/toyota/interface.py
Labels: car, toyota

#31726 Toyota: move stop and go cars to one tuple
  selfdrive/car/toyota/interface.py
Labels: cleanup, car, toyota

#31682 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#31729 Lexus: add missing IS 2023 FW versions
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/values.py
Labels: car, toyota

#31738 add get_car_interface helper
  selfdrive/car/car_helpers.py
Labels: car

#31747 car values formatting
  selfdrive/car/body/values.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/values.py
  selfdrive/car/volkswagen/values.py
Labels: cleanup, car

#31740 Simulator: Add world status reporting
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/lib/common.py
  tools/sim/scenarios/metadrive/stay_in_lane.py
Labels: simulation, tools

#31752 Hyundai Palisade: allow fingerprinting without comma power
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#31753 HKG: test platform codes per platform
  selfdrive/car/hyundai/tests/test_hyundai.py
Labels: fingerprint, CI / testing, car, hyundai

#31754 Sonata LF: remove CAN fingerprint
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#31757 Hyundai Genesis: remove CAN fingerprints
  selfdrive/car/hyundai/fingerprints.py
Labels: fingerprint, car, hyundai

#31733 Ford: parse distance button
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
Labels: enhancement, car, ford

#31741 Toyota TSS-P: parse distance button from SDSU
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: enhancement, car, toyota

#31768 Nissan: Remove unused code
  selfdrive/car/nissan/interface.py
Labels: car, nissan

#31772 test_updated: add test for no update
  selfdrive/updated/tests/test_updated.py
Labels: CI / testing

#31773 fix car test routes typing
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
  tools/car_porting/test_car_model.py
Labels: car

#31776 test_updated: basic agnos update test
  selfdrive/updated/tests/test_updated.py
Labels: CI / testing

#31779 common PlatformFlags base class + test for < 32 bits
  selfdrive/car/__init__.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: car

#31716 Subaru: log eyesight faults as acc faults
  selfdrive/car/subaru/carstate.py
Labels: car, subaru

#31785 Subaru: make OBD query logging
  selfdrive/car/subaru/values.py
Labels: car, subaru

#31790 HKG CAN FD: add instrument cluster ECU
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#31793 Revert "common PlatformFlags base class + test for < 32 bits"
  selfdrive/car/__init__.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: car

#31565 LogReader: fix sort by time and union types
  tools/lib/logreader.py
  tools/lib/tests/test_logreader.py
Labels: bugfix, tools

#31786 test_updated: more consistent test
  selfdrive/updated/tests/test_updated.py
Labels: CI / testing

#31805 simulator: Increase map size to contain road
  tools/sim/scenarios/metadrive/stay_in_lane.py
Labels: simulation, tools

#31808 test_updated: check the version and consistency of finalized dir
  selfdrive/updated/tests/test_base.py
Labels: CI / testing

#31783 Subaru: extra logging request for camera
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: CI / testing, car, subaru

#31732 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/subaru/fingerprints.py
Labels: fingerprint, docs, car, subaru, bot

#31812 Subaru: log alt request
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: fingerprint, car, subaru

#31794 bugfix: add support for Bronco Sport 2023
  docs/CARS.md
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#31760 longitudinal personality: display in Toyota instrument cluster
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, toyota

#31731 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, hyundai, subaru, bot

#31806 Ford: fix counter in LateralMotionControl2 message
  selfdrive/car/ford/carcontroller.py
Labels: car, ford

#31762 GM: Parse distance button from steering wheel
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
Labels: car, gm

#31817 ButtonParamControl: use buttonClicked
  selfdrive/ui/qt/widgets/controls.h
Labels: cleanup, ui

#31789 Add autoconnect support for hidden WiFi networks
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/wifi_manager.cc
  selfdrive/ui/qt/network/wifi_manager.h
Labels: ui

#31807 simulator: Correctly handle arrival at destination
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/scenarios/metadrive/stay_in_lane.py
Labels: simulation, tools

#31825 test_updated: ensure symlinks are copied properly
  selfdrive/updated/tests/test_base.py
Labels: CI / testing

#31824 [bot] Update Python packages and pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
Labels: bot

#31827 fix simulator device config
  common/transformations/camera.py
Labels: simulation, bugfix, tools

#31801 GM Longitudinal: Display personality in instrument cluster
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/gmcan.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, gm

#31815 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Labels: fingerprint, docs, car, toyota, chrysler, bot

#31796 Ford: show longitudinal personality in IPC
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
Labels: car, ford

#31828 Add support for 2024 Ford Maverick
  docs/CARS.md
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#31798 Hyundai Longitudinal: Display personality in instrument cluster
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/hyundaicanfd.py
Labels: car, hyundai

#31763 Honda: Parse distance button from steering wheel
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
Labels: car, honda

#31765 Mazda: Parse distance button from steering wheel
  selfdrive/car/mazda/carstate.py
  selfdrive/car/mazda/interface.py
Labels: car, mazda

#31766 Nissan: Parse distance button from steering wheel
  selfdrive/car/nissan/carstate.py
  selfdrive/car/nissan/interface.py
Labels: car, nissan

#31800 Volkswagen Longitudinal: Display personality in instrument cluster
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/pqcan.py
Labels: car, volkswagen

#31799 Honda Longitudinal: Display personality in instrument cluster
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/hondacan.py
Labels: car, honda

#31777 Volkswagen: add engine/transmission/srs ECU versions for PASSAT_MK8
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen

#31462 Update fingerprints.py 2022 Ford F-150 PowerBoost (fwdCamera)
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/values.py
Labels: fingerprint, car, ford

#30882 Mazda CX-5 2024 Fingerprint
  selfdrive/car/mazda/fingerprints.py
Labels: fingerprint, car, mazda, Stale

#30845 Skoda Kodiaq Sportline 2023 fingerprints
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen, ignore stale, Stale

#30759 HKG: Add FW versions for Genesis G70 2023
  docs/CARS.md
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#30863 VW MQB: Add FW for 2017 Touran
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen, ignore stale, Stale

#31368 VW MQB: Add FW for 2017 Kodiaq
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen

#31839 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, docs, car, hyundai, bot

#31846 Reapply "ui: brighten cameraview (#29744)"
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: ui

#31764 Chrysler: Parse distance button from steering wheel
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/interface.py
Labels: car, chrysler

#31847 logreader: fix auto source + interactive modes
  tools/lib/logreader.py
Labels: bugfix, tools

#31853 Honda Bosch Radarless: check nonAdaptive at all times
  selfdrive/car/honda/carstate.py
Labels: bugfix, car, honda

#31854 Honda Nidec: show distance bars
  selfdrive/car/honda/hondacan.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car, honda

#31864 Multilang: kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#31861 Multilang: update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#31850 Added fingerprints for my 2019 Golf R Mk7.5.
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen

#31870 ui.py fix typo
  tools/replay/ui.py
Labels: tools

#31872 gha: remove trailing spaces
  .github/workflows/auto-cache/action.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-pre-commit/action.yaml
Labels: CI / testing

#31856 2024 santa cruz fp
  docs/CARS.md
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#31873 CarInterface: no platform config fallback
  selfdrive/car/interfaces.py
Labels: cleanup, car

#31875 docs: don't support multi-type car info
  selfdrive/car/__init__.py
  selfdrive/car/body/values.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Labels: cleanup, docs, car

#31881 test_updated: test permissions are preserved
  selfdrive/updated/tests/test_base.py
Labels: CI / testing

#31882 Hyundai CAN FD: allow more platforms to use enhanced fuzzy fingerprinting
  selfdrive/car/hyundai/values.py
Labels: enhancement, fingerprint, car, hyundai

#31874 Ford: hybrid docs
  selfdrive/car/ford/values.py
Labels: docs, car, ford

#30978 VW MQB: Add FW for 2024 Volkswagen Tiguan
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen, Stale

#31295 Add VW Touran CN model fingerprint
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen

#31574 Fingerprint for Skoda Octavia MK3 Scout with 6 speed DSG
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, car, volkswagen

#31581 Kia: add 2024 Sportage X-Pro Prestige camera FW version
  docs/CARS.md
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#31888 Kia Niro Plug-in Hybrid: update required package
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#31877 Adding steerRatio for 4th gen Hyundai Tucson (2022+)
  selfdrive/car/hyundai/values.py
Labels: car, hyundai

#31898 Toyota: check FW valid
  selfdrive/car/toyota/tests/test_toyota.py
Labels: CI / testing, car

#31897 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#31893 Add Genesis G90 2020 Fingerprint
  docs/CARS.md
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
Labels: fingerprint, car, hyundai

#31734 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/volkswagen/fingerprints.py
Labels: fingerprint, docs, car, volkswagen, bot

#31899 cabana(DBCFile): interleave msg and signal comments
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/tests/test_cabana.cc
Labels: tools

#31902 replay: fix segfault in `Replay::queueSegment`
  tools/replay/replay.cc
Labels: tools

#31842 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/subaru/fingerprints.py
Labels: fingerprint, docs, car, toyota, chrysler, bot

#31883 duck amigo model
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: research

#31912 cabana: fix the suppress highlight breaks after seeking
  tools/cabana/streams/abstractstream.cc
Labels: tools

#31900 cabana(DBCFile): preserve original header
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
  tools/cabana/tests/test_cabana.cc
Labels: tools

#31917 [bot] Fingerprints: add missing FW versions from new users
  selfdrive/car/chrysler/fingerprints.py
Labels: fingerprint, docs, car, chrysler, bot

#31913 replay: get route datetime from INIT_DATA
  tools/cabana/streams/replaystream.h
  tools/replay/replay.cc
  tools/replay/replay.h
Labels: tools

#31924 Abstract out common CarInterface.apply
  selfdrive/car/body/interface.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/interface.py
Labels: car

#31925 car: CarController and CarState are always present
  selfdrive/car/car_helpers.py
  selfdrive/car/interfaces.py
  selfdrive/car/mock/carcontroller.py
  selfdrive/car/mock/carstate.py
Labels: car

#31929 cabana: horizontal scrolling with Shift+wheel
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Labels: tools

#31931 Toyota: RAV4 Hybrid cannot do stop and go as stock
  docs/CARS.md
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Labels: bugfix, docs, car, toyota

#31933 Honda: allow fingerprinting without comma power for some platforms
  selfdrive/car/honda/values.py
Labels: enhancement, fingerprint, car, honda

#31934 Honda E: allow fingerprinting without comma power
  selfdrive/car/honda/values.py
Labels: enhancement, fingerprint, car, honda

#31936 test_models: migrate fingerprint
  selfdrive/car/tests/test_models.py
Labels: CI / testing, car

#31920 cabana: migrate dbc map
  selfdrive/car/fingerprints.py
  selfdrive/car/values.py
  tools/cabana/dbc/generate_dbc_json.py
Labels: tools

#31935 Honda: allow fingerprinting without comma power for more platforms
  selfdrive/car/honda/values.py
Labels: enhancement, fingerprint, car, honda

#31938 Honda Ridgeline and Insight: allow fingerprinting without comma power
  selfdrive/car/honda/values.py
Labels: car, honda

#31945 Honda Pilot: allow fingerprinting without comma power
  selfdrive/car/honda/values.py
Labels: enhancement, fingerprint, car, honda

#31926 Honda: allow fingerprinting without comma power
  selfdrive/car/honda/values.py
Labels: enhancement, fingerprint, car, honda

#31944 util/timeAgo: add missing translation
  selfdrive/ui/qt/util.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#31952 ui/sidebar: do not send the `userFlag` while offroad
  selfdrive/ui/qt/sidebar.cc
Labels: ui

#31950 tools: remove unused timestamp_to_datetime
  tools/lib/helpers.py
Labels: tools

#31949 ui.py: quit if the "X"(exit) button is clicked
  tools/replay/ui.py
Labels: tools

#31947 ui: pairing device in settings
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#31951 ui/cameraview: fix accessing uninitialized variable
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: ui

#31463 Ford: handle metric cruise speed (v2)
  selfdrive/car/ford/carstate.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, car, ford

#31965 PlotJuggler: Update controls mismatch layout
  tools/plotjuggler/layouts/controls_mismatch_debug.xml
Labels: tools

#31963 Honda Civic 2022: fix spotty camera query
  selfdrive/car/honda/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Labels: car, honda

#31967 Honda Civic 2022: allow fingerprinting without comma power
  selfdrive/car/honda/values.py
Labels: car, honda

#31968 ui/map_eta: round remaining km/mi to one decimal place
  selfdrive/ui/qt/maps/map_helpers.cc
Labels: ui

#31094 Octavia scout 2018 fingerprinting
  docs/CARS.md
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Labels: car, volkswagen, Stale

#31974 Mazda CX-5 2024 fingerprint
  selfdrive/car/mazda/fingerprints.py
Labels: fingerprint, car, mazda

#31979 Cleanup settings imports
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
Labels: ui
