Repository commaai/openpilot, pull requests merged in 2024-09, with the labels that each got.

#33424 ci: add controlsState back to ui report
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33416 ci: display lead car indicator in on-road screenshots
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33425 replay: migrate old ControlState event to new format during log file parsing
  tools/replay/logreader.cc
  tools/replay/logreader.h
  tools/replay/replay.cc
Labels: tools

#33426 cabana: update event Handling from CONTROLS_STATE to SELFDRIVE_STATE
  tools/cabana/videowidget.cc
Labels: tools

#33427 ui: remove copy initialization of dialogs
  selfdrive/ui/qt/widgets/input.cc
Labels: ui

#33375 ui: refactor driver monitor updating and rendering into `DriverMonitorRenderer` class
  selfdrive/ui/SConscript
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/driver_monitoring.cc
  selfdrive/ui/qt/onroad/driver_monitoring.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: ui

#33434 Fix small typos on run.py
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33446 LogReader clean ups
  selfdrive/car/tests/test_models.py
  tools/lib/logreader.py
  tools/lib/tests/test_logreader.py
Labels: cleanup, tools

#33474 Joystick: utilize left/right trigger for gas/brakes
  tools/joystick/joystickd.py
Labels: tools

#33475 Joystick: improve angle control
  selfdrive/controls/controlsd.py
Labels: enhancement

#33462 ci: eliminate unnecessary sleep to shorten UI report run time
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33487 ui: controls -> selfdrive
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/soundd.py
  selfdrive/ui/tests/test_soundd.py
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#33489 liveTracks: don't check carState for valid CAN
  selfdrive/car/card.py
  selfdrive/test/process_replay/ref_commit
Labels: car

#33486 CI: integrate pairing device and prime user widgets into UI report
  .github/workflows/ui_preview.yaml
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33488 card: remove redundant CAN data conversion
  selfdrive/car/card.py
  selfdrive/test/test_onroad.py
Labels: cleanup, car

#33498 ci: ui preview with diff
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33499 Multilang: kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#33500 joystickd: mapping for PC
  tools/joystick/joystickd.py
Labels: tools

#33502 Multilang: Spanish translation update
  selfdrive/ui/translations/main_es.ts
Labels: ui, multilanguage

#33490 joystickd is a real process
  selfdrive/selfdrived/events.py
  selfdrive/test/process_replay/ref_commit
  system/manager/process_config.py
  tools/joystick/joystickd.py
Labels: refactor, controls

#33480 ui: fix texture deletion
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: ui

#33503 ci: ui_preview: save master ref
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33504 ci: add a 0.5-second delay before taking screenshots of the onroad widgets
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33509 create_badges.py: Changed to higher contrast colors
  selfdrive/ui/translations/create_badges.py
Labels: ui, multilanguage

#33510 Multilang: update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#33523 test manager again in CI
  .github/workflows/selfdrive_tests.yaml
  system/manager/test/test_manager.py
Labels: CI / testing

#33473 ui: consolidate prime state management into `PrimeState` Class
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/networking.h
  selfdrive/ui/qt/network/wifi_manager.cc
  selfdrive/ui/qt/network/wifi_manager.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/prime_state.cc
  selfdrive/ui/qt/prime_state.h
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Labels: ui

#33526 ci: make ui preview more deterministic
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33517 Keyboard UX: Easier to type URLs
  selfdrive/ui/qt/widgets/keyboard.cc
Labels: ui

#33529 ui: update CHS/CHT translation
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui, multilanguage

#33538 plotjuggler: add bin/ to LD_LIBRARY_PATH
  tools/plotjuggler/juggle.py
Labels: tools

#33551 longitudinal maneuver report improvements
  tools/longitudinal_maneuvers/generate_report.py
Labels: enhancement, tools

#33552 Long maneuver report markers
  tools/longitudinal_maneuvers/generate_report.py
  tools/longitudinal_maneuvers/maneuversd.py
Labels: tools

#33553 Simple longitudinal maneuver summary
  tools/longitudinal_maneuvers/generate_report.py
Labels: tools

#33562 replay: optimize decompressZST with pre-allocated buffer
  tools/replay/util.cc
Labels: tools

#33563 cabana: improve isMessageActive
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Labels: tools

#33544 CI: continuously send messages to keep them active during alert screenshots
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33449 Cruise speed: 0 is considered unset
  selfdrive/car/cruise.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, controls, car

#33568 Longitudinal planner: wait for valid cruise speed
  selfdrive/controls/lib/longitudinal_planner.py
Labels: bugfix, controls

#33561 Longitudinal manuever docs
  tools/longitudinal_maneuvers/README.md
Labels: tools

#33571 tests: Fix selfdrive state machine imports
  selfdrive/selfdrived/tests/test_state_machine.py
Labels: CI / testing

#33574 Add clip to longitudinal_maneuvers README
  tools/longitudinal_maneuvers/README.md
Labels: tools

#33577 ci: add toggles to ui report
  .github/workflows/ui_preview.yaml
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33466 locationd: replaced the loop and setattr with direct attribute assignment
  selfdrive/locationd/locationd.py
Labels: stale

#33585 ci: fix ui report issues
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#33470 locationd: improve circular buffer handling with np.roll
  selfdrive/locationd/locationd.py
Labels: stale

#33602 longitudinal maneuver report: require two frames above target
  tools/longitudinal_maneuvers/generate_report.py
Labels: tools

#33603 fix big cars test
  selfdrive/car/tests/big_cars_test.sh
  selfdrive/car/tests/test_models.py
Labels: car

#33610 Longitudinal maneuver report: display pitch
  tools/longitudinal_maneuvers/generate_report.py
Labels: tools

#33458 ui: refactor hud updating and rendering into HudRenderer class
  selfdrive/ui/SConscript
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#33634 fix set speed color
  selfdrive/ui/qt/onroad/hud.cc
Labels: ui

#33641 tools: fix car porting notebooks
  tools/car_porting/examples/ford_vin_fingerprint.ipynb
  tools/car_porting/examples/subaru_fuzzy_fingerprint.ipynb
  tools/car_porting/examples/subaru_long_accel.ipynb
  tools/car_porting/examples/subaru_steer_temp_fault.ipynb
Labels: tools

#33560 replay: improve README with clearer instructions and example
  tools/replay/README.md
Labels: tools, stale

#33638 ui/hud: add Q_OBJECT macro
  selfdrive/ui/qt/onroad/hud.h
Labels: ui

#33647 tools: notebook for HKG alt message validation
  tools/car_porting/examples/hkg_canfd_gear_message.ipynb
Labels: tools

#33668 `ui`: auto-expand summary when diff is present.
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33669 Game Boy Model V2
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: autonomy

#33673 `ci`: fix if conditional in ui preview
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33565 Assets/icon: Rm redundant PNG file
  selfdrive/assets/offroad/icon_openpilot.png
  selfdrive/ui/qt/offroad/settings.cc
Labels: stale

#33674 Game Boy Model V3
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/model_replay_ref_commit
Labels: autonomy

#33675 `CI`: fix if conditional in `ui_preview.yaml`
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#33678 prime.cc/typo: Fixes variable name typo
  selfdrive/ui/qt/widgets/prime.cc
Labels: ui

#33665 maneuversd: Add note about cars requiring resume button press to exit standstill
  tools/longitudinal_maneuvers/README.md
Labels: tools
