Repository commaai/openpilot, pull requests merged in 2025-08, with the labels that each got.

#35883 process replay: rm dummy sockets
  selfdrive/test/process_replay/process_replay.py
Labels: cleanup

#35881 ui: adapt network to raylib touch api
  system/ui/widgets/button.py
  system/ui/widgets/confirm_dialog.py
  system/ui/widgets/network.py
Labels: ui

#35889 process replay: clean up recv callbacks
  selfdrive/test/process_replay/process_replay.py
Labels: CI / testing, cleanup

#35886 process replay: remove frequency based recv callback
  selfdrive/test/process_replay/process_replay.py
Labels: CI / testing, cleanup

#35891 Simplify `radarFault` handling
  selfdrive/selfdrived/selfdrived.py
Labels: cleanup

#35890 controlsd: speed up number checking
  selfdrive/controls/controlsd.py
Labels: enhancement, CI / testing

#35903 sim: fix "msg not found" errors
  tools/sim/lib/simulated_car.py
Labels: simulation, tools

#35906 ui: keyboard improvements
  system/ui/widgets/button.py
  system/ui/widgets/keyboard.py
Labels: ui

#35907 ui: re-compute text size
  system/ui/setup.py
  system/ui/widgets/button.py
Labels: ui

#35895 ui: make wifi selection usable
  system/ui/lib/wifi_manager.py
  system/ui/widgets/button.py
  system/ui/widgets/network.py
Labels: ui

#35910 cabana: PandaStream use noOutput safety mode instead silent
  tools/cabana/streams/pandastream.cc
Labels: tools

#35912 ui: multi touch keyboard support
  system/ui/lib/application.py
  system/ui/lib/scroll_panel.py
  system/ui/widgets/__init__.py
  system/ui/widgets/button.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/list_view.py
Labels: ui

#35916 Delete Jenkins trigger comments
  .github/workflows/jenkins-pr-trigger.yaml
Labels: CI / testing, codex

#35919 reset: proper button scale
  system/ui/reset.py
Labels: ui

#35920 cabana: add independent panda lib
  tools/cabana/SConscript
  tools/cabana/panda.cc
  tools/cabana/panda.h
  tools/cabana/streams/pandastream.h
Labels: tools

#35911 Honda: allow sport gear
  selfdrive/car/car_specific.py
Labels: car

#35927 Filename: minor refactor
  tools/lib/logreader.py
  tools/lib/route.py
Labels: tools

#35929 Honda: Temporary test exception for driver regen paddle
  selfdrive/car/tests/test_models.py
Labels: CI / testing, car

#35935 selfdrive.ui.feedback: add init
  selfdrive/ui/feedback/__init__.py
Labels: ui

#35938 FileName clean up
  tools/lib/logreader.py
  tools/lib/route.py
Labels: tools

#35913 ui: emoji
  system/ui/lib/emoji.py
  system/ui/widgets/button.py
  system/ui/widgets/label.py
  tools/mac_setup.sh
Labels: ui

#35940 EncoderInfo: encoder setting factorys
  system/loggerd/encoder/encoder.cc
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/v4l_encoder.cc
  system/loggerd/loggerd.h
Labels: refactor

#35924 encoderd: more efficient compression for low res frames
  system/loggerd/encoder/encoder.cc
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/v4l_encoder.cc
  system/loggerd/loggerd.h
  system/loggerd/tests/test_encoder.py
Labels: enhancement

#35945 ui: reduce network selection lag
  system/ui/lib/wifi_manager.py
  system/ui/widgets/network.py
Labels: ui

#35953 ui: custom software warning
  system/ui/setup.py
Labels: ui

#35949 ui: test raylib ui
  .github/workflows/selfdrive_tests.yaml
  selfdrive/ui/tests/test_raylib_ui.py
  system/manager/process_config.py
Labels: CI / testing, ui

#35955 ui: remove `gui_label` usages from setup
  system/ui/setup.py
Labels: ui

#35958 setup: fix url for urllib
  system/ui/setup.py
Labels: ui

#35959 ci: run all unit tests
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#35962 ui: adapt InputBox to new touch api
  system/ui/widgets/inputbox.py
Labels: ui

#35909 Reapply "LogReader: wrap events to cache which() (#35882)"
  tools/lib/logreader.py
Labels: tools

#35967 ui: move watch3 to raylib
  selfdrive/ui/SConscript
  selfdrive/ui/onroad/cameraview.py
  selfdrive/ui/watch3.cc
  selfdrive/ui/watch3.py
Labels: ui

#35968 Remove more Qt, part 2
  selfdrive/ui/SConscript
  selfdrive/ui/qt/python_helpers.py
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/setup.h
Labels: ui

#35969 Revert "Honda: Temporary test exception for driver regen paddle"
  selfdrive/car/tests/test_models.py
Labels: CI / testing, car

#35972 macOS: fix font-noto-color-emoji
  tools/mac_setup.sh
Labels: tools

#35981 Multilang: update chs/cht translations
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui, multilanguage

#35992 LogReader sourcing: check comma API source before CI source
  tools/lib/logreader.py
Labels: enhancement, tools

#35995 ci: show all tests durations
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#35994 LogReader sourcing: return dict
  tools/lib/logreader.py
  tools/lib/tests/test_logreader.py
Labels: refactor, tools

#36003 setup: custom software warning
  system/ui/setup.py
Labels: ui

#36000 Steam Powered model
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Labels: autonomy

#36018 feedbackd: remove lkas toggle for this release
  selfdrive/ui/layouts/settings/toggles.py
  selfdrive/ui/qt/offroad/settings.cc
Labels: ui

#36028 File sourcing: simplify return type
  tools/lib/logreader.py
Labels: tools

#36025 File sourcing: Not all files are logs
  tools/lib/file_sources.py
  tools/lib/logreader.py
  tools/lib/tests/test_logreader.py
Labels: tools

#36030 unit tests: remove collection step
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#36031 LogReader: run source test
  tools/lib/tests/test_logreader.py
Labels: CI / testing, tools

#36035 raylib: cleanup experimental mode gradient color calculations
  selfdrive/ui/onroad/model_renderer.py
Labels: ui

#36036 Compressed vipc name pick
  tools/camerastream/compressed_vipc.py
Labels: tools

#36056 raylib: refactor NetworkManager constants
  system/ui/lib/networkmanager.py
  system/ui/lib/wifi_manager.py
Labels: ui

#36061 raylib: fix slow Toggles panel first load
  system/ui/widgets/list_view.py
Labels: ui

#36039 raylib: clean up networking
  pyproject.toml
  selfdrive/ui/layouts/settings/settings.py
  system/ui/lib/wifi_manager.py
  system/ui/setup.py
  system/ui/updater.py
  system/ui/widgets/network.py
  uv.lock
Labels: ui

#36063 raylib networking: remove locking on UI thread
  system/ui/lib/wifi_manager.py
  system/ui/widgets/network.py
Labels: ui

#36067 raylib: prevent Firehose from blocking UI
  selfdrive/ui/layouts/settings/firehose.py
  selfdrive/ui/lib/api_helpers.py
  selfdrive/ui/lib/prime_state.py
Labels: ui

#36059 ci: modernize test onroad
  Jenkinsfile
  selfdrive/test/test_onroad.py
Labels: CI / testing

#36080 process_replay: use LiveParametersV2 in custom params
  selfdrive/test/process_replay/process_replay.py
Labels: CI / testing
