Repository commaai/openpilot, pull requests merged in 2025-03, with the labels that each got.

#34743 replay: update help text with route and service list details
  tools/replay/README.md
  tools/replay/main.cc
Labels: tools

#34741 kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#34752 ci: only specify scene name once in ui preview test
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#34754 ci: fix firehose UI preview position
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#34757 jenkins: enable os04 test
  Jenkinsfile
Labels: CI / testing

#34745 ja translation update
  selfdrive/ui/translations/main_ja.ts
Labels: ui, multilanguage

#34760 zhs/zht translation update
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui, multilanguage

#34771 tools: notebook to search commaCarSegments for a CAN ID
  tools/car_porting/examples/find_segments_with_message.ipynb
Labels: tools

#34772 juggle: use DBC dict generator
  tools/cabana/dbc/generate_dbc_json.py
  tools/plotjuggler/juggle.py
Labels: tools

#34782 tools: updates to find_segments_with_message notebook
  tools/car_porting/README.md
  tools/car_porting/examples/find_segments_with_message.ipynb
Labels: tools

#34784 test_onroad: add sanity check on ecode outputs
  selfdrive/test/test_onroad.py
Labels: CI / testing

#34785 camerad: sanity check tests
  system/camerad/sensors/os04c10.cc
  system/camerad/test/test_camerad.py
Labels: CI / testing

#34796 remove numpy_fast.py
  common/numpy_fast.py
  tools/replay/ui.py
Labels: cleanup

#34795 deleter: fix duplicate segments in get_preserved_segments return value
  system/loggerd/deleter.py
Labels: bugfix

#34797 ui: no scroll terms
  selfdrive/assets/offroad/tc.html
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
Labels: ui

#34812 loggerd: enhance ZstdFileWriter test coverage with variable data sizes
  system/loggerd/tests/test_zstd_writer.cc
Labels: CI / testing

#34815 soundd: use with statement for wave.open to ensure proper resource cleanup
  selfdrive/ui/soundd.py
Labels: ui

#34822 kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#34821 Multilang: update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#34832 Multilang: update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#34838 kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#34849 Firehose: fix plural is/are
  selfdrive/ui/qt/offroad/firehose.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_en.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#34850 commonmodel: release input_frame_cl and input_frames_cl
  selfdrive/modeld/models/commonmodel.cc
Labels: autonomy

#34851 Multilang: update pt_BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#34860 setup: fix dangling pointer Issue in curl header setup
  selfdrive/ui/qt/setup/setup.cc
Labels: ui

#34870 radard: radar errors are captured in valid flag
  selfdrive/controls/radard.py
Labels: cleanup

#34872 radarState: check average frequency
  selfdrive/controls/plannerd.py
  selfdrive/selfdrived/selfdrived.py
Labels: cleanup

#34883 radard: use a filter for aLeadTau
  selfdrive/controls/radard.py
Labels: cleanup

#34889 Multilang: Update ZH translations
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui, multilanguage

#34891 url_file.py: remove the unnecessary str() wrapping around the hexdigest()
  tools/lib/url_file.py
Labels: tools

#34886 ci: Add ui previews for new ui elements as well
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#34904 Multilang: Update JA translations
  selfdrive/ui/translations/main_ja.ts
Labels: ui, multilanguage

#34912 Rivian: enable torqued learning
  selfdrive/locationd/torqued.py
Labels: enhancement, controls, car, rivian

#34911 fix: macOS CI
  tools/mac_setup.sh
Labels: CI / testing, tools

#34915 kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#34919 Revert "logreader: avoid repeated prompts in auto_strategy when rlogs are missing"
  tools/lib/logreader.py
Labels: tools

#34875 logreader.py: concurrent file existence checks
  tools/lib/logreader.py
Labels: tools

#34933 ui: spanish translation update
  selfdrive/ui/translations/main_es.ts
Labels: ui, multilanguage

#34944 ui: update spanish translation
  selfdrive/ui/translations/main_es.ts
Labels: ui, multilanguage

#34943 controls: reset desired curvature while disabled
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#34956 Use Github Actions macOS runners for external contributors
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34963 add cache key for macOS runners
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#34961 Remove duplicate "edited" type in PR review workflow
  .github/workflows/auto_pr_review.yaml
Labels: CI / testing
