Repository commaai/openpilot, pull requests merged in 2025-04, with the labels that each got.

#34531 Online lateral lag learning
  cereal/log.capnp
  cereal/services.py
  common/params_keys.h
  selfdrive/locationd/estimators/__init__.py
  selfdrive/locationd/estimators/lateral_lag.py
  selfdrive/locationd/estimators/vehicle_params.py
  selfdrive/locationd/paramsd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Labels: enhancement, controls

#34970 Update Thai translations
  selfdrive/ui/translations/main_th.ts
Labels: ui, multilanguage

#34967 ci: update package management for `ui_preview`
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#34977 test_onroad: test liveParameters service timing
  selfdrive/test/test_onroad.py
Labels: CI / testing

#34983 Multilang: Update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#34986 Multilang: Update ja translation
  selfdrive/ui/translations/main_ja.ts
Labels: ui, multilanguage

#34985 Multilang: Update zh translation
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui, multilanguage

#35000 process_replay: remove GM (volt)
  selfdrive/test/process_replay/test_processes.py
Labels: CI / testing

#35028 ui(raylib): update spinner progress bar to match Qt
  system/ui/spinner.py
Labels: ui

#35030 ui(raylib): fix typos
  system/ui/lib/application.py
Labels: ui

#35025 Multilang: Update de translation
  selfdrive/ui/translations/main_de.ts
Labels: ui, multilanguage

#35031 ui(raylib): update text window font, new lines and indentation
  system/ui/text.py
Labels: ui

#35048 ui(raylib): reduce spinner rotation artifact
  system/ui/lib/application.py
  system/ui/spinner.py
Labels: bugfix, ui

#35051 ui(raylib): update spinner vertical pos
  system/ui/spinner.py
  system/ui/text.py
Labels: ui

#35052 ui(raylib): "exit" btn in text window on PC
  system/ui/text.py
Labels: ui

#35054 plotjuggler: support relative paths
  tools/plotjuggler/juggle.py
Labels: tools

#35060 ui(raylib): set display power and brightness on init
  system/hardware/base.py
  system/hardware/pc/hardware.py
  system/hardware/tici/hardware.py
  system/ui/lib/application.py
Labels: ui

#35061 hardware: make set_display_power not abstract
  system/hardware/base.py
  system/hardware/pc/hardware.py
Labels: cleanup

#35062 ui(raylib): decrease target FPS to 30
  system/ui/lib/application.py
Labels: ui

#35059 ui: replace qt spinner with raylib
  .gitattributes
  common/spinner.py
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/spinner.h
  selfdrive/ui/qt/spinner_larch64
  selfdrive/ui/spinner
  system/athena/registration.py
  system/manager/build.py
  system/ui/spinner.py
Labels: ui

#35066 CI: comment reporter links on PRs
  .github/workflows/model_review.yaml
  scripts/reporter.py
Labels: CI / testing

#35068 ui(raylib): start scroll at bottom of text window
  system/ui/text.py
Labels: ui

#35069 ui(raylib/text): spacing between button and scrollbar
  system/ui/text.py
Labels: ui

#35064 ui: replace qt text window with raylib
  .gitattributes
  common/text_window.py
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/qt/text.cc
  selfdrive/ui/qt/text_larch64
  selfdrive/ui/text
  system/manager/build.py
  system/manager/manager.py
  system/ui/text.py
Labels: ui

#34679 controls: publish current curvature in CarControl
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Labels: ignore stale

#35075 Fix tethering connection disabling internet
  selfdrive/ui/qt/network/wifi_manager.cc
Labels: ui

#35080 Tomb Raider 5
  selfdrive/modeld/models/driving_policy.onnx
Labels: autonomy

#35081 fix(replay): search for route key in entire str
  tools/replay/route.cc
Labels: tools

#35016 "docs: update 'Turn the Speed Blue' tutorial with new UI path and fu…
  docs/how-to/turn-the-speed-blue.md
Labels: stale

#35083 Fix test_update_returns_state to flatten Kalman output
  common/tests/test_simple_kalman.py
Labels: CI / testing

#35091 replay: more speed options
  tools/replay/consoleui.h
Labels: tools

#35071 feat: clip.py
  tools/clip/run.py
  tools/install_ubuntu_dependencies.sh
  tools/op.sh
Labels: tools
