Repository commaai/openpilot, pull requests merged in 2025-01, with the labels that each got.

#34329 cabana: fix missing transmitter after undoing DBC message removal
  tools/cabana/dbc/dbc.cc
Labels: tools

#34336 test_onroad: adjust rlog size
  selfdrive/test/test_onroad.py
Labels: CI / testing

#34340 logreader: support filesystem DATA_ENDPOINT
  tools/lib/filereader.py
Labels: tools

#34345 deleter cleanups
  system/loggerd/deleter.py
Labels: cleanup

#34349 loggerd: typing and remove unused default arg
  system/loggerd/config.py
Labels: cleanup

#34344 Keyboard: add missing control btns to uppercase
  selfdrive/ui/qt/widgets/keyboard.cc
Labels: ui

#34376 [bot] Update Python packages
  common/time_helpers.py
  system/qcomgpsd/qcomgpsd.py
  system/timed.py
  system/ubloxd/pigeond.py
  system/updated/updated.py
  uv.lock
Labels: bot

#34381 PlotJuggler: Layout for debugging locationdTemporaryError
  tools/plotjuggler/layouts/locationd_debug.xml
Labels: tools

#34385 Fix missing visual car dash alerts
  selfdrive/selfdrived/selfdrived.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix, car

#34387 card: vcruise all in one place
  selfdrive/car/card.py
  selfdrive/test/process_replay/ref_commit
Labels: cleanup, car

#34389 VW: switch to common pcmCruise check
  selfdrive/car/car_specific.py
Labels: cleanup, car, volkswagen

#34386 card: fix cruise speed initialization w/ buttons
  selfdrive/car/card.py
Labels: bugfix, car

#34390 Hyundai: match cancel button panda safety logic
  selfdrive/car/car_specific.py
Labels: bugfix, car, hyundai

#34394 Toyota: allow brake hold
  selfdrive/car/car_specific.py
Labels: car

#34396 bring back ui.py
  tools/replay/lib/ui_helpers.py
  tools/replay/ui.py
Labels: tools

#34384 Allow brake hold
  selfdrive/car/car_specific.py
  selfdrive/selfdrived/events.py
Labels: enhancement, car

#34401 Install user SecOCKey to params
  selfdrive/car/card.py
Labels: car, ui

#34417 ui/installer: replace time_valid() with util::system_time_valid() for consistency
  selfdrive/ui/installer/installer.cc
Labels: ui

#34422 Multilang: kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#34423 ui/cameraview: gate `glDeleteTextures` to PC platforms only
  selfdrive/ui/qt/widgets/cameraview.cc
Labels: ui

#34426 Multilang: update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#34223 Move alphalong toggle to developer panel
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/developer_panel.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#34425 remove duplicate condition
  selfdrive/ui/SConscript
Labels: ui

#34427 Multilang: update pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#34434 Multilang: update Spanish translation
  selfdrive/ui/translations/main_es.ts
Labels: ui, multilanguage

#34433 ui: update arabic translations
  selfdrive/ui/translations/main_ar.ts
Labels: ui, multilanguage

#34437 Update main_fr.ts
  selfdrive/ui/translations/main_fr.ts
Labels: ui, multilanguage

#34439 swaglog: support np.bool_
  common/logging_extra.py
Labels: bugfix

#34446 Fix duplicate process names
  system/manager/process_config.py
  system/manager/test/test_manager.py
Labels: CI / testing

#32103 pandad: reset safety mode on exit
  selfdrive/pandad/pandad.cc
  selfdrive/pandad/pandad.py
Labels: enhancement

#34404 op.sh start stop restart
  tools/op.sh
Labels: tools

#34362 Keyboard UX/UI: Access to caps lock - clearer icons
  selfdrive/ui/qt/widgets/keyboard.cc
  selfdrive/ui/qt/widgets/keyboard.h
Labels: ui

#34454 dmonitoringmodeld: clean exit
  selfdrive/modeld/dmonitoringmodeld.py
Labels: cleanup

#34444 Multilang ja translations
  selfdrive/ui/translations/main_ja.ts
Labels: ui, multilanguage

#34469 Log git diff inside submodules
  system/updated/updated.py
Labels: enhancement

#34467 ui: move alpha longitudinal control toggle to Developer panel
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/developer_panel.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#34479 reset: auto-format is back
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/reset.h
Labels: ui

#34459 add adb toggle to developerPanel
  docs/how-to/connect-to-comma.md
  selfdrive/debug/adb.sh
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/developer_panel.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui

#34482 `ui-preview`: fix keyboard screenshot
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#34490 replay: improve segment loading and event handling
  tools/cabana/streams/abstractstream.cc
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/seg_mgr.cc
  tools/replay/seg_mgr.h
Labels: tools

#34493 Add Tesla to car_specific events
  selfdrive/car/car_specific.py
Labels: car, tesla

#34500 update pt-BR translations
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#34506 update ja translations
  selfdrive/ui/translations/main_ja.ts
Labels: ui, multilanguage

#34510 ui/DeveloperPanel: initialize offroad state, refresh toggle, and cleanup Includes
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/developer_panel.h
Labels: ui

#34513 update CHT/CHS translations
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: ui, multilanguage
