Repository commaai/openpilot, pull requests merged in 2025-09, with the labels that each got.

#35821 replay: C3/C3X hardware decoder
  tools/replay/SConscript
  tools/replay/framereader.cc
  tools/replay/framereader.h
  tools/replay/qcom_decoder.cc
  tools/replay/qcom_decoder.h
Labels: tools, ignore stale, stale

#36074 Desire helper: set lane change direction on entering preLaneChange state
  selfdrive/controls/lib/desire_helper.py
Labels: stale

#36110 Rewrite proclogd in Python
  .gitignore
  SConstruct
  pyproject.toml
  selfdrive/test/test_onroad.py
  system/manager/process_config.py
  system/proclogd.py
  system/proclogd/SConscript
  system/proclogd/main.cc
  system/proclogd/proclog.cc
  system/proclogd/proclog.h
  system/proclogd/tests/.gitignore
  system/proclogd/tests/test_proclog.cc
Labels: codex

#36111 Rewrite logcatd in Python
  SConstruct
  selfdrive/test/test_onroad.py
  system/journald.py
  system/logcatd/.gitignore
  system/logcatd/SConscript
  system/logcatd/logcatd_systemd.cc
  system/manager/process_config.py
Labels: codex

#36124 jotpluggler: better handle sparse message data and bools
  tools/jotpluggler/data.py
  tools/jotpluggler/views.py
Labels: tools

#36146 jotpluggler: add tabs to layout
  tools/jotpluggler/assets/plus.png
  tools/jotpluggler/layout.py
  tools/jotpluggler/pluggle.py
  tools/jotpluggler/views.py
Labels: tools

#36147 jotpluggler: migrate logs
  tools/jotpluggler/data.py
Labels: tools

#36148 jotpluggler: store and load layouts
  tools/jotpluggler/layout.py
  tools/jotpluggler/layouts/torque-controller.yaml
  tools/jotpluggler/pluggle.py
  tools/jotpluggler/views.py
Labels: tools

#36150 jotpluggler: fix hidpi/mac font scaling
  tools/jotpluggler/pluggle.py
Labels: tools

#36151 jotpluggler: fix layout folder path loading and total segment
  tools/jotpluggler/data.py
  tools/jotpluggler/pluggle.py
Labels: tools

#36154 jotpluggler: fix bug with char width after scaling text
  tools/jotpluggler/datatree.py
Labels: tools

#36166 raylib: generic click callback
  selfdrive/ui/onroad/augmented_road_view.py
  system/ui/widgets/__init__.py
  system/ui/widgets/button.py
Labels: ui

#36167 Remove libsystemd-dev from Ubuntu dependencies
  tools/install_ubuntu_dependencies.sh
Labels: tools

#36197 raylib: networking parity with QT
  selfdrive/ui/layouts/settings/settings.py
  selfdrive/ui/layouts/sidebar.py
  system/ui/lib/application.py
  system/ui/lib/networkmanager.py
  system/ui/lib/wifi_manager.py
  system/ui/widgets/button.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/list_view.py
  system/ui/widgets/network.py
  system/ui/widgets/toggle.py
Labels: ui

#36204 raylib: implement cell settings
  system/ui/lib/wifi_manager.py
  system/ui/widgets/network.py
Labels: ui

#36209 raylib: use filter for allow throttle
  selfdrive/ui/onroad/alert_renderer.py
  selfdrive/ui/onroad/model_renderer.py
  selfdrive/ui/ui_state.py
Labels: cleanup, ui

#36208 raylib: 20 FPS onroad
  common/filter_simple.py
  selfdrive/ui/layouts/main.py
  selfdrive/ui/onroad/model_renderer.py
  selfdrive/ui/ui_state.py
  system/ui/lib/application.py
  system/ui/widgets/network.py
Labels: ui

#36211 raylib: fix lost onroad tap events
  selfdrive/ui/layouts/main.py
  selfdrive/ui/onroad/augmented_road_view.py
  selfdrive/ui/onroad/exp_button.py
  selfdrive/ui/onroad/hud_renderer.py
  system/ui/widgets/__init__.py
Labels: ui

#36212 raylib: use touch thread in all places
  selfdrive/ui/layouts/home.py
  selfdrive/ui/onroad/driver_camera_dialog.py
  selfdrive/ui/widgets/offroad_alerts.py
Labels: ui

#36215 Fix raylib ui report
  .github/workflows/ui_preview.yaml
Labels: CI / testing

#36214 Refactor offroad alerts loading to use OFFROAD_ALERTS
  selfdrive/ui/widgets/offroad_alerts.py
Labels: cleanup, ui

#36224 raylib: training guide
  selfdrive/ui/layouts/main.py
  selfdrive/ui/layouts/onboarding.py
  selfdrive/ui/layouts/settings/device.py
Labels: ui
