Repository commaai/openpilot, pull requests merged in 2025-06, with the labels that each got.

#35414 system/ui: add stream switching capability to CameraView
  system/ui/onroad/augmented_road_view.py
  system/ui/widgets/cameraview.py
Labels: ui

#35417 system/ui: fix timeout logc and add pre-defined alerts
  system/ui/onroad/alert_renderer.py
Labels: ui

#35416 system/ui: fix cruise disabled state displaying "?" instead of "–"
  system/ui/lib/application.py
  system/ui/onroad/hud_renderer.py
Labels: ui

#35415 systme/ui: add global ARC_POINT_COUNT and ARC_ANGLES to DriverState
  system/ui/onroad/driver_state.py
Labels: ui

#35410 system/ui: add face detection box and driver state icon to DriverCameraView
  system/ui/widgets/driver_camera_view.py
Labels: ui

#35421 system/ui: refactor AlertRenderer for improved maintainability and consistency
  system/ui/onroad/alert_renderer.py
Labels: ui

#35432 ui: add safety check to prevent ui overlay access to invalid data
  selfdrive/ui/onroad/augmented_road_view.py
Labels: ui

#35430 Faster lagd test
  selfdrive/locationd/test/test_lagd.py
Labels: CI / testing

#35429 Multilang: kor translation update
  selfdrive/ui/translations/main_ko.ts
Labels: ui, multilanguage

#35428 Multilang: Update pt-BR translations.
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#35433 ui: add timeout check for unresponsive system detection
  selfdrive/ui/onroad/alert_renderer.py
Labels: ui

#35440 system/ui: fix wifi network icon resize artifacts
  system/ui/widgets/network.py
Labels: ui

#35438 ui: fix alert timeout detection using wrong FPS constant
  selfdrive/ui/onroad/alert_renderer.py
Labels: ui

#35436 system/ui: add text measurement caching
  selfdrive/ui/onroad/alert_renderer.py
  selfdrive/ui/onroad/hud_renderer.py
  system/ui/lib/text_measure.py
Labels: ui

#35422 ui: add main UI entry point
  selfdrive/ui/layouts/__init__.py
  selfdrive/ui/layouts/home.py
  selfdrive/ui/layouts/main.py
  selfdrive/ui/layouts/settings/settings.py
  selfdrive/ui/layouts/sidebar.py
  selfdrive/ui/onroad/augmented_road_view.py
  selfdrive/ui/ui.py
Labels: ui

#35459 ui: improve calibration height initialization
  selfdrive/ui/onroad/model_renderer.py
Labels: ui

#35451 ui: fill the bg with disengaged color if no frame
  selfdrive/ui/onroad/augmented_road_view.py
  selfdrive/ui/onroad/cameraview.py
Labels: ui

#35450 ui: replace rl.measure_text with measure_text_cached in sidebar
  selfdrive/ui/layouts/sidebar.py
Labels: ui

#35466 ui: make the toggle color match QT
  system/ui/lib/toggle.py
Labels: ui

#35468 ui: implement home layout with fully functional offroad alerts
  selfdrive/ui/layouts/home.py
  selfdrive/ui/widgets/offroad_alerts.py
Labels: ui

#35478 ui: add ModalOverlay system for unified modal dialog management
  selfdrive/ui/layouts/network.py
  system/ui/lib/application.py
  system/ui/setup.py
  system/ui/updater.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Labels: ui

#35483 format raylib
  selfdrive/ui/layouts/home.py
  selfdrive/ui/layouts/settings/developer.py
  selfdrive/ui/layouts/settings/software.py
  selfdrive/ui/layouts/settings/toggles.py
  selfdrive/ui/layouts/sidebar.py
  selfdrive/ui/onroad/alert_renderer.py
  selfdrive/ui/onroad/augmented_road_view.py
  selfdrive/ui/onroad/cameraview.py
  selfdrive/ui/onroad/driver_state.py
  selfdrive/ui/onroad/model_renderer.py
  selfdrive/ui/ui.py
  selfdrive/ui/ui_state.py
  selfdrive/ui/widgets/offroad_alerts.py
  system/ui/lib/application.py
  system/ui/lib/button.py
  system/ui/lib/egl.py
  system/ui/lib/inputbox.py
  system/ui/lib/label.py
  system/ui/lib/list_view.py
  system/ui/lib/shader_polygon.py
  system/ui/lib/wifi_manager.py
  system/ui/lib/wrap_text.py
  system/ui/reset.py
  system/ui/spinner.py
  system/ui/text.py
  system/ui/updater.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Labels: ui

#35484 raylib: base widget class
  selfdrive/ui/layouts/home.py
  selfdrive/ui/layouts/main.py
  selfdrive/ui/layouts/network.py
  selfdrive/ui/layouts/settings/developer.py
  selfdrive/ui/layouts/settings/device.py
  selfdrive/ui/layouts/settings/settings.py
  selfdrive/ui/layouts/settings/software.py
  selfdrive/ui/layouts/settings/toggles.py
  selfdrive/ui/layouts/sidebar.py
  selfdrive/ui/onroad/alert_renderer.py
  selfdrive/ui/onroad/augmented_road_view.py
  selfdrive/ui/onroad/cameraview.py
  selfdrive/ui/onroad/driver_camera_view.py
  selfdrive/ui/onroad/driver_state.py
  selfdrive/ui/onroad/hud_renderer.py
  selfdrive/ui/onroad/model_renderer.py
  selfdrive/ui/widgets/offroad_alerts.py
  system/ui/lib/application.py
  system/ui/lib/inputbox.py
  system/ui/lib/list_view.py
  system/ui/lib/toggle.py
  system/ui/reset.py
  system/ui/setup.py
  system/ui/spinner.py
  system/ui/text.py
  system/ui/updater.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
  system/ui/widgets/option_dialog.py
Labels: ui

#35486 Fix raylib issue
  selfdrive/ui/onroad/augmented_road_view.py
  system/ui/spinner.py
Labels: ui

#35487 raylib: match QT UI panel order
  selfdrive/ui/layouts/settings/settings.py
Labels: ui

#35437 ui: add auto camera switching based on speed in experimental mode
  selfdrive/ui/onroad/augmented_road_view.py
Labels: ui

#35490 raylib: consistent use of rect in render function
  system/ui/spinner.py
  system/ui/text.py
  system/ui/updater.py
Labels: ui

#35446 ui: add experimental mode toggle button with visual indicator
  selfdrive/ui/layouts/main.py
  selfdrive/ui/onroad/augmented_road_view.py
  selfdrive/ui/onroad/exp_button.py
  selfdrive/ui/onroad/hud_renderer.py
Labels: ui

#35491 Experimental button should be raylib widget
  selfdrive/ui/onroad/exp_button.py
  selfdrive/ui/onroad/hud_renderer.py
Labels: ui

#35493 raylib: onroad callback setter
  selfdrive/ui/layouts/main.py
  selfdrive/ui/onroad/augmented_road_view.py
Labels: ui

#35411 raylib: fix shaders on macOS
  selfdrive/ui/onroad/cameraview.py
  system/ui/lib/shader_polygon.py
Labels: ui

#35480 ui: implement driver camera preview in settings
  selfdrive/ui/layouts/settings/device.py
  selfdrive/ui/onroad/driver_camera_dialog.py
Labels: ui

#35497 ui: add PrimeState class
  selfdrive/ui/lib/prime_state.py
  selfdrive/ui/ui_state.py
Labels: ui

#35485 ui: enhanced ListView with improved actions, dynamic content, and better UX
  system/ui/lib/button.py
  system/ui/lib/list_view.py
Labels: ui

#35494 ui: implement uninstall software in settings
  selfdrive/ui/layouts/settings/software.py
Labels: ui

#35501 ui: add pairing device dialog
  selfdrive/ui/widgets/__init__.py
  selfdrive/ui/widgets/pairing_dialog.py
Labels: ui

#35502 ui: display subscription status based on prime state
  selfdrive/ui/layouts/home.py
  selfdrive/ui/widgets/prime.py
Labels: ui

#35503 ui: add setup widget to handing device pairing and firehose mode prompt
  selfdrive/ui/layouts/home.py
  selfdrive/ui/widgets/setup.py
Labels: ui

#35510 ui: [fix] remove unused gui_label import in HomeLayout
  selfdrive/ui/layouts/home.py
Labels: ui

#35509 ui: fix Immediate ALERT_STARTUP_PENDING after going onroad
  selfdrive/ui/onroad/alert_renderer.py
Labels: ui

#35506 Multilang: update ja translation.
  selfdrive/ui/translations/main_ja.ts
Labels: ui, multilanguage

#35507 ui: Implement core device settings functionality with enhanced dynamic controls
  selfdrive/ui/layouts/settings/device.py
  selfdrive/ui/ui_state.py
  system/ui/lib/list_view.py
Labels: ui

#35511 Add lagd calibration percentage
  cereal/log.capnp
  selfdrive/locationd/lagd.py
  selfdrive/locationd/test/test_lagd.py
Labels: codex

#35513 Cleanup framereader
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_regen.py
  selfdrive/ui/tests/test_ui/run.py
  tools/lib/framereader.py
  tools/replay/unlog_ci_segment.py
  tools/scripts/fetch_image_from_route.py
Labels: tools

#35518 ui: implement ssh key control
  selfdrive/ui/layouts/settings/developer.py
  selfdrive/ui/widgets/ssh_key.py
Labels: ui

#35520 ui: extract Widget base class to separate lib/widget.py
  selfdrive/ui/layouts/home.py
  selfdrive/ui/layouts/main.py
  selfdrive/ui/layouts/network.py
  selfdrive/ui/layouts/settings/developer.py
  selfdrive/ui/layouts/settings/device.py
  selfdrive/ui/layouts/settings/firehose.py
  selfdrive/ui/layouts/settings/settings.py
  selfdrive/ui/layouts/settings/software.py
  selfdrive/ui/layouts/settings/toggles.py
  selfdrive/ui/layouts/sidebar.py
  selfdrive/ui/onroad/alert_renderer.py
  selfdrive/ui/onroad/cameraview.py
  selfdrive/ui/onroad/driver_state.py
  selfdrive/ui/onroad/exp_button.py
  selfdrive/ui/onroad/hud_renderer.py
  selfdrive/ui/onroad/model_renderer.py
  selfdrive/ui/widgets/exp_mode_button.py
  selfdrive/ui/widgets/offroad_alerts.py
  selfdrive/ui/widgets/prime.py
  selfdrive/ui/widgets/setup.py
  selfdrive/ui/widgets/ssh_key.py
  system/ui/lib/application.py
  system/ui/lib/inputbox.py
  system/ui/lib/list_view.py
  system/ui/lib/toggle.py
  system/ui/lib/widget.py
  system/ui/reset.py
  system/ui/setup.py
  system/ui/spinner.py
  system/ui/text.py
  system/ui/updater.py
  system/ui/widgets/confirm_dialog.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
  system/ui/widgets/option_dialog.py
Labels: ui

#35524 ui: add driving personality selector to settings
  selfdrive/ui/layouts/settings/toggles.py
  system/ui/lib/list_view.py
Labels: ui

#35531 ui: setup widget->firehose settings navigation
  selfdrive/ui/layouts/main.py
  selfdrive/ui/layouts/settings/settings.py
  selfdrive/ui/widgets/setup.py
Labels: ui

#35536 ui: refactor ListView for generic widget support and simplified item architecture
  selfdrive/ui/layouts/settings/developer.py
  selfdrive/ui/layouts/settings/device.py
  selfdrive/ui/layouts/settings/settings.py
  selfdrive/ui/layouts/settings/software.py
  selfdrive/ui/layouts/settings/toggles.py
  selfdrive/ui/widgets/ssh_key.py
  system/ui/lib/list_view.py
  system/ui/lib/widget.py
Labels: ui

#35538 raylib ui: store rects
  selfdrive/ui/layouts/main.py
  selfdrive/ui/onroad/exp_button.py
  selfdrive/ui/onroad/model_renderer.py
  selfdrive/ui/ui.py
  system/ui/lib/toggle.py
  system/ui/lib/widget.py
Labels: ui

#35543 Raylib: generic Widget visibility
  selfdrive/ui/layouts/main.py
  selfdrive/ui/onroad/driver_state.py
  system/ui/lib/widget.py
Labels: ui

#35545 ui: update layout rects on change
  selfdrive/ui/layouts/home.py
  selfdrive/ui/layouts/main.py
  system/ui/lib/list_view.py
  system/ui/lib/widget.py
Labels: ui

#35548 raylib ui: fix Firehose param loading
  selfdrive/ui/layouts/settings/firehose.py
Labels: ui

#35549 raylib ui: fix Firehose param caching
  selfdrive/ui/layouts/settings/firehose.py
Labels: ui

#35546 raylib ui: common state update function
  selfdrive/ui/layouts/home.py
  selfdrive/ui/layouts/sidebar.py
  selfdrive/ui/onroad/driver_state.py
  selfdrive/ui/onroad/exp_button.py
  selfdrive/ui/onroad/hud_renderer.py
  system/ui/lib/widget.py
Labels: ui

#35557 Revert "raylib ui: reduce DM drawing (#35547)"
  selfdrive/ui/onroad/driver_state.py
Labels: ui

#35554 ui: open device panel on settings click and send userFlag on flag click
  selfdrive/ui/layouts/main.py
Labels: ui

#35556 setup: warning for custom software
  selfdrive/ui/SConscript
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/setup.h
Labels: ui

#35560 Multilang: update ja translation.
  selfdrive/ui/translations/main_ja.ts
Labels: ui, multilanguage

#35573 raylib ui: global Device class
  selfdrive/ui/layouts/main.py
  selfdrive/ui/ui_state.py
Labels: ui

#35591 liquid crystal model 💧❄️
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Labels: autonomy

#35379 Vegetarian Filet o Fish model 🐟
  selfdrive/modeld/models/driving_policy.onnx
Labels: autonomy

#35604 ui: scroll to toggle on button press
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
Labels: ui

#35561 ui: fix raylib log message formatting by handing va_list arguments
  system/ui/lib/application.py
Labels: ui, stale

#35568 ui: fix shader polygon artifacts on device
  system/ui/lib/shader_polygon.py
Labels: ui, stale

#35562 ui: avoid some raylib ui no dongleid errors
  selfdrive/ui/layouts/settings/firehose.py
  selfdrive/ui/lib/prime_state.py
Labels: ui, stale

#35606 raylib UI: implement easier to use Scroller
  selfdrive/ui/layouts/settings/developer.py
  selfdrive/ui/layouts/settings/device.py
  selfdrive/ui/layouts/settings/software.py
  selfdrive/ui/layouts/settings/toggles.py
  selfdrive/ui/widgets/offroad_alerts.py
  system/ui/lib/application.py
  system/ui/lib/list_view.py
  system/ui/lib/scroll_panel.py
  system/ui/lib/scroller.py
  system/ui/lib/widget.py
  system/ui/widgets/network.py
  system/ui/widgets/option_dialog.py
Labels: cleanup, ui

#35609 raylib UI: fix scrolling click behavior
  system/ui/lib/list_view.py
  system/ui/lib/toggle.py
Labels: ui
