Repository commaai/openpilot, pull requests merged in 2025-05, with the labels that each got.

#35087 Tomb Raider 6
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Labels: autonomy

#35100 CI: check submodules after tests
  .github/workflows/selfdrive_tests.yaml
Labels: CI / testing

#35117 replay: fix potential timestamp parsing error in Route::load
  tools/replay/route.cc
  tools/replay/route.h
Labels: tools

#34814 python ui: wifi manager
  system/ui/lib/scroll_panel.py
  system/ui/lib/wifi_manager.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Labels: stale

#35129 tools/clip: fix SyntaxError in f-string due to unmatched brackets
  tools/clip/run.py
Labels: tools

#34863 tools: add --auto flag to replay and cabana for loading routes from auto source
  tools/auto_source.py
  tools/cabana/README.md
  tools/cabana/cabana.cc
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/replay/README.md
  tools/replay/main.cc
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/route.h
  tools/replay/seg_mgr.h
Labels: tools

#35135 op: better adb SSH
  tools/adb_shell.sh
  tools/op.sh
  tools/scripts/adb_ssh.sh
Labels: tools

#35136 op: more robust openpilot finding
  tools/op.sh
Labels: tools

#35121 ci: enable cache by default
  .github/workflows/auto-cache/action.yaml
Labels: CI / testing

#35157 CI: add system/ui to UI labeler
  .github/labeler.yaml
Labels: CI / testing

#35077 Reapply "ui(raylib): create BaseWindow (#35074)"
  system/ui/lib/window.py
  system/ui/spinner.py
  system/ui/text.py
Labels: ui, stale

#35163 ui(raylib): revert fps to 60
  system/ui/lib/application.py
Labels: ui

#35137 cabana: optimize get_raw_value() function for CAN signal extraction
  tools/cabana/dbc/dbc.cc
Labels: tools

#35162 ui(raylib): add thread-safe property access to WifiManagerWrapper
  system/ui/lib/wifi_manager.py
Labels: ui

#34920 ui: show alert when user flag (bookmark) pressed
  cereal/log.capnp
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
Labels: enhancement, ui

#35090 docs: clarify process to connect to 3/3X over ADB
  docs/assets/three-back.svg
  docs/how-to/connect-to-comma.md
  pyproject.toml
Labels: stale

#35167 system/ui: add tethering support to WifiManager
  system/ui/lib/wifi_manager.py
Labels: ui

#35169 system/ui: fix WIFI authentication callback and connection tracking
  system/ui/lib/wifi_manager.py
  system/ui/widgets/network.py
Labels: ui

#35174 system/ui: prevent duplicate WiFi connections when retrying with new password
  system/ui/lib/wifi_manager.py
Labels: ui

#35170 system/ui: performance optimizations for WiFi Manager with cached network data
  system/ui/lib/wifi_manager.py
  system/ui/widgets/network.py
Labels: ui

#35176 system/ui: add MultiOptionDialog for selection from scrollable lists
  system/ui/lib/button.py
  system/ui/widgets/option_dialog.py
Labels: ui

#35177 system/ui: integrate WifiManagerUI into Updater
  system/ui/updater.py
Labels: ui

#35180 system/ui: set log level to WARNING to reduce noise
  system/ui/lib/application.py
Labels: ui

#35181 system/ui: set keyboard to use full window area
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Labels: ui

#35188 system/ui: fix tethering ssid
  system/ui/lib/wifi_manager.py
Labels: bugfix, ui

#35189 system/ui: fix cursor position in inputBox mouse click handler
  system/ui/lib/inputbox.py
Labels: ui

#35190 system/ui: add minimum WIFI password length validation
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Labels: ui

#35192 system/ui: confirm dialog always opens in fullscreen mode
  system/ui/widgets/confirm_dialog.py
  system/ui/widgets/network.py
Labels: ui

#35196 feat(clip): ffmpeg improvements to reduce frame skips
  tools/clip/run.py
Labels: tools

#35194 feat(clip): font from `selfdrive/assets`
  tools/clip/run.py
  tools/install_ubuntu_dependencies.sh
Labels: tools

#35199 process replay: add Tesla route
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Labels: CI / testing

#35201 system/ui: add right-side text eliding to gui_label
  system/ui/lib/label.py
Labels: ui

#35191 system/ui: add require_full_screen to WifiManagerUI
  system/ui/updater.py
  system/ui/widgets/network.py
Labels: ui

#35202 Pass args to op auth
  tools/op.sh
Labels: tools

#35213 feat(clip): support metric units if requested
  tools/clip/run.py
Labels: tools

#35220 system/ui: fix FPS drop issues
  system/ui/lib/application.py
Labels: ui

#35222 system/ui: improve texture caching
  system/ui/lib/application.py
  system/ui/spinner.py
Labels: ui

#35218 feat(clip): hydrate route's CarParams before starting UI
  tools/clip/run.py
Labels: tools

#35221 system/ui: Fix crash when exiting the application with CTRL+C (KeyboardInterrupt).
  system/ui/lib/application.py
Labels: ui

#35134 cabana: add RouteInfo dialog to view and navigate route segment details
  tools/cabana/SConscript
  tools/cabana/tools/routeinfo.cc
  tools/cabana/tools/routeinfo.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Labels: tools

#35225 fix(clip): properly set exit code
  tools/clip/run.py
Labels: tools

#35226 fix(clip): ignore unknown Params keys
  tools/clip/run.py
Labels: tools

#35227 feat(clip): faster qlog
  tools/clip/run.py
Labels: tools

#35236 system/ui: disabled button styles
  system/ui/lib/button.py
Labels: bugfix, ui

#35229 feat(clip): delete get_metadata call
  tools/clip/run.py
  tools/lib/route.py
Labels: tools

#35140 ui(raylib): setup.py
  system/ui/lib/application.py
  system/ui/setup.py
Labels: ui

#35246 system/ui: add password visibility toggle with eye icon to keyboard
  system/ui/lib/inputbox.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Labels: ui

#35249 system/ui: disable continue button when no network connecton in setup.py
  system/ui/setup.py
Labels: ui

#35251 system/ui/setup: fix WiFi manager UI element overlap issues
  system/ui/setup.py
Labels: ui

#35248 system/ui: use icon for special characters
  system/ui/lib/button.py
  system/ui/widgets/keyboard.py
Labels: ui

#35254 system/ui: Use OPENPILOT_URL instead of google.com for network connectivity check
  system/ui/setup.py
Labels: ui

#35255 system/ui: all font weights
  system/ui/lib/application.py
Labels: ui

#35256 Tesla: fix angle control saturation
  selfdrive/controls/lib/latcontrol_angle.py
Labels: bugfix, car, tesla

#35262 test_translations: don't fail on rate limit
  selfdrive/ui/tests/test_translations.py
Labels: CI / testing, ui, codex

#35259 feat(clip): enable ecam
  tools/clip/run.py
Labels: tools

#35238 Ford: support low gear
  selfdrive/car/car_specific.py
Labels: car

#35267 migration: remove disengage on gas alternative experience
  selfdrive/test/process_replay/migration.py
  selfdrive/test/process_replay/ref_commit
Labels: bugfix

#35272 Add SCALE env var to raylib UI
  system/ui/README.md
  system/ui/lib/application.py
Labels: ui, codex

#35273 Reapply "system/ui: add SCALE env var (#35272)"
  system/ui/README.md
  system/ui/lib/application.py
Labels: ui

#35275 system/ui: update keyboard enter key
  system/ui/widgets/keyboard.py
Labels: ui

#35276 system/ui: increase keyboard key font/icon size
  system/ui/widgets/keyboard.py
Labels: ui

#35280 system/ui: Improve UI rendering smoothness for scaled display
  system/ui/lib/application.py
Labels: ui

#35284 system/ui: network widget improvements
  system/ui/lib/button.py
  system/ui/widgets/confirm_dialog.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Labels: ui

#35285 system/ui: fix Wi-Fi conneciton flow for open networks
  system/ui/widgets/network.py
Labels: ui

#35286 system/ui: WPA3 is unsupported
  system/ui/lib/wifi_manager.py
Labels: ui

#35289 system/ui: improve button click logic for proper press-release interaction
  system/ui/lib/button.py
Labels: ui

#35288 system/ui: add key repeat functionality for backspace
  system/ui/widgets/keyboard.py
Labels: ui

#35298 system/ui: define character set for loading fonts
  system/ui/lib/application.py
Labels: ui

#35299 system/ui: fix indentation
  system/ui/widgets/keyboard.py
Labels: ui

#35302 system/ui: fix navigation key repeat in input box
  system/ui/lib/inputbox.py
Labels: ui

#33756 ui: refactor installer using raylib
  selfdrive/ui/SConscript
  selfdrive/ui/installer/installer.cc
  selfdrive/ui/installer/installer.h
  selfdrive/ui/installer/inter-ascii.ttf
Labels: ui

#35307 MultiButtonControl
  selfdrive/ui/qt/widgets/controls.h
Labels: ui

#35309 system/ui: improve button press behavior
  system/ui/lib/button.py
Labels: ui

#35310 system/ui: add text scrolling support to InputBox for long text
  system/ui/lib/inputbox.py
Labels: ui

#35313 system/ui: use • for password masking in InputBox
  system/ui/lib/inputbox.py
Labels: ui

#35240 Vegan Filet o Fish model
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Labels: autonomy

#35316 system/ui: add password mask delay to InputBox
  system/ui/lib/inputbox.py
  system/ui/widgets/keyboard.py
Labels: ui

#35312 system/ui: enhance scroll panel with iPhone-like physics and behavior
  system/ui/lib/scroll_panel.py
  system/ui/text.py
Labels: ui

#35293 Metered Wi-Fi toggle
  pyproject.toml
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/networking.h
  selfdrive/ui/qt/network/wifi_manager.cc
  selfdrive/ui/qt/network/wifi_manager.h
  selfdrive/ui/qt/widgets/controls.h
Labels: enhancement, ui

#35338 system/ui: add EGL support to CameraView
  system/ui/lib/egl.py
  system/ui/widgets/cameraview.py
Labels: ui

#35343 system/ui: throttle camera connection attempts
  system/ui/widgets/cameraview.py
Labels: ui

#35347 system/ui: avoid redundant texture updates
  system/ui/widgets/cameraview.py
Labels: ui

#35346 system/ui: add specialized camera views with custom transformations
  system/ui/onroad/augmented_road_view.py
  system/ui/widgets/cameraview.py
  system/ui/widgets/driver_camera_view.py
Labels: ui

#35350 fix Wi-FI typo on networking.cc
  selfdrive/ui/qt/network/networking.cc
Labels: ui

#35308 Reapply "ui: rewrite installer using raylib, remove qt (#33756)"
  selfdrive/ui/SConscript
  selfdrive/ui/installer/installer.cc
  selfdrive/ui/installer/installer.h
  selfdrive/ui/installer/inter-ascii.ttf
Labels: ui

#35356 system/ui: render model output with new ModelRenderer class
  system/ui/onroad/augmented_road_view.py
  system/ui/onroad/model_renderer.py
Labels: ui

#35364 Live calibration reset button
  selfdrive/ui/qt/offroad/settings.cc
Labels: ui

#35367 system/ui: fix gradient colors and path stops in path rendering
  system/ui/onroad/model_renderer.py
Labels: ui

#35368 system/ui: fix rapid path color transition by correcting hardcoded increment
  system/ui/onroad/model_renderer.py
Labels: ui

#35370 system/ui: fix incorrect THROTTLE_COLOR
  system/ui/onroad/model_renderer.py
Labels: ui

#35374 CI: fix nightly build
  .github/workflows/release.yaml
Labels: CI / testing

#35376 Revert "Vegan Filet o Fish model "
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Labels: autonomy

#35383 system/ui: fix the issue of missing path segments
  system/ui/onroad/model_renderer.py
Labels: ui

#35369 system/ui: optimize ModelRenderer
  system/ui/onroad/model_renderer.py
Labels: ui

#35358 system/ui: implement driver monitoring UI
  system/ui/onroad/augmented_road_view.py
  system/ui/onroad/driver_state.py
Labels: ui

#35359 system/ui: migrate c++ HudRenderer to python
  system/ui/onroad/augmented_road_view.py
  system/ui/onroad/driver_state.py
  system/ui/onroad/hud_renderer.py
Labels: ui

#35399 Multilang: update ja translation.
  selfdrive/ui/translations/main_ja.ts
Labels: ui, multilanguage

#35402 system/ui/: add face detection box and driver state icon to DriverCameraView
  system/ui/widgets/driver_camera_view.py
Labels: ui

#35401 system/ui: Increase font size to reduce edge aliasing
  system/ui/lib/application.py
Labels: ui

#35408 system/ui: enhance polygon fill with AABB clipping and fixed fill color issues
  system/ui/lib/shader_polygon.py
Labels: ui

#35394 Multilang: update pt-BR translation.
  selfdrive/ui/translations/main_pt-BR.ts
Labels: ui, multilanguage

#35409 system/ui: fix path clip issues
  system/ui/onroad/model_renderer.py
Labels: ui
